/* =============================================================================

    Authored by: Talent Cloud

    This is a sample SASS file.

============================================================================= */

/* Vendor Dependencies ====================================================== */
// @import "vendor/cds/mixins";
// @import "vendor/cds/variables";
// @import "vendor/cds/base";
// @import "vendor/cds/layout";
// @import "vendor/cds/nav";
// @import "vendor/cds/components";
// @import "vendor/cds/sections";
@import "vendor/font-awesome/font-awesome.scss";

/* Core Elements ============================================================ */
@import "system/core";
@import "system/media-queries";
@import "system/grid";
@import "system/grid-ie";
@import "system/typography";
@import "system/palette";

/* Atoms ==================================================================== */
@import "atoms/buttons";
@import "atoms/modals";
@import "atoms/webfonts";
@import "atoms/legacy-messaging";
@import "atoms/legacy-slider-buttons";

/* Molecules ================================================================ */
@import "molecules/forms";
@import "molecules/login";
@import "molecules/registration";
@import "molecules/manager-job-posting-form";
@import "molecules/page-hero";

/* Organisms ================================================================ */
@import "organisms/utility";
@import "organisms/update-profile";
@import "organisms/user-application";
@import "organisms/profile-common";
@import "organisms/profile-manager";
@import "organisms/profile-pic";
@import "organisms/job-poster";
@import "organisms/job-summary";
@import "organisms/job-application";
@import "organisms/dashboard";
@import "organisms/tabs-list";
@import "organisms/unsorted";
@import "organisms/faq";