/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-Jul-2015, 10:13:36 AM
    Author     : gregg
*/

.pageOverlay{
    overflow:hidden;
    width:100%;
    height:100%;
    position : absolute;
    top:46px;
    left:0;
    background-color:rgba(255,255,255,0.85);
}


.yesNoModalOverlay{
    text-align: center;
    margin-bottom:10px;
    overflow:hidden;
    width:100%;
    height:100%;
    position:fixed;
    top: 0px;
    left:0;
    background-color:rgba(255,255,255,0.55);
    z-index:2000;
}

.yesNoModalOverlay:before{
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
    margin-top:-46px;
}

.yesNoModalWindow{
    display: inline-block;
    vertical-align: middle;
    width:33%;
    height:300px;
    min-height:360px;
    min-width:420px;
    border:1px solid #cc0000;
    border-radius:5px;
    box-shadow: 3px 3px 6px #666;
    background-color:#fff;
}

.yesNoModalContent{
    margin:5%;
    font-size:100%;
    vertical-align:middle;
    position: relative;
    top: 20%;
    -ms-transform: translate(0,-20%);
    transform: translateY(-20%);
}

#yesNoModalTitle{
    font-size:120%;
    margin-bottom:2%;
    text-decoration:underline;
}

#yesNoModalText{
    margin:0px auto;
    margin-top:3%;
    text-align:center;
    overflow:hidden;
    width:80%;
}

#modalButtons{
    margin-top:3%;
    text-align:center;
}

.yesNoModalYesButton, .yesNoModalNoButton {
    color: #000000;
    padding: 0.5em;
    border: 1px solid #999;
    background-color: #ddd;
    border-radius: 5px;
    /*float: left;*/
    font-size: 100%;
    margin: 0.5em auto;
    cursor:pointer;
    min-width:10em;
}