/* TOP LEVEL */

html{
    height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;
}

body{
    font-size:100% !important;
    height:100% !important;
    color: #333 !important;
    width: auto !important;
    /*max-width:1200px !important;*/
    margin:0px auto !important;
    
    background-image: url('/images/backgrounds/background.jpg');
    background-position: center -350px; 
    background-repeat: no-repeat;
    background-size: auto;
}

main{
}

header{
    /*max-width: 1200px;*/
    margin: 0px auto;
    /*padding: 2em !important;*/
}

footer{
    clear:left;
    width: 100%;
}

/* NAVIGATION */

nav{
    padding:0 !important;
}
.nav-container{
    width: 100%;
}

.nav-container li a{
    font-size: 1.5rem;
    color: #ccc;
    font-weight: bold;
    text-transform: uppercase;
}

/* CONTAINERS / OVERLAYS */

.pageContent{
    margin: 0 auto;
    width: 100%;
    min-height: 100%;
    overflow:auto;
}

.pageBanner {
    background:rgba(0,0,0,0.7);
    min-height: 10rem;
    width:100%;
    overflow:auto;
    color: #FFFFFF;
}

.pageBody {
    background-color: white;
    width:100%;
    min-height: 200px;
    overflow:visible;
    padding-bottom: 10em;
}

.formButtonWrapper{
    float:right;
}

/* DIALOGS */

.dialogOverlay {
    width:100%;
    height:100%;
    z-index:1001;
    background-color: rgba(255,255,255,0.90);
    position:absolute;
    top:0;
    left:0;
}

.dialogThreeQuarterWrapperWindow {
    width:75%;
    min-width:350px;
    margin:0px auto;
    position:relative;
    top:50%;
    transform: translateY(-50%);
    text-align: left;
    background-color:#fff;
    border: 1px solid #999;
    border-radius: 5px;
    box-shadow: 3px 3px 6px #999;
    position:relative;
}

.dialogHalfWidthWrapperWindow {
    width:50%;
    min-width:350px;
    margin:0px auto;
    position:relative;
    top:50%;
    transform: translateY(-50%);
    text-align: left;
    background-color:#fff;
    border: 1px solid #999;
    border-radius: 5px;
    box-shadow: 3px 3px 6px #999;
    position:relative;
}

.dialogWindowInterior {
    padding:1em 2em 2em 2em;
}

.dialogTitle {
    padding:0.5em;
    background-color:#E5F8FF;
}

/* FIP (TOP BLACK) BANNER */

.page-title{
    font-size: 1.5rem;
    margin-top: 0;
    text-align: center;
}

.cloudicon{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.languageSelectLink{
    float:right;
    margin-top: 0.75rem;
    color: #FFFFFF;
}
.languageSelect{
    color: #FFFFFF;
    display: inline-block;
}

/* TALENT CLOUD LOGO */

.logo-container{
    width: 100%;
    height: 30rem;
    z-index: 1;
}

.logo-tagline{
    font-family: "HKGrotesk", sans-serif;
    font-size:3.75em !important;
    line-height: 1.35;
    position: absolute;
    right: -1em;
    top: 3em;
}

.tc-logo{
    width: 229px;
    position:absolute;
    top:10em;
    left:-19em;
    right:0;
    margin: 0 auto;
}

/* UTILITY */

.clear {
    clear: both;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.overFlowHidden{
    overflow:hidden;
}
    
.transparent{
    background:rgba(0,0,0,0.7);
}

.hidden{
    transition: all 1s ease-in-out !important;
    opacity:0;
    max-height:0;
    max-width:0;
    display:none;
    padding:0 !important;
    margin:0 !important;
    border:none !important;
    overflow:hidden;
}

.visible{
    max-height:4000px;
    max-width:4000px;
    display:static;
    opacity:1;
    transition: opacity 1s ease-in-out;
}

.half-width {
    width:50%;

}
.three-quarter-width{
    width:75%;
}

.leftPane {
    width: 45%;
    float: left;
}

.rightPane {
    width: 45%;
    float: right;
}

.singlePane {
    width: 100%;
    clear: both;
}

/* PROFILE PIC AND UPLOAD */

.profilePic{
    width:50px;
    height:50px;
    clip-path: circle(25px at center);
}

.profilePicLarge {
    width:200px;
    height:200px;
    border: 3px solid #FFCC33;
    border-radius: 100px;
    margin: auto;
}

#profilePicUploadOverlay{
    width:100%;
    height:100%;
    z-index:1001;
    background-color: rgba(255,255,255,0.90);
    position:absolute;
    top:0;
    left:0;
}

#profilePicUploadWrapperWindow{
    width:75%;
    min-width:350px;
    margin:0px auto;
    position:relative;
    top:50%;
    transform: translateY(-50%);
    text-align: left;
    background-color:#fff;
    border: 1px solid #999;
    border-radius: 5px;
    box-shadow: 3px 3px 6px #999;
    padding:1em 2em 2em 2em;
    position:relative;
}

.profileTagLineContainer{
    background-color:#E5F8FF;
    margin-top:2em;
}

.fileDropZone {
    border: dashed 2px;
    margin-top:3%;
}

.fileDropZoneNormal {
    background-color: #fefefe;
    color: #ccc;
    borderColor: #ccc;
}

.fileDropZoneHighlight {
    background-color: #f0fcf0;
    /* borderColor: #3DD13F; */
    color: #3DD13F;
}

.fileDropZone p {
    text-align: center;
    font-size: 1.6em;
    vertical-align:middle;
    min-height:150px;
    min-width:100px;
    height: 100%;
    width: 100%;
}

.fileUpload{
    margin: 0 0 0 0px;
    padding: 20px 20px 20px 20px;
    border: solid 2px #ccc;
    background: #fefefe;
    min-height: 240px;
    position: relative;
    overflow: auto;
}

.fileDropZone,.fileUpload {
    -moz-box-shadow: 0 0 20px #ccc;
    -webkit-box-shadow: 0 0 20px #ccc;
    box-shadow: 0 0 20px #ccc;
}

.filePreviewList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.filePreviewList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.filePreviewList li {
    margin: 0;
    padding: 10px 0;
    margin: 0;
    overflow: auto;
    border-bottom: solid 1px #ccc;
    position: relative;
}


.uploadFileThumbnail img {
	width: 120px;
	border: solid 1px #999;
	padding: 6px;
	margin: 0 10px 0 0;
	background-color: #eee;
	display: block;
	float: left;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale);
}


.fileUploadReset {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ccc;
    text-decoration: none;
}

.fileUploadReset:hover {
    color: #333;
}

.fileUploadLoadingText {
    color: orange;
}

.fileUploadLoadingBar {
    width: 0%;
    background-color: orange;
}

/* HOMEPAGE */

/* JOB POSTER APPLICATION */

.jobSeekerProfileOverlay{
    width:100%;
    height:100%;
    z-index: 1002;
    background-color: rgba(255,255,255,0.75);
    position:fixed;
    top:0;
    left:0;
}

.viewJobPosterWrapperWindow,.viewJobPosterApplicationWrapperWindow{
    width: 100%;
    height: 100%;
    margin: 0px auto;
    text-align: left;
    background-color: #fff;
    padding: 2em;
}


#jobPosterApplication{
    padding:1em;
}

.jobPosterApplicationProfileSelect{
    padding:1em;
}

.closeButton{
    position:absolute;
    top:1em;
    right:1em;
    width: 10px;
    height: 10px;
    background: url(../images/chosen-sprite.png) 10px 0;
}

.closeButtonLink{
    padding:5px;
    display:block;
}

#noJobs{
    color:#999;
    text-align: center;
    font-size: 1.5em;
}

.jobCount{
    position:absolute;
    right:1em;
    top:1em;
}

.jobList{
    margin:0px auto;
    overflow:auto;
}

/* BROWSE JOBS */

#loadingJobs{
    padding: 3rem;
}

/* JOB SUMMARY (SHORT DESCRIPTION) STYLES */

.jobSummary{
    position: relative;
    width: 100%;
    color: #777;
    font-size: 1.25em;
    padding-bottom: 1.5em;
    padding-top: 1.5em;
    display: flex;
    justify-content: center;
    font-family: "HKGrotesk", sans-serif;
    font-size: 1.5em;
    font-weight: 700;
}

.jobSummary:nth-child(odd){
    background: #F8F8F8;
}

.jobSummaryTable{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1200px;
}

.hiringManagerProfilePicSmall{
    width: 50%;
    padding-bottom: 0.5em;
    margin: auto;
    display: block;
}

.hiringManagerLabel{
    font-size:1em;
    color: #333;
    width: 100%;
    text-align: center;
    margin: auto;
    display: block;
}

.hiringManagerWrapper{
    width: 200px;
}

.jobSummaryTitle{
    font-size: 1.2em;
    font-weight: bold;
    color: #000;
    line-height: 1.5em;
    text-align: left;
}
.jobSummarySalaryRange{
    width: 200px;
    text-align: center;
}

.jobSummaryApplicants_to_date{
    line-height: 1.5em;
}

.jobSummaryTerm_qty{
    width: 150px;
    text-align: center;
}

.titleDepartmentWrapper{
    width: 225px;
}

.applicantsCloseDateWrapper{
    text-align: center;
    width: 200px;
}

.viewJobButton{
    color: #fff!important;
    background-color: #2196F3!important;
    font-weight: normal;
    border: none;
    padding: 8px 16px;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    width: 10%;
    display: block;
    margin-right: 2em;
    margin-left: 2em;
}

/* JOB POSTER (LONG DESCRIPTION) STYLES */

.viewJobPosterOverlay{
    width:100%;
    height:100%;
    z-index: 1002;
    background-color: rgba(255,255,255,0.75);
    position:fixed;
    top:0;
    left:0;
}

#jobPosterTitle{
    font-size:5em;
    color: #eee;
}

#jobPosterLocation{
    color: #eee;
    float: left;
}

#jobPosterId{
    float: right;
    padding-right:2em;
    color: #eee;
}

#jobPosterDatapointsSection{
    background-color: #777;
    color: #FFF;
    padding: 2em;
}

#jobPosterSalaryRange{
}

#jobPosterButtonWrapper {
    text-align: center;
}

/* CREATE JOB POSTER */

#createJobPosterOverlay{
    width:100%;
    height:100%;
    z-index:1001;
    position:absolute;
    top:0;
    left:0;
}

.createJobPosterWrapperWindow{
    width:80%;
    min-width: 900px;
    height: 80%;
    margin:0px auto;
    position:relative;
    top:25%;
    transform: translateY(-25%);
    text-align: left;
    background-color:#fff;
    border: 1px solid #999;
    border-radius: 5px;
    box-shadow: 3px 3px 6px #999;
    padding:1em 2em 2em 2em;
}

.createJobPosterEnglishPane{
    float: left;
    width: 45%;
}

.createJobPosterFrenchPane{
    float: right;
    width: 45%;
    height: 100%;
}

.createEditProfileEnglishPane{
    float: left;
    width: 45%;
}

.createEditProfileFrenchPane{
    float: right;
    width: 45%;
    height: 100%;
}

.createJobPosterSubmitPane{
    clear: both;
}

.createEditProfileSubmitPane{
    clear: both;
}

.createJobPosterDemoAreaEnglish{
    float: left;
}

.createJobPosterDemoAreaFrench{
    float: right;
}

.createEditProfileDemoAreaEnglish{
    float: left;
}

.createEditProfileDemoAreaFrench{
    float: right;
}

.createJobPosterDemoArea{
    min-height: 840px;
    display: inline;
    white-space: nowrap;
}

/* APPLICANT PROFILE */ 

#profileBannerFiller {
    height:11.5em;
}

#profileBasicInfo {
    text-align: center;
    position: relative;
    bottom:11.5em;
}

#profileBasicInfoTopBar {
    display: flex;
    align-items: center;
    position: relative;
    max-width: 1200px;
    margin: auto;
}

#profileSocialMediaLinks {
    list-style-type: none;
    float: right;
    margin-top: 3em;
}

#profileSocialMediaLinks li{
    display: inline;
    padding-left: 0.5em;
}

#profileSocialMediaLinks img{
    width: 1.5em;
    height: 1.5em;
}

.socialMediaWrapper, .editProfileWrapper{
    width: 40%;
}

#profileBasicInfoEdit {
    float: left;
    margin-top: 7em;
}

#profileName {
    margin-top: .25em;
    font-size:3.5em;
}

.profileSubSection {
    padding-top: 2em; 
    padding-bottom: 2em;
    position: relative;
    bottom:11em;
}

.profileSubSectionTitleBar {
    margin-bottom: 1em;
}

.profileSubSectionTitleBar h2{
    display: inline;
    font-weight: bold;
}

.socialMediaLink{
    margin-top:1.5em;
}

.sectionEditBtn {
    float: right;
}

.sectionEditBtn img{
    width: 1.5em;
    height: 1.5em;
}

/* VIEW PROFILE (OLD??)  */

.viewProfileContainer{
    padding: 1em 1em 1em 1em;
}

.viewProfileLeftPane{
    float: left;
    width: 45%;
    padding: 1em 1em 1em 1em;
    background-color: inherit;
}

.viewProfileRightPane{
    float: right;
    width: 45%;
    padding: 1em 1em 1em 1em;
    background-color: inherit;
}

.viewProfileSlot{
    padding: 0.5em 0em 0.5em 0em;
}

.viewProfileSlotLabel{
    font-size: 12px;
}

.viewProfileSlotContent{
    
}

.viewProfileSlotImg{
    float: left;
}

.viewProfileSlotValue{
    overflow: hidden;
    width: 45%;
    border-bottom: 1px solid grey;
}

.viewProfileHeightBoost{
    min-height: 200px;
}

/* LOGIN AND REGISTRATION FORMS */

#loginForm,#registerForm{
    margin-left: 0px !important;
    margin-right: 0px !important;
}

#loginErrors{
    white-space: pre-wrap;
}

/* FORMS */

.form-group{
    color:#555;
}
.form-control{
    color:#555;
    background-color:#EAEAEA;
    background-image:none;
    border:none;
    border-radius:0;
}
.form-control:focus{
    border: 1px solid #999;
    outline:0;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(153,153,153,.6);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(153, 153, 153,.6)
}
.form-textbox{
    width:95%;
}
form label{
    font-size: 16px;
}
input[type=text],input[type=password],select{
    padding:0.5em;
}
input[type=button],input[type=submit],input[type=reset]{
    padding:0.25em;
    height: 30px;
}

/* BUTTONS */

.btn{
    height:30px;
    border-radius: 30px;
    min-width: 140px;
    border:1px solid transparent;
    margin: 1em 1em 0em 1em;
}
.btn.active.focus,.btn.active:focus,.btn.focus,.btn:active.focus,.btn:active:focus,.btn:focus{
    outline:none;
}
.btn.focus,.btn:focus,.btn:hover{
    text-decoration:none
}
.btn.active,.btn:active{
    outline:0;
    background-image:none;
    -webkit-box-shadow:none;
    box-shadow:none;
}
.btn-default{
    color:#555;
    background-color:#C8C8C8;
    border-color:transparent;
}
.btn-default.active,.btn-default:active,.btn-default:hover,open>.btn-default.dropdown-toggle{
    color:#555;
    background-color:#A3A3A3;
    border-color:transparent;
}
.btn-default.focus,.btn-default:focus{
    color:#FFFFFF;
    background-color:#484848;
    border-color:transparent;
}
.btn-default.disabled,.btn-default.disabled.active,.btn-default.disabled.focus,.btn-default.disabled:active,.btn-default.disabled:focus,.btn-default.disabled:hover,.btn-default[disabled],.btn-default[disabled].active,.btn-default[disabled].focus,.btn-default[disabled]:active,.btn-default[disabled]:focus,.btn-default[disabled]:hover,fieldset[disabled] .btn-default,fieldset[disabled] .btn-default.active,fieldset[disabled] .btn-default.focus,fieldset[disabled] .btn-default:active,fieldset[disabled] .btn-default:focus,fieldset[disabled] .btn-default:hover{
    background-color:#C8C8C8;
    border-color:transparent;
}
.btn-primary{
    color:#555;
    background-color:#FFE25B;
    border-color:transparent;
}
.btn-primary.active,.btn-primary:active,.btn-primary:hover,open>.btn-default.dropdown-toggle{
    color:#555;
    background-color:#FFD200;
    border-color:transparent;
}
.btn-primary.focus,.btn-primary:focus{
    color:#FFFFFF;
    background-color:#484848;
    border-color:transparent;
}
.btn-primary.disabled,.btn-primary.disabled.active,.btn-primary.disabled.focus,.btn-primary.disabled:active,.btn-primary.disabled:focus,.btn-primary.disabled:hover,.btn-primary[disabled],.btn-primary[disabled].active,.btn-primary[disabled].focus,.btn-primary[disabled]:active,.btn-primary[disabled]:focus,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary,fieldset[disabled] .btn-primary.active,fieldset[disabled] .btn-primary.focus,fieldset[disabled] .btn-primary:active,fieldset[disabled] .btn-primary:focus,fieldset[disabled] .btn-primary:hover{
    background-color:#FFE25B;
    border-color:transparent;
}

/* these are required to override other styles in theme.min.css */
main .btn {
    height:30px;
    border-radius: 30px;
    min-width: 140px;
    border:1px solid transparent;
    margin: 1em 1em 0em 1em;
}
main .btn-primary {
    color:#555;
    background-color:#FFE25B;
    border-color:transparent;}
main .btn-default {
    color:#555;
    background-color:#C8C8C8;
    border-color:transparent;
}


/* TABS LIST */

.tabsList{
    line-height: 2em;
    display: flex;
    list-style: none !important;
    width: 100%;
    margin:0 !important;
    padding:0 !important;
}
.tabsList li{
    display: inline-block;
    margin-right: 1em;
    margin:0 !important;
    padding:0 !important;
    text-align: center;
}
.tabsList li a {
    text-align: center;
}
.tabs{
    padding:1em 2em 2em 2em;
}
.tabsSteps{
    font-size: 1em;
    line-height: 2em;
    display: flex;
    color: #777;
    float: left;
    cursor: default;
    width: 100%;
    position: absolute;
    background-color: #ddd;
}
.three-step-tab {
    width: 33%;
    position: relative;
}
.tab-current {
    color: #fff;
    background-color: #5599e5;
}
.four-step-tab{
    width: 25%;
    position: relative;
}
.tabbedForm{
    width: 100%;
    height: 100%;
}

/* END SORTED STYLES */

.form-icon {
    width: 1em;
    height: 1em;
}



/* Was this here for a good reason? - Tristan
div label span{
    clear:left;
    display: block !important;
}
*/


.searchWrapper{
    float:left;
}

#search{
    margin-top: 0.2em;
    vertical-align: bottom;
}

.alphaList{
    list-style: none;
    list-style-type: none;
    padding:0;
    margin:0;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

.alpha{
    border-top: 1px solid #ccc;
}

.steppedFormLink{
    text-align: center !important;
    text-decoration:none !important;
    color:#333 !important;
}

.steppedFormLinkActive{
    text-align: center !important;
    text-decoration:none !important;
    color:#fff !important;
}

.contactCard{
    border:1px solid #eee;
    box-shadow: 3px 3px 6px #999;
    width:150px;
    padding:1em 0.5em;
    height:200px;
    float:left;
    margin-right:1em;
    margin-bottom:1em;
    position:relative;
}

.contactImageWrapper{
    width:150px;
    height:130px;
    text-align:center;
}

.contactImage{
    width:100px;
    margin:0px auto;
}

.contactRow{
    padding:0.25em 0;
}

.contactActionColLeft{
    float:left;
    width:50%;
    text-align: left;
    vertical-align: bottom;
}

.contactEmailLinkImage{
    width:50px;
    vertical-align: middle;
}

.contactNoEmailLinkImage{
    opacity:0.5;
    width:50px;
    vertical-align: middle;
}

.contactPhoneLinkImage{
    width:40px;
    vertical-align: middle;
}

.contactActionColRight{
    float:right;
    width:50%;
    text-align: right;
    vertical-align: bottom;
}

.favouriteImageWrapper{
    position:absolute;
    top:0.5em;
    right:0.5em;
}

.jobPosterFavouriteImg,.editImage{
    width:1.5em;
}

.editImageWrapper{
    position:absolute;
    top:0.5em;
    left:0.5em;
}

.formGroup{
    padding:1em;
}

.formGroupTwoColumn{
    padding:1em;
    width:50%;
    display:inline;
}

.stepNavigation{
    position: absolute;
    /* absolute: 0; */
}

.stepGroup,.jobSeekerFormStepGroup {
    position: relative;
    width:100%;
    min-height: 100%;
    bottom: 0;
    background-color: #fff;
}

.stepGroup_createEditProfile {
    position: relative;
    width:100%;
    min-height: 100%;
    bottom: 0;
    background-color: #fff;
}

.reallyShortInput{
    width:3em;
}

.shortInput{
    width:10em;
}

.mediumInput{
    width:20em;
}

.longInput{
    width:40em;
}

.validationMessage{
    color:#ff0000;
}