/*BEGIN CUSTOM CSS*/
html{
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;
}

body{
    font-size:100% !important;
    height:100% !important;
    color: #333 !important;
    width: auto !important;
    /*max-width:1200px !important;*/
    margin:0px auto !important;
    
    background-image: url('/images/backgrounds/background.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.overFlowHidden{
    overflow:hidden;
}

header{
    /*max-width: 1200px;*/
    margin: 0px auto;
    /*padding: 2em !important;*/
}

nav{
    padding:0 !important;
}

.transparent{
  background:rgba(0,0,0,0.7);
}

.tc-title{
    font-size: 1.5rem;
    margin-top: 0;
    text-align: center;
}

.cloudicon{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

/*
#manager_top_nav{
    padding:0.25em;
    margin:0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

#manager_top_nav ul{
    list-style: none !important;
    display: inline-block;
}

#manager_top_nav ul li{
    display: inline-block;
    margin-right: 1em;
}

#manager_top_nav ul li a{
    color: #295376;
    list-style: none !important;
}

#manager_top_nav ul li a.active{
    color: #295376;
    text-decoration: underline;
}
*/

.tabsList{
    line-height: 2em;
    display: flex;
    list-style: none !important;
    width: 100%;
    margin:0 !important;
    padding:0 !important;
}

.tabsList li{
    display: inline-block;
    margin-right: 1em;
    margin:0 !important;
    padding:0 !important;
    text-align: center;
}

.tabsList li a {
    text-align: center;
}

#loginOverlay{
    width:100%;
    height:100%;
    z-index:1001;
    position:absolute;
    top:0;
    left:0;
}

.loginFormWrapperWindow{
    width:30%;
    min-width:350px;
    margin:0px auto;
    position:relative;
    top:50%;
    transform: translateY(-50%);
    text-align: left;
    background-color:#fff;
    border: 1px solid #999;
    border-radius: 5px;
    box-shadow: 3px 3px 6px #999;
    padding:1em 2em 2em 2em;
    position:relative;
}

div label span{
    clear:left;
    display: block !important;
}

#loginTitleWrapper,#registerFormTitleWrapper{
    height:50px !important;
    line-height:50px !important;
    vertical-align: middle !important;
    width:auto !important;
    overflow:visible !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-bottom:1em;
}

#loginForm,#registerForm{
    margin-left: 0px !important;
    margin-right: 0px !important;
}

#loginErrors{
    white-space: pre-wrap;
}

#loginTitle, #registerFormTitle, #myProfileTitle{
    height:3em !important;
    width:auto !important;
    line-height:3em !important;
    overflow:visible !important;
    clip:auto !important;
    position:relative;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

#registerFormTitleText,#myProfileTitleText{
    padding-left:0.5em;
}

#loginLogoImage,#registerLogoImage,#jobSeekerLogoImage,#registerStatusLogoImage{
    height:50px;
    vertical-align: middle;
}

#loginTitleLabel{
}

#registerFormOverlay{
    width:100%;
    height:100%;
    z-index:1001;
    position:absolute;
    top:0;
    left:0;
}

#createJobPosterOverlay{
    width:100%;
    height:100%;
    z-index:1001;
    position:absolute;
    top:0;
    left:0;
}

.contentContainer{
    background-color: white;
}

.teaser{
    text-align: center;
    max-width: 70%;
    padding-top: 3rem;
}

.viewProfileContainer{
    padding: 1em 1em 1em 1em;
}

.viewProfileLeftPane{
    float: left;
    width: 45%;
    padding: 1em 1em 1em 1em;
    background-color: inherit;
}

.viewProfileRightPane{
    float: right;
    width: 45%;
    padding: 1em 1em 1em 1em;
    background-color: inherit;
}

.viewProfileSlot{
    padding: 0.5em 0em 0.5em 0em;
}

.viewProfileSlotLabel{
    font-size: 12px;
}

.viewProfileSlotContent{
    
}

.viewProfileSlotImg{
    float: left;
}

.viewProfileSlotValue{
    overflow: hidden;
    width: 45%;
    border-bottom: 1px solid grey;
}

.viewProfileHeightBoost{
    min-height: 200px;
}

.createEditProfile{
    padding: 2em 2em 2em 2em;
}

.registerFormWrapperWindow{
    width:40%;
    min-width:450px;
    margin:0px auto;
    position:relative;
    top:50%;
    transform: translateY(-50%);
    text-align: left;
    background-color:#fff;
    border: 1px solid #999;
    border-radius: 5px;
    box-shadow: 3px 3px 6px #999;
    padding:1em 2em 2em 2em;
}

#registrationFormStatusMessage,#registrationFormEmailConfMessage{
    padding:1em;
}

.createJobPosterWrapperWindow{
    width:80%;
    min-width: 900px;
    height: 80%;
    margin:0px auto;
    position:relative;
    top:25%;
    transform: translateY(-25%);
    text-align: left;
    background-color:#fff;
    border: 1px solid #999;
    border-radius: 5px;
    box-shadow: 3px 3px 6px #999;
    padding:1em 2em 2em 2em;
}

.createJobPosterEnglishPane{
    float: left;
    width: 45%;
}

.createJobPosterFrenchPane{
    float: right;
    width: 45%;
    height: 100%;
}

.createEditProfileEnglishPane{
    float: left;
    width: 45%;
}

.createEditProfileFrenchPane{
    float: right;
    width: 45%;
    height: 100%;
}

.createJobPosterSubmitPane{
    clear: both;
}

.createEditProfileSubmitPane{
    clear: both;
}

.createJobPosterDemoAreaEnglish{
    float: left;
}

.createJobPosterDemoAreaFrench{
    float: right;
}

.createEditProfileDemoAreaEnglish{
    float: left;
}

.createEditProfileDemoAreaFrench{
    float: right;
}

.createJobPosterDemoArea{
    min-height: 840px;
    display: inline;
    white-space: nowrap;
}

.tabs{
    padding:1em 2em 2em 2em;
}

.nav-container{
    width: 100%;
}

.nav-container li a {
    font-size: 1.5rem;
    color: #ccc;
    font-weight: bold;
    text-transform: uppercase;
}

.tabsSteps{
    font-size: 1em;
    line-height: 2em;
    display: flex;
    color: #777;
    float: left;
    cursor: default;
    width: 100%;
    position: absolute;
    background-color: #ddd;
}

.create-job-poster-tab,.four-step-tab{
    width: 25%;
    position: relative;
}

.create-profile-tab{
    width: 33%;
    position: relative;
}


.create-job-poster-tab-current,.four-step-tab-current{
    color: #fff;
    background-color: #5599e5;
}

.create-profile-tab-current{
    color: #fff;
    background-color: #5599e5;
}

.tabbedForm{
    width: 100%;
    height: 100%;
}


.form-textbox{
    width:95%;
}


#overlayLogo{
    width:400px;
    height:300px;
    margin:0px auto;
    position:relative;
    top:50%;
    transform: translateY(-50%);
    text-align: center;
}

.languageSelectLink{
    float:right;
    margin-top: 0.75rem;
    color: #fff;
}
.languageSelect{
    color: #FFFFFF;
    display: inline-block;
}

.section{
    clear:both;
    height:100%;
}

.searchWrapper{
    float:left;
}

#search{
    margin-top: 0.2em;
    vertical-align: bottom;
}

.logoutWrapper{
    float:right;
}

#browseNav{
    float:left;
    min-width:3em;
    border:1px solid #ccc;
    margin-top:1em;
}

.alphaList{
    list-style: none;
    list-style-type: none;
    padding:0;
    margin:0;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

.alpha{
    border-top: 1px solid #ccc;
}

.steppedFormLink{
    text-align: center !important;
    text-decoration:none !important;
    color:#333 !important;
}

.steppedFormLinkActive{
    text-align: center !important;
    text-decoration:none !important;
    color:#fff !important;
}

main{
    background-color: #fff;
    height: 100vh;
    margin-top: 30rem;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
    /*padding-top: 1em;*/
}

#noJobs{
    color:#999;
    text-align: center;
    font-size: 1.5em;
}

#jobs{
    margin-top:1em;
    padding:0 1em;
    height:100%;
}

.jobCount{
    position:absolute;
    right:1em;
    top:1em;
}

.jobList{
    margin:0px auto;
    overflow:auto;
}

.jobCard{
    border: 1px solid #eee;
    width: 380px;
    display:inline-block;
    position:relative;
    padding:1%;
    text-align:center;
    margin:0 20px 20px 0;
    background-color: rgba(255,255,255,1) !important;
    box-shadow: 3px 3px 15px #666;
}

.jobPostSummary{
}

.jobTitle{
    font-size:1.5em;
    font-weight:700;
    margin: 1em 0;
}

.jobDepartment{
    margin: 1em 0 0 0;
}

.hiringManagerWrapper{
    text-align:left;
    margin: 0px auto;
    margin-top: 2em;
    margin-bottom: 2em;
    height: 1.6em;
    background-color: #eee;
    border-radius:0.75em;
    width:40%;
    min-width:140px;
}

.hiringManagerProfilePicSmall{
    width:1.5em;
    height:1.5em;
    margin:0;
}

.hiringManagerLabel{
    font-size:0.75em;
    margin-left: 1em;
    line-height: 1.5em;
}

.jobPoster{
    padding:1em;
}

.jobPosterHeader{
    padding:0.5em;
    background-color:#eee;
    font-size:1.5em;
}

.jobPosterTitle,.jobLocation,.jobCity,.jobProvince,.jobTerm,.jobSalaryRange{
    padding:0.5em;
}

.jobPosterApplyButton{
    padding:1em 0 0.5em 0;
    overflow:auto;
}
.jobPosterCancelButton{
    margin-left:1em;
}

.contactCard{
    border:1px solid #eee;
    box-shadow: 3px 3px 6px #999;
    width:150px;
    padding:1em 0.5em;
    height:200px;
    float:left;
    margin-right:1em;
    margin-bottom:1em;
    position:relative;
}

.contactImageWrapper{
    width:150px;
    height:130px;
    text-align:center;
}

.contactImage{
    width:100px;
    margin:0px auto;
}

.contactRow{
    padding:0.25em 0;
}

.contactActionColLeft{
    float:left;
    width:50%;
    text-align: left;
    vertical-align: bottom;
}

.contactEmailLinkImage{
    width:50px;
    vertical-align: middle;
}

.contactNoEmailLinkImage{
    opacity:0.5;
    width:50px;
    vertical-align: middle;
}

.contactPhoneLinkImage{
    width:40px;
    vertical-align: middle;
}

.contactActionColRight{
    float:right;
    width:50%;
    text-align: right;
    vertical-align: bottom;
}

.favouriteImageWrapper{
    position:absolute;
    top:0.5em;
    right:0.5em;
}

.jobPosterFavouriteImg,.editImage{
    width:1.5em;
}

.editImageWrapper{
    position:absolute;
    top:0.5em;
    left:0.5em;
}

.formGroup{
    padding:1em;
}

.formGroupTwoColumn{
    padding:1em;
    width:50%;
    display:inline;
}

.stepNavigation{
    position: absolute;
    absolute: 0;
}

.stepGroup,.jobSeekerFormStepGroup {
    position: relative;
    width:100%;
    min-height: 100%;
    bottom: 0;
    background-color: #fff;
}

.stepGroup_createEditProfile {
    position: relative;
    width:100%;
    min-height: 100%;
    bottom: 0;
    background-color: #fff;
}

.reallyShortInput{
    width:3em;
}

.shortInput{
    width:10em;
}

.mediumInput{
    width:20em;
}

.longInput{
    width:40em;
}

.validationMessage{
    color:#ff0000;
}

/* clear float */
.clearfix {
    content: "";
    display: table;
    clear: both;
}

.hidden{
    transition: all 1s ease-in-out !important;
    opacity:0;
    max-height:0;
    max-width:0;
    display:none;
    padding:0 !important;
    margin:0 !important;
    border:none !important;
    overflow:hidden;
}

.visible{
    max-height:4000px;
    max-width:4000px;
    display:static;
    opacity:1;
    transition: opacity 1s ease-in-out;
}

input[type=text],input[type=password],select{
    font-family: Roboto;
    font-size:1em;
    padding:0.5em;
    border-radius:3px;
    border:1px solid #999;
}

input[type=button],input[type=submit]{
    font-family: Roboto;
    font-size:1em;
    padding:0.25em;
}

.viewJobPosterOverlay,.viewJobPosterApplicationOverlay,.jobSeekerProfileOverlay{
    width:100%;
    height:100%;
    z-index:1002;
    background-color: rgba(255,255,255,0.75);
    position:fixed;
    top:0;
    left:0;
}

.viewJobPosterWrapperWindow,.viewJobPosterApplicationWrapperWindow,.jobSeekerProfileWrapperWindow{
    width: 100%;
    height: 100%;
    margin: 0px auto;
    text-align: left;
    background-color: #fff;
    padding: 2em;
}

#jobPosterApplication{
    padding:1em;
}

.jobPosterApplicationProfileSelect{
    padding:1em;
}

.closeButton{
    position:absolute;
    top:1em;
    right:1em;
    width: 10px;
    height: 10px;
    background: url(../images/chosen-sprite.png) 10px 0;
}

.closeButtonLink{
    padding:5px;
    display:block;
}

/*BEGIN - GC Desktop Style Classes*/

@media all and (max-width: 800px){
    .jobList{
        max-width: 750px;
        margin-right:0.5em;
    }
    .jobCard{
        width: 355px;
    }
}

@media all and (max-width: 768px){
    .jobList{
        max-width: 750px;
        margin:0px auto;
    }
    .jobCard{
        width: 355px;
    }
}

@media all and (max-width: 673px){
    .jobList{
        max-width: 620px;
        margin:0px auto;
    }
}

@media all and (max-width: 572px){
    .jobList{
        max-width: 540px;
        margin:0px auto;
    }
}


@media all and (max-width: 443px){
    .jobList{
        max-width: 400px;
        margin:0px auto;
    }
}
