{# =============================================================================

    Talent Cloud
    Applicant: Manager - Questions

============================================================================= #}

<div
    class="applicant-profile__questions">

    <div
        class="container--copy">

        {% for section in manager_profile_sections %}

            <h4>
                {{ section.title }}
            </h4>

            {% for question in section.questions %}

                <span>
                    {{ question.title }}
                </span>

                {% if question.answer %}
                    <p
                        class="applicant-manager__answer">
                        {{ question.answer|nl2br }}
                    </p>
                {% else %}
                    <p>{{ noInfo }}</p>
                {% endif %}

            {% endfor %}

        {% endfor %}

    </div>

</div>
