<div data-c-grid-item="tl(1of4)">
    <nav data-c-padding="top(3)">
        <p data-c-font-weight="bold" data-c-margin="bottom(1)">On this page:</p>
        <ul>
            <li>
                <a href="#section" title="Visit the [SECTION NAME].">
                Section Title</a>
            </li>
            <li>
                <a href="#section" title="Visit the [SECTION NAME].">
                Section Title</a>
            </li>
            <li>
                <a href="#section" title="Visit the [SECTION NAME].">
                Section Title</a>
            </li>
            <li>
                <a href="#section" title="Visit the [SECTION NAME].">
                Section Title</a>
            </li>
            <li>
                <a href="#section" title="Visit the [SECTION NAME].">
                Section Title</a>
            </li>
        </ul>
    </nav>
</div>
