// =============================================================================

// Application Post: Skills

// =============================================================================
.application-post__skills-layout {
  padding: $section-padding;

  .timer-wrapper {
    text-align: center;

    @media #{$p-tablet} {
      text-align: right;
    }

    span {
      display: block;
      font-size: $font-scale--h4;
      font-weight: 600;
      margin: 0 0 2rem;
      font-family: $font--sans;
    }
  }

  .container--copy {
    text-align: center;

    h3 {
      border-bottom: 1px solid $palette--font-black;
      color: $palette--black;
      font-family: $font--sans;
      font-size: $font-scale--h3;
      font-weight: 400;
      margin: 0 0 calc(#{$unit} * 2) 0;
      padding: 0 0 2rem 0;
      text-align: left;
    }

    p {
      @extend %paragraph;
      text-align: left;
      margin-bottom: 1rem;

      &.bold {
        font-weight: 700;
      }
    }

    ul {
      padding-left: 0;
      margin-left: 0;
      list-style-type: none;

      li {
        margin: 2rem 0rem;
        p {
          margin-bottom: 0.5rem;
        }
      }
    }

    button {
    }
  }

  .container--layout {
    border-top: 1px solid darken($palette--white, 20%);
    margin-top: calc(#{$unit} * 5);
  }

  .application-post__content-wrapper {
    @media #{$l-tablet} {
      padding: 0 0 0 3rem;
    }
  }

  .application-post__anchor {
    &::before {
      display: block;
      content: ' ';
      margin-top: -13rem;
      height: 13rem;
      visibility: hidden;
      pointer-events: none;
    }
  }

  .profile-list {
    padding: 5rem 0 4rem;
  }
}
