// =============================================================================

    // Jobs: Post - Apply

// =============================================================================
.job-post__apply {

}

.job-post__apply-accommodation-wrapper {
    background: $palette--black;
    border-radius: 3px 3px 0 0;
    padding: 3rem;

    i {
        color: $palette--blue;
        font-size: $font-scale--h1;
        text-align: center;
        width: 100%;
    }

}

.job-post__apply-title {
    color: $palette--font-white;
    font-family: $font--sans;
    font-size: $font-scale--h3;
    margin: 0 0 2rem 0;
}

.job-post__apply-content,
.job-post__apply-content-preference {
    color: $palette--font-white;
    display: block;
    font-family: $font--sans;
    font-size: $font-scale--regular;
    line-height: 1.5;
}

.job-post__apply-content {
    margin: 0 0 3rem 0;
}

.job-post__apply-content-preference:not(:last-child) {
    margin: 0 0 1rem 0;
}

.job-post__apply-button {
    background: $clone-c1;
    border-radius: 0 0 3px 3px;
    color: $palette--font-white;
    display: block;
    font-family: $font--sans;
    font-size: $font-scale--h3;
    font-weight: 600;
    margin: 0 !important;
    padding: 2rem 3rem;
    text-align: center;
    text-decoration: none;
    transition: all .2s ease;
    width: 100%;

    &:hover,
    &:focus {
        background: darken($palette--blue, 10%);
        color: $palette--font-white;
        transition: all .2s ease;
    }

}

.job-post__apply-button--closed {
    background: rgba(200, 200, 200, 1);
    border-radius: 0 0 3px 3px;
    color: rgba(100, 100, 100, 1);
    cursor: initial;
    display: block;
    font-family: $font--sans;
    font-size: $font-scale--h3;
    font-weight: 600;
    margin: 0 !important;
    padding: 2rem 3rem;
    text-align: center;
    text-decoration: none;
    transition: all .2s ease;
    width: 100%;
}
