// =============================================================================

    // Jobs: Post - Criteria

// =============================================================================
.job-post__criteria {
    margin: 0 0 calc(#{$unit} * 4);

    .job-post__criteria-title {
        border-bottom: 1px solid $palette--font-black;
        color: $palette--black;
        font-family: $font--sans;
        font-size: $font-scale--h3;
        font-weight: 400;
        margin: 0 0 calc(#{$unit} * 2) 0;
        padding: 0 0 2rem 0;
    }

    .job-post__criteria-subtitle {
        color: $palette--blue;
        font-family: $font--sans;
        font-size: $font-scale--h4;
        font-weight: 600;
        margin: 0 0 calc(#{$unit} * 1) 0;
    }

    p {
        color: $palette--font-black;
        font-family: $font--sans;
        font-size: $font-scale--regular;
        font-weight: 400;
        margin: 0 0 2rem 0;
    }

    ul {
        margin: 1rem 0 2rem 0;
        padding: 0 0 0 calc(#{$unit} * 1.5);

        li {
            color: $palette--font-black;
            font-family: $font--sans;
            font-size: $font-scale--regular;
            font-weight: 400;
            line-height: 1.5;
            margin: 0 0 $unit 0;

            p {
                margin: 0;

                &:first-child {
                    font-weight: 600;
                }

                &.job-post__criteria-level span {
                    color: $palette--blue;
                }

            }

            &:last-child {
                
                p {
                    margin-bottom: 0;
                }

            }

        }

    }

}