// =============================================================================

    // Jobs: Post - Sidebar

// =============================================================================
.job-poster__subnav-wrapper {
    display: none;

    @media #{$l-tablet} {
        display: block;
    }

}

.job-poster__subnav-sticky-wrapper {
    display: none;
    padding: $section-padding;
    width: 95%;

    @media #{$l-tablet} {
        display: block;
        position: sticky;
        top: 0;
    }

}

.job-poster__subnav-job-title {
    color: $palette--black ;
    display: block;
    font-family: $font--sans;
    font-size: $font-scale--regular;
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 calc(#{$unit} / 2);
}

.job-poster__subnav-department {
    color: $palette--black;
    display: block;
    font-family: $font--sans;
    font-size: $font-scale--regular;
    margin: 0;
}

.job-poster_subnav-label {
    color: $palette--blue;
    display: block;
    font-family: $font--sans;
    font-size: $font-scale--h4;
    //font-weight: 700;
    margin: 2rem 0;

    &:first-child {
        margin-top: 0;
    }

}

.job-poster__subnav-item {
    color: $palette--black !important;
    display: block;
    font-family: $font--sans;
    font-size: $font-scale--regular;
    margin: 0 0 1rem 0;
    text-decoration: underline;
    transition: color .2s ease;

    &:hover {
        color: $palette--blue !important;
        text-decoration: underline;
        transition: color .2s ease;
    }

}

.job-poster__content-wrapper {

    @media #{$l-tablet} {
        padding: 0 0 0 3rem;
    }

}

.job-post__anchor {

    &::before {
        content: " ";
        display: block;
        height: 5rem;
        margin: -5rem 0 0 0;
    }

}