{% if errors.any() %}

    <div 
        class="site-error">

        <ul>

            {% for error in errors.all() %}

                <li>
                    <span 
                        class="help-block">
                        <strong>{{ error }}</strong>
                    </span>
                </li>

            {% endfor %}

        </ul>

    </div>

{% endif %}
