{% if errors.any() %}

    <div
        {% if form_errors_id %} id="{{ form_errors_id }}" {% endif %}
        class="site-error">

        <ul>

            {% for error in errors.all() %}

                <li>
                    <span
                        class="help-block">
                        <strong>{{ error }}</strong>
                    </span>
                </li>

            {% endfor %}

        </ul>

    </div>

{% endif %}
