<div class="sidebar" data-c-padding="top(3)">
    <nav>
        <p data-c-font-weight="bold" data-c-font-size="h4" data-c-margin="bottom(1)">On this page:</p>
        <ul>
            <li>
                <a href="#basicInfo" title="Go to the basic information section on this page.">My Basic Info</a>
            </li>
            <li>
                <a href="#aoe" title="Go to the areas of expertise section on this page.">My Areas of Expertise</a>
            </li>
            <li>
                <a href="#aoi" title="Go to the areas of interest section on this page.">My Areas of Interest</a>
            </li>
            {# Dev: Note that this will have to be changed to the proper Twig route once these pages are built. #}
            <li>
                <br>
                <a href="/profile" title="Open a new tab and edit your profile." target="_blank" data-c-button="outline(c1)" data-c-radius="rounded">Edit My Profile</a>
            </li>
        </ul>
    </nav>
</div>
