<div class="sidebar" data-c-padding="top(3)">
    <nav>
        <p data-c-font-weight="bold" data-c-font-size="h4" data-c-margin="bottom(1)">On your profile:</p>
        <ul>
            {# Devs: Note that I'm using the hrefs to link to demo pages. These routes will have to be set up properly before deploying. We'll want to make sure that clicking these links triggers the alert that asks them if they want to leave without saving their changes (assuming there are changes). #}
            <li>
                <a href="https://talent.test/en/demo/response-profile" title="">My Basic Info</a>
            </li>
            <li>
                <a href="https://talent.test/en/demo/response-profile-aoe" title="">My Areas of Expertise</a>
            </li>
            <li>
                <a href="https://talent.test/en/demo/response-profile-aoi" title="">My Areas of Interest</a>
            </li>
            <li>
                <a href="/settings" title="">Account Settings</a>
            </li>
        </ul>
    </nav>
</div>
