{# =============================================================================

    Talent Cloud
    Applicant: Jobs - Post: Layout

============================================================================= #}
<section
    class="application-index">

    <div
        class="container--layout">

        {# Applications in Progress #}

            <h2
                class="application-index__section-title">
                {{ application_index.progress_title }}
            </h2>

            {% set draftCounter = 0 %}

            {% for item in applications %}

                {% if item.application_status.name =="draft" and item.job_poster.close_date_time.isFuture() %}

                    {% set draftCounter = draftCounter + 1 %}

                    {% include "applicant/application_index/application" %}

                {% endif %}

            {% endfor %}

            {% if draftCounter == 0 %}

                {% include "applicant/application_index/null" %}

            {% endif %}

        {# Completed Applications #}

            <h2
                class="application-index__section-title">
                {{ application_index.completed_title }}
            </h2>

            {% set completedCounter = 0 %}

            {% for item in applications %}

                {% if item.application_status.name != "draft" %}

                    {% set completedCounter = completedCounter + 1 %}

                    {% include "applicant/application_index/application" %}

                {% endif %}

            {% endfor %}

            {% if completedCounter == 0 %}

                {% include "applicant/application_index/null" %}

            {% endif %}

        {# Expired Applications #}

            <h2
                class="application-index__section-title">
                {{ application_index.expired_title }}
            </h2>

            {% set expiredCounter = 0 %}

            {% for item in applications %}

                {% if item.application_status.name == "draft" and item.job_poster.close_date_time.isPast() %}

                    {% set expiredCounter = expiredCounter + 1 %}

                    {% include "applicant/application_index/application" %}

                {% endif %}

            {% endfor %}

            {% if expiredCounter == 0 %}

                {% include "applicant/application_index/null" %}

            {% endif %}

    </div>

</section>
