{# =============================================================================

    Talent Cloud
    Applicant: Jobs - Post: Layout

============================================================================= #}
<section
    class="application-index">

    <div
        class="container--layout">

        {# Application Success Message #}
        <div data-clone>
            <div data-c-alert="information" data-c-radius="rounded" role="alert" data-c-margin="bottom(2)">
                <div data-c-padding="half">
                    <button data-c-alert-close-trigger data-c-padding="half">
                        <i class="fas fa-times"></i>
                    </button>
                    <p data-c-margin="bottom(quarter)" data-c-font-weight="bold">
                        <i aria-hidden="true" class="fas fa-star"></i>
                        Thanks for applying to the "THIS JOB TITLE" position!
                    </p>
                    <p>
                        We've received your application and will let you know when your input is required for next steps. In the meantime, feel free to explore your profile, or, take a peek at other jobs available on Talent Cloud.
                    </p>
                </div>
            </div>
        </div>

        {# Applications in Progress #}

            <h2
                class="application-index__section-title">
                {{ application_index.progress_title }}
            </h2>

            {% set draftCounter = 0 %}

            {% for item in applications %}

                {% if item.application_status.name =="draft" and item.job_poster.close_date_time.isFuture() %}

                    {% set draftCounter = draftCounter + 1 %}

                    {% include "applicant/application_index/application" %}

                {% endif %}

            {% endfor %}

            {% if draftCounter == 0 %}

                {% include "applicant/application_index/null" %}

            {% endif %}

        {# Completed Applications #}

            <h2
                class="application-index__section-title">
                {{ application_index.completed_title }}
            </h2>

            {% set completedCounter = 0 %}

            {% for item in applications %}

                {% if item.application_status.name != "draft" %}

                    {% set completedCounter = completedCounter + 1 %}

                    {% include "applicant/application_index/application" %}

                {% endif %}

            {% endfor %}

            {% if completedCounter == 0 %}

                {% include "applicant/application_index/null" %}

            {% endif %}

        {# Expired Applications #}

            <h2
                class="application-index__section-title">
                {{ application_index.expired_title }}
            </h2>

            {% set expiredCounter = 0 %}

            {% for item in applications %}

                {% if item.application_status.name == "draft" and item.job_poster.close_date_time.isPast() %}

                    {% set expiredCounter = expiredCounter + 1 %}

                    {% include "applicant/application_index/application" %}

                {% endif %}

            {% endfor %}

            {% if expiredCounter == 0 %}

                {% include "applicant/application_index/null" %}

            {% endif %}

    </div>

</section>
