{# =============================================================================

    Talent Cloud
    Applicant: Application Index - Null State

============================================================================= #}
<div
    class="application-index__null-state">

    <span>
        {{ application_index.null.title }}
    </span>

</div>
