{# =============================================================================

    Talent Cloud
    Applicant: Application Index - Null State

============================================================================= #}
<div
    class="application-index__null-state">

    <h3>
        {{ application_index.null.title }}
    </h3>

</div>