{# =============================================================================

    Talent Cloud
    COVID-19 Response: Screening

============================================================================= #}
{% extends "layouts/base" %}
{% block title %}{{ response_job_title }} | {{ response.page_title }}{% endblock %}
{% block body %}
    {# Government of Canada Banner #}
    {% include "common/goc" %}
    <div data-clone>
        {# Beta Banner #}
        {% include "response/beta-banner" %}
        {# Menu #}
        {% include "response/menu" %}
        {# Header #}
        {% include "response/screening/header" %}
        {# Sorting #}
        {% include "response/screening/sorting" %}
    </div>
{% endblock %}
