<div data-c-border="tb(thin, solid, gray)" data-c-padding="tb(3)">
    <div data-c-container="large">
        {# Comments #}
        {# Buckets #}
        <div data-c-accordion-group class="response-accordion-group">
            {# In Process #}
            <div data-c-accordion data-c-background="white(100)" data-c-margin="top(.5)" data-c-card>
                <button
                    aria-expanded="false"
                    data-c-accordion-trigger
                    tabindex="0"
                    type="button">
                    <div data-c-padding="top(normal) right bottom(normal) left(normal)">
                        <p data-c-font-weight="bold" data-c-font-size="h3">
                            Employees Under Consideration (4)
                        </p>
                        <p data-c-margin="top(quarter)" data-c-colour="gray">
                            Employees in this category have volunteered to be placed in a team with a critical needs shortage. Employees in this category are: Pending initial application review (<i class="fas fa-exclamation-circle" data-c-color="c1" data-c-font-size="small"></i>), indicating that a submission has been received, but it has not yet been assessed by a member of the review team; Ready for reference checks and home-department approval (<i class="fas fa-check-circle" data-c-color="go" data-c-font-size="small"></i>), indicating that the employee is heading to the Ready to Allocate category if references and approval are in order; and Further Assessment Required (<i class="fas fa-question-circle" data-c-color="slow" data-c-font-size="small"></i>), indicating that the review team is unsure of their qualifications for this role and is undertaking further assessment.
                        </p>
                    </div>
                    <span data-c-visibility="invisible">
                        Click to view...
                    </span>
                    <i
                        aria-hidden="true"
                        class="fas fa-plus"
                        data-c-accordion-add
                        data-c-colour="black"></i>
                    <i
                        aria-hidden="true"
                        class="fas fa-minus"
                        data-c-accordion-remove
                        data-c-colour="black"></i>
                </button>
                <div
                    aria-hidden="true"
                    data-c-accordion-content
                    data-c-padding="right(normal) left(normal)">
                    <div data-c-padding="bottom(normal)">
                        {# Exclamation Mark #}
                        <div class="applicant">
                            <form data-c-grid="gutter(all, 1) middle">
                                <div data-c-grid-item="base(1of4)">
                                    <div>
                                        <i class="fas fa-exclamation-circle" data-c-color="c1"></i>
                                        <div>
                                            <p data-c-font-weight="bold" data-c-font-size="h4">Frankie Lambda</p>
                                            <p data-c-margin="bottom(.5)"><a href="" title="">frankie.lambda@canada.ca</a></p>
                                            <p data-c-font-size="small">
                                                <a href="" title="" data-c-margin="right(.5)">View Application</a>
                                                <a href="" title="">View Profile</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div data-c-input="select" data-c-grid-item="base(1of4)">
                                    <label for="SEL2">Review Status</label>
                                    <span>Required</span>
                                    <div>
                                        <i class="fas fa-caret-down"></i>
                                        <select id="SEL2">
                                            <option disabled selected>Select a status...</option>
                                            <option>Aquaman</option>
                                            <option>Atom</option>
                                            <option>Booster Gold</option>
                                            <option>The Flash</option>
                                            <option>Green Lantern</option>
                                            <option>Hawkgirl</option>
                                            <option>Martian Manhunter</option>
                                            <option>Zatanna</option>
                                        </select>
                                    </div>
                                    <span>This input has an error.</span>
                                </div>
                                <div data-c-input="select" data-c-grid-item="base(1of4)">
                                    <label for="SEL2">Department Allocation</label>
                                    <span>Required</span>
                                    <div>
                                        <i class="fas fa-caret-down"></i>
                                        <select id="SEL2">
                                            <option disabled selected>Select a department...</option>
                                            <option>Aquaman</option>
                                            <option>Atom</option>
                                            <option>Booster Gold</option>
                                            <option>The Flash</option>
                                            <option>Green Lantern</option>
                                            <option>Hawkgirl</option>
                                            <option>Martian Manhunter</option>
                                            <option>Zatanna</option>
                                        </select>
                                    </div>
                                    <span>This input has an error.</span>
                                </div>
                                <div data-c-grid-item="base(1of4)" data-c-align="base(right)">
                                    <button data-c-button="outline(c1)" type="button" data-c-radius="rounded">
                                        <i class="fas fa-plus"></i>
                                        <span>Add/Edit Notes</span>
                                    </button>
                                    <button data-c-button="solid(c1)" type="button" data-c-radius="rounded">
                                        <span>Save Changes</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                        {# Question Mark #}
                        <div class="applicant">
                            <form data-c-grid="gutter(all, 1) middle">
                                <div data-c-grid-item="base(1of4)">
                                    <div>
                                        <i class="fas fa-question-circle" data-c-color="slow"></i>
                                        <div>
                                            <p data-c-font-weight="bold" data-c-font-size="h4">Mervin Greenfelder</p>
                                            <p data-c-margin="bottom(.5)"><a href="" title="">mervin.greenfelder@canada.ca</a></p>
                                            <p data-c-font-size="small">
                                                <a href="" title="" data-c-margin="right(.5)">View Application</a>
                                                <a href="" title="">View Profile</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div data-c-input="select" data-c-grid-item="base(1of4)">
                                    <label for="SEL2">Review Status</label>
                                    <span>Required</span>
                                    <div>
                                        <i class="fas fa-caret-down"></i>
                                        <select id="SEL2">
                                            <option disabled>Select a status...</option>
                                            <option selected>Further Assessment Required</option>
                                            <option>Atom</option>
                                            <option>Booster Gold</option>
                                            <option>The Flash</option>
                                            <option>Green Lantern</option>
                                            <option>Hawkgirl</option>
                                            <option>Martian Manhunter</option>
                                            <option>Zatanna</option>
                                        </select>
                                    </div>
                                    <span>This input has an error.</span>
                                </div>
                                <div data-c-input="select" data-c-grid-item="base(1of4)">
                                    <label for="SEL2">Department Allocation</label>
                                    <span>Required</span>
                                    <div>
                                        <i class="fas fa-caret-down"></i>
                                        <select id="SEL2">
                                            <option disabled selected>Select a department...</option>
                                            <option>Aquaman</option>
                                            <option>Atom</option>
                                            <option>Booster Gold</option>
                                            <option>The Flash</option>
                                            <option>Green Lantern</option>
                                            <option>Hawkgirl</option>
                                            <option>Martian Manhunter</option>
                                            <option>Zatanna</option>
                                        </select>
                                    </div>
                                    <span>This input has an error.</span>
                                </div>
                                <div data-c-grid-item="base(1of4)" data-c-align="base(right)">
                                    <button data-c-button="outline(c1)" type="button" data-c-radius="rounded">
                                        <i class="fas fa-plus"></i>
                                        <span>Add/Edit Notes</span>
                                    </button>
                                    <button data-c-button="solid(c1)" type="button" data-c-radius="rounded">
                                        <span>Save Changes</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                        {# Checkmark #}
                        <div class="applicant">
                            <form data-c-grid="gutter(all, 1) middle">
                                <div data-c-grid-item="base(1of4)">
                                    <div>
                                        <i class="fas fa-check-circle" data-c-color="go"></i>
                                        <div>
                                            <p data-c-font-weight="bold" data-c-font-size="h4">Ledner Rudy</p>
                                            <p data-c-margin="bottom(.5)"><a href="" title="">ledner.rudy@canada.ca</a></p>
                                            <p data-c-font-size="small">
                                                <a href="" title="" data-c-margin="right(.5)">View Application</a>
                                                <a href="" title="">View Profile</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div data-c-input="select" data-c-grid-item="base(1of4)">
                                    <label for="SEL2">Review Status</label>
                                    <span>Required</span>
                                    <div>
                                        <i class="fas fa-caret-down"></i>
                                        <select id="SEL2">
                                            <option disabled>Select a status...</option>
                                            <option selected>Ready for Reference Check</option>
                                            <option>Atom</option>
                                            <option>Booster Gold</option>
                                            <option>The Flash</option>
                                            <option>Green Lantern</option>
                                            <option>Hawkgirl</option>
                                            <option>Martian Manhunter</option>
                                            <option>Zatanna</option>
                                        </select>
                                    </div>
                                    <span>This input has an error.</span>
                                </div>
                                <div data-c-input="select" data-c-grid-item="base(1of4)">
                                    <label for="SEL2">Department Allocation</label>
                                    <span>Required</span>
                                    <div>
                                        <i class="fas fa-caret-down"></i>
                                        <select id="SEL2">
                                            <option selected disabled>Select a department...</option>
                                            <option>Health Canada</option>
                                            <option>Atom</option>
                                            <option>Booster Gold</option>
                                            <option>The Flash</option>
                                            <option>Green Lantern</option>
                                            <option>Hawkgirl</option>
                                            <option>Martian Manhunter</option>
                                            <option>Zatanna</option>
                                        </select>
                                    </div>
                                    <span>This input has an error.</span>
                                </div>
                                <div data-c-grid-item="base(1of4)" data-c-align="base(right)">
                                    <button data-c-button="outline(c1)" type="button" data-c-radius="rounded">
                                        <i class="fas fa-plus"></i>
                                        <span>Add/Edit Notes</span>
                                    </button>
                                    <button data-c-button="solid(c1)" type="button" data-c-radius="rounded">
                                        <span>Save Changes</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                        {# Checkmark #}
                        <div class="applicant">
                            <form data-c-grid="gutter(all, 1) middle">
                                <div data-c-grid-item="base(1of4)">
                                    <div>
                                        <i class="fas fa-check-circle" data-c-color="go"></i>
                                        <div>
                                            <p data-c-font-weight="bold" data-c-font-size="h4">Alison Rath</p>
                                            <p data-c-margin="bottom(.5)"><a href="" title="">alison.rath@canada.ca</a></p>
                                            <p data-c-font-size="small">
                                                <a href="" title="" data-c-margin="right(.5)">View Application</a>
                                                <a href="" title="">View Profile</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div data-c-input="select" data-c-grid-item="base(1of4)">
                                    <label for="SEL2">Review Status</label>
                                    <span>Required</span>
                                    <div>
                                        <i class="fas fa-caret-down"></i>
                                        <select id="SEL2">
                                            <option disabled>Select a status...</option>
                                            <option selected>Ready for Reference Check</option>
                                            <option>Atom</option>
                                            <option>Booster Gold</option>
                                            <option>The Flash</option>
                                            <option>Green Lantern</option>
                                            <option>Hawkgirl</option>
                                            <option>Martian Manhunter</option>
                                            <option>Zatanna</option>
                                        </select>
                                    </div>
                                    <span>This input has an error.</span>
                                </div>
                                <div data-c-input="select" data-c-grid-item="base(1of4)">
                                    <label for="SEL2">Department Allocation</label>
                                    <span>Required</span>
                                    <div>
                                        <i class="fas fa-caret-down"></i>
                                        <select id="SEL2">
                                            <option selected disabled>Select a department...</option>
                                            <option>Health Canada</option>
                                            <option>Atom</option>
                                            <option>Booster Gold</option>
                                            <option>The Flash</option>
                                            <option>Green Lantern</option>
                                            <option>Hawkgirl</option>
                                            <option>Martian Manhunter</option>
                                            <option>Zatanna</option>
                                        </select>
                                    </div>
                                    <span>This input has an error.</span>
                                </div>
                                <div data-c-grid-item="base(1of4)" data-c-align="base(right)">
                                    <button data-c-button="outline(c1)" type="button" data-c-radius="rounded">
                                        <i class="fas fa-plus"></i>
                                        <span>Add/Edit Notes</span>
                                    </button>
                                    <button data-c-button="solid(c1)" type="button" data-c-radius="rounded">
                                        <span>Save Changes</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {# Ready to Allocate #}
            <div data-c-accordion data-c-background="white(100)" data-c-margin="top(.5)" data-c-card>
                <button
                    aria-expanded="false"
                    data-c-accordion-trigger
                    tabindex="0"
                    type="button">
                    <div data-c-padding="top(normal) right bottom(normal) left(normal)">
                        <p data-c-font-weight="bold" data-c-font-size="h3">
                            Ready to Allocate (11)
                        </p>
                        <p data-c-margin="top(quarter)" data-c-colour="gray">
                            Employees in this category have the necessary skills for this stream of work, have successfully completed reference checks and have been given preliminary authorization to participate by a member of their management team. They are currently working in their substantive position, awaiting a request from a department with a critical talent gap.
                        </p>
                    </div>
                    <span data-c-visibility="invisible">
                        Click to view...
                    </span>
                    <i
                        aria-hidden="true"
                        class="fas fa-plus"
                        data-c-accordion-add
                        data-c-colour="black"></i>
                    <i
                        aria-hidden="true"
                        class="fas fa-minus"
                        data-c-accordion-remove
                        data-c-colour="black"></i>
                </button>
                <div
                    aria-hidden="true"
                    data-c-accordion-content
                    data-c-padding="right(normal) left(normal)">
                    <div data-c-padding="bottom(normal)">
                        <div data-c-border="all(thin, solid, gray)" data-c-background="gray(10)" data-c-padding="all(1)" data-c-radius="rounded" data-c-align="base(center)">
                            <p data-c-color="gray">There are currently no applicants in this bucket.</p>
                        </div>
                    </div>
                </div>
            </div>
            {# Allocated #}
            <div data-c-accordion data-c-background="white(100)" data-c-margin="top(.5)" data-c-card>
                <button
                    aria-expanded="false"
                    data-c-accordion-trigger
                    tabindex="0"
                    type="button">
                    <div data-c-padding="top(normal) right bottom(normal) left(normal)">
                        <p data-c-font-weight="bold" data-c-font-size="h3">
                            Allocated (5)
                        </p>
                        <p data-c-margin="top(quarter)" data-c-colour="gray">
                            Employees in this category have been allocated to a department. Their name has been removed from all other GC Reserve processes to which they have applied (and will appear in those processes under "Not Currently Available".) Following the completion of an allocation, employees may elect to be placed back in the Ready to Allocate category, should they be needed again.
                        </p>
                    </div>
                    <span data-c-visibility="invisible">
                        Click to view...
                    </span>
                    <i
                        aria-hidden="true"
                        class="fas fa-plus"
                        data-c-accordion-add
                        data-c-colour="black"></i>
                    <i
                        aria-hidden="true"
                        class="fas fa-minus"
                        data-c-accordion-remove
                        data-c-colour="black"></i>
                </button>
                <div
                    aria-hidden="true"
                    data-c-accordion-content
                    data-c-padding="right(normal) left(normal)">
                    <div data-c-padding="bottom(normal)">
                        {# Checkmark #}
                        <div class="applicant">
                            <form data-c-grid="gutter(all, 1) middle">
                                <div data-c-grid-item="base(1of4)">
                                    <div>
                                        <i class="fas fa-check-circle" data-c-color="go"></i>
                                        <div>
                                            <p data-c-font-weight="bold" data-c-font-size="h4">Joanie Labrosse</p>
                                            <p data-c-margin="bottom(.5)"><a href="" title="">joanie.labrosse@canada.ca</a></p>
                                            <p data-c-font-size="small">
                                                <a href="" title="" data-c-margin="right(.5)">View Application</a>
                                                <a href="" title="">View Profile</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div data-c-input="select" data-c-grid-item="base(1of4)">
                                    <label for="SEL2">Review Status</label>
                                    <span>Required</span>
                                    <div>
                                        <i class="fas fa-caret-down"></i>
                                        <select id="SEL2">
                                            <option disabled>Select a status...</option>
                                            <option selected>Allocated</option>
                                            <option>Atom</option>
                                            <option>Booster Gold</option>
                                            <option>The Flash</option>
                                            <option>Green Lantern</option>
                                            <option>Hawkgirl</option>
                                            <option>Martian Manhunter</option>
                                            <option>Zatanna</option>
                                        </select>
                                    </div>
                                    <span>This input has an error.</span>
                                </div>
                                <div data-c-input="select" data-c-grid-item="base(1of4)">
                                    <label for="SEL2">Department Allocation</label>
                                    <span>Required</span>
                                    <div>
                                        <i class="fas fa-caret-down"></i>
                                        <select id="SEL2">
                                            <option disabled>Select a department...</option>
                                            <option selected>Health Canada</option>
                                            <option>Atom</option>
                                            <option>Booster Gold</option>
                                            <option>The Flash</option>
                                            <option>Green Lantern</option>
                                            <option>Hawkgirl</option>
                                            <option>Martian Manhunter</option>
                                            <option>Zatanna</option>
                                        </select>
                                    </div>
                                    <span>This input has an error.</span>
                                </div>
                                <div data-c-grid-item="base(1of4)" data-c-align="base(right)">
                                    <button data-c-button="outline(c1)" type="button" data-c-radius="rounded">
                                        <i class="fas fa-plus"></i>
                                        <span>Add/Edit Notes</span>
                                    </button>
                                    <button data-c-button="solid(c1)" type="button" data-c-radius="rounded">
                                        <span>Save Changes</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                        {# Checkmark #}
                        <div class="applicant">
                            <form data-c-grid="gutter(all, 1) middle">
                                <div data-c-grid-item="base(1of4)">
                                    <div>
                                        <i class="fas fa-check-circle" data-c-color="go"></i>
                                        <div>
                                            <p data-c-font-weight="bold" data-c-font-size="h4">Drake Friesen</p>
                                            <p data-c-margin="bottom(.5)"><a href="" title="">drake.friesen@canada.ca</a></p>
                                            <p data-c-font-size="small">
                                                <a href="" title="" data-c-margin="right(.5)">View Application</a>
                                                <a href="" title="">View Profile</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div data-c-input="select" data-c-grid-item="base(1of4)">
                                    <label for="SEL2">Review Status</label>
                                    <span>Required</span>
                                    <div>
                                        <i class="fas fa-caret-down"></i>
                                        <select id="SEL2">
                                            <option disabled>Select a status...</option>
                                            <option selected>Allocated</option>
                                            <option>Atom</option>
                                            <option>Booster Gold</option>
                                            <option>The Flash</option>
                                            <option>Green Lantern</option>
                                            <option>Hawkgirl</option>
                                            <option>Martian Manhunter</option>
                                            <option>Zatanna</option>
                                        </select>
                                    </div>
                                    <span>This input has an error.</span>
                                </div>
                                <div data-c-input="select" data-c-grid-item="base(1of4)">
                                    <label for="SEL2">Department Allocation</label>
                                    <span>Required</span>
                                    <div>
                                        <i class="fas fa-caret-down"></i>
                                        <select id="SEL2">
                                            <option disabled>Select a department...</option>
                                            <option selected>Treasury Board of Canada Secretariat</option>
                                            <option>Atom</option>
                                            <option>Booster Gold</option>
                                            <option>The Flash</option>
                                            <option>Green Lantern</option>
                                            <option>Hawkgirl</option>
                                            <option>Martian Manhunter</option>
                                            <option>Zatanna</option>
                                        </select>
                                    </div>
                                    <span>This input has an error.</span>
                                </div>
                                <div data-c-grid-item="base(1of4)" data-c-align="base(right)">
                                    <button data-c-button="outline(c1)" type="button" data-c-radius="rounded">
                                        <i class="fas fa-plus"></i>
                                        <span>Add/Edit Notes</span>
                                    </button>
                                    <button data-c-button="solid(c1)" type="button" data-c-radius="rounded">
                                        <span>Save Changes</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                        {# Checkmark #}
                        <div class="applicant">
                            <form data-c-grid="gutter(all, 1) middle">
                                <div data-c-grid-item="base(1of4)">
                                    <div>
                                        <i class="fas fa-check-circle" data-c-color="go"></i>
                                        <div>
                                            <p data-c-font-weight="bold" data-c-font-size="h4">Telly Little</p>
                                            <p data-c-margin="bottom(.5)"><a href="" title="">telly.little@canada.ca</a></p>
                                            <p data-c-font-size="small">
                                                <a href="" title="" data-c-margin="right(.5)">View Application</a>
                                                <a href="" title="">View Profile</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div data-c-input="select" data-c-grid-item="base(1of4)">
                                    <label for="SEL2">Review Status</label>
                                    <span>Required</span>
                                    <div>
                                        <i class="fas fa-caret-down"></i>
                                        <select id="SEL2">
                                            <option disabled>Select a status...</option>
                                            <option selected>Allocated</option>
                                            <option>Atom</option>
                                            <option>Booster Gold</option>
                                            <option>The Flash</option>
                                            <option>Green Lantern</option>
                                            <option>Hawkgirl</option>
                                            <option>Martian Manhunter</option>
                                            <option>Zatanna</option>
                                        </select>
                                    </div>
                                    <span>This input has an error.</span>
                                </div>
                                <div data-c-input="select" data-c-grid-item="base(1of4)">
                                    <label for="SEL2">Department Allocation</label>
                                    <span>Required</span>
                                    <div>
                                        <i class="fas fa-caret-down"></i>
                                        <select id="SEL2">
                                            <option disabled>Select a department...</option>
                                            <option selected>Department of Defense</option>
                                            <option>Atom</option>
                                            <option>Booster Gold</option>
                                            <option>The Flash</option>
                                            <option>Green Lantern</option>
                                            <option>Hawkgirl</option>
                                            <option>Martian Manhunter</option>
                                            <option>Zatanna</option>
                                        </select>
                                    </div>
                                    <span>This input has an error.</span>
                                </div>
                                <div data-c-grid-item="base(1of4)" data-c-align="base(right)">
                                    <button data-c-button="outline(c1)" type="button" data-c-radius="rounded">
                                        <i class="fas fa-plus"></i>
                                        <span>Add/Edit Notes</span>
                                    </button>
                                    <button data-c-button="solid(c1)" type="button" data-c-radius="rounded">
                                        <span>Save Changes</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                        {# Checkmark #}
                        <div class="applicant">
                            <form data-c-grid="gutter(all, 1) middle">
                                <div data-c-grid-item="base(1of4)">
                                    <div>
                                        <i class="fas fa-check-circle" data-c-color="go"></i>
                                        <div>
                                            <p data-c-font-weight="bold" data-c-font-size="h4">Clark Smitham</p>
                                            <p data-c-margin="bottom(.5)"><a href="" title="">clark.smitham@canada.ca</a></p>
                                            <p data-c-font-size="small">
                                                <a href="" title="" data-c-margin="right(.5)">View Application</a>
                                                <a href="" title="">View Profile</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div data-c-input="select" data-c-grid-item="base(1of4)">
                                    <label for="SEL2">Review Status</label>
                                    <span>Required</span>
                                    <div>
                                        <i class="fas fa-caret-down"></i>
                                        <select id="SEL2">
                                            <option disabled>Select a status...</option>
                                            <option selected>Allocated</option>
                                            <option>Atom</option>
                                            <option>Booster Gold</option>
                                            <option>The Flash</option>
                                            <option>Green Lantern</option>
                                            <option>Hawkgirl</option>
                                            <option>Martian Manhunter</option>
                                            <option>Zatanna</option>
                                        </select>
                                    </div>
                                    <span>This input has an error.</span>
                                </div>
                                <div data-c-input="select" data-c-grid-item="base(1of4)">
                                    <label for="SEL2">Department Allocation</label>
                                    <span>Required</span>
                                    <div>
                                        <i class="fas fa-caret-down"></i>
                                        <select id="SEL2">
                                            <option disabled>Select a department...</option>
                                            <option selected>Health Canada</option>
                                            <option>Atom</option>
                                            <option>Booster Gold</option>
                                            <option>The Flash</option>
                                            <option>Green Lantern</option>
                                            <option>Hawkgirl</option>
                                            <option>Martian Manhunter</option>
                                            <option>Zatanna</option>
                                        </select>
                                    </div>
                                    <span>This input has an error.</span>
                                </div>
                                <div data-c-grid-item="base(1of4)" data-c-align="base(right)">
                                    <button data-c-button="outline(c1)" type="button" data-c-radius="rounded">
                                        <i class="fas fa-plus"></i>
                                        <span>Add/Edit Notes</span>
                                    </button>
                                    <button data-c-button="solid(c1)" type="button" data-c-radius="rounded">
                                        <span>Save Changes</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                        {# Checkmark #}
                        <div class="applicant">
                            <form data-c-grid="gutter(all, 1) middle">
                                <div data-c-grid-item="base(1of4)">
                                    <div>
                                        <i class="fas fa-check-circle" data-c-color="go"></i>
                                        <div>
                                            <p data-c-font-weight="bold" data-c-font-size="h4">Luella Koss</p>
                                            <p data-c-margin="bottom(.5)"><a href="" title="">luella.koss@canada.ca</a></p>
                                            <p data-c-font-size="small">
                                                <a href="" title="" data-c-margin="right(.5)">View Application</a>
                                                <a href="" title="">View Profile</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div data-c-input="select" data-c-grid-item="base(1of4)">
                                    <label for="SEL2">Review Status</label>
                                    <span>Required</span>
                                    <div>
                                        <i class="fas fa-caret-down"></i>
                                        <select id="SEL2">
                                            <option disabled>Select a status...</option>
                                            <option selected>Allocated</option>
                                            <option>Atom</option>
                                            <option>Booster Gold</option>
                                            <option>The Flash</option>
                                            <option>Green Lantern</option>
                                            <option>Hawkgirl</option>
                                            <option>Martian Manhunter</option>
                                            <option>Zatanna</option>
                                        </select>
                                    </div>
                                    <span>This input has an error.</span>
                                </div>
                                <div data-c-input="select" data-c-grid-item="base(1of4)">
                                    <label for="SEL2">Department Allocation</label>
                                    <span>Required</span>
                                    <div>
                                        <i class="fas fa-caret-down"></i>
                                        <select id="SEL2">
                                            <option disabled>Select a department...</option>
                                            <option selected>Natural Resources Canada</option>
                                            <option>Atom</option>
                                            <option>Booster Gold</option>
                                            <option>The Flash</option>
                                            <option>Green Lantern</option>
                                            <option>Hawkgirl</option>
                                            <option>Martian Manhunter</option>
                                            <option>Zatanna</option>
                                        </select>
                                    </div>
                                    <span>This input has an error.</span>
                                </div>
                                <div data-c-grid-item="base(1of4)" data-c-align="base(right)">
                                    <button data-c-button="outline(c1)" type="button" data-c-radius="rounded">
                                        <i class="fas fa-plus"></i>
                                        <span>Add/Edit Notes</span>
                                    </button>
                                    <button data-c-button="solid(c1)" type="button" data-c-radius="rounded">
                                        <span>Save Changes</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {# Currently Unavailable #}
            <div data-c-accordion data-c-background="white(100)" data-c-margin="top(.5)" data-c-card>
                <button
                    aria-expanded="false"
                    data-c-accordion-trigger
                    tabindex="0"
                    type="button">
                    <div data-c-padding="top(normal) right bottom(normal) left(normal)">
                        <p data-c-font-weight="bold" data-c-font-size="h3">
                            Currently Unavailable (0)
                        </p>
                        <p data-c-margin="top(quarter)" data-c-colour="gray">
                            Employees in this stream have been allocated to a department in need or have temporarily removed their names from consideration for a specific period of time (e.g. illness, family care needs), and wish to be considered for allocation at a later date. Employees in this category have been qualified for this talent stream, and will be placed back into the Ready to Allocate when they become available again. (If an employee permanently withdraws their name, their submission will be removed from the GC Talent Reserve.)
                        </p>
                    </div>
                    <span data-c-visibility="invisible">
                        Click to view...
                    </span>
                    <i
                        aria-hidden="true"
                        class="fas fa-plus"
                        data-c-accordion-add
                        data-c-colour="black"></i>
                    <i
                        aria-hidden="true"
                        class="fas fa-minus"
                        data-c-accordion-remove
                        data-c-colour="black"></i>
                </button>
                <div
                    aria-hidden="true"
                    data-c-accordion-content
                    data-c-padding="right(normal) left(normal)">
                    <div data-c-padding="bottom(normal)">
                        <div data-c-border="all(thin, solid, gray)" data-c-background="gray(10)" data-c-padding="all(1)" data-c-radius="rounded" data-c-align="base(center)">
                            <p data-c-color="gray">There are currently no applicants in this bucket.</p>
                        </div>
                    </div>
                </div>
            </div>
            {# Does Not Qualify #}
            <div data-c-accordion data-c-background="white(100)" data-c-margin="top(.5)" data-c-card>
                <button
                    aria-expanded="false"
                    data-c-accordion-trigger
                    tabindex="0"
                    type="button">
                    <div data-c-padding="top(normal) right bottom(normal) left(normal)">
                        <p data-c-font-weight="bold" data-c-font-size="h3">
                            Does Not Qualify (4)
                        </p>
                        <p data-c-margin="top(quarter)" data-c-colour="gray">
                            Employees in this category have volunteered their names, but a review of their application and/or reference checks has led the review team to conclude that the employee would not be an asset to a department needing to fill a critical talent gap in this field of work. This determination is, in no way, reflected in the employee's performance status with their home department, and does not affect their evaluation for other GC Reserve talent streams to which they may have applied.
                        </p>
                    </div>
                    <span data-c-visibility="invisible">
                        Click to view...
                    </span>
                    <i
                        aria-hidden="true"
                        class="fas fa-plus"
                        data-c-accordion-add
                        data-c-colour="black"></i>
                    <i
                        aria-hidden="true"
                        class="fas fa-minus"
                        data-c-accordion-remove
                        data-c-colour="black"></i>
                </button>
                <div
                    aria-hidden="true"
                    data-c-accordion-content
                    data-c-padding="right(normal) left(normal)">
                    <div data-c-padding="bottom(normal)">
                        <!-- Content Goes Here -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
