<div data-c-border="tb(thin, solid, gray)" data-c-padding="tb(3)">
    <div data-c-container="large">
        <div data-c-accordion-group class="response-accordion-group">
            <div id="response-screening-wrapper" data-job-id="{{ job_id }}" data-portal="{{ portal }}" ></div>
        </div>
    </div>
</div>

{% block scripts %}
    <script async defer src="{{ asset(mix('/js/ResponseScreeningPage.js')) }}"></script>
{% endblock %}
