<div data-c-border="tb(thin, solid, gray)" data-c-padding="tb(3)">
    <div data-c-container="large">
        <div data-c-align="base(center) tl(right)" data-c-padding="bottom(1)">
            <p><i class="fas fa-stopwatch" data-c-margin="right(.5)"></i>16 Days Since Close</p>
        </div>
        {# Comments #}
        {# Buckets #}
        <div data-c-accordion-group class="response-accordion-group">
            {# In Process #}
            <div data-c-accordion data-c-background="white(100)" data-c-margin="top(.5)" data-c-card>
                <button
                    aria-expanded="false"
                    data-c-accordion-trigger
                    tabindex="0"
                    type="button">
                    <div data-c-padding="top(normal) right bottom(normal) left(normal)">
                        <p data-c-font-weight="bold" data-c-font-size="h3">
                            Applicants in Process (2)
                        </p>
                        <p data-c-margin="top(quarter)" data-c-colour="gray">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam, delectus ipsa nulla quia eos beatae architecto repudiandae eligendi deleniti facilis similique, sequi sunt laboriosam in? Debitis numquam quos illum laboriosam!
                        </p>
                    </div>
                    <span data-c-visibility="invisible">
                        Click to view...
                    </span>
                    <i
                        aria-hidden="true"
                        class="fas fa-plus"
                        data-c-accordion-add
                        data-c-colour="black"></i>
                    <i
                        aria-hidden="true"
                        class="fas fa-minus"
                        data-c-accordion-remove
                        data-c-colour="black"></i>
                </button>
                <div
                    aria-hidden="true"
                    data-c-accordion-content
                    data-c-padding="right(normal) left(normal)">
                    <div data-c-padding="bottom(normal)">
                        {# Exclamation Mark #}
                        <div class="applicant">
                            <form data-c-grid="gutter(all, 1) middle">
                                <div data-c-grid-item="base(1of4)">
                                    <div>
                                        <i class="fas fa-exclamation-circle" data-c-color="c1"></i>
                                        <div>
                                            <p data-c-font-weight="bold" data-c-font-size="h4">Frankie Lambda</p>
                                            <p data-c-margin="bottom(.5)"><a href="" title="">frankie.lambda@canada.ca</a></p>
                                            <p data-c-font-size="small">
                                                <a href="" title="" data-c-margin="right(.5)">View Application</a>
                                                <a href="" title="">View Profile</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div data-c-input="select" data-c-grid-item="base(1of4)">
                                    <label for="SEL2">Review Status</label>
                                    <span>Required</span>
                                    <div>
                                        <i class="fas fa-caret-down"></i>
                                        <select id="SEL2">
                                            <option disabled selected>Select a status...</option>
                                            <option>Aquaman</option>
                                            <option>Atom</option>
                                            <option>Booster Gold</option>
                                            <option>The Flash</option>
                                            <option>Green Lantern</option>
                                            <option>Hawkgirl</option>
                                            <option>Martian Manhunter</option>
                                            <option>Zatanna</option>
                                        </select>
                                    </div>
                                    <span>This input has an error.</span>
                                </div>
                                <div data-c-input="select" data-c-grid-item="base(1of4)">
                                    <label for="SEL2">Department Allocation</label>
                                    <span>Required</span>
                                    <div>
                                        <i class="fas fa-caret-down"></i>
                                        <select id="SEL2">
                                            <option disabled selected>Select a department...</option>
                                            <option>Aquaman</option>
                                            <option>Atom</option>
                                            <option>Booster Gold</option>
                                            <option>The Flash</option>
                                            <option>Green Lantern</option>
                                            <option>Hawkgirl</option>
                                            <option>Martian Manhunter</option>
                                            <option>Zatanna</option>
                                        </select>
                                    </div>
                                    <span>This input has an error.</span>
                                </div>
                                <div data-c-grid-item="base(1of4)" data-c-align="base(right)">
                                    <button data-c-button="outline(c1)" type="button" data-c-radius="rounded">
                                        <i class="fas fa-plus"></i>
                                        <span>Add/Edit Notes</span>
                                    </button>
                                    <button data-c-button="solid(c1)" type="button" data-c-radius="rounded">
                                        <span>Save Changes</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                        {# Question Mark #}
                        <div class="applicant">
                            <form data-c-grid="gutter(all, 1) middle">
                                <div data-c-grid-item="base(1of4)">
                                    <div>
                                        <i class="fas fa-question-circle" data-c-color="slow"></i>
                                        <div>
                                            <p data-c-font-weight="bold" data-c-font-size="h4">Mervin Greenfelder</p>
                                            <p data-c-margin="bottom(.5)"><a href="" title="">mervin.greenfelder@canada.ca</a></p>
                                            <p data-c-font-size="small">
                                                <a href="" title="" data-c-margin="right(.5)">View Application</a>
                                                <a href="" title="">View Profile</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div data-c-input="select" data-c-grid-item="base(1of4)">
                                    <label for="SEL2">Review Status</label>
                                    <span>Required</span>
                                    <div>
                                        <i class="fas fa-caret-down"></i>
                                        <select id="SEL2">
                                            <option disabled>Select a status...</option>
                                            <option selected>Still Thinking</option>
                                            <option>Atom</option>
                                            <option>Booster Gold</option>
                                            <option>The Flash</option>
                                            <option>Green Lantern</option>
                                            <option>Hawkgirl</option>
                                            <option>Martian Manhunter</option>
                                            <option>Zatanna</option>
                                        </select>
                                    </div>
                                    <span>This input has an error.</span>
                                </div>
                                <div data-c-input="select" data-c-grid-item="base(1of4)">
                                    <label for="SEL2">Department Allocation</label>
                                    <span>Required</span>
                                    <div>
                                        <i class="fas fa-caret-down"></i>
                                        <select id="SEL2">
                                            <option disabled selected>Select a department...</option>
                                            <option>Aquaman</option>
                                            <option>Atom</option>
                                            <option>Booster Gold</option>
                                            <option>The Flash</option>
                                            <option>Green Lantern</option>
                                            <option>Hawkgirl</option>
                                            <option>Martian Manhunter</option>
                                            <option>Zatanna</option>
                                        </select>
                                    </div>
                                    <span>This input has an error.</span>
                                </div>
                                <div data-c-grid-item="base(1of4)" data-c-align="base(right)">
                                    <button data-c-button="outline(c1)" type="button" data-c-radius="rounded">
                                        <i class="fas fa-plus"></i>
                                        <span>Add/Edit Notes</span>
                                    </button>
                                    <button data-c-button="solid(c1)" type="button" data-c-radius="rounded">
                                        <span>Save Changes</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {# Ready to Allocate #}
            <div data-c-accordion data-c-background="white(100)" data-c-margin="top(.5)" data-c-card>
                <button
                    aria-expanded="false"
                    data-c-accordion-trigger
                    tabindex="0"
                    type="button">
                    <div data-c-padding="top(normal) right bottom(normal) left(normal)">
                        <p data-c-font-weight="bold" data-c-font-size="h3">
                            Ready to Allocate (11)
                        </p>
                        <p data-c-margin="top(quarter)" data-c-colour="gray">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam, delectus ipsa nulla quia eos beatae architecto repudiandae eligendi deleniti facilis similique, sequi sunt laboriosam in? Debitis numquam quos illum laboriosam!
                        </p>
                    </div>
                    <span data-c-visibility="invisible">
                        Click to view...
                    </span>
                    <i
                        aria-hidden="true"
                        class="fas fa-plus"
                        data-c-accordion-add
                        data-c-colour="black"></i>
                    <i
                        aria-hidden="true"
                        class="fas fa-minus"
                        data-c-accordion-remove
                        data-c-colour="black"></i>
                </button>
                <div
                    aria-hidden="true"
                    data-c-accordion-content
                    data-c-padding="right(normal) left(normal)">
                    <div data-c-padding="bottom(normal)">
                        <div data-c-border="all(thin, solid, gray)" data-c-background="gray(10)" data-c-padding="all(1)" data-c-radius="rounded" data-c-align="base(center)">
                            <p data-c-color="gray">There are currently no applicants in this bucket.</p>
                        </div>
                    </div>
                </div>
            </div>
            {# Allocated #}
            <div data-c-accordion data-c-background="white(100)" data-c-margin="top(.5)" data-c-card>
                <button
                    aria-expanded="false"
                    data-c-accordion-trigger
                    tabindex="0"
                    type="button">
                    <div data-c-padding="top(normal) right bottom(normal) left(normal)">
                        <p data-c-font-weight="bold" data-c-font-size="h3">
                            Allocated (5)
                        </p>
                        <p data-c-margin="top(quarter)" data-c-colour="gray">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam, delectus ipsa nulla quia eos beatae architecto repudiandae eligendi deleniti facilis similique, sequi sunt laboriosam in? Debitis numquam quos illum laboriosam!
                        </p>
                    </div>
                    <span data-c-visibility="invisible">
                        Click to view...
                    </span>
                    <i
                        aria-hidden="true"
                        class="fas fa-plus"
                        data-c-accordion-add
                        data-c-colour="black"></i>
                    <i
                        aria-hidden="true"
                        class="fas fa-minus"
                        data-c-accordion-remove
                        data-c-colour="black"></i>
                </button>
                <div
                    aria-hidden="true"
                    data-c-accordion-content
                    data-c-padding="right(normal) left(normal)">
                    <div data-c-padding="bottom(normal)">
                        {# Checkmark #}
                        <div class="applicant">
                            <form data-c-grid="gutter(all, 1) middle">
                                <div data-c-grid-item="base(1of4)">
                                    <div>
                                        <i class="fas fa-check-circle" data-c-color="go"></i>
                                        <div>
                                            <p data-c-font-weight="bold" data-c-font-size="h4">Joanie Labrosse</p>
                                            <p data-c-margin="bottom(.5)"><a href="" title="">joanie.labrosse@canada.ca</a></p>
                                            <p data-c-font-size="small">
                                                <a href="" title="" data-c-margin="right(.5)">View Application</a>
                                                <a href="" title="">View Profile</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div data-c-input="select" data-c-grid-item="base(1of4)">
                                    <label for="SEL2">Review Status</label>
                                    <span>Required</span>
                                    <div>
                                        <i class="fas fa-caret-down"></i>
                                        <select id="SEL2">
                                            <option disabled>Select a status...</option>
                                            <option selected>Allocated</option>
                                            <option>Atom</option>
                                            <option>Booster Gold</option>
                                            <option>The Flash</option>
                                            <option>Green Lantern</option>
                                            <option>Hawkgirl</option>
                                            <option>Martian Manhunter</option>
                                            <option>Zatanna</option>
                                        </select>
                                    </div>
                                    <span>This input has an error.</span>
                                </div>
                                <div data-c-input="select" data-c-grid-item="base(1of4)">
                                    <label for="SEL2">Department Allocation</label>
                                    <span>Required</span>
                                    <div>
                                        <i class="fas fa-caret-down"></i>
                                        <select id="SEL2">
                                            <option disabled>Select a department...</option>
                                            <option selected>Health Canada</option>
                                            <option>Atom</option>
                                            <option>Booster Gold</option>
                                            <option>The Flash</option>
                                            <option>Green Lantern</option>
                                            <option>Hawkgirl</option>
                                            <option>Martian Manhunter</option>
                                            <option>Zatanna</option>
                                        </select>
                                    </div>
                                    <span>This input has an error.</span>
                                </div>
                                <div data-c-grid-item="base(1of4)" data-c-align="base(right)">
                                    <button data-c-button="outline(c1)" type="button" data-c-radius="rounded">
                                        <i class="fas fa-plus"></i>
                                        <span>Add/Edit Notes</span>
                                    </button>
                                    <button data-c-button="solid(c1)" type="button" data-c-radius="rounded">
                                        <span>Save Changes</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                        {# Checkmark #}
                        <div class="applicant">
                            <form data-c-grid="gutter(all, 1) middle">
                                <div data-c-grid-item="base(1of4)">
                                    <div>
                                        <i class="fas fa-check-circle" data-c-color="go"></i>
                                        <div>
                                            <p data-c-font-weight="bold" data-c-font-size="h4">Drake Friesen</p>
                                            <p data-c-margin="bottom(.5)"><a href="" title="">drake.friesen@canada.ca</a></p>
                                            <p data-c-font-size="small">
                                                <a href="" title="" data-c-margin="right(.5)">View Application</a>
                                                <a href="" title="">View Profile</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div data-c-input="select" data-c-grid-item="base(1of4)">
                                    <label for="SEL2">Review Status</label>
                                    <span>Required</span>
                                    <div>
                                        <i class="fas fa-caret-down"></i>
                                        <select id="SEL2">
                                            <option disabled>Select a status...</option>
                                            <option selected>Allocated</option>
                                            <option>Atom</option>
                                            <option>Booster Gold</option>
                                            <option>The Flash</option>
                                            <option>Green Lantern</option>
                                            <option>Hawkgirl</option>
                                            <option>Martian Manhunter</option>
                                            <option>Zatanna</option>
                                        </select>
                                    </div>
                                    <span>This input has an error.</span>
                                </div>
                                <div data-c-input="select" data-c-grid-item="base(1of4)">
                                    <label for="SEL2">Department Allocation</label>
                                    <span>Required</span>
                                    <div>
                                        <i class="fas fa-caret-down"></i>
                                        <select id="SEL2">
                                            <option disabled>Select a department...</option>
                                            <option selected>Treasury Board of Canada Secretariat</option>
                                            <option>Atom</option>
                                            <option>Booster Gold</option>
                                            <option>The Flash</option>
                                            <option>Green Lantern</option>
                                            <option>Hawkgirl</option>
                                            <option>Martian Manhunter</option>
                                            <option>Zatanna</option>
                                        </select>
                                    </div>
                                    <span>This input has an error.</span>
                                </div>
                                <div data-c-grid-item="base(1of4)" data-c-align="base(right)">
                                    <button data-c-button="outline(c1)" type="button" data-c-radius="rounded">
                                        <i class="fas fa-plus"></i>
                                        <span>Add/Edit Notes</span>
                                    </button>
                                    <button data-c-button="solid(c1)" type="button" data-c-radius="rounded">
                                        <span>Save Changes</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                        {# Checkmark #}
                        <div class="applicant">
                            <form data-c-grid="gutter(all, 1) middle">
                                <div data-c-grid-item="base(1of4)">
                                    <div>
                                        <i class="fas fa-check-circle" data-c-color="go"></i>
                                        <div>
                                            <p data-c-font-weight="bold" data-c-font-size="h4">Telly Little</p>
                                            <p data-c-margin="bottom(.5)"><a href="" title="">telly.little@canada.ca</a></p>
                                            <p data-c-font-size="small">
                                                <a href="" title="" data-c-margin="right(.5)">View Application</a>
                                                <a href="" title="">View Profile</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div data-c-input="select" data-c-grid-item="base(1of4)">
                                    <label for="SEL2">Review Status</label>
                                    <span>Required</span>
                                    <div>
                                        <i class="fas fa-caret-down"></i>
                                        <select id="SEL2">
                                            <option disabled>Select a status...</option>
                                            <option selected>Allocated</option>
                                            <option>Atom</option>
                                            <option>Booster Gold</option>
                                            <option>The Flash</option>
                                            <option>Green Lantern</option>
                                            <option>Hawkgirl</option>
                                            <option>Martian Manhunter</option>
                                            <option>Zatanna</option>
                                        </select>
                                    </div>
                                    <span>This input has an error.</span>
                                </div>
                                <div data-c-input="select" data-c-grid-item="base(1of4)">
                                    <label for="SEL2">Department Allocation</label>
                                    <span>Required</span>
                                    <div>
                                        <i class="fas fa-caret-down"></i>
                                        <select id="SEL2">
                                            <option disabled>Select a department...</option>
                                            <option selected>Department of Defense</option>
                                            <option>Atom</option>
                                            <option>Booster Gold</option>
                                            <option>The Flash</option>
                                            <option>Green Lantern</option>
                                            <option>Hawkgirl</option>
                                            <option>Martian Manhunter</option>
                                            <option>Zatanna</option>
                                        </select>
                                    </div>
                                    <span>This input has an error.</span>
                                </div>
                                <div data-c-grid-item="base(1of4)" data-c-align="base(right)">
                                    <button data-c-button="outline(c1)" type="button" data-c-radius="rounded">
                                        <i class="fas fa-plus"></i>
                                        <span>Add/Edit Notes</span>
                                    </button>
                                    <button data-c-button="solid(c1)" type="button" data-c-radius="rounded">
                                        <span>Save Changes</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                        {# Checkmark #}
                        <div class="applicant">
                            <form data-c-grid="gutter(all, 1) middle">
                                <div data-c-grid-item="base(1of4)">
                                    <div>
                                        <i class="fas fa-check-circle" data-c-color="go"></i>
                                        <div>
                                            <p data-c-font-weight="bold" data-c-font-size="h4">Clark Smitham</p>
                                            <p data-c-margin="bottom(.5)"><a href="" title="">clark.smitham@canada.ca</a></p>
                                            <p data-c-font-size="small">
                                                <a href="" title="" data-c-margin="right(.5)">View Application</a>
                                                <a href="" title="">View Profile</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div data-c-input="select" data-c-grid-item="base(1of4)">
                                    <label for="SEL2">Review Status</label>
                                    <span>Required</span>
                                    <div>
                                        <i class="fas fa-caret-down"></i>
                                        <select id="SEL2">
                                            <option disabled>Select a status...</option>
                                            <option selected>Allocated</option>
                                            <option>Atom</option>
                                            <option>Booster Gold</option>
                                            <option>The Flash</option>
                                            <option>Green Lantern</option>
                                            <option>Hawkgirl</option>
                                            <option>Martian Manhunter</option>
                                            <option>Zatanna</option>
                                        </select>
                                    </div>
                                    <span>This input has an error.</span>
                                </div>
                                <div data-c-input="select" data-c-grid-item="base(1of4)">
                                    <label for="SEL2">Department Allocation</label>
                                    <span>Required</span>
                                    <div>
                                        <i class="fas fa-caret-down"></i>
                                        <select id="SEL2">
                                            <option disabled>Select a department...</option>
                                            <option selected>Health Canada</option>
                                            <option>Atom</option>
                                            <option>Booster Gold</option>
                                            <option>The Flash</option>
                                            <option>Green Lantern</option>
                                            <option>Hawkgirl</option>
                                            <option>Martian Manhunter</option>
                                            <option>Zatanna</option>
                                        </select>
                                    </div>
                                    <span>This input has an error.</span>
                                </div>
                                <div data-c-grid-item="base(1of4)" data-c-align="base(right)">
                                    <button data-c-button="outline(c1)" type="button" data-c-radius="rounded">
                                        <i class="fas fa-plus"></i>
                                        <span>Add/Edit Notes</span>
                                    </button>
                                    <button data-c-button="solid(c1)" type="button" data-c-radius="rounded">
                                        <span>Save Changes</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                        {# Checkmark #}
                        <div class="applicant">
                            <form data-c-grid="gutter(all, 1) middle">
                                <div data-c-grid-item="base(1of4)">
                                    <div>
                                        <i class="fas fa-check-circle" data-c-color="go"></i>
                                        <div>
                                            <p data-c-font-weight="bold" data-c-font-size="h4">Luella Koss</p>
                                            <p data-c-margin="bottom(.5)"><a href="" title="">luella.koss@canada.ca</a></p>
                                            <p data-c-font-size="small">
                                                <a href="" title="" data-c-margin="right(.5)">View Application</a>
                                                <a href="" title="">View Profile</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div data-c-input="select" data-c-grid-item="base(1of4)">
                                    <label for="SEL2">Review Status</label>
                                    <span>Required</span>
                                    <div>
                                        <i class="fas fa-caret-down"></i>
                                        <select id="SEL2">
                                            <option disabled>Select a status...</option>
                                            <option selected>Allocated</option>
                                            <option>Atom</option>
                                            <option>Booster Gold</option>
                                            <option>The Flash</option>
                                            <option>Green Lantern</option>
                                            <option>Hawkgirl</option>
                                            <option>Martian Manhunter</option>
                                            <option>Zatanna</option>
                                        </select>
                                    </div>
                                    <span>This input has an error.</span>
                                </div>
                                <div data-c-input="select" data-c-grid-item="base(1of4)">
                                    <label for="SEL2">Department Allocation</label>
                                    <span>Required</span>
                                    <div>
                                        <i class="fas fa-caret-down"></i>
                                        <select id="SEL2">
                                            <option disabled>Select a department...</option>
                                            <option selected>Natural Resources Canada</option>
                                            <option>Atom</option>
                                            <option>Booster Gold</option>
                                            <option>The Flash</option>
                                            <option>Green Lantern</option>
                                            <option>Hawkgirl</option>
                                            <option>Martian Manhunter</option>
                                            <option>Zatanna</option>
                                        </select>
                                    </div>
                                    <span>This input has an error.</span>
                                </div>
                                <div data-c-grid-item="base(1of4)" data-c-align="base(right)">
                                    <button data-c-button="outline(c1)" type="button" data-c-radius="rounded">
                                        <i class="fas fa-plus"></i>
                                        <span>Add/Edit Notes</span>
                                    </button>
                                    <button data-c-button="solid(c1)" type="button" data-c-radius="rounded">
                                        <span>Save Changes</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {# Currently Unavailable #}
            <div data-c-accordion data-c-background="white(100)" data-c-margin="top(.5)" data-c-card>
                <button
                    aria-expanded="false"
                    data-c-accordion-trigger
                    tabindex="0"
                    type="button">
                    <div data-c-padding="top(normal) right bottom(normal) left(normal)">
                        <p data-c-font-weight="bold" data-c-font-size="h3">
                            Currently Unavailable (0)
                        </p>
                        <p data-c-margin="top(quarter)" data-c-colour="gray">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam, delectus ipsa nulla quia eos beatae architecto repudiandae eligendi deleniti facilis similique, sequi sunt laboriosam in? Debitis numquam quos illum laboriosam!
                        </p>
                    </div>
                    <span data-c-visibility="invisible">
                        Click to view...
                    </span>
                    <i
                        aria-hidden="true"
                        class="fas fa-plus"
                        data-c-accordion-add
                        data-c-colour="black"></i>
                    <i
                        aria-hidden="true"
                        class="fas fa-minus"
                        data-c-accordion-remove
                        data-c-colour="black"></i>
                </button>
                <div
                    aria-hidden="true"
                    data-c-accordion-content
                    data-c-padding="right(normal) left(normal)">
                    <div data-c-padding="bottom(normal)">
                        <div data-c-border="all(thin, solid, gray)" data-c-background="gray(10)" data-c-padding="all(1)" data-c-radius="rounded" data-c-align="base(center)">
                            <p data-c-color="gray">There are currently no applicants in this bucket.</p>
                        </div>
                    </div>
                </div>
            </div>
            {# Does Not Qualify #}
            <div data-c-accordion data-c-background="white(100)" data-c-margin="top(.5)" data-c-card>
                <button
                    aria-expanded="false"
                    data-c-accordion-trigger
                    tabindex="0"
                    type="button">
                    <div data-c-padding="top(normal) right bottom(normal) left(normal)">
                        <p data-c-font-weight="bold" data-c-font-size="h3">
                            Does Not Qualify (4)
                        </p>
                        <p data-c-margin="top(quarter)" data-c-colour="gray">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam, delectus ipsa nulla quia eos beatae architecto repudiandae eligendi deleniti facilis similique, sequi sunt laboriosam in? Debitis numquam quos illum laboriosam!
                        </p>
                    </div>
                    <span data-c-visibility="invisible">
                        Click to view...
                    </span>
                    <i
                        aria-hidden="true"
                        class="fas fa-plus"
                        data-c-accordion-add
                        data-c-colour="black"></i>
                    <i
                        aria-hidden="true"
                        class="fas fa-minus"
                        data-c-accordion-remove
                        data-c-colour="black"></i>
                </button>
                <div
                    aria-hidden="true"
                    data-c-accordion-content
                    data-c-padding="right(normal) left(normal)">
                    <div data-c-padding="bottom(normal)">
                        <!-- Content Goes Here -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
