{# =============================================================================

    Talent Cloud
    Recurring Elements: Review an Application - Education and Experience

============================================================================= #}
<section id="applicationView04" data-c-padding="top(3)">
    <h3 data-c-heading="h3" data-c-padding="bottom(1)" data-c-margin="bottom(1)">{{ application_template.preview.section_04_title }}</h3>
    {# Set Locale #}
    {% set locale = "application-view" %}
    <div data-c-accordion-group>
        {% for criterion in asset_criteria %}
            {# Get User Skill #}
            {% set skill_declaration = false %}
            {% for skillDeclaration in skill_declarations %}
                {% if criterion.skill.id == skillDeclaration.skill_id %}
                    {% set skill_declaration = skillDeclaration %}
                {% endif %}
            {% endfor %}
            {# Get Skill Type #}
            {% set skillType = criterion.skill.skill_type.name %}
            {# Import Skill Template #}
            <a aria-hidden="true" id="skill{{ criterion.skill.id }}"></a>
            {% include "common/skill" %}
        {% endfor %}
    </div>
</section>
