{# =============================================================================

    Talent Cloud
    Application View - Step 03

============================================================================= #}
<a
    aria-hidden="true"
    class="application__view-anchor"
    id="applicationView03">
</a>

<section
    class="application-preview__section-03">

    <h3>
        Skills I Need to Have
    </h3>

    {# Set Locale #}

        {% set locale = "application-view" %}

    {# Profile Element List #}

        <div>

            {% for jobSkill in job.skills %}

                {% if jobSkill.requirement == "essential" %}

                    {# Get User Skill #}

                        {% set skill = false %}

                        {% for userSkill in user.skills %}

                            {% if jobSkill.name|capitalize == userSkill.name|capitalize %}

                                {% set skill = userSkill %}

                            {% endif %}

                        {% endfor %}

                    {# Get Skill Type #}

                        {% set skillType = false %}

                        {% for siteSkill in skills %}

                            {% if jobSkill.name|capitalize == siteSkill.name|capitalize %}

                                {% if siteSkill.type == "soft" %}

                                    {% set skillType = "soft" %}

                                {% elseif siteSkill.type == "hard" %}

                                    {% set skillType = "hard" %}

                                {% endif %}

                            {% endif %}

                        {% endfor %}

                    {# Import Skill Template #}

                        <a
                            class="application-post__anchor"
                            id="skill{{ jobSkill.name }}"></a>

                        {% include "common/skill" %}

                {% endif %}

            {% endfor %}

        </div>

</section>