{# =============================================================================

    Talent Cloud
    Application View - Step 05

============================================================================= #}
<a
    aria-hidden="true"
    class="application__view-anchor"
    id="applicationView05">
</a>

<div
    class="container--copy">

    {# Save Buttons #}

        <div
            class="flex-grid middle application-post__action-wrapper">

            <div
                class="box med-1of2">

                <button
                    class="button--blue light-bg"
                    type="submit"
                    name="submit"
                    value="save_and_quit">
                    {{ application_template.save_quit_button_label }}
                </button>

            </div>

            <div
                class="box med-1of2">

                <button
                    class="button--blue light-bg"
                    type="submit"
                    name="submit"
                    value="submit">
                    {{ application_template.submit_button_label }}
                </button>

            </div>

        </div>

</div>
