{# =============================================================================

    Talent Cloud
    Application View - Step 04

============================================================================= #}
<a
    aria-hidden="true"
    class="application__view-anchor"
    id="applicationView04">
</a>

<section
    class="application-preview__section-04">

    <h4>
        {{ application_template.preview.section_04_title }}
    </h4>

    {# Set Locale #}

        {% set locale = "application-view" %}

    {# Profile Element List #}

        <div>

            {% for criterion in criteria.asset %}

                {# Get User Skill #}

                    {% set skill_declaration = false %}

                    {% for skillDeclaration in skill_declarations %}

                        {% if criterion.skill.id == skillDeclaration.skill_id %}

                            {% set skill_declaration = skillDeclaration %}

                        {% endif %}

                    {% endfor %}

                {# Get Skill Type #}

                    {% set skillType = criterion.skill.skill_type.name %}

                {# Import Skill Template #}

                    <a
                        class="application-post__anchor"
                        id="skill{{ criterion.skill.id }}"></a>

                    {% include "common/skill" %}

            {% endfor %}

        </div>

</section>
