{# =============================================================================

    Talent Cloud
    Common: Application View Sidebar

============================================================================= #}
<div
    class="sidebar-wrapper box lg-1of4">

    <nav
        class="sidebar">

        <h4
            class="sidebar-label">
            Application Sections
        </h4>

        <a
            class="sidebar-link"
            href="#applicationView01"
            title="">
            Basic Information
        </a>

        <a
            class="sidebar-link"
            href="#applicationView02"
            title="">
            My Experience
        </a>

        <a
            class="sidebar-link"
            href="#applicationView03"
            title="">
            Skills I Need to Have
        </a>

        <a
            class="sidebar-link"
            href="#applicationView04"
            title="">
            Skills That Are Nice to Have
        </a>

        <a
            class="sidebar-link"
            href="#applicationView05"
            title="">
            Submit
        </a>

    </nav>

</div>
