{# =============================================================================

    Talent Cloud
    Applicant: Application Post - Tracker

============================================================================= #}

    <div
        class="container--layout">

        <div
            class="flex-grid">

            {# Include Sidebar #}

                {% include "common/application/view/view_sidebar" %}

            {# Preview Content #}

                <div class="application__view-content-wrapper box lg-3of4">

                    {% include "common/application/view/view_01_about" %}

                    {% include "common/application/view/view_02_experience" %}

                    {% include "common/application/view/view_03_essential" %}

                    {% include "common/application/view/view_04_asset" %}

                </div>

        </div>

    </div>
