## Dependencies / Compiled Assets
/node_modules
/vendor
/etc/ssl/
!/etc/ssl/.gitkeep
/report
/public/css
/public/js
/public/mix-manifest.json
.env

## Laravel
/public/hot
/public/storage
/storage/*.key
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

## Visual Studio Code
.vs/*
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

## IDE helper
_ide_helper_models.php
_ide_helper.php
.phpstorm.meta.php

## tc-docker
.setup

## IDE/hidden/testing/cache
*~
.*.swp
.DS_Store
applet
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx
/nbproject
/nb-configuration.xml
Session.vim
*.tmproj
*.tmproject
*.phpproj
tmtags
Thumbs.db
Desktop.ini
npm-debug.log
.phpunit.result.cache
.tags
