.DS_Store
applet
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx

## IDE/hidden/testing/OS cache files
/nbproject
/nb-configuration.xml
Session.vim
*.tmproj
*.tmproject
*.phpproj
tmtags
Thumbs.db
Desktop.ini
npm-debug.log
*~

## composer
/vendor
composer.lock

## node
node_modules
/node_modules
package-lock.json

## tests/misc
/build
/tests
/selenium_tests
.tags

## laravel
/public/storage
/storage/*.key
/.idea
Homestead.json
Homestead.yaml
.env