####### basic security
.DS_Store
applet
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx

####### IDE/hidden/testing/OS cache files
/nbproject
/nb-configuration.xml
Session.vim
*.tmproj
*.tmproject
*.phpproj
tmtags
Thumbs.db
Desktop.ini
npm-debug.log
*~

####### composer
composer.lock
public_html/vendor/

####### node
public_html/node_modules/

####### travis-ci
public_html/build/

####### selenium (deprecated)
public_html/selenium_tests
public_html/tests
