language: php

php:
  - "7.2"

sudo: required
dist: trusty

services:
  - docker

cache:
  directories:
    - $HOME/.composer/cache/files
    - $HOME/.npm

# following required for Test Cafe
addons:
  firefox: latest
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable fluxbox
  hosts:
    - talent.test

before_install:
  # free port 5432
  - sudo service postgresql stop
  # latest composer version
  - travis_retry composer self-update
  # latest npm@6 version
  - npm i -g npm@^6

install:
  # environment
  - cp .env.travis .env
  # dependencies
  - travis_retry composer install --no-interaction --prefer-dist --no-suggest
  - travis_retry npm install

before_script:
  # setup headless browser for tests
  - google-chrome-stable --headless --disable-gpu --remote-debugging-port=9222 http://localhost &
  # start web server port 8000
  - php artisan serve &
  # required for Test Cafe
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3
  - fluxbox >/dev/null 2>&1 &

script:
  # build application / database containers
  - make docker-start
  - make gen-certs
  - travis_retry make build-db
  - make set-perms
  # laravel mix
  - npm run dev
  # prepare code coverage
  - ci_env=`bash <(curl -s https://codecov.io/env)`
  - docker run $ci_env gctcntgc/talentcloud sh
  # browser tests
  - npm run testcafe-ci
  # unit tests
  - make phpunit
  - make jest

after_script:
  # send report to codecov.io
  - bash <(curl -s https://codecov.io/bash) || echo 'Codecov failed to upload'
  # send report to scrutinizer
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover coverage.xml
  # tear down
  - make docker-stop

# Slack notifications / do not send emails
notifications:
  email: never
  slack:
    rooms:
      secure: Vlequ88MkHcyvhoqMzJp0ZJsQVpsdH3YVuVUfzCrzA0u24N8yvK/O5DuNn6QYgfPRmyS9Jgd2+LCjAJUmGFIkrLIVt7NXKtcvyatZMhy5+J7S9+sGLMjas+Jzw12shEenuCPuPAAn2a0tk/mJc3aK4X0cHKGHMkzU+BXPgdhUFUS+2omcktPsp0jauNMkS8lExPk8p8zW1r0SyFsAYUZYTJ2XvvmhFkfnmrahxAPoASndLVT1RFIXO5fsU7HFinmw+7EjObP/IwgbbBZRYwy8V1IW3I3njGPhDXUGTPYWs15w+UzNaf8QCgEhNIbweAslgcERItrFFyy3+IIrHUrmdW556OxKB05+NcdzoTG3BPqYqycdAb6Rrka5cd5A8ohRRXSiJHKJQqjSBH00FvnGbsqqE4EH4AlL8pFc/quisn/4atTS++DZhIGSmIJW8SS9bsvAgND9Z+fbsU261iAJwl173pU1lLhdKbIWIG1s9MP/Mudu3MjKn913J6md01t6h2gxvOKsvZ06UJTMI2Zct5HTpfwilWdKQ/ujQkTlssbKCgQkBpvflJVlhB49Ja9BlFCwn3d1cHHVVDwR0AoZx1s5wamkKa/ZQE3zEBW5UDzaSpCuHF0SBAa4pts3/+6qtf9LYrATcTZjikHCSpBWX0MVyf0J+82ybpHJeW83xM=
    on_success: always
    on_failure: change
