language: php

php:
  - 7.2

sudo: required

services:
  - docker
  - postgresql

install:
  - sudo cp -a .env.example .env
  - npm install
  - composer install
  - sudo make gen-certs
  # sudo make docker-start
  # sudo make build-db
  - php artisan key:generate
  - php artisan config:cache

script:
  - sudo make code-sniff
  # sudo make test
  - vendor/bin/phpunit --coverage-clover=coverage.xml
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover coverage.xml

# after_script:
  # sudo make docker-stop

after_success:
  - bash <(curl -s https://codecov.io/bash)
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - docker build -t gctcntgc/talentcloud:travis
  - docker push gctcntgc/talentcloud:travis

# Slack notifications / do not send emails
notifications:
  email: never
  slack: talent-cloud:ASWQRTtW3oT2C2DHYaBzSCJg
  on_success: change
  on_failure: always
