# TalentCloud CI build
# .travis.yml

os: linux
dist: trusty

language: php

php:
  - '7.2'

services:
  - docker

# beta opt-in (build config validation)
version: ~> 1.0

branches:
  except:
    - dependabot/*

jobs: # run test suites simultaneously
  include:
    - php: '7.2'
      env: TEST_SUITE=jest
    - php: '7.2'
      env: TEST_SUITE=phpunit
    - php: '7.2'
      env: TEST_SUITE=browser

env: # allow parallel makefile tasks
  global:
    - MAKEFLAGS="-j 2"

addons: # for browser tests
  chrome: stable
  hosts:
    - talent.test

cache:
  directories:
    - $HOME/.composer/cache/files
    # npm cached by default

before_install:
  - phpenv config-rm xdebug.ini # remove xdebug
  - sudo service postgresql stop # free port 5432
  - travis_retry composer self-update # latest version of composer
  - travis_retry npm i -g npm # latest version of npm

install:
  - cp .env.travis .env # environment variables
  - travis_retry composer install --no-interaction --prefer-dist --no-suggest
  - travis_retry npm install # install dependencies
  - travis_retry make docker-start # initialize containers
  - travis_retry make gen-certs # ssl certificates
  - travis_retry make build-db # database / data
  - travis_retry make set-perms # file permissions
  - travis_retry npm run dev # compiled assets

before_script:
  # start headless chrome, web server
  - google-chrome-stable --headless --disable-gpu --remote-debugging-port=9222 http://localhost &
  - php artisan serve &
  # browser test setup
  - if [ $TEST_SUITE = "browser" ]; then
      export DISPLAY=:99.0;
      sh -e /etc/init.d/xvfb start;
      sleep 3;
    fi

script:
  # code coverage setup
  - if [ $TEST_SUITE != "browser" ]; then
      mkdir -p report/;
      ci_env=`bash <(curl -s https://codecov.io/env)`;
      docker run $ci_env gctcntgc/talentcloud sh;
    fi
  # run phpunit and jest as separate jobs
  - if [ $TEST_SUITE = "jest" ]; then
      npm run test;
    fi
  # test fails will cause the job to fail (after separating)
  - if [ $TEST_SUITE = "phpunit" ]; then
      make phpunit;
    fi
  # run browser tests
  - if [ $TEST_SUITE = "browser" ]; then
      npm run testcafe-ci;
    fi

after_script:
  # upload coverage reports, tear down
  - bash <(curl -s https://codecov.io/bash)
  - travis_retry make docker-stop

notifications:
  # only slack notifications
  email:
    - never
  slack:
    secure: Vlequ88MkHcyvhoqMzJp0ZJsQVpsdH3YVuVUfzCrzA0u24N8yvK/O5DuNn6QYgfPRmyS9Jgd2+LCjAJUmGFIkrLIVt7NXKtcvyatZMhy5+J7S9+sGLMjas+Jzw12shEenuCPuPAAn2a0tk/mJc3aK4X0cHKGHMkzU+BXPgdhUFUS+2omcktPsp0jauNMkS8lExPk8p8zW1r0SyFsAYUZYTJ2XvvmhFkfnmrahxAPoASndLVT1RFIXO5fsU7HFinmw+7EjObP/IwgbbBZRYwy8V1IW3I3njGPhDXUGTPYWs15w+UzNaf8QCgEhNIbweAslgcERItrFFyy3+IIrHUrmdW556OxKB05+NcdzoTG3BPqYqycdAb6Rrka5cd5A8ohRRXSiJHKJQqjSBH00FvnGbsqqE4EH4AlL8pFc/quisn/4atTS++DZhIGSmIJW8SS9bsvAgND9Z+fbsU261iAJwl173pU1lLhdKbIWIG1s9MP/Mudu3MjKn913J6md01t6h2gxvOKsvZ06UJTMI2Zct5HTpfwilWdKQ/ujQkTlssbKCgQkBpvflJVlhB49Ja9BlFCwn3d1cHHVVDwR0AoZx1s5wamkKa/ZQE3zEBW5UDzaSpCuHF0SBAa4pts3/+6qtf9LYrATcTZjikHCSpBWX0MVyf0J+82ybpHJeW83xM=

