language: php

php:
  - 7.2

sudo: required

env-docker:
  DOCKER_COMPOSE_VERSION: 1.18.0

services:
  - docker
  - postgresql

before_install:
  - sudo apt update
  - sudo rm /usr/local/bin/docker-compose
  - curl -L https://github.com/docker/compose/releases/download/1.16.1/docker-compose-`uname -s`-`uname -m` > ./docker-compose
  - curl -OL https://squizlabs.github.io/PHP_CodeSniffer/phpcs.phar
  - sudo mv ./docker-compose /usr/bin/docker-compose
  - sudo chmod +x /usr/bin/docker-compose
  - docker-compose ps -q | xargs docker inspect -f '{{ .State.ExitCode }}' | grep -v 0 | wc -l | tr -d ' '

install:
  - sudo make gen-certs
  - sudo docker-compose up --abort-on-container-exit
  - sudo make docker-start
  - npm i -g npm
  - npm install
  - psql -c "CREATE DATABASE talentcloud;" -U postgres
  - psql -c "CREATE ROLE talentcloud WITH LOGIN PASSWORD 'talentcloud';" -U postgres
  - psql -c "GRANT ALL PRIVILEGES ON DATABASE talentcloud TO talentcloud;" -U postgres

script:
  - sudo cp -a .env.example .env
  - php artisan key:generate
  - php artisan config:cache
  # php artisan migrate --force
  # php artisan db:seed --force
  # sudo make mysql-dump
  # sudo make mysql-restore
  - sudo make code-sniff
  # sudo make test
  - vendor/bin/phpunit --coverage-clover=coverage.xml

after_script:
  - sudo make docker-stop

after_success:
  - bash <(curl -s https://codecov.io/bash)
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - docker build -t gctcntgc/talentcloud:travis-build .
  - docker push gctcntgc/talentcloud:travis-build

# do not send emails
notifications:
    email: never
