<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false" backupStaticAttributes="false" bootstrap="vendor/autoload.php" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="false">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_DRIVER" value="file"/>
        <env name="SESSION_DRIVER" value="database"/>
        <env name="QUEUE_DRIVER" value="database" />
        <env name="MAIL_DRIVER" value="smtp"/>
        <env name="HIDE_LOCALE_IN_URL" value="true"/>
    </php>
    <logging>
        <log type="coverage-html" target="report/phpunit"/>
        <log type="coverage-clover" target="report/phpunit/coverage.xml"/>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
        <log type="junit" target="report/phpunit/junit.phpunit.xml"/>
    </logging>
</phpunit>
