<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" backupStaticAttributes="false" bootstrap="vendor/autoload.php" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./app</directory>
    </include>
    <report>
      <clover outputFile="report/phpunit/coverage.xml"/>
      <html outputDirectory="report/phpunit"/>
      <text outputFile="php://stdout" showUncoveredFiles="false"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Unit">
      <directory suffix="Test.php">./tests/Unit</directory>
    </testsuite>
    <testsuite name="Feature">
      <directory suffix="Test.php">./tests/Feature</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="APP_ENV" value="testing"/>
    <env name="BCRYPT_ROUNDS" value="4"/>
    <env name="CACHE_DRIVER" value="file"/>
    <env name="SESSION_DRIVER" value="database"/>
    <env name="QUEUE_DRIVER" value="database"/>
    <env name="MAIL_DRIVER" value="smtp"/>
    <env name="HIDE_LOCALE_IN_URL" value="true"/>
    <env name="DB_DATABASE" value="testing"/>
  </php>
  <logging>
    <junit outputFile="report/phpunit/junit.phpunit.xml"/>
  </logging>
</phpunit>
