[x] Citizenship claim

[x] Veteran claim

[x] Language acknowledgement

<h1>Question 01</h1><br>

<p>Answer 01</p><br>

<h1>Question 02</h1><br>

<p>Answer 01</p><br>

<h1>Question 03</h1><br>

<p>Answer 01</p><br>