{# =============================================================================

    Talent Cloud
    Applicant: Application Post - Tracker

============================================================================= #}
<section
    class="application-post__skills-layout">

    <div
        class="container--copy">

        Hello

    </div>

    <div
        class="container--layout">

        <div 
            class="flex-grid">

            {# Include Sidebar #}

                {% include "applicant/application_post/step_05/preview_sidebar" %}

            {# Preview Content #}

                {% include "applicant/application_post/step_05/preview_step_01" %}

                {% include "applicant/application_post/step_05/preview_step_02" %}

                {% include "applicant/application_post/step_05/preview_step_03" %}

                {% include "applicant/application_post/step_05/preview_step_04" %}

        </div>

    </div>

    {% include "applicant/application_post/step_05/preview_actions" %}

</section>