.manager-application-preview-actions {
    border-bottom: 1px solid black;
    padding: 0 0 2rem 0;
    margin-bottom: 2rem;

    .box {

        // States --------------------------------------------------------------

            &:last-child {
                text-align: right;
            }

        button {
            margin-right: .5rem;

            .expand {
                display: block;
            }

            .collapse {
                display: none;
            }

            // States ----------------------------------------------------------

                &.active {

                    .expand {
                        display: none;
                    }

                    .collapse {
                        display: block;
                    }

                }

        }

    }

}
