[data-c-input] label .form__required {
    display: none !important;
}

.manager-job-card {
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    >div:last-child {
        cursor: pointer;
    }
}

.job-builder-context-block {
    padding-top: 1.65rem;

    .job-builder-context-item {
        display: none;
        &.active {
            display: block;
        }
    }
}

.job-builder-check {
    border: 1px solid rgba($clone-grey, .5);
    display: inline-block;
    height: .75rem;
    margin: 0 .5rem 0 0;
    position: relative;
    width: .75rem;
    &.checked {
        i {
            display: block;
        }
    }
    i {
        color: $clone-c1;
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

// Josh, you added this to Clone already, so remove it when you update Clone next.

[data-c-container="form"] {
    margin: 0 auto;
    max-width: 60rem;
    width: 90%;
}
