<div data-c-background="c2(100)">
    <div data-c-container="large" data-c-padding="tb(.5)">
        <p data-c-color="white"><i class="fas fa-exclamation-triangle" data-c-margin="right(.5)"></i>In our effort to get this site up and running quickly, we expect there to be a few glitches. <a href="" title="" target="_blank">Need help? Get in touch.</a></p>
    </div>
</div>
