<div data-c-border="top(thin, solid, gray)" class="flourish-wrapper">
    <img alt="The Canadian maple leaf." class="flourish-icon-left" src="/images/maple-leaf.svg">
    <div data-c-container="large" data-c-padding="tb(3)">
        <div data-c-grid="gutter(all, 2)">
            <div data-c-grid-item="tl(1of2)">
                <div data-c-card data-c-background="white(100)" data-c-radius="rounded" data-c-padding="all(1)">
                    <div data-c-grid="gutter(all, 1) middle">
                        <div data-c-grid-item="tp(1of2) tl(2of3)">
                            <h2 data-c-heading="h2">Purpose</h2>
                        </div>
                        <div data-c-grid-item="tp(1of2) tl(1of3)" data-c-align="base(center) tp(right)">
                            <a href="#apply" title="Learn more about how you can help during the emergency." data-c-button="solid(go)" data-c-radius="rounded"><span>Offer to Help</span></a>
                        </div>
                    </div>
                    <p data-c-margin="tb(1)">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum, vitae modi. Nobis laboriosam hic rerum autem illo voluptas doloremque ad neque necessitatibus assumenda, deserunt fugit, dolorum id repellendus saepe consectetur.</p>
                    <ul data-c-margin="bottom(1)">
                        <li>List item 01</li>
                        <li>List item 02</li>
                        <li>List item 03</li>
                        <li>List item 04</li>
                        <li>List item 05</li>
                    </ul>
                    <p data-c-margin="bottom(1)">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit reiciendis obcaecati voluptatem sint velit unde tenetur id? Illum maxime pariatur velit, rem optio ab voluptates, rerum aliquam ad quo magnam!</p>
                    <a href="#how" title="Learn more about how you can help during the emergency." data-c-button="outline(c1)" data-c-radius="rounded"><span>How to Submit Your Name</span></a>
                </div>
            </div>
            <div data-c-grid-item="tl(1of2)">
                <div data-c-alert="warning" data-c-radius="rounded" role="alert" data-c-margin="bottom(2)">
                    <div data-c-padding="half">
                        <p data-c-margin="bottom(quarter)" data-c-font-weight="bold">
                            <i class="fas fa-bell"></i>
                            Does your department need talent?
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis quae explicabo cumque magni excepturi ipsam similique, deserunt ratione fugit incidunt aperiam adipisci tenetur aspernatur amet doloremque velit numquam enim odit.
                        </p>
                    </div>
                </div>
                <div data-c-grid="gutter(all, 1)">
                    <div data-c-grid-item="tp(1of2)">
                        <p data-c-font-weight="bold" data-c-font-size="h4" data-c-margin="bottom(1)">This application should be used for these purposes:</p>
                        <p data-c-margin="bottom(1)"><i class="fas fa-check" data-c-color="go" data-c-margin="right(.5)"></i>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <p data-c-margin="bottom(1)"><i class="fas fa-check" data-c-color="go" data-c-margin="right(.5)"></i>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <p><i class="fas fa-check" data-c-color="go" data-c-margin="right(.5)"></i>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                    <div data-c-grid-item="tp(1of2)">
                        <p data-c-font-weight="bold" data-c-font-size="h4" data-c-margin="bottom(1)">This application should NOT be used for:</p>
                        <p data-c-margin="bottom(1)"><i class="fas fa-times" data-c-color="stop" data-c-margin="right(.5)"></i>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <p data-c-margin="bottom(1)"><i class="fas fa-times" data-c-color="stop" data-c-margin="right(.5)"></i>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <p><i class="fas fa-times" data-c-color="stop" data-c-margin="right(.5)"></i>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
