<div class="flourish-wrapper" data-c-border="tb(thin, solid, gray)">
    <img alt="The Canadian maple leaf." class="flourish-icon-left" src="/images/maple-leaf.svg">
    <div data-c-container="large" data-c-padding="tb(3)">
        <div data-c-grid="gutter(all, 2)">
            <div data-c-grid-item="tl(1of2)">
                <div data-c-card data-c-background="white(100)" data-c-radius="rounded" data-c-padding="all(1)">
                    <div data-c-grid="gutter(all, 1) middle">
                        <div data-c-grid-item="tp(1of2) tl(2of3)" data-c-align="base(center) tp(left)">
                            <h2 data-c-heading="h2">Purpose of This Site</h2>
                        </div>
                        <div data-c-grid-item="tp(1of2) tl(1of3)" data-c-align="base(center) tp(right)">
                            <a href="#apply" title="Learn more about how you can help during an emergency." data-c-button="solid(go)" data-c-radius="rounded"><span>Offer to Help</span></a>
                        </div>
                    </div>
                    <p data-c-margin="tb(1)">The COVID-19 pandemic has placed enormous pressure on citizens and governments around the world. In times of extreme disruption, organizations have different talent needs. Governments may experience critical talent shortages in some areas and surplus in others. A strong, coordinated response requires a method for identifying talent gaps, and getting skilled people where they’re needed most, quickly and effectively.</p>
                    <p data-c-margin="tb(.5)">This site is designed to:</p>
                    <ul data-c-margin="bottom(1)">
                        <li>Provide a single-window, whole-of-government vehicle for talent mobilization in a crisis situation</li>
                        <li>Enable the flow of talent from areas of lower priority to areas of critical need, supported by data tracking and central coordination</li>
                        <li>Give public servants a way to use their skills where help is needed most</li>
                        <li>Offer departments a fast, efficient vehicle for sourcing skilled, available talent</li>
                    </ul>
                    <p data-c-margin="bottom(1)">This exercise is a coordinated effort by the Office of the Chief Human Resources Officer, Public Safety, and the Office of the Chief Information Officer of Canada.</p>
                    <p data-c-margin="bottom(1)">The code for this site and supporting information is available to other governments and jurisdictions. <a href="https://github.com/GCTC-NTGC/TalentCloud" title="Visit Talent Cloud on Github for more information." target="_blank">Please visit us on GitHub</a> or <a href="mailto:" title="Open your mail client and email the team.">email the team at ____</a>.</p>
                    <a href="#how" title="Learn more about how you can help during an emergency." data-c-button="outline(c1)" data-c-radius="rounded"><span>How to Submit Your Name</span></a>
                    <a href="" title="Find out whether you're able to offer your skills." data-c-button="outline(c1)" data-c-radius="rounded"><span>How to Get Approval to Participate</span></a>
                </div>
            </div>
            <div data-c-grid-item="tl(1of2)">
                <div data-c-alert="warning" data-c-radius="rounded" role="alert" data-c-margin="bottom(2)">
                    <div data-c-padding="half">
                        <p data-c-margin="bottom(quarter)" data-c-font-weight="bold">
                            <i class="fas fa-bell"></i>
                            Does your department need extra help?
                        </p>
                        <p>
                            If your department has identified a current or anticipated talent shortage in a critical area, get in touch to request some extra help. If your department has a unique need in a specialized field, we can launch a new call-out. <a href="" title="Click here to learn more about contacting us." target="_blank">Learn More</a>.
                        </p>
                    </div>
                </div>
                <div data-c-grid="gutter(all, 1)">
                    <div data-c-grid-item="tp(1of1)">
                        <p data-c-font-weight="bold" data-c-font-size="h4" data-c-margin="bottom(1)">You should apply to be in the GC talent reserve if:</p>
                        <div class="response-list-item">
                            <i class="fas fa-check" data-c-color="go" data-c-margin="right(.5)"></i>
                            <p data-c-margin="bottom(.25)">You want to help Canadians by going where you’re most needed</p>
                        </div>
                        <div class="response-list-item">
                            <i class="fas fa-check" data-c-color="go" data-c-margin="right(.5)"></i>
                            <p data-c-margin="bottom(.25)">You’re currently a Government of Canada employee (indeterminate or term)</p>
                        </div>
                        <div class="response-list-item">
                            <i class="fas fa-check" data-c-color="go" data-c-margin="right(.5)"></i>
                            <p data-c-margin="bottom(.25)">You have specialized skills to share (see list below)</p>
                        </div>
                        <div class="response-list-item">
                            <i class="fas fa-check" data-c-color="go" data-c-margin="right(.5)"></i>
                            <p data-c-margin="bottom(.25)">You want to support your colleagues in other teams or departments</p>
                        </div>
                        <div class="response-list-item">
                            <i class="fas fa-check" data-c-color="go" data-c-margin="right(.5)"></i>
                            <p data-c-margin="bottom(.25)">You’re good at adapting to new environments and processes</p>
                        </div>
                        <div class="response-list-item">
                            <i class="fas fa-check" data-c-color="go" data-c-margin="right(.5)" style="display: inline-block;"></i>
                            <p style="display: inline-block;">You're not currently in a critical role in your own department, and your manager would support a temporary placement.</p>
                        </div>
                    </div>
                    <div data-c-grid-item="tp(1of1)">
                        <p data-c-font-weight="bold" data-c-font-size="h4" data-c-margin="top(1) bottom(1)">You should NOT apply to be in the GC talent reserve if:</p>
                        <div class="response-list-item">
                            <i class="fas fa-times" data-c-color="stop" data-c-margin="right(.5)"></i>
                            <p data-c-margin="bottom(.25)">You’re not a current Government of Canada employee (indeterminate or term). Sorry, no exceptions</p>
                        </div>
                        <div class="response-list-item">
                            <i class="fas fa-times" data-c-color="stop" data-c-margin="right(.5)"></i>
                            <p data-c-margin="bottom(.25)">You don’t have the skills needed (see below)</p>
                        </div>
                        <div class="response-list-item">
                            <i class="fas fa-times" data-c-color="stop" data-c-margin="right(.5)"></i>
                            <p data-c-margin="bottom(.25)">You’re hunting for a new permanent job</p>
                        </div>
                        <div class="response-list-item">
                            <i class="fas fa-times" data-c-color="stop" data-c-margin="right(.5)"></i>
                            <p data-c-margin="bottom(.25)">You’re looking for a promotional acting appointment</p>
                        </div>
                        <div class="response-list-item">
                            <i class="fas fa-times" data-c-color="stop" data-c-margin="right(.5)"></i>
                            <p>You find it hard to adapt to new environments or processes</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
