<header>
    <div data-c-overlay="white(80)" style="background-image: url('https://images.unsplash.com/photo-1562004704-66a0f5d69a20?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1268&q=80')">
        <div data-c-container="large" data-c-padding="tb(3)">
            <h1 data-c-heading="h1" data-c-color="black" data-c-margin="bottom(1)">COVID-19 Talent Response</h1>
            <div data-c-grid="gutter(all, 1)">
                <div data-c-grid-item="tl(2of3)" data-c-align="base(center) tl(left)">
                    <p data-c-color="black">Mapping talent to help locate gaps during emergencies.</p>
                </div>
                <div data-c-grid-item="tl(1of3)" data-c-align="base(center) tl(right)">
                    <span data-c-color="black">BETA / Pilot Project</span>
                </div>
            </div>
        </div>
    </div>
</header>
