<div data-c-padding="tb(3)" id="how" class="flourish-wrapper" data-c-border="bottom(thin, solid, gray)">
    <img alt="The Canadian maple leaf." class="flourish-icon-right" src="/images/maple-leaf.svg">
    <div data-c-container="large">
        <h2 data-c-heading="h2" data-c-margin="bottom(1)">How to Submit Your Name</h2>
        <p data-c-margin="bottom(1)">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit doloribus, iure maxime enim qui et veniam, quis minus illo sunt molestiae quibusdam, fugit magnam numquam rem blanditiis minima aut dolores.</p>
        <div class="home-hiw" data-c-grid="gutter">
            <div data-c-grid-item="tl(1of3)">
                <button class="active" data-c-align="centre" data-c-button="solid(c2)" data-c-radius="rounded" data-tc-hiw-id="01" data-tc-hiw-trigger>
                    <span data-c-colour="white" data-c-font-size="h4" data-c-font-weight="bold">
                        Step 01: Apply
                    </span>
                </button>
                <button data-c-margin="top(.5)" data-c-align="centre" data-c-button="solid(c2)" data-c-radius="rounded" data-tc-hiw-id="02" data-tc-hiw-trigger>
                    <span data-c-colour="white" data-c-font-size="h4" data-c-font-weight="bold">
                        Step 02: ???
                    </span>
                </button>
                <button data-c-margin="top(.5)" data-c-align="centre" data-c-button="solid(c2)" data-c-radius="rounded" data-tc-hiw-id="03" data-tc-hiw-trigger>
                    <span data-c-colour="white" data-c-font-size="h4" data-c-font-weight="bold">
                        Step 03: ???
                    </span>
                </button>
                <button data-c-margin="top(.5)" data-c-align="centre" data-c-button="solid(c2)" data-c-radius="rounded" data-tc-hiw-id="04" data-tc-hiw-trigger>
                    <span data-c-colour="white" data-c-font-size="h4" data-c-font-weight="bold">
                        Step 04: ???
                    </span>
                </button>
            </div>
            <div data-c-grid-item="tl(2of3)">
                <div class="home-hiw-content active" data-c-align="left" data-c-background="c1(100)" data-c-padding="double" data-c-radius="rounded" data-tc-hiw-id="01">
                    <span data-c-colour="white" data-c-font-size="h4" data-c-font-weight="bold" data-c-margin="bottom(normal)">
                        Step 01: Title
                    </span>
                    <p data-c-margin="top(normal)" data-c-colour="white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus nisi eius, iste veniam itaque dignissimos inventore sequi exercitationem pariatur necessitatibus distinctio, earum consequatur commodi sint molestiae repudiandae accusamus enim. Sint!</p>
                </div>
                <div class="home-hiw-content" data-c-align="left" data-c-background="c1(100)" data-c-padding="double" data-c-radius="rounded" data-tc-hiw-id="02">
                    <span data-c-colour="white" data-c-font-size="h4" data-c-font-weight="bold" data-c-margin="bottom(normal)">
                        Step 02: Title
                    </span>
                    <p data-c-margin="top(normal)" data-c-colour="white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus nisi eius, iste veniam itaque dignissimos inventore sequi exercitationem pariatur necessitatibus distinctio, earum consequatur commodi sint molestiae repudiandae accusamus enim. Sint!</p>
                </div>
                <div class="home-hiw-content" data-c-align="left" data-c-background="c1(100)" data-c-padding="double" data-c-radius="rounded" data-tc-hiw-id="03">
                    <span data-c-colour="white" data-c-font-size="h4" data-c-font-weight="bold" data-c-margin="bottom(normal)">
                        Step 03: Title
                    </span>
                    <p data-c-margin="top(normal)" data-c-colour="white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus nisi eius, iste veniam itaque dignissimos inventore sequi exercitationem pariatur necessitatibus distinctio, earum consequatur commodi sint molestiae repudiandae accusamus enim. Sint!</p>
                </div>
                <div class="home-hiw-content" data-c-align="left" data-c-background="c1(100)" data-c-padding="double" data-c-radius="rounded" data-tc-hiw-id="04">
                    <span data-c-colour="white" data-c-font-size="h4" data-c-font-weight="bold" data-c-margin="bottom(normal)">
                        Step 04: Title
                    </span>
                    <p data-c-margin="top(normal)" data-c-colour="white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus nisi eius, iste veniam itaque dignissimos inventore sequi exercitationem pariatur necessitatibus distinctio, earum consequatur commodi sint molestiae repudiandae accusamus enim. Sint!</p>
                </div>
            </div>
        </div>
    </div>
</div>
