{# =============================================================================

    Talent Cloud
    Applicant: Static Credentialing Sidebar

============================================================================= #}
<section
    class="faq">

    <div
        class="container--layout">

        <div
            class="flex-grid">

            {# Include Sidebar #}

                {% include "applicant/static/credentialing_sidebar" %}

            {# Skills Content #}

                <div class="box lg-3of4">

                    <a
                        aria-hidden="true"
                        class=""
                        id="sample">
                    </a>

                    <h3>Section Title</h3>

                    <h4>Subject Title</h4>

                    <p>Lorem</p>

                </div>

        </div>

    </div>

</section>
