.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, a {
  font-family: "HKGrotesk", sans-serif !important; }

a {
  color: #066169;
  /* font-weight: 500; */
  text-decoration: none; }
  a:visited {
    color: #066169; }
  a:hover {
    text-decoration: none;
    color: #0aa4b1; }

p, main ul {
  /*font-weight: 100;*/
  font-size: 1.75rem;
  position: relative; }
  @media (min-width: 768px) {
    p, main ul {
      font-size: 2rem; } }
  @media (min-width: 1200px) {
    p, main ul {
      font-size: 2.25rem;
      line-height: 3.5rem;
      margin-bottom: 2.75rem; } }
  p.lead, main ul.lead {
    font-size: 2.25rem;
    color: #066169; }
    @media (min-width: 768px) {
      p.lead, main ul.lead {
        font-size: 2.5rem;
        line-height: 1.35em; } }
    @media (min-width: 992px) {
      p.lead, main ul.lead {
        font-size: 3rem;
        font-weight: 100; } }
    @media (min-width: 1200px) {
      p.lead, main ul.lead {
        font-size: 3.5rem; } }

main p + ul {
  margin-top: -0.5rem; }
  @media (min-width: 768px) {
    main p + ul {
      margin-top: -1.0rem; } }
  @media (min-width: 992px) {
    main p + ul {
      margin-top: -2rem; } }

h1, .h1 {
  padding: 0;
  margin: 0;
  /*font-weight: 100;*/
  font-family: "HKGrotesk", sans-serif;
  border-bottom: none;
  margin-top: 2rem;
  color: #FFFFFF;
  font-size: 3rem;
  line-height: 1.2em; }
  @media (max-width: 767px) {
    h1, .h1 {
      padding: 1.5rem 1.5rem; } }
  @media (min-width: 768px) {
    h1, .h1 {
      margin-top: 0.5rem;
      font-size: 7rem; } }
  @media (min-width: 992px) {
    h1, .h1 {
      font-size: 9rem; } }
  @media (min-width: 1200px) {
    h1, .h1 {
      margin-top: 1.5rem;
      font-size: 10rem; } }

h2 {
  font-family: "HKGrotesk", sans-serif;
  /*font-weight: 500; }*/
}

h3 {
  font-weight: 300; }
  @media (min-width: 768px) {
    h3 {
      font-size: 2.5rem; } }
  @media (min-width: 1200px) {
    h3 {
      font-size: 3.5rem; } }

.section {
  padding: 2.5rem 0;
  position: relative;
  z-index: 0; }

.section--title {
  font-size: 3rem;
  font-weight: 100;
  position: relative;
  margin: 1.5rem 0 3.5rem 0;
  padding: 0;
  text-align: center; }
  .section--title::after {
    content: '';
    display: block;
    position: absolute;
    height: 3px;
    background: #FFCC33;
    bottom: -1.5rem;
    width: 5rem;
    left: 50%;
    transform: translateX(-50%); }
    @media (min-width: 992px) {
      .section--title::after {
        width: 10%;
        bottom: -2rem; } }
  @media (min-width: 768px) {
    .section--title {
      font-size: 3.5rem; } }
  @media (min-width: 992px) {
    .section--title {
      font-size: 5rem;
      margin-bottom: 4rem; } }

#fip {
  background-color: #000000;
  padding: 1.15rem;
  line-height: 0; }
  @media (min-width: 768px) {
    #fip {
      padding: 1.5rem 2rem; } }
  #fip .logo {
    height: 1.5rem; }
    @media (min-width: 768px) {
      #fip .logo {
        height: 2rem; } }
  @media (max-width: 767px) {
    #fip .container {
      padding: 0; }
      #fip .container .row {
        width: 100%; } }
  #fip .fip-logo:after {
    bottom: 0;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0; }
  #fip #wb-lng {
    padding-top: 0 !important; }
  #fip .lang {
    display: block;
    text-align: right;
    width: 100%;
    color: #FFFFFF; }
    #fip .lang a {
      display: inline-block;
      color: #FFFFFF;
      display: inline-block;
      font-size: 1.25rem;
      font-weight: 400;
      margin-top: 0.75rem;
      text-align: center;
      text-decoration: none;
      padding-bottom: 1rem;
      border-bottom: #000 1px solid;
      transition: all 0.3s ease-in-out;
      }
      #fip .lang a:hover {
        border-bottom: #CCC 1px solid; }
      @media (min-width: 992px) {
        #fip .lang a {
          font-size: 2rem; } }
      @media (min-width: 768px) {
        #fip .lang a {
          font-size: 1.5rem; } }

#wb-sm {
  background: none; }

.page-banner {
  background-color: #232323;
  background-size: cover;
  background-position: center center;
  height: 12rem;
  position: relative; }
  @media (min-width: 768px) {
    .page-banner {
      height: 30rem; } }
  @media (min-width: 992px) {
    .page-banner {
      height: 40rem; } }
  .page-blogpost .page-banner {
    height: 25rem; }
    @media (min-width: 768px) {
      .page-blogpost .page-banner {
        height: 30rem; } }
    @media (min-width: 992px) {
      .page-blogpost .page-banner {
        height: 40rem; } }
  .page-banner h1 {
    border-bottom: none;
    color: #FFFFFF;
    font-family: "HKGrotesk", sans-serif;
    font-weight: 100;
    margin: 1.5rem;
    padding: 0; }
    @media (min-width: 768px) {
      .page-banner h1 {
        font-size: 4rem;
        line-height: 4.25rem;
        margin-top: 0.5rem; } }
    @media (min-width: 992px) {
      .page-banner h1 {
        font-size: 4.5rem;
        line-height: 5rem; } }
    @media (min-width: 1200px) {
      .page-banner h1 {
        font-size: 4.75rem;
        line-height: 5.5rem;
        margin-top: 0.25rem; } }
  .home .page-banner {
    background: #232323;
    clear: both;
    display: block;
    height: 40rem;
    position: relative;
    width: 100%;
    z-index: 1; }
    @media (min-width: 768px) {
      .home .page-banner {
        height: 45rem; } }
    @media (min-width: 992px) {
      .home .page-banner {
        height: 50rem; } }
    @media (min-width: 1200px) {
      .home .page-banner {
        height: 70rem; } }

.page-banner--video {
  display: block;
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%; }
  .page-banner--video video {
    height: auto;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: auto;
    z-index: 0; }

.page-banner--scrim {
  background: rgba(0, 0, 0, 0.65);
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; }

.page-banner--tag-line {
  position: absolute;
  text-align: center;
  top: 20%;
  width: 100%; }
  @media (min-width: 768px) {
    .page-banner--tag-line {
      margin-top: 25rem;
      text-align: left;
      top: 10%; } }
  @media (min-width: 992px) {
    .page-banner--tag-line {
      left: 50%;
      margin-top: 23rem;
      top: 15%;
      transform: translateX(-50%); } }
  @media (min-width: 1200px) {
    .page-banner--tag-line {
      margin-top: 35rem;
      top: 20%; } }
  .page-banner--tag-line .h1 {
    border-bottom: none !important;
    line-height: 1.25em; }
    @media (min-width: 768px) {
      .page-banner--tag-line .h1 {
        font-size: 3rem; } }
    @media (min-width: 992px) {
      .page-banner--tag-line .h1 {
        font-size: 3.75rem;
        line-height: 1.35; } }

@media (min-width: 768px) {
  .page-banner--tag-line--logo-container {
    text-align: right; } }

.page-banner--tag-line--logo {
  height: 12rem; }
  @media (min-width: 992px) {
    .page-banner--tag-line--logo {
      height: 16rem; } }

.page-banner--title {
  color: #FFFFFF;
  display: block;
  font-size: 3rem;
  font-weight: 100;
  left: 50%;
  line-height: 3rem;
  max-width: 1024px;
  position: absolute;
  text-align: center;
  text-shadow: 0 0 0 2px #232323;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  width: 100%; }
  .page-banner--title h1 {
    border-bottom: none;
    color: #FFFFFF;
    font-weight: 100;
    margin: 1.5rem;
    padding: 0;
    text-shadow: 0px 0px 10px #000000; }
    @media (min-width: 768px) {
      .page-banner--title h1 {
        font-size: 2.5em;
        line-height: 1.25em;
        margin-top: 0.5rem; } }
    @media (min-width: 992px) {
      .page-banner--title h1 {
        font-size: 3em; } }
    @media (min-width: 1200px) {
      .page-banner--title h1 {
        margin-top: 0.25rem; } }

main {
  position: relative;
  z-index: 0; }

#goc-footer {
  border-top: 4px solid #066169;
  max-height: 10rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #F8F8F8; }
  #goc-footer nav {
    padding: 0.5rem 0 0 0 !important; }

.goc-footer--links ul {
  margin: 0;
  padding: 0;
  text-align: center; }
  @media (min-width: 768px) {
    .goc-footer--links ul {
      text-align: left; } }
.goc-footer--links li {
  list-style: none;
  display: inline-block;
  padding: 0.7em 0 0.7em 0.7em; }
  .goc-footer--links li::after {
    content: "\2022";
    margin-left: 0.7em;
    color: #232323; }
  .goc-footer--links li:last-child::after {
    content: '';
    margin-left: 0; }

.goc-footer--logo {
  text-align: center; }
  @media (min-width: 768px) {
    .goc-footer--logo {
      text-align: right; } }
  .goc-footer--logo .logo {
    height: 40px; }

.announcement-banner {
  padding: 1em;
  text-align: center;
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff; }
  .announcement-banner a {
    text-decoration: underline; }

.topbar {
  padding: 1rem;
  z-index: 999;
  padding-right: 5rem;}
  @media (min-width: 768px) {
    .topbar {
      padding-top: 2rem; } }
  @media (min-width: 768px) {
    .topbar .nav-container {
      padding-right: 0; }
      .sticky .topbar .nav-container {
        padding-right: 1.5rem; } }
  @media (min-width: 768px) {
    .home .topbar {
      padding-top: 3rem;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 0; } }

.cds-logo {
  background-image: url("img/cds/cds-logo-en.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 5rem;
  width: 5rem;
  z-index: 1;}
  @media (min-width: 768px) {
    .cds-logo {
      height: 10rem;
      width: 10rem;
      position: absolute;
      top: -1rem; } }
  @media (min-width: 992px) {
    .cds-logo {
      height: 11rem;
      width: 11rem; } }
  @media (min-width: 1200px) {
    .cds-logo {
      height: 14rem;
      width: 14rem; } }
  .home .cds-logo {
    display: none; }

.top-nav {
  clear: both;
  float: right;
  list-style: none;
  margin: 1rem 0 1rem 0;
  padding: 0; }
  @media (max-width: 767px) {
    .top-nav {
      position: fixed;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%); } }
  @media (min-width: 768px) {
    .home .top-nav {
      clear: none; } }
  .home .top-nav a {
    color: #FFFFFF; }
    @media (min-width: 768px) {
      .home .top-nav a {
        font-size: 2.5rem; } }

.top-nav--link {
  display: inline-block;
  text-align: center; }
  @media (max-width: 660px) {
      .top-nav--link {
          display: block;
          margin-top: 1.25rem;
          margin-bottom: .75rem;}
  }
  @media (min-width: 768px) {
    .top-nav--link {
      display: inline-block;
      position: relative; }
  }


  .top-nav--link a {
    color: #FFFFFF;
    font-size: 3.5rem;
    font-weight: 100;
    margin: 1.5rem;
    text-decoration: none;
    position: relative; }
    @media (min-width: 768px) {
      .top-nav--link a {
        color: #066169;
        font-size: 1.5rem;
        margin: 0 1.25rem 0.25rem 1.25rem; }
        .fr .top-nav--link a {
          font-size: 1.85rem; } }
    @media (min-width: 992px) {
      .top-nav--link a {
        font-size: 2rem; } }
    .top-nav--link a::after {
      display: block;
      position: absolute;
      content: '';
      background: #FFCC33;
      border: #FFCC33 0px solid;
      width: 0%;
      height: 4px;
      bottom: -0.5rem;
      transition: all 0.45s ease-in-out;
      left: 50%;
  transform: translateX(-50%); }
    @media (min-width: 768px) {
      .top-nav--link a:hover::after {
        width: 100%;
        border-width: 1px; } }
    @media (min-width: 768px) {
      .sticky .top-nav--link a {
        font-weight: 300;
        color: #232323; } }
  .top-nav--link.active a::after {
    background: #FFCC33;
    border: #FFCC33 1px solid;
    width: 100%; }
  @media (min-width: 768px) {
    .top-nav--link:last-child a {
      margin-right: 0; } }

#js-mobileNav {
  display: none;
  position: relative;
  -webkit-backface-visibility: none;
  -webkit-transform-style: preserve-3d; }
  @media (min-width: 768px) {
    #js-mobileNav {
      display: block; } }
  #js-mobileNav.active {
    display: block;
    position: fixed;
    background: rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    animation: fadeIn 0.3s ease-in-out forwards; }
    @media (max-width: 767px) {
      .home #js-mobileNav.active {
        height: 100vh; }
        .home #js-mobileNav.active .top-nav {
          left: 0;
          top: 10rem;
          transform: translateX(0) translateY(0); } }
    #js-mobileNav.active > main {
      z-index: -1; }
  #js-mobileNav.hiding {
    animation: fadeOut 0.3s ease-in-out !important;
    animation-fill-mode: forwards; }
  #js-mobileNav #js-mobileNav--button {
    background: none;
    color: #FFFFFF;
    border: none;
    position: fixed;
    right: 1rem;
    top: 1rem;
    padding: 1rem; }
    #js-mobileNav #js-mobileNav--button:focus {
      outline: none; }
    #js-mobileNav #js-mobileNav--button .text {
      float: left;
      text-align: right;
      font-size: 1.25rem;
      font-weight: 100;
      text-transform: uppercase;
      padding: 1rem 1rem 0 0; }
    #js-mobileNav #js-mobileNav--button .close-icon {
      float: right;
      font-size: 2rem;
      border: #FFFFFF 1px solid;
      padding: 0.5rem;
      border-radius: 50%; }
    @media (min-width: 768px) {
      #js-mobileNav #js-mobileNav--button {
        display: none; } }

.main-nav-button {
  display: inline;
  line-height: 0;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  float: right;
  margin-top: 0.25rem;
  z-index: 1; }
  .main-nav-button:focus {
    outline: none; }
  .main-nav-button .glyphicon {
    margin: 0px; }
  .home .main-nav-button {
    color: #FFFFFF; }
  .sticky .main-nav-button {
    color: #232323; }
  @media (min-width: 768px) {
    .main-nav-button {
      display: none; } }

.main-nav-button--text {
  display: inline-block;
  font-size: 1rem;
  text-transform: uppercase;
  margin-right: 0.5rem; }

.main-nav-button--button {
  display: inline-block;
  text-align: center;
  border: 1px solid;
  border-radius: 50%;
  padding: 1.25rem; }

.cds-menu.sticky {
  animation: menuDown 0.3s ease-in-out;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999; }
  .home .cds-menu.sticky .topbar {
    position: relative;
    transform: translateX(0%);
    left: 0; }
  @media (min-width: 768px) {
    .cds-menu.sticky .topbar {
      padding: 0.5rem 1rem;
      margin: 0;
      width: 100%; } }
  @media (min-width: 992px) {
    .cds-menu.sticky .topbar {
      max-width: 1150px;
      margin: 0 auto; } }
  @media (min-width: 992px) {
    .cds-menu.sticky #js-mobileNav {
      margin-top: 1rem; } }
  .cds-menu.sticky + .page-banner {
    margin-top: 7rem; }
    @media (min-width: 768px) {
      .cds-menu.sticky + .page-banner {
        margin-top: 10rem; } }
    @media (min-width: 992px) {
      .cds-menu.sticky + .page-banner {
        margin-top: 11rem; } }

@keyframes fadeIn {
  0% {
    display: none;
    opacity: 0; }
  1% {
    display: block;
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeOut {
  0% {
    display: block;
    opacity: 1; }
  99% {
    opacity: 0; }
  100% {
    display: none !important;
    opacity: 0; } }
@keyframes menuDown {
  0% {
    top: -10rem; }
  100% {
    top: 0; } }
.video-banner--control-button {
  color: #FFFFFF !important;
  font-size: 1.25rem;
  position: absolute;
  left: 0.5rem;
  bottom: 1rem;
  text-decoration: none !important;
  z-index: 9999; }
  @media (min-width: 992px) {
    .video-banner--control-button {
      bottom: 1.5rem;
      left: 1rem; } }
  .video-banner--control-button .pause-ico {
    border: #FFFFFF 2px solid;
    border-radius: 50%;
    display: inline-block;
    margin-right: 0.4rem;
    padding: 0.75rem; }
    @media (min-width: 992px) {
      .video-banner--control-button .pause-ico {
        margin-right: 0.75rem; } }
    .video-banner--control-button .pause-ico.fa-play {
      padding: 0.75rem 0.8rem; }

.font-color-white {
  color: #FFFFFF; }

.icon-text-list {
  margin-bottom: 3rem; }

.button-center {
  text-align: center; }

.button {
  position: relative;
  display: inline-block;
  font-weight: 400;
  padding: 1rem 1.5rem;
  border: #FFCC33 2px solid;
  border-radius: 1rem;
  background: #FFCC33;
  transition: all 0.3s ease-in-out;
  color: #066169;
  margin: 2rem 0;
  font-size: 1.75rem; }
  .button:hover {
    border-color: #066169;
    background: #066169;
    color: #FFCC33; }
  .button.outline {
    background: none;
    color: #FFFFFF;
    border-color: #FFFFFF; }
    .button.outline:hover {
      background: #FFCC33;
      color: #066169;
      border-color: #FFCC33; }
    .button.outline.dark {
      color: #066169 !important;
      border-color: #066169; }
      .button.outline.dark:hover {
        color: #FFCC33 !important;
        background: #066169; }
  .button.small {
    margin: 1rem 0;
    padding: 0.5rem;
    font-size: 1.2rem; }

@media (min-width: 992px) {
  .video-container {
    padding: 0 10rem; } }

.our-team--listing {
  border-top: #E1E4E7 5px solid;
  max-width: 100% !important; }
