// =============================================================================

    // Application Post: Tracker

// =============================================================================
.application-post__questions {
    background: $palette--white;
    padding: $section-padding;
    position: relative;

    h3 {
        border-bottom: 1px solid $palette--font-black;
        color: $palette--black;
        font-family: $font--sans;
        font-size: $font-scale--h3;
        font-weight: 400;
        margin: 0 0 calc(#{$unit} * 2) 0;
        padding: 0 0 2rem 0;
    }

    span {
        color: $palette--blue;
        font-family: $font--sans;
        font-size: $font-scale--h4;
        font-weight: 600;
        margin: 0 0 calc(#{$unit} * 1.5);
    }

    p {
        @extend %paragraph;
        margin: calc(#{$unit} * 1.5) 0 calc(#{$unit} * 2);
    }

    button {

    }

}
