// =============================================================================

    // Application Post: Skill

// =============================================================================
.application-post__skill {
    padding: calc(#{$unit} * 5) 0 0 0;

    h4 {
        border-bottom: 1px solid $palette--font-black;
        color: $palette--black;
        font-family: $font--sans;
        font-size: $font-scale--h3;
        font-weight: 400;
        margin: 0 0 calc(#{$unit} * 2) 0;
        padding: 0 0 2rem 0;
        text-align: left;
    }

    p {
        @extend %paragraph;
        text-align: left;
    }

}
