// =============================================================================

    // Application Post: Tracker

// =============================================================================
.application-post__tracker {
    background: $palette--white;
    position: relative;
    z-index: 10;

    @media #{$p-tablet} {
        text-align: left;
    }

    @media #{$l-tablet} {
        position: sticky;
        top: 0;
    }

    &::before {
        background-color: transparentize($palette--black, .15);
        background-image: url("/images/bg_lightning_texture.png");
        background-position: center;
        background-repeat: repeat;
        background-size: 75px;
        content: " ";
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    >.container--layout {
        position: relative;

        >.flex-grid {

            >.box {
                padding: calc(#{$unit} * 1.5) 0;

                &:last-child {
                    text-align: center;

                    @media #{$l-tablet} {
                        text-align: right;
                    }

                }

            }

        }

    }

    .application-post__tracker-user-photo {
        background-position: center;
        background-size: cover;
        border: calc(#{$unit} / 4) solid $palette--blue;
        border-radius: 100%;
        display: block;
        height: calc(#{$unit} * 5);
        width: calc(#{$unit} * 5);
    }

    .application-post__tracker-job-title {
        color: $palette--font-white;
        display: block;
        font-family: $font--sans;
        font-size: $font-scale--h3;
        font-weight: 600;
        margin: 0 0 $unit;
    }

    .application-post__tracker-job-department {
        color: $palette--blue;
        display: inline-block;
        font-family: $font--sans;
        font-size: $font-scale--regular;
        margin: 0;
        width: 100%;
    }

    .application-post__tracker-step {
        color: $palette--font-white;
        display: inline-block;
        font-family: $font--sans;
        font-size: $font-scale--h3;
        font-weight: 600;
        margin: 0 0 $unit;
        width: 100%;
    }

    .application-post__tracker-item {
        color: $palette--red;
        display: inline-block;
        margin: 0 calc(#{$unit} / 4);
        text-decoration: none;
        transition: all .2s ease;

        .fa-times-circle {
            display: block;
        }
        .fa-circle {
            display: none;
        }
        .fa-check-circle {
            display: none;
        }

        @media #{$l-tablet} {
            margin: 0 0 0 calc(#{$unit} / 2);
        }

        &.error {
            .fa-times-circle {
                color: $palette--red;
                display: block;
            }
            .fa-circle {
                display: none;
            }
            .fa-check-circle {
                display: none;
            }
        }

        &.complete {
            .fa-times-circle {
                display: none;
            }
            .fa-circle {
                display: none;
            }
            .fa-check-circle {
                color: $palette--green;
                display: block;
            }
        }

        &.active {
            .fa-times-circle {
                display: none;
            }
            .fa-circle {
                color: $palette--blue;
                display: block;
            }
            .fa-check-circle {
                display: none;
            }
        }

        &:hover {
            .fa-times-circle {
                color: $palette--blue;
                transition: all .2s ease;
            }
            .fa-circle {
                color: $palette--blue;
                transition: all .2s ease;
            }
            .fa-check-circle {
                color: $palette--blue;
                transition: all .2s ease;
            }
        }

    }

}

.application-post__action-wrapper {

    >.box {
        text-align: center;

        @media #{$p-tablet} {
            text-align: left;
        }

        &:last-child {

            @media #{$p-tablet} {
                text-align: right;
            }

        }

    }

}