<button 
    class="application-post__add-button">

    <div
        class="application-post__add-icon">

        <i class="fas fa-plus-circle"></i>

    </div>

    <div
        class="application-post__add-content">

        <span>
            {{ content.add_title }}
        </span>

        <span>
            {{ content.add_context }}
        </span>

    </div>

</button>