<div data-clone>
    <div data-c-overlay="black(80)" data-c-padding="bottom(3)" style="background-image: url('/images/bg_crowd.jpg');">
        {% include "common/menu" %}
        <div data-c-container="large">
            <h1 data-c-heading="h1" data-c-margin="top(3) bottom(.5)">Submit an Application</h1>
            <p data-c-margin="bottom(3)" data-c-color="white">You're applying to: <span data-c-font-weight="bold">JOB POSITION TITLE</span> at <span data-c-font-weight="bold">DEPARTMENT NAME</span>.</p>
            <nav aria-label="breadcrumb" data-c-breadcrumbs data-c-color="white">
                <ol>
                    <li>
                        <a href="#link-to-page" title="This is the title of the page link.">Talent Cloud</a>
                        <i class="">></i>
                    </li>
                    <li>
                        <a href="#link-to-page" title="This is the title of the page link.">My Applications</a>
                        <i class="">></i>
                    </li>
                    <li>
                        <span aria-current="page">Apply: Step 3</span>
                        <i class="">></i>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</div>
