{# =============================================================================

    Talent Cloud
    Applicant: Application Post - References

============================================================================= #}
<div
    class="application-post__reference accordion 
    {% for declaration in user.declarations %}
        {% if declaration.skill_id == item.id %}
            {% if declaration.status == "complete" %}
                complete
            {% endif %}
        {% endif %}
    {% endfor %}">

    <div
        class="application-post__skill-reference-trigger accordion-trigger">

        <div
            class="">
            <i class="fas fa-exclamation-triangle"></i>
            <i class="fas fa-check"></i>
        </div>

        <h5>
            Optional Reference
        </h5>

        <i class="fas fa-chevron-up"></i>

    </div>

    <div 
        class="accordion-content">

        <div
            class="flex-grid">

        </div>

    </div>

</div>