{# =============================================================================

    Talent Cloud
    Applicant: Application Post - Skill

============================================================================= #}
<a 
    aria-hidden="true"
    class="application-post__anchor"
    id="skill{{ item.id }}">
</a>

<div 
    class="application-post__skill">

    <h4>
        {{ item.title }}
    </h4>

    <p>
        {{ item.description }}
    </p>

</div>