{# =============================================================================

    Talent Cloud
    Applicant: Application Post - Tracker

============================================================================= #}
<section
    class="application-post__tracker">

    <div 
        class="container--layout">

        <div
            class="flex-grid middle">

            <div 
                class="box lg-1of2 flex-grid middle">

                <a 
                    class="application-post__tracker-user-photo"
                    style="background-image:url('{{ user.photo }}');">
                </a>

            </div>

            <div 
                class="box lg-1of2">

            </div>

        </div>

    </div>

</section>