/* =============================================================================

    Authored by: Talent Cloud

    This is a sample SASS file.

============================================================================= */

.block__element--modifier {
    appearance: none;
    border-radius: 3px;
    color: blue;
    display: block;
    grid-template-rows: 1fr 1fr;
}
