/* =============================================================================

    Authored by: Talent Cloud

    Default Buttons

============================================================================= */

[class*="button--"] {
    border-radius: 30px;
    cursor: pointer;
    display: inline-block;
    font-family: $font-hk;
    font-weight: 400;
    padding: 1rem 1.5rem;
    transition: all .2s ease;

    &[class*="yellow"] {
        background: $palette-yellow--light;
        color: $palette-grey--dark;

        &:hover {
            background: $palette-yellow--dark;
        }

    }

    &[class*="grey"] {
        background: $palette-grey--light;
        color: $palette-grey--dark;

        &:hover {
            background: $palette-grey;
        }

        &:focus {
            color: white;
            background: $palette-grey--dark;
        }

    }

    &:hover {
        transition: all .2s ease;
    }

}

[class*="button__file--"],
input[type="file"][class*="button__file--"] {
    display: inline-block;

    &[class*="yellow"] {

    }

    &[class*="grey"] {

    }

}
