/* =============================================================================

    Authored by: Talent Cloud

    The Landing Hero Banner

============================================================================= */

/* NAVIGATION */

nav{
    padding:0 !important;
}
.nav-container{
    width: 100%;
}

.nav-container li {
    @media screen and (max-width: 660px){
        display: block;
        width: 100%;
    }
}

.navbar-right {
    float: right;
    @media screen and (max-width: 768px) {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    @media screen and (max-width: 660px) {
        float: none;
        margin-top: 0;
        margin-bottom: 0;
    }
}


.nav-container li a{
    font-size: 1.5rem;
    color: #ccc;
    font-weight: bold;
    text-transform: uppercase;
}

/* FIP (TOP BLACK) BANNER */

.page-title{
    font-size: 1.5rem;
    margin-top: 0;
    text-align: center;
}

.cloudicon{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.languageSelectLink{
    float:right;
    margin-top: 0.75rem;
    color: #FFFFFF;
}
.languageSelect{
    color: #FFFFFF;
    display: inline-block;
}

#langSelect{
    color: #FFF;
}

#topicsMenu{
    color: #FFF;
    background: #000;
}

/* TALENT CLOUD LOGO */

.page-banner--logo-container {
    max-height: 20vh;
    z-index: 1;
}

.page-banner--logo {
    margin-top: 5rem;
    max-width: 900px;
    float: right;
    @media screen and (max-width: 1025px) {
        margin-top: 4rem;
    }

}

.page-banner--tagline-container{
    height: auto;
    width: auto;
}

.page-banner--tagline{
    font-family: "HKGrotesk", sans-serif;
    font-size: calc(12px + 1.5vw);
    line-height: 1.35;
    @media screen and (max-width: 1025px) {
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 2.5rem;
    }
}

.tc-logo{
    width: 100%;
    height: auto;
    float: right; }

/* New Landing Hero ========================================================= */

.landing-hero {
    position: relative;
    z-index: 10;
}

.landing-hero__container {
    margin: 0 auto;
    max-width: 100rem;
    padding: 9rem 0 8rem;
    width: 90%;

    >.flex-grid {

        >.box {

        }

    }

}

.landing-hero__link {
    display: block;

    @media #{$l-tablet} {
        padding: 0 1rem 0 0;
        text-align: right;
    }

}

.landing-hero__logo {
    display: inline-block;
    margin: -10% 0 0 0;
    max-width: 50rem;
    text-align: center;
    width: 100%;
}

.landing-hero__tagline {
    color: $white;
    display: block;
    font-size: 25px;
    text-align: center;

    @media #{$l-tablet} {
        border-left: .5rem solid $white;
        padding: 2rem 0 2rem 4rem;
        text-align: left;
    }

}

.landing-hero__admin-tagline {
    color: $white;
    font-size: 20px;
    margin: 4rem 0 0 0;
    text-align: center;
}

.alert-banner {

    .box {

        &:first-child {
            padding: 0 0 1rem 0;

            @media #{$l-tablet} {
                padding: 0;
                text-align: left;
            }

        }

        &:last-child {

            @media #{$l-tablet} {
                text-align: right;
            }

        }

    }

}

.alert-banner__icon {
    color: $palette-blue--dark;
    font-size: 12px !important;
}

[class*="alert-banner__copy"] {
    color: $palette-blue--dark;
    font-size: 12px !important;

    a {
        cursor: pointer;
    }

}