/* =============================================================================

    Authored by: Talent Cloud

    Default Modal Styles

============================================================================= */

.dialogue-modal {
    width: 90%;

    @media #{$desktop} {
        width: 75%;
    }

    &[class*="--overflow"] {
        position: relative;
        top: 5rem;
        left: auto;
        margin: 0 auto 5rem auto;
        transform: none;
        width: 90%;
    }

    &[class*="--viewport"] {
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}
