/* =============================================================================

    Authored by: Talent Cloud

    Webfonts

============================================================================= */

@font-face {
    font-family: 'HKGrotesk';
    font-weight: 400;
    src: url('/webfonts/hk-grotesk/Webfonts/HKGrotesk-Regular.eot'); // IE9 Compt fix
    src: local('☺'),
        url('/webfonts/hk-grotesk/Webfonts/HKGrotesk-Regular.eot?#iefix') format('embedded-opentype'), // IE6-IE8
        url('/webfonts/hk-grotesk/Webfonts/HKGrotesk-Regular.woff2') format('woff2'),
        url('/webfonts/hk-grotesk/Webfonts/HKGrotesk-Regular.woff') format('woff'),
        url('/webfonts/hk-grotesk/TTF/HKGrotesk-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'HKGrotesk';
    font-weight: 200;
    src: url('/webfonts/hk-grotesk/Webfonts/HKGrotesk-Light.eot'); // IE9 Compt fix
    src: local('☺'),
        url('/webfonts/hk-grotesk/Webfonts/HKGrotesk-Light.eot?#iefix') format('embedded-opentype'), // IE6-IE8
        url('/webfonts/hk-grotesk/Webfonts/HKGrotesk-Light.woff2') format('woff2'),
        url('/webfonts/hk-grotesk/Webfonts/HKGrotesk-Light.woff') format('woff'),
        url('/webfonts/hk-grotesk/TTF/HKGrotesk-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'HKGrotesk';
    font-weight: 500;
    src: url('/webfonts/hk-grotesk/Webfonts/HKGrotesk-Medium.eot'); // IE9 Compt fix
    src: local('☺'),
        url('/webfonts/hk-grotesk/Webfonts/HKGrotesk-Medium.eot?#iefix') format('embedded-opentype'), // IE6-IE8
        url('/webfonts/hk-grotesk/Webfonts/HKGrotesk-Medium.woff2') format('woff2'),
        url('/webfonts/hk-grotesk/Webfonts/HKGrotesk-Medium.woff') format('woff'),
        url('/webfonts/hk-grotesk/TTF/HKGrotesk-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'HKGrotesk';
    font-weight: 700;
    src: url('/webfonts/hk-grotesk/Webfonts/HKGrotesk-SemiBold.eot'); // IE9 Compt fix
    src: local('☺'),
        url('/webfonts/hk-grotesk/Webfonts/HKGrotesk-SemiBold.eot?#iefix') format('embedded-opentype'), // IE6-IE8
        url('/webfonts/hk-grotesk/Webfonts/HKGrotesk-SemiBold.woff2') format('woff2'),
        url('/webfonts/hk-grotesk/Webfonts/HKGrotesk-SemiBold.woff') format('woff'),
        url('/webfonts/hk-grotesk/TTF/HKGrotesk-SemiBold.ttf') format('truetype');
}
