{# =============================================================================

    Talent Cloud
    Manager - Create Job Layout

============================================================================= #}
<div class="manager-jobs__create">

    <div class="container--layout">

        <div class="flex-grid">

            {# Include Sidebar #}

                {% include "manager/job_create/sidebar" %}

            {# Poster Content #}

                <div class="manager-job-index__content-wrapper box lg-3of4">

                    {% include "manager/job_create/form" %}

                </div>

        </div>

    </div>

</div>
