{# =============================================================================

    Talent Cloud
    Manager: Create Job Question

============================================================================= #}
<div
    class="manager-jobs__create-question template" 
    data-question-id="0">

    <fieldset
        class="form__fieldset">

        <legend>

            <div
                class="flex-grid">

                <div
                    class="box small-2of3">
                    Question Information
                </div>

                <div
                    class="box small-1of3">
                    <button
                        class="manager-jobs__delete-question-button">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </div>

            </div>

        </legend>

        <div 
            class="flex-grid">

            <div
                class="box med-1of2">

                <div
                    class="flex-grid">

                    <div class="box full">

                        <div 
                            class="form__input-wrapper--float"
                            data-form-id="question-title-english">

                            <label 
                                class="form__label"
                                for="">
                                Question (English)
                            </label>

                            <input
                                class="form__input"
                                id=""
                                type="text"
                                value="">

                        </div>

                    </div>

                    <div class="box full">

                        <div 
                            class="form__input-wrapper--float"
                            data-form-id="question-description-english">

                            <label 
                                class="form__label"
                                for="">
                                Description (English)
                            </label>

                            <textarea
                                class="form__textarea"></textarea>

                        </div>

                    </div>

                </div>

            </div>

            <div
                class="box med-1of2">

                <div
                    class="flex-grid">

                    <div class="box full">

                        <div 
                            class="form__input-wrapper--float"
                            data-form-id="question-title-french">

                            <label 
                                class="form__label"
                                for="">
                                Question (Français)
                            </label>

                            <input
                                class="form__input"
                                id=""
                                type="text"
                                value="">

                        </div>

                    </div>

                    <div class="box full">

                        <div 
                            class="form__input-wrapper--float"
                            data-form-id="question-description-french">

                            <label 
                                class="form__label"
                                for="">
                                Description (Français)
                            </label>

                            <textarea
                                class="form__textarea"></textarea>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </fieldset>

</div>