{# =============================================================================

    Talent Cloud
    Manager: Create Job Sidebar

============================================================================= #}
<div
    class="sidebar-wrapper box lg-1of4">

    <nav
        class="sidebar">

        <h4
            class="sidebar-label">
            {{sidebar.poster_sections}}
            Meow
        </h4>

        <a
            class="sidebar-link"
            href="#details"
            title="">
            {{sidebar.job_details}}
            Meow
        </a>

        <a
            class="sidebar-link"
            href="#tasks"
            title="">
            Key Tasks
        </a>

        <a
            class="sidebar-link"
            href="#skills"
            title="">
            Skills &amp; Competencies
        </a>

        <a
            class="sidebar-link"
            href="#questions"
            title="">
            Questions for the Applicant
        </a>

    </nav>

</div>
