{# =============================================================================

    Talent Cloud
    Manager: Create Job Sidebar

============================================================================= #}
<div 
    class="sidebar-wrapper box lg-1of4">

    <nav 
        class="sidebar">

        <h4 
            class="sidebar-label">
            Poster Sections
        </h4>

        <a 
            class="sidebar-link"
            href="#details"
            title="">
            Job Details
        </a>

        <a 
            class="sidebar-link"
            href="#tasks"
            title="">
            Key Tasks
        </a>

        <a 
            class="sidebar-link"
            href="#skills"
            title="">
            Skills &amp; Competencies
        </a>

        <a 
            class="sidebar-link"
            href="#questions"
            title="">
            Questions for the Applicant
        </a>

    </nav>

</div>