{# =============================================================================

    Talent Cloud
    Manager: Create Job Sidebar

============================================================================= #}
<div
    class="sidebar-wrapper box lg-1of4">

    <nav
        class="sidebar">

        <h2
            class="sidebar-label">
            {{sidebar_l10n.poster_sections}}
        </h2>

        <a
            class="sidebar-link"
            href="#questions"
            title="">
            {{sidebar_l10n.questions}}
        </a>

    </nav>

</div>
