{# =============================================================================

    Talent Cloud
    Manager: Create Job Task

============================================================================= #}
<div
    class="manager-jobs__create-skill {% if skill == false %}template{% endif %}"
    data-skill-id="{% if skill == false %}0{% else %}{{ skillCounter }}{% endif %}">

    <fieldset
        class="form__fieldset">

        <legend>

            <div
                class="flex-grid">

                <div
                    class="box small-2of3">
                    Skill Information
                </div>

                <div
                    class="box small-1of3">
                    <button
                        class="manager-jobs__delete-skill-button">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </div>

            </div>

        </legend>

        <div
            class="flex-grid">

            <div
                class="box med-1of2">

                <div 
                    class="form__input-wrapper--select">

                    <label 
                        class="form__label" 
                        for="">
                        Select Skill
                    </label>

                    <div
                        class="form__select-wrapper fas fa-chevron-down">

                        <select
                            class="form__input">

                            {% for skill in skills %}

                                {% if skill.type == skillType %}

                                    <option {% if jobSkill.name == skill.name %}selected{% endif %}>{{ skill.name }}</option>

                                {% endif %}

                            {% endfor %}

                        </select>

                    </div>
                </div>

            </div>

            <div
                class="box med-1of2">

                <div 
                    class="form__input-wrapper--select">
                    <label 
                        class="form__label" 
                        for="">
                        Select Level Required
                    </label>
                    <div
                        class="form__select-wrapper fas fa-chevron-down">
                        <select
                            class="form__input">

                            {% if skillType == "hard" %}

                                {% for level in skill_levels.hard %}

                                    <option {% if jobSkill.requirement == level %}selected{% endif %}>{{ level }}</option>

                                {% endfor %}

                            {% elseif skillType == "soft" %}

                                {% for level in skill_levels.soft %}

                                    <option {% if jobSkill.requirement == level %}selected{% endif %}>{{ level }}</option>

                                {% endfor %}

                            {% endif %}

                        </select>
                    </div>
                </div>

            </div>

        </div>

    </fieldset>

</div>
