<div
    aria-hidden="true"
    aria-describedby="confirm-deletion-description"
    aria-labelledby="confirm-deletion-title"
    data-c-dialog
    data-c-dialog-id="confirm-deletion"
    data-c-padding="top(double) bottom(double)"
    role="dialog">
    <div
        data-c-background="white(100)"
        data-c-radius="rounded"
        data-c-margin="bottom(double)">
        <div
            data-c-padding="tb(1)"
            data-c-border="bottom(thin, solid, black)" data-c-background="c1(100)"
            class="dialog-header">
            <div data-c-container="medium">
                <h5
                    data-c-font-size="h3" data-c-font-weight="bold"
                    id="confirm-deletion-title"
                    data-c-dialog-focus data-c-color="white">
                    Are you sure?
                </h5>
                <button
                    data-c-dialog-action="close"
                    data-c-dialog-id="confirm-deletion"
                    type="button"
                    data-c-color="white">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div data-c-border="bottom(thin, solid, black)">
            <div id="confirm-deletion-description">
                <div data-c-container="medium" data-c-padding="tb(1)">
                    <p>You're about to remove the link between this experience and the chosen skill. Any text you've provided for this skill will disappear from this experience everywhere on the site. Are you sure you want to remove this link?</p>
                </div>
            </div>
        </div>
        <!-- The following dialog actions can be customized depending on the dialog. -->
        <div data-c-padding="tb(1)" data-c-container="medium">
            <div data-c-grid="gutter middle">
                <div data-c-grid-item="base(1of2)">
                    <button
                        data-c-button="outline(c2)"
                        data-c-radius="rounded"
                        data-c-dialog-action="close"
                        data-c-dialog-id="confirm-deletion">
                        Cancel
                    </button>
                </div>
                <div
                    data-c-grid-item="base(1of2)"
                    data-c-alignment="base(right)">
                    <button
                        data-c-button="solid(c1)"
                        data-c-radius="rounded"
                        data-c-dialog-action="close"
                        data-c-dialog-id="confirm-deletion">
                        Confirm Removal
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
