<form>
    <div data-c-padding="bottom(1)">
        <div data-c-container="medium">
            <div data-c-grid="gutter(all, 1) middle">
                <div data-c-input="checkbox(group)" data-c-grid-item="base(1of1)">
                    <label>&nbsp;</label>
                    <span>Required</span>
                    <div>
                        <label for="cA1">
                            <input
                                id="cA1"
                                type="checkbox"
                                required/>
                            <span>Yes, this experience helps me meet the education requirements outlined below.</span>
                        </label>
                    </div>
                    <span>This input has an error.</span>
                </div>
            </div>
            <div data-c-background="gray(10)" data-c-radius="rounded" data-c-padding="all(1)" data-c-margin="bottom(1)">
                {# This content is written by manager somewhere on the JPB. The stuff below is just for example purposes. #}
                <p data-c-font-weight="bold">2 Years Post-secondary</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, officiis delectus excepturi voluptate laudantium omnis nesciunt consectetur eum sapiente aliquid ipsam obcaecati expedita odio id eligendi voluptatum. Consequuntur, quibusdam voluptates.</p>
                <p data-c-margin="tb(1)">OR</p>
                <p data-c-font-weight="bold">Equivalent Experience</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe accusamus animi consequatur dolorem voluptatum earum iure doloremque, facere est asperiores, dignissimos quae architecto vero unde vitae quis excepturi! Totam, libero.</p>
            </div>
        </div>
    </div>
</form>
