<form>
    <div>
        <div data-c-container="medium">
            <div data-c-grid="gutter(all, 1) middle">
                <div data-c-grid-item="base(1of1)">
                    <p data-c-font-weight="bold">Please indicate which of the following <a href="" title="Open the job poster in a new tab or window to review the definition of education and skills." target="_blank">required skills</a> (if any) you used in this experience.</p>
                </div>
                <div data-c-input="checkbox(group)" data-c-grid-item="base(1of1)">
                    <label>Select all that apply:</label>
                    <span>Required</span>
                    <div>
                        <label for="cA1">
                            <input
                                id="cA1"
                                type="checkbox"/>
                            <span>HTML5</span>
                        </label>
                        <label for="cA2">
                            <input
                                id="cA2"
                                type="checkbox"/>
                            <span>CSS3</span>
                        </label>
                        <label for="cA3">
                            <input
                                id="cA3"
                                type="checkbox"/>
                            <span>React</span>
                        </label>
                        <label for="cA4">
                            <input
                                id="cA4"
                                type="checkbox"/>
                            <span>Programming</span>
                        </label>
                        <label for="cA5">
                            <input
                                id="cA5"
                                type="checkbox"/>
                            <span>Hacking</span>
                        </label>
                    </div>
                    <span>This input has an error.</span>
                </div>
                <div data-c-grid-item="base(1of1)">
                    <p data-c-font-weight="bold">Please indicate which of the following <a href="" title="Open the job poster in a new tab or window to review the definition of education and skills." target="_blank">optional skills</a> (if any) you used in this experience.</p>
                </div>
                <div data-c-input="checkbox(group)" data-c-grid-item="base(1of1)">
                    <label>Select all that apply:</label>
                    <span>Required</span>
                    <div>
                        <label for="cA1">
                            <input
                                id="cA1"
                                type="checkbox"/>
                            <span>Networking</span>
                        </label>
                        <label for="cA2">
                            <input
                                id="cA2"
                                type="checkbox"/>
                            <span>Capitalism</span>
                        </label>
                        <label for="cA3">
                            <input
                                id="cA3"
                                type="checkbox"/>
                            <span>Conflict Resolution</span>
                        </label>
                    </div>
                    <span>This input has an error.</span>
                </div>
            </div>
        </div>
    </div>
</form>
