# htaccess directives

Options FollowSymLinks Indexes

# Default handler
DirectoryIndex index.php


############################
# PHP SETTINGS
<IfModule mod_php5.c>
	# limit the maximum memory consumed by the php script to 64 MB
	# php_value memory_limit 64M
	# register_globals is deprecated as of PHP 5.3.0 - disable it for security reasons.
	# php_value register_globals 0
	# post_max_size is the maximum size of ALL the data that is POST'ed to php at a time (8 MB)
	# php_value post_max_size 8388608
	# upload_max_filesize is the maximum size of a single uploaded file (5 MB)
	php_value upload_max_filesize 5242880
	# on development servers, set to 1 to display errors. Set to 0 on production servers.
	php_value display_errors 1
</IfModule>

RewriteEngine on
SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

RewriteBase /tc/

#non localized services - public
RewriteRule ^api/v1/profilePic/([0-9]{1,10}) services/ProfilePic.php
RewriteRule ^api/v1/getManagerProfile/([0-9]{1,10}) services/ManagerProfile.php
RewriteRule ^api/v1/getWorkEnvironmentByManagerProfile/([0-9]{1,10}) services/WorkEnvironmentByManagerProfile.php
RewriteRule ^api/v1/getWorkplacePhotoByManagerProfileAndName/([0-9]{1,10})/([a-zA-Z0-9_-]+) services/WorkplacePhoto.php
RewriteRule ^api/v1/getTeamCultureByManagerProfile/([0-9]{1,10}) services/TeamCultureNonLocalized.php

#non localized services - secured
RewriteRule ^api/v1/getJobSeekers services/JobSeekers.php
RewriteRule ^api/v1/getJobSeekerProfileByUser/([0-9]{1,10}) services/JobSeekerProfile.php
RewriteRule ^api/v1/putJobSeekerProfileByUser/([0-9]{1,10}) services/JobSeekerProfile.php
RewriteRule ^api/v1/getJobApplication/([0-9]{1,10}) services/JobApplication.php
RewriteRule ^api/v1/getJobApplicationsByJobPoster/([0-9]{1,10}) services/JobApplicationsByJobPoster.php
RewriteRule ^api/v1/postJobApplication services/JobApplication.php
RewriteRule ^api/v1/submitJobApplication/([0-9]{1,10}) services/SubmitJobApplication.php
RewriteRule ^api/v1/putApplicationForJob/([0-9]{1,10})/forUser/([0-9]{1,10}) services/JobApplicationByJobAndUser.php
RewriteRule ^api/v1/getApplicationForJob/([0-9]{1,10})/forUser/([0-9]{1,10}) services/JobApplicationByJobAndUser.php
RewriteRule ^api/v1/createJobPoster services/JobPoster.php
RewriteRule ^api/v1/putWorkEnvironmentByManagerProfile/([0-9]{1,10}) services/WorkEnvironmentByManagerProfile.php
RewriteRule ^api/v1/putWorkplacePhotoByManagerProfileAndName/([0-9]{1,10})/([a-zA-Z0-9_-]+) services/WorkplacePhoto.php
RewriteRule ^api/v1/putTeamCultureByManagerProfile/([0-9]{1,10}) services/TeamCultureNonLocalized.php
RewriteRule ^api/v1/postManagerProfile services/ManagerProfile.php
RewriteRule ^api/v1/getDeclarationsForApplication/([0-9]{1,10}) services/ApplicationDeclarationService.php
RewriteRule ^api/v1/putDeclarationForApplication/([0-9]{1,10})/forCriteria/([0-9]{1,10}) services/ApplicationDeclarationService.php
RewriteRule ^api/v1/deleteDeclarationForApplication/([0-9]{1,10})/forCriteria/([0-9]{1,10}) services/ApplicationDeclarationService.php
RewriteRule ^api/v1/putWorkSampleForApplication/([0-9]{1,10})/forCriteria/([0-9]{1,10}) services/ApplicationWorkSample.php
RewriteRule ^api/v1/deleteWorkSampleForApplication/([0-9]{1,10})/forCriteria/([0-9]{1,10}) services/ApplicationWorkSample.php
RewriteRule ^api/v1/getLatestDeclarationForUser/([0-9]{1,10})/forSkill/([0-9a-zA-Z$_.+!*'(),-]+) services/SkillDeclarationByUser.php
RewriteRule ^api/v1/putMicroReferenceForApplication/([0-9]{1,10})/forCriteria/([0-9]{1,10}) services/ApplicationMicroReferenceService.php
RewriteRule ^api/v1/deleteMicroReferenceForApplication/([0-9]{1,10})/forCriteria/([0-9]{1,10}) services/ApplicationMicroReferenceService.php

#common localized services - public
RewriteRule ^api/v1/([a-z]{2}_(?:[A-Z]{2}))/getContent services/Content.php
RewriteRule ^api/v1/([a-z]{2}_(?:[A-Z]{2}))/getAllJobs services/JobPosters.php
RewriteRule ^api/v1/([a-z]{2}_(?:[A-Z]{2}))/getAllJobsByAdminUser/([0-9]{1,10})  services/JobPostersByAdminUser.php
RewriteRule ^api/v1/([a-z]{2}_(?:[A-Z]{2}))/getJobPoster/([0-9]{1,10}) services/JobPoster.php
RewriteRule ^api/v1/([a-z]{2}_(?:[A-Z]{2}))/Lookup/department services/Lookup.php
RewriteRule ^api/v1/([a-z]{2}_(?:[A-Z]{2}))/Lookup/province services/Lookup.php
RewriteRule ^api/v1/([a-z]{2}_(?:[A-Z]{2}))/Lookup/city services/Lookup.php
RewriteRule ^api/v1/([a-z]{2}_(?:[A-Z]{2}))/Lookup/jobterm services/Lookup.php
RewriteRule ^api/v1/([a-z]{2}_(?:[A-Z]{2}))/Lookup/division services/Lookup.php
RewriteRule ^api/v1/([a-z]{2}_(?:[A-Z]{2}))/Lookup/branch services/Lookup.php
RewriteRule ^api/v1/([a-z]{2}_(?:[A-Z]{2}))/Lookup/skill services/Lookup.php
RewriteRule ^api/v1/([a-z]{2}_(?:[A-Z]{2}))/Lookup/skill_level services/Lookup.php
RewriteRule ^api/v1/([a-z]{2}_(?:[A-Z]{2}))/Lookup/experience_level services/Lookup.php
RewriteRule ^api/v1/([a-z]{2}_(?:[A-Z]{2}))/Lookup/clearance services/Lookup.php
RewriteRule ^api/v1/([a-z]{2}_(?:[A-Z]{2}))/Lookup/language services/Lookup.php
RewriteRule ^api/v1/([a-z]{2}_(?:[A-Z]{2}))/Lookup/job_seeker_profile_question services/Lookup.php
RewriteRule ^api/v1/([a-z]{2}_(?:[A-Z]{2}))/Lookup/relationship services/Lookup.php
RewriteRule ^api/v1/([a-z]{2}_(?:[A-Z]{2}))/Lookup/file_type services/Lookup.php
RewriteRule ^api/v1/([a-z]{2}_(?:[A-Z]{2}))/getTeamCultureByManagerProfile/([0-9]{1,10}) services/TeamCulture.php
RewriteRule ^api/v1/([a-z]{2}_(?:[A-Z]{2}))/getAllWorkSamplesForApplication/([0-9]{1,10}) services/ApplicationWorkSample.php
RewriteRule ^api/v1/([a-z]{2}_(?:[A-Z]{2}))/getAllMicroReferencesForApplication/([0-9]{1,10}) services/ApplicationMicroReferenceService.php

#localized services - secured
RewriteRule ^api/v1/([a-z]{2}_(?:[A-Z]{2}))/dashboard/([0-9]{1,10}) services/Dashboard.php
RewriteRule ^api/v1/([a-z]{2}_(?:[A-Z]{2}))/getFullApplicationForJob/([0-9]{1,10})/forUser/([0-9]{1,10}) services/FullJobApplicationByJobAndUser.php
RewriteRule ^api/v1/([a-z]{2}_(?:[A-Z]{2}))/getFullApplication/([0-9]{1,10}) services/FullJobApplication.php

#Require all granted
#Require ip 127.0.0.1
