<div data-c-padding="tb(3)" id="how" class="flourish-wrapper" data-c-border="tb(thin, solid, gray)">
    <img alt="The Canadian maple leaf." class="flourish-icon-right" src="/images/maple-leaf.svg">
    <div data-c-container="large">
        <h2 data-c-heading="h2" data-c-margin="bottom(1)">How to Submit Your Name</h2>
        <div class="response-list-item">
            <img src="/images/canadian-flag.svg" alt="An icon of the Canadian Flag.">
            <p data-c-margin="bottom(1)" class="response-copy-container">Canadians are known for taking care of each other, even when times are hard. Kudos to you for offering your skills to the Government of Canada so it can help Canadians when they need it most!</p>
        </div>
        <div class="home-hiw" data-c-grid="gutter">
            <div data-c-grid-item="tl(1of3)">
                <button class="active" data-c-align="centre" data-c-button="solid(c2)" data-c-radius="rounded" data-tc-hiw-id="01" data-tc-hiw-trigger>
                    <span data-c-colour="white" data-c-font-size="h4" data-c-font-weight="bold">
                        Step 01: Apply
                    </span>
                </button>
                <button data-c-margin="top(.5)" data-c-align="centre" data-c-button="solid(c2)" data-c-radius="rounded" data-tc-hiw-id="02" data-tc-hiw-trigger>
                    <span data-c-colour="white" data-c-font-size="h4" data-c-font-weight="bold">
                        Step 02: Next Steps
                    </span>
                </button>
                <button data-c-margin="top(.5)" data-c-align="centre" data-c-button="solid(c2)" data-c-radius="rounded" data-tc-hiw-id="03" data-tc-hiw-trigger>
                    <span data-c-colour="white" data-c-font-size="h4" data-c-font-weight="bold">
                        Step 03: Pool Placement
                    </span>
                </button>
                <button data-c-margin="top(.5)" data-c-align="centre" data-c-button="solid(c2)" data-c-radius="rounded" data-tc-hiw-id="04" data-tc-hiw-trigger>
                    <span data-c-colour="white" data-c-font-size="h4" data-c-font-weight="bold">
                        Step 04: Get Started
                    </span>
                </button>
            </div>
            <div data-c-grid-item="tl(2of3)">
                <div class="home-hiw-content active" data-c-align="left" data-c-background="c1(100)" data-c-padding="double" data-c-radius="rounded" data-tc-hiw-id="01">
                    <span data-c-colour="white" data-c-font-size="h4" data-c-font-weight="bold" data-c-margin="bottom(normal)">
                        Step 01: Complete the application process
                    </span>
                    <p data-c-margin="top(normal)" data-c-colour="white">Because we'd like you to be able to hit the ground running as you join a team that needs essential help, we have created a very short and easy process to find your best fit options.This application should take you 20 minutes to complete. Grab a nice hot beverage, and sign up to do your part.</p>
                </div>
                <div class="home-hiw-content" data-c-align="left" data-c-background="c1(100)" data-c-padding="double" data-c-radius="rounded" data-tc-hiw-id="02">
                    <span data-c-colour="white" data-c-font-size="h4" data-c-font-weight="bold" data-c-margin="bottom(normal)">
                        Step 02: Get an email about next steps
                    </span>
                    <p data-c-margin="top(normal)" data-c-colour="white">Yes, you will hear back from the team. And quickly. If you have the skills required, you can expect an email to arrive asking you a few short, extra questions, like the name of a reference we can contact. This process takes about 10 minutes to complete.</p>
                </div>
                <div class="home-hiw-content" data-c-align="left" data-c-background="c1(100)" data-c-padding="double" data-c-radius="rounded" data-tc-hiw-id="03">
                    <span data-c-colour="white" data-c-font-size="h4" data-c-font-weight="bold" data-c-margin="bottom(normal)">
                        Step 03: Get placed in a pool called “Ready to Allocate”
                    </span>
                    <p data-c-margin="top(normal)" data-c-colour="white">After your reference check is done, you’ll be placed on a list of people who are ready to be sent to departments that have critical needs in the area(s) you applied to. You may get called up immediately or you may not get called at all. We’ll also let you know when you’re no longer needed in reserve, so you’re not left wondering. While you’re in this pool, please make sure to ((email the team)) if you have to withdraw your name for any reason. We want to make sure we only send the names of people currently available to departments in need.</p>
                </div>
                <div class="home-hiw-content" data-c-align="left" data-c-background="c1(100)" data-c-padding="double" data-c-radius="rounded" data-tc-hiw-id="04">
                    <span data-c-colour="white" data-c-font-size="h4" data-c-font-weight="bold" data-c-margin="bottom(normal)">
                        Step 04: Get sent to a department!
                    </span>
                    <p data-c-margin="top(normal)" data-c-colour="white">Once you’re paired with a department in need of your help, the department will contact you with information about the opportunity. If it’s really not for you, you can withdraw your name from the reserve list at that time. But the expectation is that you’ll end up helping out on a new team for a bit. The opportunity will be an at-level arrangement, and may be informal in nature. Your home and host departments will coordinate to make this happen. If you do go, drop us a line and let us know how it went. We collect user stories and we’re interested in learning how to improve the process for next time.</p>
                </div>
            </div>
        </div>
    </div>
</div>
