<div id="apply" data-c-background="gray(20)">
    <div data-c-container="large" data-c-padding="tb(3)">
        <div data-c-grid="gutter(all, 1) middle">
            <div data-c-grid-item="tl(3of4)">
                <h2 data-c-heading="h2">The Government of Canada is looking for extra help in these areas:</h2>
            </div>
            <div data-c-grid-item="tl(1of4)" data-c-align="base(center) tl(right)">
                <button
                    data-c-button="reset"
                    data-c-font-size="normal"
                    data-c-font-style="underline"
                    type="button">
                    <span>
                        Expand All Sections
                    </span>
                </button>
            </div>
        </div>
        <p data-c-margin="tb(1)" class="response-copy-container">Do you have skills in any of the following critical need areas? (Because you’re helping out under exceptional circumstances, remember to be realistic about your abilities.)</p>
        <p data-c-margin="tb(1)" class="response-copy-container">Rest assured, this will not impact your current position or salary. This is a flexible, temporary placement so we can lend a hand where its most needed. HR arrangements for those selected will be made on a case-by-case basis. Home and host departments will work together to ensure fast, appropriate solutions. Most options will allow for remote work. Some may last a few days, others may last several weeks.</p>
        <p data-c-margin="tb(1)" class="response-copy-container">Don't have these skills but want to help? We're continuously updating and add jobs. Please check back every 2-3 days.</p>
        <div data-c-accordion-group>
            {# New Version #}
            <div data-c-accordion>
                <button
                    aria-expanded="false"
                    data-c-accordion-trigger
                    tabindex="0"
                    type="button">
                    <div data-c-padding="tb(1)">
                        <h3 data-c-font-size="h3" data-c-font-style="underline">Communications (12)</h4>
                    </div>
                    <span data-c-visibility="invisible">
                        Click to view...
                    </span>
                    <i
                        aria-hidden="true"
                        class="fas fa-plus"
                        data-c-accordion-add
                        data-c-colour="black">
                    </i>
                    <i
                        aria-hidden="true"
                        class="fas fa-minus"
                        data-c-accordion-remove
                        data-c-colour="black">
                    </i>
                </button>
                <div
                    aria-hidden="true"
                    data-c-accordion-content
                    data-c-padding="tl(1)">
                    <div data-c-padding="bottom(1)">
                        <p data-c-font-size="h4" data-c-font-weight="bold" data-c-margin="top(1) bottom(.5)" data-c-color="c2">Video Editing</p>
                        <div data-c-grid="gutter(all, 1)">
                            <div data-c-grid-item="base(1of2) tp(1of3) tl(1of5) equal-col">
                                <a href="" title="" class="response-job-listing" data-c-card data-c-background="white(100)" data-c-display="block" data-c-radius="rounded" data-c-hover-color="black" data-c-align="base(center)" data-c-padding="tb(1) rl(.5)" data-c-border="all(thin, solid, white)">
                                    <span data-c-font-weight="bold" data-c-color="c1" data-c-font-style="underline">Junior Level</span><br>Click to Offer Support
                                </a>
                            </div>
                            <div data-c-grid-item="base(1of2) tp(1of3) tl(1of5) equal-col">
                                <a href="" title="" class="response-job-listing" data-c-card data-c-background="white(100)" data-c-display="block" data-c-radius="rounded" data-c-hover-color="black" data-c-align="base(center)" data-c-padding="tb(1) rl(.5)" data-c-border="all(thin, solid, white)">
                                    <span data-c-font-weight="bold" data-c-color="c1" data-c-font-style="underline">Intermediate Level</span><br>Click to Offer Support
                                </a>
                            </div>
                            <div data-c-grid-item="base(1of2) tp(1of3) tl(1of5) equal-col">
                                <a href="" title="" class="response-job-listing" data-c-card data-c-background="white(100)" data-c-display="block" data-c-radius="rounded" data-c-hover-color="black" data-c-align="base(center)" data-c-padding="tb(1) rl(.5)" data-c-border="all(thin, solid, white)">
                                    <span data-c-font-weight="bold" data-c-color="c1" data-c-font-style="underline">Senior Level</span><br>Click to Offer Support
                                </a>
                            </div>
                            <div data-c-grid-item="base(1of2) tp(1of3) tl(1of5) equal-col">
                                <a href="" title="" class="response-job-listing" data-c-card data-c-background="white(100)" data-c-display="block" data-c-radius="rounded" data-c-hover-color="black" data-c-align="base(center)" data-c-padding="tb(1) rl(.5)" data-c-border="all(thin, solid, white)">
                                    <span data-c-font-weight="bold" data-c-color="c1" data-c-font-style="underline">Manager Level</span><br>Click to Offer Support
                                </a>
                            </div>
                            <div data-c-grid-item="base(1of2) tp(1of3) tl(1of5) equal-col">
                                <a href="" title="" class="response-job-listing" data-c-card data-c-background="white(100)" data-c-display="block" data-c-radius="rounded" data-c-hover-color="black" data-c-align="base(center)" data-c-padding="tb(1) rl(.5)" data-c-border="all(thin, solid, white)">
                                    <span data-c-font-weight="bold" data-c-color="c1" data-c-font-style="underline">Director Level</span><br>Click to Offer Support
                                </a>
                            </div>
                        </div>
                        <p data-c-font-size="h4" data-c-font-weight="bold" data-c-margin="top(1) bottom(.5)" data-c-color="c2">Social Media</p>
                        <div data-c-grid="gutter(all, 1)">
                            <div data-c-grid-item="base(1of2) tp(1of3) tl(1of5) equal-col">
                                <a href="" title="" class="response-job-listing" data-c-card data-c-background="white(100)" data-c-display="block" data-c-radius="rounded" data-c-hover-color="black" data-c-align="base(center)" data-c-padding="tb(1) rl(.5)" data-c-border="all(thin, solid, white)">
                                    <span data-c-font-weight="bold" data-c-color="c1" data-c-font-style="underline">Junior Level</span><br>Click to Offer Support
                                </a>
                            </div>
                            <div data-c-grid-item="base(1of2) tp(1of3) tl(1of5) equal-col">
                                <a href="" title="" class="response-job-listing" data-c-card data-c-background="white(100)" data-c-display="block" data-c-radius="rounded" data-c-hover-color="black" data-c-align="base(center)" data-c-padding="tb(1) rl(.5)" data-c-border="all(thin, solid, white)">
                                    <span data-c-font-weight="bold" data-c-color="c1" data-c-font-style="underline">Intermediate Level</span><br>Click to Offer Support
                                </a>
                            </div>
                            <div data-c-grid-item="base(1of2) tp(1of3) tl(1of5) equal-col">
                                <a href="" title="" class="response-job-listing" data-c-card data-c-background="white(100)" data-c-display="block" data-c-radius="rounded" data-c-hover-color="black" data-c-align="base(center)" data-c-padding="tb(1) rl(.5)" data-c-border="all(thin, solid, white)">
                                    <span data-c-font-weight="bold" data-c-color="c1" data-c-font-style="underline">Senior Level</span><br>Click to Offer Support
                                </a>
                            </div>
                            <div data-c-grid-item="base(1of2) tp(1of3) tl(1of5) equal-col">
                                <div data-c-border="all(thin, dashed, gray)" data-c-radius="rounded" data-c-padding="tb(1) rl(.5)" data-c-align="base(center)">
                                    <span data-c-color="gray">Help Not Yet<br>Requested</span>
                                </div>
                            </div>
                            <div data-c-grid-item="base(1of2) tp(1of3) tl(1of5) equal-col">
                                <div data-c-border="all(thin, dashed, gray)" data-c-radius="rounded" data-c-padding="tb(1) rl(.5)" data-c-align="base(center)">
                                    <span data-c-color="gray">Help Not Yet<br>Requested</span>
                                </div>
                            </div>
                        </div>
                        <p data-c-font-size="h4" data-c-font-weight="bold" data-c-margin="top(1) bottom(.5)" data-c-color="c2">Content Policy</p>
                        <div data-c-grid="gutter(all, 1)">
                            <div data-c-grid-item="base(1of2) tp(1of3) tl(1of5) equal-col">
                                <a href="" title="" class="response-job-listing" data-c-card data-c-background="white(100)" data-c-display="block" data-c-radius="rounded" data-c-hover-color="black" data-c-align="base(center)" data-c-padding="tb(1) rl(.5)" data-c-border="all(thin, solid, white)">
                                    <span data-c-font-weight="bold" data-c-color="c1" data-c-font-style="underline">Junior Level</span><br>Click to Offer Support
                                </a>
                            </div>
                            <div data-c-grid-item="base(1of2) tp(1of3) tl(1of5) equal-col">
                                <div data-c-border="all(thin, dashed, gray)" data-c-radius="rounded" data-c-padding="tb(1) rl(.5)" data-c-align="base(center)">
                                    <span data-c-color="gray">Help Not Yet<br>Requested</span>
                                </div>
                            </div>
                            <div data-c-grid-item="base(1of2) tp(1of3) tl(1of5) equal-col">
                                <a href="" title="" class="response-job-listing" data-c-card data-c-background="white(100)" data-c-display="block" data-c-radius="rounded" data-c-hover-color="black" data-c-align="base(center)" data-c-padding="tb(1) rl(.5)" data-c-border="all(thin, solid, white)">
                                    <span data-c-font-weight="bold" data-c-color="c1" data-c-font-style="underline">Senior Level</span><br>Click to Offer Support
                                </a>
                            </div>
                            <div data-c-grid-item="base(1of2) tp(1of3) tl(1of5) equal-col">
                                <a href="" title="" class="response-job-listing" data-c-card data-c-background="white(100)" data-c-display="block" data-c-radius="rounded" data-c-hover-color="black" data-c-align="base(center)" data-c-padding="tb(1) rl(.5)" data-c-border="all(thin, solid, white)">
                                    <span data-c-font-weight="bold" data-c-color="c1" data-c-font-style="underline">Manager Level</span><br>Click to Offer Support
                                </a>
                            </div>
                            <div data-c-grid-item="base(1of2) tp(1of3) tl(1of5) equal-col">
                                <a href="" title="" class="response-job-listing" data-c-card data-c-background="white(100)" data-c-display="block" data-c-radius="rounded" data-c-hover-color="black" data-c-align="base(center)" data-c-padding="tb(1) rl(.5)" data-c-border="all(thin, solid, white)">
                                    <span data-c-font-weight="bold" data-c-color="c1" data-c-font-style="underline">Director Level</span><br>Click to Offer Support
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
