RewriteEngine on

RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

RewriteBase /tc/

#non localized services
RewriteRule ^api/v1/authenticate services/Authentication.php
RewriteRule ^api/v1/getUser/([0-9]{1,10}) services/User.php
RewriteRule ^api/v1/user/([0-9]{1,10}) services/User.php
RewriteRule ^api/v1/user/validateEmail services/User.php
RewriteRule ^api/v1/user/register services/User.php
RewriteRule ^api/v1/user/update services/User.php
RewriteRule ^api/v1/locale services/Locale.php
RewriteRule ^api/v1/getJobSeekers services/JobSeekers.php
RewriteRule ^api/v1/getJobSeekerProfile/([0-9]{1,10}) services/JobSeekerProfile.php
RewriteRule ^api/v1/putJobSeekerProfile services/JobSeekerProfile.php
RewriteRule ^api/v1/getJobApplication/([0-9]{1,10}) services/JobApplication.php
RewriteRule ^api/v1/getJobApplicationsByJobPoster/([0-9]{1,10}) services/JobApplicationsByJobPoster.php
RewriteRule ^api/v1/postJobApplication services/JobApplication.php
RewriteRule ^api/v1/getJobPosterApplicationByProfileId services/JobPosterApplication.php
RewriteRule ^api/v1/putJobPosterApplication services/JobPosterApplication.php
RewriteRule ^api/v1/createJobPoster services/JobPoster.php
RewriteRule ^api/v1/profilePic/([0-9]{1,10}) services/ProfilePic.php
RewriteRule ^api/v1/postManagerProfile services/ManagerProfile.php
RewriteRule ^api/v1/getManagerProfile/([0-9]{1,10}) services/ManagerProfile.php

#localized services
RewriteRule ^api/v1/([a-z]{2}_(?:[A-Z]{2}))/getContent services/Content.php
RewriteRule ^api/v1/([a-z]{2}_(?:[A-Z]{2}))/getAllJobs services/JobPosters.php
RewriteRule ^api/v1/([a-z]{2}_(?:[A-Z]{2}))/getJobPoster/([0-9]{1,10}) services/JobPoster.php
RewriteRule ^api/v1/([a-z]{2}_(?:[A-Z]{2}))/Lookup/department services/Lookup.php
RewriteRule ^api/v1/([a-z]{2}_(?:[A-Z]{2}))/Lookup/province services/Lookup.php
RewriteRule ^api/v1/([a-z]{2}_(?:[A-Z]{2}))/Lookup/city services/Lookup.php
RewriteRule ^api/v1/([a-z]{2}_(?:[A-Z]{2}))/Lookup/jobterm services/Lookup.php
RewriteRule ^api/v1/([a-z]{2}_(?:[A-Z]{2}))/Lookup/division services/Lookup.php
RewriteRule ^api/v1/([a-z]{2}_(?:[A-Z]{2}))/Lookup/branch services/Lookup.php
#Require all granted
#Require ip 127.0.0.1
