{# =============================================================================

    Talent Cloud
    Applicant: Job Poster - Sidebar Layout

============================================================================= #}
{% set noInfo %}
    {{ job_post.no_info }}
{% endset %}
<div data-c-container="large" data-c-padding="bottom(3)">
    <div data-c-grid="gutter(all, 2)">
        <div data-c-grid-item="tl(1of4)">
            {# Sidebar #}
            {% include "applicant/jpb_job_post/sidebar" %}
        </div>
        <div data-c-grid-item="tl(3of4)">
            <div data-c-container="medium(left)">
                {# Job Poster Content #}
                {% include "applicant/jpb_job_post/basics" %}
                {% include "applicant/jpb_job_post/impact" %}
                {% include "applicant/jpb_job_post/work" %}
                {% include "applicant/jpb_job_post/criteria" %}
                {% include "applicant/jpb_job_post/language" %}
                {% include "applicant/jpb_job_post/culture" %}
                {% include "applicant/jpb_job_post/apply" %}
            </div>
        </div>
    </div>
</div>
