{# =============================================================================

    Talent Cloud
    Applicant: Job Poster - Work Tasks

============================================================================= #}
<section id="work">
    <h3 data-c-heading="h3" data-c-margin="bottom(1)" data-c-padding="top(3) bottom(1)">{{ job_post.work.title }}</h3>
    {% if job.job_poster_key_tasks is defined and job.job_poster_key_tasks is not empty %}
        <ul>
            {% for task in job.job_poster_key_tasks %}
                <li>
                    {{ task.description }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>{{ noInfo }}</p>
    {% endif %}
</section>
