/* =============================================================================

    Authored by: Talent Cloud

    CSS Flexbox Grid

============================================================================= */

.flex-grid {
    display: flex;
    flex-wrap: wrap;

    &.top {
        align-items: flex-start;
    }

    &.middle {
        align-items: center;
    }

    &.bottom {
        align-items: flex-end;
    }

    &.gutter {
        margin: -.5rem;

        @media #{$l-tablet} {
            margin: -1rem;
        }

        >.box {
            padding: .5rem;

            @media #{$l-tablet} {
                padding: 1rem;
            }

        }

    }

    &.space-between {
        justify-content: space-between;
    }

}

.box {
    flex: 0 0 100%;
    min-width: 0;

    &.top {
        align-items: flex-start;
    }

    &.middle {
        align-items: center;
    }

    &.bottom {
        align-items: flex-end;
    }

    &.fit {
        flex: 1;
    }

    &.right {
        justify-content: flex-end;
    }

    /* Small Boxes: Portrait & Landscape Mobile Devices ===================== */

    /* 1 Column */
    &.small-full,
    &.small-1of1 {
        flex: 0 0 100%;
    }

    /* 2 Column */
    &.small-1of2 {
        flex: 0 0 calc(1/2*100%);
    }

    /* 3 Column */
    &.small-1of3 {
        flex: 0 0 calc(1/3*100%);
    }

    &.small-2of3 {
        flex: 0 0 calc(2/3*100%);
    }

    /* 4 Column */
    &.small-1of4 {
        flex: 0 0 calc(1/4*100%);
    }

    &.small-2of4 {
        flex: 0 0 calc(2/4*100%);
    }

    &.small-3of4 {
        flex: 0 0 calc(3/4*100%);
    }

    /* 5 Column */
    &.small-1of5 {
        flex: 0 0 calc(1/5*100%);
    }

    &.small-2of5 {
        flex: 0 0 calc(2/5*100%);
    }

    &.small-3of5 {
        flex: 0 0 calc(3/5*100%);
    }

    &.small-4of5 {
        flex: 0 0 calc(4/5*100%);
    }

    /* 6 Column */
    &.small-1of6 {
        flex: 0 0 calc(1/6*100%);
    }

    &.small-2of6 {
        flex: 0 0 calc(2/6*100%);
    }

    &.small-3of6 {
        flex: 0 0 calc(3/6*100%);
    }

    &.small-4of6 {
        flex: 0 0 calc(4/6*100%);
    }

    &.small-5of6 {
        flex: 0 0 calc(5/6*100%);
    }

    /* 7 Column */
    &.small-1of7 {
        flex: 0 0 calc(1/7*100%);
    }

    &.small-2of7 {
        flex: 0 0 calc(2/7*100%);
    }

    &.small-3of7 {
        flex: 0 0 calc(3/7*100%);
    }

    &.small-4of7 {
        flex: 0 0 calc(4/7*100%);
    }

    &.small-5of7 {
        flex: 0 0 calc(5/7*100%);
    }

    &.small-6of7 {
        flex: 0 0 calc(6/7*100%);
    }

    /* 8 Column */
    &.small-1of8 {
        flex: 0 0 calc(1/8*100%);
    }

    &.small-2of8 {
        flex: 0 0 calc(2/8*100%);
    }

    &.small-3of8 {
        flex: 0 0 calc(3/8*100%);
    }

    &.small-4of8 {
        flex: 0 0 calc(4/8*100%);
    }

    &.small-5of8 {
        flex: 0 0 calc(5/8*100%);
    }

    &.small-6of8 {
        flex: 0 0 calc(6/8*100%);
    }

    &.small-7of8 {
        flex: 0 0 calc(7/8*100%);
    }

    /* 9 Column */
    &.small-1of9 {
        flex: 0 0 calc(1/9*100%);
    }

    &.small-2of9 {
        flex: 0 0 calc(2/9*100%);
    }

    &.small-3of9 {
        flex: 0 0 calc(3/9*100%);
    }

    &.small-4of9 {
        flex: 0 0 calc(4/9*100%);
    }

    &.small-5of9 {
        flex: 0 0 calc(5/9*100%);
    }

    &.small-6of9 {
        flex: 0 0 calc(6/9*100%);
    }

    &.small-7of9 {
        flex: 0 0 calc(7/9*100%);
    }

    &.small-8of9 {
        flex: 0 0 calc(8/9*100%);
    }

    /* 10 Column */
    &.small-1of10 {
        flex: 0 0 calc(1/10*100%);
    }

    &.small-2of10 {
        flex: 0 0 calc(2/10*100%);
    }

    &.small-3of10 {
        flex: 0 0 calc(3/10*100%);
    }

    &.small-4of10 {
        flex: 0 0 calc(4/10*100%);
    }

    &.small-5of10 {
        flex: 0 0 calc(5/10*100%);
    }

    &.small-6of10 {
        flex: 0 0 calc(6/10*100%);
    }

    &.small-7of10 {
        flex: 0 0 calc(7/10*100%);
    }

    &.small-8of10 {
        flex: 0 0 calc(8/10*100%);
    }

    &.small-9of10 {
        flex: 0 0 calc(9/10*100%);
    }

    /* 11 Column */
    &.small-1of11 {
        flex: 0 0 calc(1/11*100%);
    }

    &.small-2of11 {
        flex: 0 0 calc(2/11*100%);
    }

    &.small-3of11 {
        flex: 0 0 calc(3/11*100%);
    }

    &.small-4of11 {
        flex: 0 0 calc(4/11*100%);
    }

    &.small-5of11 {
        flex: 0 0 calc(5/11*100%);
    }

    &.small-6of11 {
        flex: 0 0 calc(6/11*100%);
    }

    &.small-7of11 {
        flex: 0 0 calc(7/11*100%);
    }

    &.small-8of11 {
        flex: 0 0 calc(8/11*100%);
    }

    &.small-9of11 {
        flex: 0 0 calc(9/11*100%);
    }

    &.small-10of11 {
        flex: 0 0 calc(10/11*100%);
    }

    /* 12 Column */
    &.small-1of12 {
        flex: 0 0 calc(1/12*100%);
    }

    &.small-2of12 {
        flex: 0 0 calc(2/12*100%);
    }

    &.small-3of12 {
        flex: 0 0 calc(3/12*100%);
    }

    &.small-4of12 {
        flex: 0 0 calc(4/12*100%);
    }

    &.small-5of12 {
        flex: 0 0 calc(5/12*100%);
    }

    &.small-6of12 {
        flex: 0 0 calc(6/12*100%);
    }

    &.small-7of12 {
        flex: 0 0 calc(7/12*100%);
    }

    &.small-8of12 {
        flex: 0 0 calc(8/12*100%);
    }

    &.small-9of12 {
        flex: 0 0 calc(9/12*100%);
    }

    &.small-10of12 {
        flex: 0 0 calc(10/12*100%);
    }

    &.small-11of12 {
        flex: 0 0 calc(11/12*100%);
    }

    /* Medium Boxes: Portrait Tablet Devices ================================ */

    @media #{$p-tablet} {

        /* 1 Column */
        &.med-full,
        &.med-1of1 {
            flex: 0 0 100%;
        }

        /* 2 Column */
        &.med-1of2 {
            flex: 0 0 calc(1/2*100%);
        }

        /* 3 Column */
        &.med-1of3 {
            flex: 0 0 calc(1/3*100%);
        }

        &.med-2of3 {
            flex: 0 0 calc(2/3*100%);
        }

        /* 4 Column */
        &.med-1of4 {
            flex: 0 0 calc(1/4*100%);
        }

        &.med-2of4 {
            flex: 0 0 calc(2/4*100%);
        }

        &.med-3of4 {
            flex: 0 0 calc(3/4*100%);
        }

        /* 5 Column */
        &.med-1of5 {
            flex: 0 0 calc(1/5*100%);
        }

        &.med-2of5 {
            flex: 0 0 calc(2/5*100%);
        }

        &.med-3of5 {
            flex: 0 0 calc(3/5*100%);
        }

        &.med-4of5 {
            flex: 0 0 calc(4/5*100%);
        }

        /* 6 Column */
        &.med-1of6 {
            flex: 0 0 calc(1/6*100%);
        }

        &.med-2of6 {
            flex: 0 0 calc(2/6*100%);
        }

        &.med-3of6 {
            flex: 0 0 calc(3/6*100%);
        }

        &.med-4of6 {
            flex: 0 0 calc(4/6*100%);
        }

        &.med-5of6 {
            flex: 0 0 calc(5/6*100%);
        }

        /* 7 Column */
        &.med-1of7 {
            flex: 0 0 calc(1/7*100%);
        }

        &.med-2of7 {
            flex: 0 0 calc(2/7*100%);
        }

        &.med-3of7 {
            flex: 0 0 calc(3/7*100%);
        }

        &.med-4of7 {
            flex: 0 0 calc(4/7*100%);
        }

        &.med-5of7 {
            flex: 0 0 calc(5/7*100%);
        }

        &.med-6of7 {
            flex: 0 0 calc(6/7*100%);
        }

        /* 8 Column */
        &.med-1of8 {
            flex: 0 0 calc(1/8*100%);
        }

        &.med-2of8 {
            flex: 0 0 calc(2/8*100%);
        }

        &.med-3of8 {
            flex: 0 0 calc(3/8*100%);
        }

        &.med-4of8 {
            flex: 0 0 calc(4/8*100%);
        }

        &.med-5of8 {
            flex: 0 0 calc(5/8*100%);
        }

        &.med-6of8 {
            flex: 0 0 calc(6/8*100%);
        }

        &.med-7of8 {
            flex: 0 0 calc(7/8*100%);
        }

        /* 9 Column */
        &.med-1of9 {
            flex: 0 0 calc(1/9*100%);
        }

        &.med-2of9 {
            flex: 0 0 calc(2/9*100%);
        }

        &.med-3of9 {
            flex: 0 0 calc(3/9*100%);
        }

        &.med-4of9 {
            flex: 0 0 calc(4/9*100%);
        }

        &.med-5of9 {
            flex: 0 0 calc(5/9*100%);
        }

        &.med-6of9 {
            flex: 0 0 calc(6/9*100%);
        }

        &.med-7of9 {
            flex: 0 0 calc(7/9*100%);
        }

        &.med-8of9 {
            flex: 0 0 calc(8/9*100%);
        }

        /* 10 Column */
        &.med-1of10 {
            flex: 0 0 calc(1/10*100%);
        }

        &.med-2of10 {
            flex: 0 0 calc(2/10*100%);
        }

        &.med-3of10 {
            flex: 0 0 calc(3/10*100%);
        }

        &.med-4of10 {
            flex: 0 0 calc(4/10*100%);
        }

        &.med-5of10 {
            flex: 0 0 calc(5/10*100%);
        }

        &.med-6of10 {
            flex: 0 0 calc(6/10*100%);
        }

        &.med-7of10 {
            flex: 0 0 calc(7/10*100%);
        }

        &.med-8of10 {
            flex: 0 0 calc(8/10*100%);
        }

        &.med-9of10 {
            flex: 0 0 calc(9/10*100%);
        }

        /* 11 Column */
        &.med-1of11 {
            flex: 0 0 calc(1/11*100%);
        }

        &.med-2of11 {
            flex: 0 0 calc(2/11*100%);
        }

        &.med-3of11 {
            flex: 0 0 calc(3/11*100%);
        }

        &.med-4of11 {
            flex: 0 0 calc(4/11*100%);
        }

        &.med-5of11 {
            flex: 0 0 calc(5/11*100%);
        }

        &.med-6of11 {
            flex: 0 0 calc(6/11*100%);
        }

        &.med-7of11 {
            flex: 0 0 calc(7/11*100%);
        }

        &.med-8of11 {
            flex: 0 0 calc(8/11*100%);
        }

        &.med-9of11 {
            flex: 0 0 calc(9/11*100%);
        }

        &.med-10of11 {
            flex: 0 0 calc(10/11*100%);
        }

        /* 12 Column */
        &.med-1of12 {
            flex: 0 0 calc(1/12*100%);
        }

        &.med-2of12 {
            flex: 0 0 calc(2/12*100%);
        }

        &.med-3of12 {
            flex: 0 0 calc(3/12*100%);
        }

        &.med-4of12 {
            flex: 0 0 calc(4/12*100%);
        }

        &.med-5of12 {
            flex: 0 0 calc(5/12*100%);
        }

        &.med-6of12 {
            flex: 0 0 calc(6/12*100%);
        }

        &.med-7of12 {
            flex: 0 0 calc(7/12*100%);
        }

        &.med-8of12 {
            flex: 0 0 calc(8/12*100%);
        }

        &.med-9of12 {
            flex: 0 0 calc(9/12*100%);
        }

        &.med-10of12 {
            flex: 0 0 calc(10/12*100%);
        }

        &.med-11of12 {
            flex: 0 0 calc(11/12*100%);
        }

    }

    /* Large Boxes: Landscape Tablet Devices ================================ */

    @media #{$l-tablet} {

        /* 1 Column */
        &.lg-full,
        &.lg-1of1 {
            flex: 0 0 100%;
        }

        /* 2 Column */
        &.lg-1of2 {
            flex: 0 0 calc(1/2*100%);
        }

        /* 3 Column */
        &.lg-1of3 {
            flex: 0 0 calc(1/3*100%);
        }

        &.lg-2of3 {
            flex: 0 0 calc(2/3*100%);
        }

        /* 4 Column */
        &.lg-1of4 {
            flex: 0 0 calc(1/4*100%);
        }

        &.lg-2of4 {
            flex: 0 0 calc(2/4*100%);
        }

        &.lg-3of4 {
            flex: 0 0 calc(3/4*100%);
        }

        /* 5 Column */
        &.lg-1of5 {
            flex: 0 0 calc(1/5*100%);
        }

        &.lg-2of5 {
            flex: 0 0 calc(2/5*100%);
        }

        &.lg-3of5 {
            flex: 0 0 calc(3/5*100%);
        }

        &.lg-4of5 {
            flex: 0 0 calc(4/5*100%);
        }

        /* 6 Column */
        &.lg-1of6 {
            flex: 0 0 calc(1/6*100%);
        }

        &.lg-2of6 {
            flex: 0 0 calc(2/6*100%);
        }

        &.lg-3of6 {
            flex: 0 0 calc(3/6*100%);
        }

        &.lg-4of6 {
            flex: 0 0 calc(4/6*100%);
        }

        &.lg-5of6 {
            flex: 0 0 calc(5/6*100%);
        }

        /* 7 Column */
        &.lg-1of7 {
            flex: 0 0 calc(1/7*100%);
        }

        &.lg-2of7 {
            flex: 0 0 calc(2/7*100%);
        }

        &.lg-3of7 {
            flex: 0 0 calc(3/7*100%);
        }

        &.lg-4of7 {
            flex: 0 0 calc(4/7*100%);
        }

        &.lg-5of7 {
            flex: 0 0 calc(5/7*100%);
        }

        &.lg-6of7 {
            flex: 0 0 calc(6/7*100%);
        }

        /* 8 Column */
        &.lg-1of8 {
            flex: 0 0 calc(1/8*100%);
        }

        &.lg-2of8 {
            flex: 0 0 calc(2/8*100%);
        }

        &.lg-3of8 {
            flex: 0 0 calc(3/8*100%);
        }

        &.lg-4of8 {
            flex: 0 0 calc(4/8*100%);
        }

        &.lg-5of8 {
            flex: 0 0 calc(5/8*100%);
        }

        &.lg-6of8 {
            flex: 0 0 calc(6/8*100%);
        }

        &.lg-7of8 {
            flex: 0 0 calc(7/8*100%);
        }

        /* 9 Column */
        &.lg-1of9 {
            flex: 0 0 calc(1/9*100%);
        }

        &.lg-2of9 {
            flex: 0 0 calc(2/9*100%);
        }

        &.lg-3of9 {
            flex: 0 0 calc(3/9*100%);
        }

        &.lg-4of9 {
            flex: 0 0 calc(4/9*100%);
        }

        &.lg-5of9 {
            flex: 0 0 calc(5/9*100%);
        }

        &.lg-6of9 {
            flex: 0 0 calc(6/9*100%);
        }

        &.lg-7of9 {
            flex: 0 0 calc(7/9*100%);
        }

        &.lg-8of9 {
            flex: 0 0 calc(8/9*100%);
        }

        /* 10 Column */
        &.lg-1of10 {
            flex: 0 0 calc(1/10*100%);
        }

        &.lg-2of10 {
            flex: 0 0 calc(2/10*100%);
        }

        &.lg-3of10 {
            flex: 0 0 calc(3/10*100%);
        }

        &.lg-4of10 {
            flex: 0 0 calc(4/10*100%);
        }

        &.lg-5of10 {
            flex: 0 0 calc(5/10*100%);
        }

        &.lg-6of10 {
            flex: 0 0 calc(6/10*100%);
        }

        &.lg-7of10 {
            flex: 0 0 calc(7/10*100%);
        }

        &.lg-8of10 {
            flex: 0 0 calc(8/10*100%);
        }

        &.lg-9of10 {
            flex: 0 0 calc(9/10*100%);
        }

        /* 11 Column */
        &.lg-1of11 {
            flex: 0 0 calc(1/11*100%);
        }

        &.lg-2of11 {
            flex: 0 0 calc(2/11*100%);
        }

        &.lg-3of11 {
            flex: 0 0 calc(3/11*100%);
        }

        &.lg-4of11 {
            flex: 0 0 calc(4/11*100%);
        }

        &.lg-5of11 {
            flex: 0 0 calc(5/11*100%);
        }

        &.lg-6of11 {
            flex: 0 0 calc(6/11*100%);
        }

        &.lg-7of11 {
            flex: 0 0 calc(7/11*100%);
        }

        &.lg-8of11 {
            flex: 0 0 calc(8/11*100%);
        }

        &.lg-9of11 {
            flex: 0 0 calc(9/11*100%);
        }

        &.lg-10of11 {
            flex: 0 0 calc(10/11*100%);
        }

        /* 12 Column */
        &.lg-1of12 {
            flex: 0 0 calc(1/12*100%);
        }

        &.lg-2of12 {
            flex: 0 0 calc(2/12*100%);
        }

        &.lg-3of12 {
            flex: 0 0 calc(3/12*100%);
        }

        &.lg-4of12 {
            flex: 0 0 calc(4/12*100%);
        }

        &.lg-5of12 {
            flex: 0 0 calc(5/12*100%);
        }

        &.lg-6of12 {
            flex: 0 0 calc(6/12*100%);
        }

        &.lg-7of12 {
            flex: 0 0 calc(7/12*100%);
        }

        &.lg-8of12 {
            flex: 0 0 calc(8/12*100%);
        }

        &.lg-9of12 {
            flex: 0 0 calc(9/12*100%);
        }

        &.lg-10of12 {
            flex: 0 0 calc(10/12*100%);
        }

        &.lg-11of12 {
            flex: 0 0 calc(11/12*100%);
        }

    }

    /* XLarge Boxes: Landscape Tablet Devices ================================ */

    @media #{$cinema} {

        /* 1 Column */
        &.xl-full,
        &.xl-1of1 {
            flex: 0 0 100%;
        }

        /* 2 Column */
        &.xl-1of2 {
            flex: 0 0 calc(1/2*100%);
        }

        /* 3 Column */
        &.xl-1of3 {
            flex: 0 0 calc(1/3*100%);
        }

        &.xl-2of3 {
            flex: 0 0 calc(2/3*100%);
        }

        /* 4 Column */
        &.xl-1of4 {
            flex: 0 0 calc(1/4*100%);
        }

        &.xl-2of4 {
            flex: 0 0 calc(2/4*100%);
        }

        &.xl-3of4 {
            flex: 0 0 calc(3/4*100%);
        }

        /* 5 Column */
        &.xl-1of5 {
            flex: 0 0 calc(1/5*100%);
        }

        &.xl-2of5 {
            flex: 0 0 calc(2/5*100%);
        }

        &.xl-3of5 {
            flex: 0 0 calc(3/5*100%);
        }

        &.xl-4of5 {
            flex: 0 0 calc(4/5*100%);
        }

        /* 6 Column */
        &.xl-1of6 {
            flex: 0 0 calc(1/6*100%);
        }

        &.xl-2of6 {
            flex: 0 0 calc(2/6*100%);
        }

        &.xl-3of6 {
            flex: 0 0 calc(3/6*100%);
        }

        &.xl-4of6 {
            flex: 0 0 calc(4/6*100%);
        }

        &.xl-5of6 {
            flex: 0 0 calc(5/6*100%);
        }

        /* 7 Column */
        &.xl-1of7 {
            flex: 0 0 calc(1/7*100%);
        }

        &.xl-2of7 {
            flex: 0 0 calc(2/7*100%);
        }

        &.xl-3of7 {
            flex: 0 0 calc(3/7*100%);
        }

        &.xl-4of7 {
            flex: 0 0 calc(4/7*100%);
        }

        &.xl-5of7 {
            flex: 0 0 calc(5/7*100%);
        }

        &.xl-6of7 {
            flex: 0 0 calc(6/7*100%);
        }

        /* 8 Column */
        &.xl-1of8 {
            flex: 0 0 calc(1/8*100%);
        }

        &.xl-2of8 {
            flex: 0 0 calc(2/8*100%);
        }

        &.xl-3of8 {
            flex: 0 0 calc(3/8*100%);
        }

        &.xl-4of8 {
            flex: 0 0 calc(4/8*100%);
        }

        &.xl-5of8 {
            flex: 0 0 calc(5/8*100%);
        }

        &.xl-6of8 {
            flex: 0 0 calc(6/8*100%);
        }

        &.xl-7of8 {
            flex: 0 0 calc(7/8*100%);
        }

        /* 9 Column */
        &.xl-1of9 {
            flex: 0 0 calc(1/9*100%);
        }

        &.xl-2of9 {
            flex: 0 0 calc(2/9*100%);
        }

        &.xl-3of9 {
            flex: 0 0 calc(3/9*100%);
        }

        &.xl-4of9 {
            flex: 0 0 calc(4/9*100%);
        }

        &.xl-5of9 {
            flex: 0 0 calc(5/9*100%);
        }

        &.xl-6of9 {
            flex: 0 0 calc(6/9*100%);
        }

        &.xl-7of9 {
            flex: 0 0 calc(7/9*100%);
        }

        &.xl-8of9 {
            flex: 0 0 calc(8/9*100%);
        }

        /* 10 Column */
        &.xl-1of10 {
            flex: 0 0 calc(1/10*100%);
        }

        &.xl-2of10 {
            flex: 0 0 calc(2/10*100%);
        }

        &.xl-3of10 {
            flex: 0 0 calc(3/10*100%);
        }

        &.xl-4of10 {
            flex: 0 0 calc(4/10*100%);
        }

        &.xl-5of10 {
            flex: 0 0 calc(5/10*100%);
        }

        &.xl-6of10 {
            flex: 0 0 calc(6/10*100%);
        }

        &.xl-7of10 {
            flex: 0 0 calc(7/10*100%);
        }

        &.xl-8of10 {
            flex: 0 0 calc(8/10*100%);
        }

        &.xl-9of10 {
            flex: 0 0 calc(9/10*100%);
        }

        /* 11 Column */
        &.xl-1of11 {
            flex: 0 0 calc(1/11*100%);
        }

        &.xl-2of11 {
            flex: 0 0 calc(2/11*100%);
        }

        &.xl-3of11 {
            flex: 0 0 calc(3/11*100%);
        }

        &.xl-4of11 {
            flex: 0 0 calc(4/11*100%);
        }

        &.xl-5of11 {
            flex: 0 0 calc(5/11*100%);
        }

        &.xl-6of11 {
            flex: 0 0 calc(6/11*100%);
        }

        &.xl-7of11 {
            flex: 0 0 calc(7/11*100%);
        }

        &.xl-8of11 {
            flex: 0 0 calc(8/11*100%);
        }

        &.xl-9of11 {
            flex: 0 0 calc(9/11*100%);
        }

        &.xl-10of11 {
            flex: 0 0 calc(10/11*100%);
        }

        /* 12 Column */
        &.xl-1of12 {
            flex: 0 0 calc(1/12*100%);
        }

        &.xl-2of12 {
            flex: 0 0 calc(2/12*100%);
        }

        &.xl-3of12 {
            flex: 0 0 calc(3/12*100%);
        }

        &.xl-4of12 {
            flex: 0 0 calc(4/12*100%);
        }

        &.xl-5of12 {
            flex: 0 0 calc(5/12*100%);
        }

        &.xl-6of12 {
            flex: 0 0 calc(6/12*100%);
        }

        &.xl-7of12 {
            flex: 0 0 calc(7/12*100%);
        }

        &.xl-8of12 {
            flex: 0 0 calc(8/12*100%);
        }

        &.xl-9of12 {
            flex: 0 0 calc(9/12*100%);
        }

        &.xl-10of12 {
            flex: 0 0 calc(10/12*100%);
        }

        &.xl-11of12 {
            flex: 0 0 calc(11/12*100%);
        }

    }

}
