{# =============================================================================

    Talent Cloud
    Applicant: Response Job Poster - Heading Information

    This UI provides the most basic metadata about the job the applicant is
    viewing.

============================================================================= #}
<div data-clone>
    <header data-c-align="base(center) tl(left)" data-c-overlay="black(80)" data-c-padding="bottom(3)" style="background-image: url('/images/response-wall.jpg')">
        {% include "common/menu" %}
        <div data-c-container="large" data-c-padding="top(3)" id="home-heading">
            <div data-c-grid="gutter(all, 1)">
                <div data-c-grid-item="tl(2of3)">
                </div>
                <div data-c-grid-item="tl(1of3)" data-c-align="base(center) tl(right)">
                    <p data-c-padding="bottom(1)">{{ job_post.header.reference_id|replace({':id':job.id}) }}</p>
                </div>
            </div>
            <h1 data-c-heading="h1" data-c-margin="bottom(1)">{{ job.title }}</h1>
            <p data-c-margin="bottom(1)">{{ job_post.strategic_response.various_departments }}</p>
            <div data-c-margin="top(2)">
                <div data-c-grid="gutter(all, 1)">
                    <div data-c-grid-item="tl(1of2)">
                        {% include "common/breadcrumbs" %}
                    </div>
                    <div data-c-grid-item="tl(1of2)" data-c-align="base(center) tl(right)">
                        <span data-c-colour="white">{{ job_post.header.pilot }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>
