/* =============================================================================

    Authored by: Talent Cloud

    Media Queries

============================================================================= */

$portrait: screen and (orientation: portrait);

$landscape: screen and (orientation: landscape);

/* Phone (Portrait): 320px */
$p-phone: screen and (min-width: 20em);

/* Phone (Landscape): 480px */
$l-phone: screen and (min-width: 30em);

/* Tablet (Portrait): 768px */
$p-tablet: screen and (min-width: 48em);

/* Tablet (Landscape): 1024px */
$l-tablet: screen and (min-width: 64em);

/* Desktop: Just over 1024px */
$desktop: screen and (min-width: 64.01em);

/* Cinema: 1600px */
$cinema: screen and (min-width: 100em);

/* Cinema XL: 1760px */
$cinema-xl: screen and (min-width: 110em);
