/* =============================================================================

    Authored by: Talent Cloud

    Talent Cloud Palette

============================================================================= */

/* Brand Colours ============================================================ */

/* Grey */
$palette-grey--light: rgba(200, 200, 200, 1);
$palette-grey: rgba(163, 163, 163, 1);
$palette-grey--dark: rgba(72, 72, 72, 1);

/* Yellow */
$palette-yellow--light: rgba(255, 226, 91, 1);
$palette-yellow--dark: rgba(255, 210, 0, 1);
