/* =============================================================================

    Authored by: Talent Cloud

    Talent Cloud Palette

============================================================================= */

/* Standard Colours ========================================================= */

/* White */
$white: white;
$black: rgba(51, 51, 51, 1);

/* Brand Colours ============================================================ */

/* Grey */
$palette-grey--light: rgba(200, 200, 200, 1);
$palette-grey: rgba(163, 163, 163, 1);
$palette-grey--dark: rgba(72, 72, 72, 1);

/* Yellow */
$palette-yellow--light: rgba(255, 226, 91, 1);
$palette-yellow--dark: rgba(255, 210, 0, 1);

/* Blue */
$palette-blue--light: rgba(204, 229, 255, 1);
$palette-blue: rgba(33, 150, 243, 1);
$palette-blue--dark: rgba(18, 81, 132, 1);
$palette-blue--semilight: rgba(114, 188, 248, 1); // these fixed contrast fails
$palette-blue--semidark: rgba(10, 108, 188, 1); // with less visual impact

/* Green */
$palette-green: rgba(59, 181, 25, 1);
$palette-green--dark: rgba(43, 111, 24, 1);
