{# =============================================================================

    Talent Cloud
    Manager: Job Index Sidebar

============================================================================= #}
<div
    class="sidebar-wrapper box lg-1of4">

    <nav
        class="sidebar">

        <h3
            class="sidebar-label">
            Job Posts
        </h3>

        <a
            class="sidebar-link"
            href="#drafts"
            title="">
            Drafts
        </a>

        <a
            class="sidebar-link"
            href="#inProgress"
            title="">
            In Progress
        </a>

        <a
            class="sidebar-link"
            href="#closed"
            title="">
            Closed
        </a>

        <a
            class="sidebar-button"
            href="/admin/jobs/create/"
            title="Create a new Job Post.">
            Add a Job Post
        </a>

    </nav>

</div>
