{# =============================================================================

    Talent Cloud
    Manager - Job Index Layout

============================================================================= #}
<div class="manager-job-index__section-wrapper manager-job-index__temp">

    <div class="container--layout-xl">

        {% for job in jobs %}

            <div>

                <h3>{{ job.title }}</h3>

                {% for application in job.submitted_applications %}

                    {% include "manager/application_post/application_review" %}

                {% endfor %}

            </div>

        {% endfor %}

    </div>

</div>
