// =============================================================================

    // Authored by: Talent Cloud

    // This is a sample SASS file.

// =============================================================================

// Vendor Dependencies =========================================================

    // @import "vendor/cds/mixins";
    // @import "vendor/cds/variables";
    // @import "vendor/cds/base";
    // @import "vendor/cds/layout";
    // @import "vendor/cds/nav";
    // @import "vendor/cds/components";
    // @import "vendor/cds/sections";
    // @import "vendor/font-awesome/font-awesome";

// Core Elements ===============================================================

    * {
        box-sizing: border-box;
    }

    html,
    body {
        width: 100%;
    }

    $unit: 1rem;

    @import "system/core";
    @import "system/media-queries";
    @import "system/grid";
    @import "system/grid-ie";
    @import "system/palette";
    @import "system/typography";
    @import "system/list-input";

    html,
    body {
        background: darken($palette--white, 10%);
        margin: 0;
    }

    a,
    span {
        color: inherit;
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        transition: all .2s ease;
    }

    a:hover {
        color: $palette--blue;
        transition: all .2s ease;
    }

    img {
        max-width: 100%;
    }

    $section-padding: calc(#{$unit} * 5) 0;

    .container--layout {
        margin: 0 auto;
        max-width: calc(#{$unit * 70});
        width: 90%;
    }

    .container--copy {
        margin: 0 auto;
        max-width: calc(#{$unit * 40});
        width: 90%;
    }

// Components ==================================================================

    // Common

        @import "components/alert";
        @import "components/goc";
        @import "components/menu";
        @import "components/header";

        @import "components/footer";

        @import "components/buttons";
        @import "components/forms";

    // Home

        @import "components/home/hero";
        @import "components/home/about";
        @import "components/home/how";
        @import "components/home/team";

    // Browse Jobs

        @import "components/jobs/index/filters";
        @import "components/jobs/index/index";

    // Job Post

        @import "components/jobs/post/header";
        @import "components/jobs/post/sidebar";
        @import "components/jobs/post/basics";

    // Profile

        @import "components/profile/header";
        @import "components/profile/questions";

// Atoms =======================================================================

    // @import "atoms/buttons";
    // @import "atoms/modals";
    // @import "atoms/webfonts";
    // @import "atoms/legacy-messaging";
    // @import "atoms/legacy-slider-buttons";

// Molecules ===================================================================

    // @import "molecules/forms";
    // @import "molecules/accordions";
    // @import "molecules/login";
    // @import "molecules/registration";
    // @import "molecules/manager-job-posting-form";
    // @import "molecules/page-hero";

// Organisms ===================================================================

    // @import "organisms/utility";
    // @import "organisms/update-profile";
    // @import "organisms/user-application";
    // @import "organisms/profile-common";
    // @import "organisms/profile-manager";
    // @import "organisms/profile-pic";
    // @import "organisms/job-poster";
    // @import "organisms/job-application";
    // @import "organisms/dashboard";
    // @import "organisms/tabs-list";
    // @import "organisms/faq";
    // @import "organisms/applicant-landing";
    // @import "organisms/browse-jobs";
    // @import "organisms/admin-dashboard";
    // @import "organisms/manager-job-poster";
