@use "../../../node_modules/@hydrogen-design-system/system/dist/import/latest/core/styles/defaults" with (
    $theme-color-1: red,
    $layout-small: 50rem,
    $layout-large: 90rem
);
@use "../../../node_modules/@hydrogen-design-system/system/dist/import/latest/system.scss";
