@use "../../../node_modules/@hydrogen-design-system/system/dist/import/latest/core/styles/defaults" with (
  $theme-color-1: #5b1647,
  $theme-color-2: #96043e,
  $theme-color-3: #c90035,
  $layout-small: 50rem,
  $layout-large: 90rem,
  $hover-font-color: #5ea8e4,
  $hover-bg-color: #5ea8e4
);
@use "../../../node_modules/@hydrogen-design-system/system/dist/import/latest/system.scss";

// TODO: Move this to new file?
$focus-color: #5b1647 !default;
.search-result-checkbox input:focus + span  {
  box-shadow: -1px -1px 0 $focus-color, 0 -1px 0 $focus-color, 1px -1px 0 $focus-color, 1px 0 0 $focus-color, 1px 1px 0 $focus-color, 0 1px 0 $focus-color, -1px 1px 0 $focus-color, -1px 0 0 $focus-color;
  outline: none;
}
