// =============================================================================

    // Buttons

// =============================================================================
[class*="button--"] {
    border: none;
    border-radius: 5px;
    box-shadow: none;
    cursor: pointer;
    display: inline-block;
    font-family: $font--sans;
    font-size: $font-scale--regular;
    font-weight: 400;
    outline: none;
    padding: $unit calc(#{$unit} * 2);
    text-decoration: none;

    &[class*="add"] {
        background: none;
        border: 3px dashed darken($palette--white, 30%);
        border-radius: 3px;
        cursor: pointer;
        margin: 0;
        padding: 0;
        text-align: left;
        width: 100%;

        div {

            &:first-child {
                display: inline-block;
                height: calc(#{$unit} * 5);
                position: relative;
                width: calc(#{$unit} * 5);
                vertical-align: middle;

                i {
                    color: $palette--blue;
                    font-size: $font-scale--h4;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

            }

            &:last-child {
                display: inline-block;
                vertical-align: middle;

                span {
                    display: block;
                    font-family: $font--sans;

                    &:nth-child(1) {
                        font-size: $font-scale--h4;
                        font-weight: 600;
                        margin: 0;

                        &+span {
                            margin-top: calc(#{$unit} / 4);
                        }

                    }

                    &:nth-child(2) {
                        font-size: $font-scale--regular;
                    }

                }

            }

        }

    }

    &[class*="outline"] {
        background: none;
        border: 1px solid $palette--blue;
        color: $palette--blue;
        transition: all .2s ease;

        &:hover {
            background: rgba($palette--blue, .3);
            transition: all .2s ease;
        }

    }

    &[class*="blue"] {
        // @extend %gradient--vertical;
        color: $palette--font-white;
        // background-color: $palette--black;
        background-color: $clone-c2;
        background-clip: padding-box;
        transition: none;

        &:focus,
        &:hover {
            border: 2px solid $palette--white;
            outline: none;
            padding: calc(#{$unit} - 2px) calc((#{$unit} * 2) - 2px);
            transition: none;

            &.light-bg {
                border: 2px solid $palette--black;
            }

        }

    }

    &[class*="red"] {
        background: darken($palette--red, 20%);
        color: $palette--white;
        transition: none;

        &:focus,
        &:hover {
            border: 2px solid $palette--white;
            outline: none;
            padding: calc(#{$unit} - 2px) calc((#{$unit} * 2) - 2px);
            transition: none;

            &.light-bg {
                border: 2px solid $palette--black;
            }

        }

    }

    &[class*="purple"] {
        background: $palette--purple;
        color: $palette--font-white;
        transition: none;

        &:focus,
        &:hover {
            border: 2px solid $palette--white;
            outline: none;
            padding: calc(#{$unit} - 2px) calc((#{$unit} * 2) - 2px);
            transition: none;

            &.light-bg {
                border: 2px solid $palette--black;
            }

        }

    }

    .submit-default {
        display: block;
    }

    .submit-working {
        display: none;
    }

    .submit-saved {
        display: none;
    }

    &.working {

        .submit-default {
            display: none;
        }

        .submit-working {
            display: block;
        }

        .submit-saved {
            display: none;
        }

    }

    &.saved {

        .submit-default {
            display: none;
        }

        .submit-working {
            display: none;
        }

        .submit-saved {
            display: block;
        }

    }

    &.disabled {
        background: rgba(0, 0, 0, .05);
        color: rgba(0, 0, 0, .6);
        pointer-events: none;
    }

}
