section.error {
	padding: $section-padding;
	text-align: center;

	* {
		font-family: $font--sans;
	}

}

.site-error {
	background: rgba(255, 0, 0, .2);
    color: rgba(150, 0, 0, 1);
    font-family: $font--sans;
    font-size: $font-scale--regular;
    font-weight: 400;
    width: 100%;
    padding: 2rem;
    display: block;
    margin: 0 0 2rem 0;
    border-radius: 5px;
    border: 1px solid red;
}
