// =============================================================================

    // Page Footer

// =============================================================================
footer {
    flex-direction: row;
}

.footer-nav {
    ul {
        margin: -1rem;
        padding: 0;
        li {
            display: inline-block;
            margin: 1rem;
        }
    }
}
.footer-logo {
    display: inline-block;
    max-width: 13rem;
    width: 75%;
    img {
        max-width: 100%;
    }
}
