// =============================================================================

    // Government of Canada

// =============================================================================
.goc-link {
    display: inline-block;
    margin-top: .4rem;
    max-width: 20rem;
    width: 75%;
    img {
        max-width: 100%;
    }
}
