// =============================================================================

    // Menu

// =============================================================================
.menu {
    background: transparentize($palette--black, .35);
    // @media #{$l-tablet} {
    //     position: sticky !important;
    //     top: 0;
    //     z-index: 1000;
    // }

    .menu__mobile-trigger {
        display: none;

        @media #{$l-tablet} {
            display: none;
        }

    }

    .menu__list {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
        width: 100%;

        @media #{$l-tablet} {
            padding: 0 $unit;
        }

        li {
            display: inline-block;
            margin-bottom: 0 !important;
            position: relative;

            a,
            button {
                background: none;
                border: none;
                cursor: pointer;
                display: block;
                color: $palette--font-white;
                font-family: $font--sans;
                font-size: $font-scale--regular;
                font-weight: 400;
                padding: calc(#{$unit} * 1.5);
                position: relative;
                text-decoration: none;
                // text-transform: uppercase;

                &:hover {
                    color: white !important;
                    &::before {
                        background: $clone-c3;
                        content: " ";
                        display: block;
                        height: calc(#{$unit} / 2);
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 100%;
                    }
                }

                &.active {

                    &::before {
                        background: $clone-c3;
                        content: " ";
                        display: block;
                        height: calc(#{$unit} / 2);
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 100%;
                    }

                }

            }

        }

    }

}
