// =============================================================================

    // Menu

// =============================================================================
.menu {
    padding: .5rem 0;
    @media #{$clone-tablet-landscape} {
        padding: 0;
    }
    ul {
        list-style: none;
        padding: 0;
        li {
            display: inline-block;
            margin-bottom: 0 !important;
            a {
                display: block;
                transition: all .2s ease;
                @media #{$clone-tablet-landscape} {
                    border-left: 1px solid rgba(255, 255, 255, .2);
                }
                span {
                    transition: all .2s ease;
                }
                &:hover {
                    background: transparentize($clone-c2, .2);
                    transition: all .2s ease;
                    span {
                        transition: all .2s ease;
                    }
                }
            }
            &:not(:first-child) {
                margin-left: -5px;
            }
            &:last-child {
                a {
                    @media #{$clone-tablet-landscape} {
                        border-right: 1px solid rgba(255, 255, 255, .2);
                    }
                }
            }
        }
    }
}
