
.word-counter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;

  @media #{$p-tablet} {
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  span {
    color: $palette--font-black;
    font-family: $font--sans;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5;
  }

  .word-counter__progress {
    color: $palette--gray;
    font-size: 0.8rem;
    margin-bottom: 0.2rem;

    @media #{$p-tablet} {
      width: 7rem;
    }
  }

  .word-counter__message {
    flex-basis: 100%;
    text-align: center;
    @media #{$p-tablet} {
      flex-basis: 90%;
      text-align: left;
    }
  }
}

circle {
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  margin-right: 1rem;
}
