
.word-counter {
  display: flex;
  align-items: center;
  margin-top: 1rem;

  span {
    font-family: $font--sans;
    font-size: $font-scale--regular;
    font-weight: 700;
    margin-left: 0.5rem;
  }
}

circle {
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  // fill: rgba(128, 128, 128, 0.63);
}
