.tracker {
  .fa-exclamation-triangle {
    margin: -0.05rem 0 0 -0.04rem;
  }
}
.tracker-title {
  display: flex;
  flex-direction: column;
}
.tracker-item {

  .tracker-icon {
    border-radius: 100%;
    display: inline-block;
    height: 1.5rem;
    margin: 0 0.5rem 0 0;
    position: relative;
    width: 1.5rem;
    vertical-align: middle;
    & + div {
      display: inline-block;
      vertical-align: middle;
    }
    i {
      font-size: $clone-font-scale-small;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .fa-exclamation-triangle {
      margin: -0.05rem 0 0 -0.04rem;
    }

    @keyframes spin {
      0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
      }
    }

    .spinner-loader {
      border-radius: 50%;
      background-color: $clone-c5;
      height: 1.5rem;
      border: 0.25rem solid rgba(0, 0, 0, 0.2);
      border-top-color: black;
      -webkit-animation: spin 1s infinite linear;
              animation: spin 1s infinite linear;
    }
  }
}

[data-tc-tracker-state="loading"] {
  display: none;
}

[data-tc-tracker-state="null"] {
  display: none;
  @media #{$clone-tablet-landscape} {
    display: inline-block;
  }
  .tracker-icon {
    background: $clone-grey;
  }
  .fa-arrow-down {
    display: none;
  }
  .fa-check {
    display: none;
  }
  .fa-exclamation-triangle {
    display: none;
  }
}

[data-tc-tracker-state="active"] {
  display: inline-block;
  @media #{$clone-tablet-landscape} {
    display: inline-block;
  }
  .tracker-icon {
    background: $clone-c1;
  }
  .fa-arrow-down {
    display: block;
  }
  .fa-check {
    display: none;
  }
  .fa-exclamation-triangle {
    display: none;
  }
}
[data-tc-tracker-state="complete"] {
  display: none;
  @media #{$clone-tablet-landscape} {
    display: inline-block;
  }
  .tracker-icon {
    background: $clone-go;
  }
  .fa-arrow-down {
    display: none;
  }
  .fa-check {
    display: block;
  }
  .fa-exclamation-triangle {
    display: none;
  }
}
[data-tc-tracker-state="error"] {
  display: none;
  @media #{$clone-tablet-landscape} {
    display: inline-block;
  }
  .tracker-icon {
    background: $clone-stop;
  }
  .fa-arrow-down {
    display: none;
  }
  .fa-check {
    display: none;
  }
  .fa-exclamation-triangle {
    display: block;
  }
}
