ol.tracker {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;

  .fa-exclamation-triangle {
    margin: -0.05rem 0 0 -0.04rem;
  }
}

.tracker-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 1rem;
  width: 100%;

  @media #{$clone-tablet-landscape} {
    flex-direction: column;
  }

  .tracker-icon {
    border-radius: 100%;
    height: 1.5rem;
    position: relative;
    width: 1.5rem;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
    z-index: 2;

    @media #{$clone-tablet-landscape} {
      margin-right: 0;
    }

    i {
      font-size: $clone-font-scale-small;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .fa-exclamation-triangle {
      margin: -0.05rem 0 0 -0.04rem;
    }

    @keyframes spin {
      0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
      }
    }

    .spinner-loader {
      border-radius: 50%;
      height: 1.5rem;
      border: .15rem solid rgba(0,0,0,.2);
      border-top-color: #bcb9b9;
      -webkit-animation: spin 1s linear infinite;
      animation: spin 1s linear infinite;
    }
  }

  &:not(:first-child) {

    .tracker-item-connect {
      display: none;
      background: #969696;
      position: absolute;
      height: 0.08rem;
      left: -75%;
      top: 15%;
      transition: background 175ms;
      width: 120%;
      z-index: 1;
      @media #{$clone-tablet-landscape} {
        display: block;
      }

    }

  }

  .tracker-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}



[data-tc-tracker-state="loading"] {
  display: none;
}

[data-tc-tracker-state="null"] {
  display: none;

  @media #{$clone-tablet-landscape} {
    display: flex;
  }
  .tracker-icon {
    background: $clone-grey;
  }
  .fa-arrow-down {
    display: none;
  }
  .fa-check {
    display: none;
  }
  .fa-exclamation-triangle {
    display: none;
  }
}

[data-tc-tracker-state="active"] {
  @media #{$clone-tablet-landscape} {
    display: flex;
  }
  .tracker-icon {
    background: $clone-c1;
  }
}

[data-tc-tracker-state="complete"] {
  display: none;
  @media #{$clone-tablet-landscape} {
    display: flex;
  }
  .tracker-icon {
    background: $clone-go;
  }
}

[data-tc-tracker-state="error"] {
  display: none;
  @media #{$clone-tablet-landscape} {
    display: flex;
  }
  .tracker-icon {
    background: $clone-stop;
  }
}

.tracker .tracker-item[data-tc-tracker-state] {
  margin: 1rem;
}
