
.gradient-left-right {
    background: #5b1647;
    background: -moz-linear-gradient(-45deg, #5b1647 0%, #c90035 100%);
    background: -webkit-linear-gradient(-45deg, #5b1647 0%,#c90035 100%);
    background: linear-gradient(135deg, #5b1647 0%,#c90035 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b1647', endColorstr='#c90035',GradientType=1 );
}

.gradient-right-left {
    background: #c90035;
    background: -moz-linear-gradient(45deg, #c90035 0%, #5b1647 100%);
    background: -webkit-linear-gradient(45deg, #c90035 0%,#5b1647 100%);
    background: linear-gradient(45deg, #c90035 0%,#5b1647 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c90035', endColorstr='#5b1647',GradientType=1 );
}

[data-clone] {
    .menu {
        a:hover {
            color: $clone-c5 !important;
        }
    }
}

.hero-icon {
    margin: 0 0 0 1rem;
    width: 2.5rem;
}

.itp-why {
    overflow: hidden;
    position: relative;
    * {
        position: relative;
    }
    .itp-why-background {
        background: rgba(0, 0, 0, .1);
        height: 100%;
        position: absolute;
        top: 0;
        left: -50vw;
        width: 200vw;
        @media #{$clone-tablet-landscape} {
            left: auto;
            right: 0;
            width: 100vw;
        }
    }
    >div >div >[data-c-grid-item]:first-child >div >div:not(.itp-why-background) {
        padding-bottom: calc(#{$clone-padding} * 2);
        @media #{$clone-tablet-portrait} {
            padding-bottom: calc((#{$clone-padding} * 2) * #{$clone-whitespace-multiplier});
        }
        @media #{$clone-tablet-landscape} {
            padding-bottom: 0;
            padding-right: calc((#{$clone-padding} * 3) * #{$clone-whitespace-multiplier});
        }
        @media #{$clone-desktop-large} {
            padding-right: calc(((#{$clone-padding} * 3) * #{$clone-whitespace-multiplier}) * #{$clone-whitespace-multiplier});
        }
    }
    >div >div >[data-c-grid-item]:last-child >div >div:not(.itp-why-background) {
        @media #{$clone-tablet-landscape} {
            padding-left: calc((#{$clone-padding} * 3) * #{$clone-whitespace-multiplier});
        }
        @media #{$clone-desktop-large} {
            padding-left: calc(((#{$clone-padding} * 3) * #{$clone-whitespace-multiplier}) * #{$clone-whitespace-multiplier});
        }
    }
}

.itp-profile-photo {
    min-height: 50vh;
    @media #{$clone-tablet-portrait} {
        min-height: 0;
    }
}

.itp-goals {
    overflow: hidden;
    position: relative;
    * {
        position: relative;
    }
    .itp-goals-background {
        background: rgba(0, 0, 0, .1);
        height: 100%;
        position: absolute;
        top: 0;
        left: -50vw;
        width: 200vw;
        @media #{$clone-tablet-landscape} {
            left: 0;
            width: 100vw;
        }
    }
    >div >div >[data-c-grid-item]:first-child >div >div:not(.itp-goals-background) {
        padding-bottom: calc(#{$clone-padding} * 2);
        @media #{$clone-tablet-portrait} {
            padding-bottom: calc((#{$clone-padding} * 2) * #{$clone-whitespace-multiplier});
        }
        @media #{$clone-tablet-landscape} {
            padding-bottom: 0;
            padding-right: calc((#{$clone-padding} * 3) * #{$clone-whitespace-multiplier});
        }
        @media #{$clone-desktop-large} {
            padding-right: calc(((#{$clone-padding} * 3) * #{$clone-whitespace-multiplier}) * #{$clone-whitespace-multiplier});
        }
    }
    >div >div >[data-c-grid-item]:last-child >div >div:not(.itp-goals-background) {
        @media #{$clone-tablet-landscape} {
            padding-left: calc((#{$clone-padding} * 3) * #{$clone-whitespace-multiplier});
        }
        @media #{$clone-desktop-large} {
            padding-left: calc(((#{$clone-padding} * 3) * #{$clone-whitespace-multiplier}) * #{$clone-whitespace-multiplier});
        }
    }
}
