
.gradient-left-right {
    background: #5b1647;
    background: -moz-linear-gradient(-45deg, #5b1647 0%, #c90035 100%);
    background: -webkit-linear-gradient(-45deg, #5b1647 0%,#c90035 100%);
    background: linear-gradient(135deg, #5b1647 0%,#c90035 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b1647', endColorstr='#c90035',GradientType=1 );
}

.gradient-right-left {
    background: #c90035;
    background: -moz-linear-gradient(45deg, #c90035 0%, #5b1647 100%);
    background: -webkit-linear-gradient(45deg, #c90035 0%,#5b1647 100%);
    background: linear-gradient(45deg, #c90035 0%,#5b1647 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c90035', endColorstr='#5b1647',GradientType=1 );
}

[data-clone] {
    .menu {
        a:hover {
            color: $clone-c5 !important;
        }
    }
}

.hero-icon {
    margin: 0 0 -.25rem 1rem;
    width: 2.5rem;
}

.menu * {
    color: white !important;
}

.menu-itp {
    vertical-align: middle;
    &::before {
        background: $clone-white;
        content: " ";
        display: block;
        height: 30%;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(-50%, -50%);
        width: 1px;
    }
    a {
        overflow: hidden;
        position: relative;
        span {
            position: relative;
            z-index: 2;
        }
        img {
            max-width: none;
            opacity: 0;
            position: absolute !important;
            top: -50%;
            left: -50%;
            transition: opacity .2s ease;
            width: 200%;
            z-index: 1;
        }
        &:hover {
            img {
                opacity: .5;
                transition: opacity .2s ease;
            }
        }
        &::before {
            display: none !important;
        }
    }
}

.blog-layout {
    overflow: hidden;
    position: relative;
    >*,
    >* >*,
    >* >* >*,
    >* >* >* >*,
    >* >* >* >* >* {
        position: relative;
    }
    .blog-filter-background {
        background: $clone-c2;
        height: 100%;
        position: absolute;
        top: 0;
        left: -50vw;
        width: 200vw;
        @media #{$clone-tablet-landscape} {
            left: auto;
            right: 0;
            width: 100vw;
        }
    }
    >div >div >[data-c-grid-item]:first-child >div >div:not(.blog-filter-background) {
        padding-bottom: calc(#{$clone-padding} * 2);
        @media #{$clone-tablet-portrait} {
            padding-bottom: calc((#{$clone-padding} * 2) * #{$clone-whitespace-multiplier});
        }
        @media #{$clone-tablet-landscape} {
            padding-bottom: 0;
            padding-right: calc((#{$clone-padding} * 3) * #{$clone-whitespace-multiplier});
        }
        @media #{$clone-desktop-large} {
            padding-right: calc(((#{$clone-padding} * 3) * #{$clone-whitespace-multiplier}) * #{$clone-whitespace-multiplier});
        }
    }
    >div >div >[data-c-grid-item]:last-child >div >div:not(.blog-filter-background) {
        @media #{$clone-tablet-landscape} {
            padding-left: calc((#{$clone-padding} * 3) * #{$clone-whitespace-multiplier});
        }
        @media #{$clone-desktop-large} {
            padding-left: calc(((#{$clone-padding} * 3) * #{$clone-whitespace-multiplier}) * #{$clone-whitespace-multiplier});
        }
    }
    .blog-grid {
        >div:not(:last-child) {
            padding-bottom: 4rem;
        }
        >div:not(:first-child) {
            padding-top: 4rem;
            position: relative;
            &:before {
                background: rgba($clone-grey, .2);
                content: " ";
                display: block;
                height: 1px;
                position: absolute;
                left: 0;
                top: 0;
                width: 90vw;
                @media #{$clone-tablet-landscape} {
                    left: calc((#{$clone-padding} * 3) * #{$clone-whitespace-multiplier});
                    width: 53vw;
                }
                @media #{$clone-desktop-medium} {
                    width: 62vw;
                }
                @media #{$clone-desktop-large} {
                    left: calc(((#{$clone-padding} * 3) * #{$clone-whitespace-multiplier}) * #{$clone-whitespace-multiplier});
                }
            }
        }
    }
}
.blog-tag-list {
    list-style: none;
    margin: -1rem;
    padding: 0 !important;
    li {
        display: inline-block;
        margin: 1rem;
        padding: 0;
    }
}

.itp-why {
    overflow: hidden;
    position: relative;
    * {
        position: relative;
    }
    .itp-why-background {
        background: rgba(0, 0, 0, .1);
        height: 100%;
        position: absolute;
        top: 0;
        left: -50vw;
        width: 200vw;
        @media #{$clone-tablet-landscape} {
            left: auto;
            right: 0;
            width: 100vw;
        }
    }
    >div >div >[data-c-grid-item]:first-child >div >div:not(.itp-why-background) {
        padding-bottom: calc(#{$clone-padding} * 2);
        @media #{$clone-tablet-portrait} {
            padding-bottom: calc((#{$clone-padding} * 2) * #{$clone-whitespace-multiplier});
        }
        @media #{$clone-tablet-landscape} {
            padding-bottom: 0;
            padding-right: calc((#{$clone-padding} * 3) * #{$clone-whitespace-multiplier});
        }
        @media #{$clone-desktop-large} {
            padding-right: calc(((#{$clone-padding} * 3) * #{$clone-whitespace-multiplier}) * #{$clone-whitespace-multiplier});
        }
    }
    >div >div >[data-c-grid-item]:last-child >div >div:not(.itp-why-background) {
        @media #{$clone-tablet-landscape} {
            padding-left: calc((#{$clone-padding} * 3) * #{$clone-whitespace-multiplier});
        }
        @media #{$clone-desktop-large} {
            padding-left: calc(((#{$clone-padding} * 3) * #{$clone-whitespace-multiplier}) * #{$clone-whitespace-multiplier});
        }
    }
}

.itp-profile-photo {
    min-height: 50vh;
    @media #{$clone-tablet-portrait} {
        min-height: 0;
    }
}

.itp-goals {
    overflow: hidden;
    position: relative;
    * {
        position: relative;
    }
    .itp-goals-background {
        background: rgba(0, 0, 0, .1);
        height: 100%;
        position: absolute;
        top: 0;
        left: -50vw;
        width: 200vw;
        @media #{$clone-tablet-landscape} {
            left: 0;
            width: 100vw;
        }
    }
    >div >div >[data-c-grid-item]:first-child >div >div:not(.itp-goals-background) {
        padding-bottom: calc(#{$clone-padding} * 2);
        @media #{$clone-tablet-portrait} {
            padding-bottom: calc((#{$clone-padding} * 2) * #{$clone-whitespace-multiplier});
        }
        @media #{$clone-tablet-landscape} {
            padding-bottom: 0;
            padding-right: calc((#{$clone-padding} * 3) * #{$clone-whitespace-multiplier});
        }
        @media #{$clone-desktop-large} {
            padding-right: calc(((#{$clone-padding} * 3) * #{$clone-whitespace-multiplier}) * #{$clone-whitespace-multiplier});
        }
    }
    >div >div >[data-c-grid-item]:last-child >div >div:not(.itp-goals-background) {
        @media #{$clone-tablet-landscape} {
            padding-left: calc((#{$clone-padding} * 3) * #{$clone-whitespace-multiplier});
        }
        @media #{$clone-desktop-large} {
            padding-left: calc(((#{$clone-padding} * 3) * #{$clone-whitespace-multiplier}) * #{$clone-whitespace-multiplier});
        }
    }
}
