// =============================================================================

    // Application Index: Null

// =============================================================================
.application-index__null-state {
    background: $palette--white;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .5);
    display: block;
    padding: calc(#{$unit} * 2);
    text-align: center;

    span {
        color: $palette--font-black;
        font-family: $font--sans;
        font-size: $font-scale--h4;
        font-weight: 400;
    }

}
