// =============================================================================

    // Profile: Questions

// =============================================================================
.applicant-profile__questions {
    background: $palette--white;
    padding: $section-padding;

    .container--copy {

        >h4,
        >h3,
        >h2 {
            border-bottom: 1px solid $palette--font-black;
            color: $palette--black;
            font-family: $font--sans;
            font-size: $font-scale--h3;
            font-weight: 400;
            margin: calc(#{$unit} * 4) 0 calc(#{$unit} * 2) 0;
            padding: 0 0 2rem 0;
            text-align: left;

            &:first-of-type {
                margin-top: 0;
            }

        }

        >span {
            color: $palette--blue;
            display: block;
            font-family: $font--sans;
            font-size: $font-scale--h5;
            font-weight: 600;
            margin: 0 0 calc(#{$unit} * 1.5);
        }

        >p {
            @extend %paragraph;
            margin: calc(#{$unit} * 1.5) 0 calc(#{$unit} * 2);

            &.applicant-manager__answer {
                margin: calc(#{$unit} * 1.5) 0 calc(#{$unit} * 4);

                &:last-of-type {
                    margin-bottom: 0;
                }

            }

        }

        >div {
            margin: calc(#{$unit} * 1.5) 0;

            .form__textarea {
                min-height: calc(#{$unit} * 15);
            }

        }

        >button {
            margin: 0 0 calc(#{$unit} * 4);

            &:last-child {
                margin-bottom: 0;
            }

        }

    }

}
