<div data-c-background="c2(100)">
    <div data-c-container="large" data-c-padding="tb(.5)">
        <p data-c-color="white"><i class="fas fa-exclamation-triangle" data-c-margin="right(.5)"></i>{{ response.beta_banner.message }}<a href="{{ config('mail.admin_address') }}" title="{{ response.beta_banner.need_help.title }}" target="_blank">{{ response.beta_banner.need_help.text }}</a></p>
    </div>
</div>
