{# =============================================================================

    Talent Cloud
    Header

============================================================================= #}
<header>
    <div data-c-overlay="white(80)" style="background-image: url('images/response-wall.jpg')">
        <div data-c-container="large" data-c-padding="tb(3)" data-c-align="base(center) tl(left)">
            <h1 data-c-heading="h1" data-c-color="black" data-c-margin="bottom(1)">
                {{ header.title }}
            </h1>
            {% if header.subtitle %}
                <p data-c-color="black" data-c-margin="top(1)">{{ header.subtitle }}</p>
            {% endif %}
            <div data-c-margin="top(2)">
                <div data-c-grid="gutter(all, 1)">
                    <div data-c-grid-item="tl(1of2)"></div>
                    <div data-c-grid-item="tl(1of2)" data-c-align="base(center) tl(right)">
                        <span data-c-colour="black">{{ goc.pilot }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

