{# =============================================================================

    Talent Cloud
    COVID-19 Response Registration (Step 01)
    This UI is the first step in creating an account on the Talent Reserve.

============================================================================= #}
{% extends "layouts/base" %}
{% block title %}GC Talent Reserve: Complete Your Profile{% endblock %}
{% block body %}
    {# Government of Canada Banner #}
    {% include "common/goc" %}
    <div data-clone>
        {# Beta Banner #}
        {% include "response/beta-banner" %}
        {# Menu #}
        {% include "response/menu" %}
        {# Header #}
        {% include "response/registration/header" %}
        {# Content #}
        <a id="skipLink"></a>
        <div data-c-border="bottom(thin, solid, gray)">
            <div data-c-container="medium(center)" data-c-padding="bottom(3)">
                <form>
                    <h2 data-c-heading="h2" data-c-padding="top(3)" data-c-margin="bottom(1)">Profile Information</h2>
                    <p>Now that your account has been created, please complete the required information below.</p>
                    <h3 data-c-heading="h3" data-c-padding="top(3) bottom(1)" data-c-margin="bottom(1)">Department Information</h3>
                    <p data-c-margin="bottom(1)">Are you currently employed with your substantive home department or are you on an assignment or secondment?</p>
                    <div data-c-input="radio">
                        <label for="RG2">Indicate your current status:</label>
                        <span>Required</span>
                        <div id="RG2" role="radiogroup">
                            <label for="rB1">
                                <input id="rB1" required name="radioB" type="radio" />
                                <span>I currently work with my substantive home department.</span>
                            </label>
                            <label for="rB2">
                                <input id="rB2" required name="radioB" type="radio" />
                                <span>I am currently on an assignment or secondment.</span>
                            </label>
                            <label for="rB3">
                                <input id="rB3" required name="radioB" type="radio" />
                                <span>I am currently on leave from the government.</span>
                            </label>
                        </div>
                        <span>This input has an error.</span>
                    </div>
                    <div data-c-grid="gutter(all, 1)">

                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
