{# =============================================================================

    Talent Cloud
    COVID-19 Response Registration (Step 02)
    This UI is the first step in creating an account on the Talent Reserve.

============================================================================= #}
{% extends "layouts/base" %}
{% block title %}GC Talent Reserve: Complete Your Profile{% endblock %}
{% block body %}
    {# Government of Canada Banner #}
    {% include "common/goc" %}
    <div data-clone>
        {# Beta Banner #}
        {% include "response/beta-banner" %}
        {# Menu #}
        {% include "response/menu" %}
        {# Header #}
        {% include "response/registration/header" %}
        {# Content #}
        <a id="skipLink"></a>
        <div data-c-border="bottom(thin, solid, gray)">
            <div data-c-container="medium(center)" data-c-padding="bottom(3)">
                <form>
                    <h2 data-c-heading="h2" data-c-padding="top(3)" data-c-margin="bottom(1)">Profile Information</h2>
                    <p>Now that your account has been created, please complete the required information below.</p>
                    <h3 data-c-heading="h3" data-c-padding="top(3) bottom(1)" data-c-margin="bottom(1)">Department Information</h3>
                    <p data-c-margin="bottom(1)">Are you currently on assignment, on secondment or on leave?</p>
                    <div data-c-input="radio">
                        <label for="responseRegisJobStatusGroup">Indicate your current status:</label>
                        <span>Required</span>
                        <div id="responseRegisJobStatusGroup" role="radiogroup">
                            <label for="responseRegisJobStatusItem1">
                                <input id="responseRegisJobStatusItem1" required name="responseRegisJobStatusGroup" type="radio" />
                                <span>No, I am currently working with my substantive home department.</span>
                            </label>
                            <label for="responseRegisJobStatusItem2">
                                <input id="responseRegisJobStatusItem2" required name="responseRegisJobStatusGroup" type="radio" />
                                <span>Yes, I am currently on assignment or secondment.</span>
                            </label>
                            <label for="responseRegisJobStatusItem3">
                                <input id="responseRegisJobStatusItem3" required name="responseRegisJobStatusGroup" type="radio" />
                                <span>Yes, I am currently on leave from the government.</span>
                            </label>
                        </div>
                        <span>This input has an error.</span>
                    </div>
                    <div data-c-grid="gutter(all, 1)">
                        {# Current Department Info #}
                        <div data-c-grid-item="base(1of1)">
                            <h4 data-c-heading="h4" data-c-padding="top(2)" data-c-margin="bottom(1)">Current Department Information</h4>
                        </div>
                        <div data-c-input="select" data-c-grid-item="base(1of1)">
                            <label for="responseRegisCurrentDepartmentList">My Current Department</label>
                            <span>Required</span>
                            <div>
                                <i class="fas fa-caret-down"></i>
                                <select required id="responseRegisCurrentDepartmentList">
                                    <option disabled selected>Select a department...</option>
                                    <option>Aquaman</option>
                                    <option>Atom</option>
                                    <option>Booster Gold</option>
                                    <option>The Flash</option>
                                    <option>Green Lantern</option>
                                    <option>Hawkgirl</option>
                                    <option>Martian Manhunter</option>
                                    <option>Zatanna</option>
                                </select>
                            </div>
                            <span>This input has an error.</span>
                        </div>
                        <div data-c-input="select" data-c-grid-item="tl(1of2)">
                            <label for="responseRegisCurrentClassificationList">My Current Classification</label>
                            <span>Required</span>
                            <div>
                                <i class="fas fa-caret-down"></i>
                                <select required id="responseRegisCurrentClassificationList">
                                    <option disabled selected>Select a classification...</option>
                                    <option>Aquaman</option>
                                    <option>Atom</option>
                                    <option>Booster Gold</option>
                                    <option>The Flash</option>
                                    <option>Green Lantern</option>
                                    <option>Hawkgirl</option>
                                    <option>Martian Manhunter</option>
                                    <option>Zatanna</option>
                                </select>
                            </div>
                            <span>This input has an error.</span>
                        </div>
                        <div data-c-input="select" data-c-grid-item="tl(1of2)">
                            <label for="responseRegisCurrentClassificationLevel">My Current Classification Level</label>
                            <span>Required</span>
                            <div>
                                <i class="fas fa-caret-down"></i>
                                <select required id="responseRegisCurrentClassificationLevel">
                                    <option disabled selected>Select a level...</option>
                                    <option>Aquaman</option>
                                    <option>Atom</option>
                                    <option>Booster Gold</option>
                                    <option>The Flash</option>
                                    <option>Green Lantern</option>
                                    <option>Hawkgirl</option>
                                    <option>Martian Manhunter</option>
                                    <option>Zatanna</option>
                                </select>
                            </div>
                            <span>This input has an error.</span>
                        </div>
                        <div data-c-input="select" data-c-grid-item="base(1of1)">
                            <label for="responseRegisCurrentJobStatus">My Job Status</label>
                            <span>Required</span>
                            <div>
                                <i class="fas fa-caret-down"></i>
                                <select required id="responseRegisCurrentJobStatus">
                                    <option disabled selected>Select a status...</option>
                                    <option>Aquaman</option>
                                    <option>Atom</option>
                                    <option>Booster Gold</option>
                                    <option>The Flash</option>
                                    <option>Green Lantern</option>
                                    <option>Hawkgirl</option>
                                    <option>Martian Manhunter</option>
                                    <option>Zatanna</option>
                                </select>
                            </div>
                            <span>This input has an error.</span>
                        </div>
                        <div data-c-input="text" data-c-grid-item="tl(1of2)">
                            <label for="responseRegisCurrentManagerName">My Current Manager's Name</label>
                            <span>Required</span>
                            <div>
                                <input id="responseRegisCurrentManagerName" required type="text" />
                            </div>
                            <span>This input has an error.</span>
                        </div>
                        <div data-c-input="email" data-c-grid-item="tl(1of2)">
                            <label for="responseRegisCurrentManagerEmail">My Current Manager's Email</label>
                            <span>Required</span>
                            <div>
                                <input id="responseRegisCurrentManagerEmail" required type="email" />
                            </div>
                            <span>This input has an error.</span>
                        </div>
                        {# Substantive Home Department Info #}
                        {# Devs: please note that this part of the form should only show up (and therefore be required) if the user selects that they are on an assignment from the options above. #}
                        <div data-c-grid-item="base(1of1)">
                            <h4 data-c-heading="h4" data-c-padding="top(2)" data-c-margin="bottom(1)">Substantive Home Department Information</h4>
                            <p data-c-margin="bottom(1)">Because you selected that you are on assignment or secondment, please fill out the following information from your original home substantive department.</p>
                        </div>
                        <div data-c-input="select" data-c-grid-item="base(1of1)">
                            <label for="responseRegisSubstantiveDepartmentList">My Home Department <span data-c-color="gray">(Can be the same as current department)</span></label>
                            <span>Required</span>
                            <div>
                                <i class="fas fa-caret-down"></i>
                                <select id="responseRegisSubstantiveDepartmentList">
                                    <option disabled selected>Select a department...</option>
                                    <option>Aquaman</option>
                                    <option>Atom</option>
                                    <option>Booster Gold</option>
                                    <option>The Flash</option>
                                    <option>Green Lantern</option>
                                    <option>Hawkgirl</option>
                                    <option>Martian Manhunter</option>
                                    <option>Zatanna</option>
                                </select>
                            </div>
                            <span>This input has an error.</span>
                        </div>
                        <div data-c-input="select" data-c-grid-item="tl(1of2)">
                            <label for="responseRegisSubstantiveClassificationList">My Home Department Classification</label>
                            <span>Required</span>
                            <div>
                                <i class="fas fa-caret-down"></i>
                                <select id="responseRegisSubstantiveClassificationList">
                                    <option disabled selected>Select a classification...</option>
                                    <option>Aquaman</option>
                                    <option>Atom</option>
                                    <option>Booster Gold</option>
                                    <option>The Flash</option>
                                    <option>Green Lantern</option>
                                    <option>Hawkgirl</option>
                                    <option>Martian Manhunter</option>
                                    <option>Zatanna</option>
                                </select>
                            </div>
                            <span>This input has an error.</span>
                        </div>
                        <div data-c-input="select" data-c-grid-item="tl(1of2)">
                            <label for="responseRegisSubstantiveClassificationLevel">My Home Department Classification Level</label>
                            <span>Required</span>
                            <div>
                                <i class="fas fa-caret-down"></i>
                                <select id="responseRegisSubstantiveClassificationLevel">
                                    <option disabled selected>Select a level...</option>
                                    <option>Aquaman</option>
                                    <option>Atom</option>
                                    <option>Booster Gold</option>
                                    <option>The Flash</option>
                                    <option>Green Lantern</option>
                                    <option>Hawkgirl</option>
                                    <option>Martian Manhunter</option>
                                    <option>Zatanna</option>
                                </select>
                            </div>
                            <span>This input has an error.</span>
                        </div>
                        <div data-c-input="text" data-c-grid-item="tl(1of2)">
                            <label for="responseRegisSubstantiveManagerName">My Home Department Manager's Name</label>
                            <span>Required</span>
                            <div>
                                <input id="responseRegisSubstantiveManagerName" type="text" />
                            </div>
                            <span>This input has an error.</span>
                        </div>
                        <div data-c-input="email" data-c-grid-item="tl(1of2)">
                            <label for="responseRegisSubstantiveManagerEmail">My Home Department Manager's Email</label>
                            <span>Required</span>
                            <div>
                                <input id="responseRegisSubstantiveManagerEmail" type="email" />
                            </div>
                            <span>This input has an error.</span>
                        </div>
                        {# Availability #}
                        <div data-c-grid-item="base(1of1)">
                            <h3 data-c-heading="h3" data-c-padding="top(3) bottom(1)" data-c-margin="bottom(1)">My Availability</h3>
                        </div>
                        <div data-c-input="select" data-c-grid-item="tl(1of2)">
                            <label for="responseRegisAvailProvince">My Province</label>
                            <span>Required</span>
                            <div>
                                <i class="fas fa-caret-down"></i>
                                <select required id="responseRegisAvailProvince">
                                    <option disabled selected>Select a province...</option>
                                    <option>Aquaman</option>
                                    <option>Atom</option>
                                    <option>Booster Gold</option>
                                    <option>The Flash</option>
                                    <option>Green Lantern</option>
                                    <option>Hawkgirl</option>
                                    <option>Martian Manhunter</option>
                                    <option>Zatanna</option>
                                </select>
                            </div>
                            <span>This input has an error.</span>
                        </div>
                        <div data-c-input="text" data-c-grid-item="tl(1of2)">
                            <label for="responseRegisAvailCity">My City/Town</label>
                            <span>Required</span>
                            <div>
                                <input id="responseRegisAvailCity" required type="text" />
                            </div>
                            <span>This input has an error.</span>
                        </div>
                        <div data-c-input="radio" data-c-grid-item="base(1of1)">
                            <label for="responseRegisAvailOffice">Are you willing to come to work in a physical office?</label>
                            <span>Required</span>
                            <div id="responseRegisAvailOffice" role="radiogroup">
                                <label for="responseRegisAvailOfficeItem1">
                                    <input id="responseRegisAvailOfficeItem1" required name="responseRegisAvailOffice" type="radio" />
                                    <span>Yes, I am willing to work from a physical office in my area.</span>
                                </label>
                                <label for="responseRegisAvailOfficeItem2">
                                    <input id="responseRegisAvailOfficeItem2" required name="responseRegisAvailOffice" type="radio" />
                                    <span>No, I'd prefer not to work in a physical office.</span>
                                </label>
                            </div>
                            <span>This input has an error.</span>
                        </div>
                        <div data-c-input="radio" data-c-grid-item="base(1of1)">
                            <label for="responseRegisAvailGroup">Indicate your general availability:</label>
                            <span>Required</span>
                            <div id="responseRegisAvailGroup" role="radiogroup">
                                <label for="responseRegisAvailItem1">
                                    <input id="responseRegisAvailItem1" required name="responseRegisAvailGroup" type="radio" />
                                    <span>I can work full time.</span>
                                </label>
                                <label for="responseRegisAvailItem2">
                                    <input id="responseRegisAvailItem2" required name="responseRegisAvailGroup" type="radio" />
                                    <span>I can work part time.</span>
                                </label>
                            </div>
                            <span>This input has an error.</span>
                        </div>
                        <div data-c-input="checkbox(group)" data-c-grid-item="base(1of1)">
                            <label>Please indicate your specific availability <span data-c-color="gray">(Optional)</span>:</label>
                            <span>Required</span>
                            <div>
                                <label for="responseRegisAvailSpecificsItem1">
                                    <input
                                        id="responseRegisAvailSpecificsItem1"
                                        type="checkbox"/>
                                    <span>I'm available to work during the evenings.</span>
                                </label>
                                <label for="responseRegisAvailSpecificsItem2">
                                    <input
                                        id="responseRegisAvailSpecificsItem2"
                                        type="checkbox"/>
                                    <span>I'm available to work on the weekends.</span>
                                </label>
                            </div>
                            <span>This input has an error.</span>
                        </div>
                        <div data-c-input="textarea" data-c-grid-item="base(1of1)">
                            <label for="responseRegisAvailDetails">Other Information <span data-c-color="gray">(Optional)</span>:</label>
                            <span>Required</span>
                            <div>
                                <textarea id="responseRegisAvailDetails"></textarea>
                            </div>
                            <span>This input has an error.</span>
                        </div>
                        {# Language Information #}
                        <div data-c-grid-item="base(1of1)">
                            <h3 data-c-heading="h3" data-c-padding="top(3) bottom(.5)" data-c-margin="bottom(1)">Language Information</h3>
                        </div>
                        <div data-c-input="radio" data-c-grid-item="base(1of1)">
                            <label for="responseRegisPreferredLangGroup">Indicate your first official language:</label>
                            <span>Required</span>
                            <div id="responseRegisPreferredLangGroup" role="radiogroup">
                                <label for="responseRegisPreferredLangEn">
                                    <input id="responseRegisPreferredLangEn" required name="responseRegisPreferredLangGroup" type="radio" />
                                    <span>My first official language is English.</span>
                                </label>
                                <label for="responseRegisPreferredLangFr">
                                    <input id="responseRegisPreferredLangFr" required name="responseRegisPreferredLangGroup" type="radio" />
                                    <span>My first official language is French.</span>
                                </label>
                            </div>
                            <span>This input has an error.</span>
                        </div>
                        <div data-c-input="radio" data-c-grid-item="base(1of1)">
                            <label for="responseRegisContactLangGroup">Indicate the language you prefer to be contacted in:</label>
                            <span>Required</span>
                            <div id="responseRegisContactLangGroup" role="radiogroup">
                                <label for="responseRegisContactLangEn">
                                    <input id="responseRegisContactLangEn" required name="responseRegisContactLangGroup" type="radio" />
                                    <span>My preferred contact language is English.</span>
                                </label>
                                <label for="responseRegisContactLangFr">
                                    <input id="responseRegisContactLangFr" required name="responseRegisContactLangGroup" type="radio" />
                                    <span>My preferred contact language is French.</span>
                                </label>
                            </div>
                            <span>This input has an error.</span>
                        </div>
                        <div data-c-grid-item="base(1of1)">
                            <p data-c-margin="tb(.5)">If you've been assessed in your second official language, please indicate your language levels below. If you know the expiry date of your levels, please also provide that.</p>
                        </div>
                        <div data-c-input="select" data-c-grid-item="tl(1of3)">
                            <label for="SEL2">Comprehension <span data-c-color="gray">(Optional)</span></label>
                            <span>Required</span>
                            <div>
                                <i class="fas fa-caret-down"></i>
                                <select id="SEL2">
                                    <option disabled selected>Select a level...</option>
                                    <option>N/A</option>
                                    <option>A</option>
                                    <option>B</option>
                                    <option>C</option>
                                    <option>Exempt</option>
                                </select>
                            </div>
                            <span>This input has an error.</span>
                        </div>
                        <div data-c-input="select" data-c-grid-item="tl(1of3)">
                            <label for="SEL2">Writing <span data-c-color="gray">(Optional)</span></label>
                            <span>Required</span>
                            <div>
                                <i class="fas fa-caret-down"></i>
                                <select id="SEL2">
                                    <option disabled selected>Select a level...</option>
                                    <option>N/A</option>
                                    <option>A</option>
                                    <option>B</option>
                                    <option>C</option>
                                    <option>Exempt</option>
                                </select>
                            </div>
                            <span>This input has an error.</span>
                        </div>
                        <div data-c-input="select" data-c-grid-item="tl(1of3)">
                            <label for="SEL2">Oral <span data-c-color="gray">(Optional)</span></label>
                            <span>Required</span>
                            <div>
                                <i class="fas fa-caret-down"></i>
                                <select id="SEL2">
                                    <option disabled selected>Select a level...</option>
                                    <option>N/A</option>
                                    <option>A</option>
                                    <option>B</option>
                                    <option>C</option>
                                    <option>Exempt</option>
                                </select>
                            </div>
                            <span>This input has an error.</span>
                        </div>
                        <div data-c-input="date" data-c-grid-item="base(1of1)">
                            <label for="responseRegisLangLevelsExpiry">Expiry Date of Language Levels <span data-c-color="gray">(Optional)</span></label>
                            <span>Required</span>
                            <div>
                                <input id="responseRegisLangLevelsExpiry" type="date" placeholder="yyyy-mm-dd"/>
                            </div>
                            <span>This input has an error.</span>
                        </div>
                        {# Areas of Expertise #}
                        <div data-c-grid-item="base(1of1)">
                            <div data-c-grid="bottom">
                                <div data-c-grid-item="tl(1of2)">
                                    <h3 data-c-font-size="h3" data-c-padding="top(3)">My Areas of Expertise</h3>
                                </div>
                                <div data-c-grid-item="tl(1of2)" data-c-align="base(center) tl(right)">
                                    {# Devs: Make sure the number here is dynamic. #}
                                    <span data-c-tag="c1" data-c-font-size="small" data-c-radius="pill">You have 3 areas selected.</span>
                                </div>
                            </div>
                        </div>
                        <div data-c-grid-item="base(1of1)">
                            <hr data-c-hr="thin(gray)">
                        </div>
                        <div data-c-grid-item="base(1of1)">
                            <p data-c-margin="bottom(.5)">Below are a few areas of expertise. In order to effectively notify you about positions that are relevant to you and the skills you have, we ask that you identify as many areas that apply to your existing skillset as possible.</p>
                        </div>
                        <div data-c-grid-item="base(1of1)">
                            {# Stream Accordions #}
                            <div data-c-accordion-group class="response-accordion-group">
                                {# Devs: Repeat stream accordion as necessary. Make sure that unique IDs on form elements inside the accordion are handled properly! #}
                                <div data-c-accordion data-c-card>
                                    <button aria-expanded="false" data-c-accordion-trigger tabindex="0" type="button">
                                        <div data-c-padding="all(1)">
                                            <p data-c-font-weight="bold" data-c-font-size="h5" data-c-color="c1">Information Technology and Programming</p>
                                        </div>
                                        <span data-c-visibility="invisible">Click to view...</span>
                                        <i aria-hidden="true" data-c-accordion-add data-c-color="base(c1)" data-c-font-size="base(h3)" data-c-font-weight="base(bold)" class="fas fa-plus"></i>
                                        <i aria-hidden="true" data-c-accordion-remove data-c-color="base(c1)" data-c-font-size="base(h3)" data-c-font-weight="base(bold)" class="fas fa-minus"></i>
                                    </button>
                                    <div aria-hidden="true" data-c-accordion-content data-c-padding="base(rl, 1)">
                                        <div data-c-padding="top(.5) rl(1)" data-c-border="top(thin, solid, gray)">
                                            <!-- Accordion Content -->
                                            <div data-c-input="checkbox(group)">
                                                <label>Select as many as applicable:</label>
                                                <span>Required</span>
                                                <div>
                                                    <div data-c-padding="tb(.5)">
                                                        <div data-c-grid="gutter(all, 1)">
                                                            <label for="responseRegisExpertiseStream1Item1" data-c-grid-item="tp(1of2) ds(1of3)">
                                                                <input
                                                                    id="responseRegisExpertiseStream1Item1"
                                                                    type="checkbox"/>
                                                                <span>Subcategory Name</span>
                                                            </label>
                                                            <label for="responseRegisExpertiseStream1Item2" data-c-grid-item="tp(1of2) ds(1of3)">
                                                                <input
                                                                    id="responseRegisExpertiseStream1Item2"
                                                                    type="checkbox"/>
                                                                <span>Subcategory Name</span>
                                                            </label>
                                                            <label for="responseRegisExpertiseStream1Item3" data-c-grid-item="tp(1of2) ds(1of3)">
                                                                <input
                                                                    id="responseRegisExpertiseStream1Item3"
                                                                    type="checkbox"/>
                                                                <span>Subcategory Name</span>
                                                            </label>
                                                            <label for="responseRegisExpertiseStream1Item4" data-c-grid-item="tp(1of2) ds(1of3)">
                                                                <input
                                                                    id="responseRegisExpertiseStream1Item4"
                                                                    type="checkbox"/>
                                                                <span>Subcategory Name</span>
                                                            </label>
                                                            <label for="responseRegisExpertiseStream1Item5" data-c-grid-item="tp(1of2) ds(1of3)">
                                                                <input
                                                                    id="responseRegisExpertiseStream1Item5"
                                                                    type="checkbox"/>
                                                                <span>Subcategory Name</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <span>This input has an error.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-c-grid-item="base(1of1)">
                            <div data-c-alert="information" data-c-radius="rounded" role="alert" data-c-margin="top(1)">
                                <div data-c-padding="all(.5)">
                                    <p data-c-margin="bottom(.5)" data-c-font-weight="bold"><i class="fas fa-exclamation-circle" data-c-margin="right(.5)"></i>My Areas of Interest
                                    </p>
                                    <p>Have you ever wanted to try something new? Worried that you're not quite skilled enough to give it a try? After registration, on your Talent Reserve profile you can also indicate areas of expertise that you're interested in, so that we can do our best to match you to opportunities that might present learning opportunities.</p>
                                </div>
                            </div>
                        </div>
                        <div data-c-input="checkbox(single)" data-c-grid-item="base(1of1)">
                            <span>Required</span>
                            <div>
                                <label for="responseRegisInterestConfirmation">
                                    <input
                                        id="responseRegisInterestConfirmation"
                                        type="checkbox"
                                        required/>
                                    <span>I understand that I can indicate my areas of interest on my Talent Reserve profile after I've completed the registration process.</span>
                                </label>
                            </div>
                            <span>This input has an error.</span>
                        </div>
                        {# Form Actions #}
                        <div data-c-grid-item="base(1of2)" data-c-align="base(left)">
                            <button data-c-button="outline(c1)" data-c-radius="rounded" type="button">
                                <span>Cancel</span>
                            </button>
                        </div>
                        <div data-c-grid-item="base(1of2)" data-c-align="base(right)">
                            <button data-c-button="solid(c1)" data-c-radius="rounded" type="button">
                                <span>Submit</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
