{# =============================================================================

    Talent Cloud
    Applicant: Profile - References Index

============================================================================= #}
<section
    class="applicant-profile__portfolio">

    <div
        id="react-reference-list"
        data-lang="{{ trans('applicant/profile_references')|json_encode() }}"
        data-reference-lang="{{ trans('common/references')|json_encode() }}"
        data-references="{{ applicant.references|json_encode() }}"
        class="container--layout">

    </div>

</section>
