{# =============================================================================

    Talent Cloud
    Applicant: Profile - Page Archived Warning

============================================================================= #}
<div aria-hidden="true" id="archived-component" aria-describedby="dialog-01-description" aria-labelledby="dialog-01-title" data-c-padding="tb(2)">
    <div
        data-c-background="white"
        data-c-border="all(thin, solid, c3)"
        data-c-radius="rounded"
        data-c-padding="bottom(1)">
        <div data-c-padding="tb(1) right(2) left(1)">
            <!-- Title -->
            <p data-c-color="c3" data-c-font-size="h4" data-c-dialog-focus><b>{{archived.page_going_away}}</b></p>
        </div>
        <div data-c-padding="left(1)" data-c-grid="gutter">
            <!-- Main content -->
            <div data-c-grid-item="tp(1of1) tl(1of8)" id="archived-icon-div">
                <img id="archived-icon"
                    alt="A computer and keyboard with a spider crawling in from the top right of the screen"
                    src="/images/icon-archived-laptop-old.svg">
                </img>
            </div>
            <div data-c-grid-item="tp(1of1) tl(7of8)" id="archived-message-div">
                <p id="archived-message" data-c-color="c3">{{archived.page_going_away_desc}}</p>
            </div>

        </div>
        <!--
        <div data-c-padding="left(1)">
            <div data-c-grid="gutter(all, 1) middle">
                <div data-c-grid-item="base(1of2)">
                    <p data-c-color="c3" data-c-margin="top(.5)"><u>{{archived.page_going_away_read_more}}</u></p>
            </div>
        </div>
        -->
    </div>
</div>
<br />

<style>
    /* Most of the styling is in archived.html.twig, but scss compile breaks due to this line */
    img#archived-icon {
        filter: invert(11%) sepia(97%) saturate(5013%) hue-rotate(335deg) brightness(87%) contrast(107%);
    }
</style>
