{# =============================================================================

    Talent Cloud
    Applicant: Profile - Page Archived Warning

============================================================================= #}
Waffles

<p><b>{{profile_menu.page_going_away}}<b></p>

<p>
{{profile_menu.page_going_away_desc}}
</p>

<p><u>{{profile_menu.page_going_away_read_more}}<u></p>
