{% extends "layouts/base" %}

{% block title %}

    {{ itp.page_title }}

{% endblock %}

{% block body %}

    {# Sitewide Notice ====================================================== #}
    {% include "common/alert" %}

    {# Government of Canada Banner ========================================== #}
    {% include "common/goc" %}

    <div data-clone>
        <div
            data-c-background="white(100)">
            <!-- Heading (see step 00 for info) -->
            <div style="background-image: url('/images/bg_crowd.jpg');" data-c-overlay="black(80)" data-c-padding="bottom(triple)">
                <div data-c-margin="bottom(triple)">
                    {% include "common/menu" %}
                </div>
                <div data-c-container="layout">
                    <h2 data-c-colour="white" data-c-font-size="h2" data-c-font-weight="bold" data-c-margin="bottom(double)">
                        Build a Job Poster
                    </h2>
                    <nav aria-label="breadcrumb" data-c-breadcrumbs data-c-colour="white" data-c-margin="bottom(normal)">
                        <ol>
                            <li>
                                <a href="#link-to-page" title="This is the title of the page link.">
                                    Manager Portal
                                </a>
                                <i class="fa fa-caret-right"></i>
                            </li>
                            <li>
                                <a href="#link-to-page" title="This is the title of the page link.">
                                    Job Poster Builder
                                </a>
                                <i class="fa fa-caret-right"></i>
                            </li>
                            <li>
                                <a aria-current="page" href="#link-to-page" title="This is the title of the page link.">
                                    Step 04 (Impact)
                                </a>
                                <i class="fa fa-caret-right"></i>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
            <!-- Progress Indicator (see step 00 for info) -->
            <div class="manager-jpb-tracker" data-c-alignment="base(centre) tl(right)" data-c-background="black(100)" data-c-colour="white">
                <div data-c-container="layout" data-c-padding="top(quarter) bottom(quarter)">
                    <div class="tracker manager-jpb-tracker-wrapper">
                        <div class="tracker-item" data-tc-tracker-state="complete" data-c-alignment="base(left)" data-c-margin="top(half) right(normal) bottom(half) left(normal)">
                            <div class="tracker-icon">
                                <i class="fas fa-arrow-down"></i>
                                <i class="fas fa-check"></i>
                                <i class="fas fa-exclamation-triangle"></i>
                            </div>
                            <div>
                                <span data-c-font-size="small">Step 01</span><br>
                                <span data-c-font-weight="bold">Intro</span>
                            </div>
                        </div>
                        <div class="tracker-item" data-tc-tracker-state="complete" data-c-alignment="base(left)" data-c-margin="top(half) right(normal) bottom(half) left(normal)">
                            <div class="tracker-icon">
                                <i class="fas fa-arrow-down"></i>
                                <i class="fas fa-check"></i>
                                <i class="fas fa-exclamation-triangle"></i>
                            </div>
                            <div>
                                <span data-c-font-size="small">Step 02</span><br>
                                <span data-c-font-weight="bold">Job Info</span>
                            </div>
                        </div>
                        <div class="tracker-item" data-tc-tracker-state="complete" data-c-alignment="base(left)" data-c-margin="top(half) right(normal) bottom(half) left(normal)">
                            <div class="tracker-icon">
                                <i class="fas fa-arrow-down"></i>
                                <i class="fas fa-check"></i>
                                <i class="fas fa-exclamation-triangle"></i>
                            </div>
                            <div>
                                <span data-c-font-size="small">Step 03</span><br>
                                <span data-c-font-weight="bold">Work Env.</span>
                            </div>
                        </div>
                        <div class="tracker-item" data-tc-tracker-state="active" data-c-alignment="base(left)" data-c-margin="top(half) right(normal) bottom(half) left(normal)">
                            <div class="tracker-icon">
                                <i class="fas fa-arrow-down"></i>
                                <i class="fas fa-check"></i>
                                <i class="fas fa-exclamation-triangle"></i>
                            </div>
                            <div>
                                <span data-c-font-size="small">Step 04</span><br>
                                <span data-c-font-weight="bold">Impact</span>
                            </div>
                        </div>
                        <div class="tracker-item" data-tc-tracker-state="null" data-c-alignment="base(left)" data-c-margin="top(half) right(normal) bottom(half) left(normal)">
                            <div class="tracker-icon">
                                <i class="fas fa-arrow-down"></i>
                                <i class="fas fa-check"></i>
                                <i class="fas fa-exclamation-triangle"></i>
                            </div>
                            <div>
                                <span data-c-font-size="small">Step 05</span><br>
                                <span data-c-font-weight="bold">Tasks</span>
                            </div>
                        </div>
                        <div class="tracker-item" data-tc-tracker-state="null" data-c-alignment="base(left)" data-c-margin="top(half) right(normal) bottom(half) left(normal)">
                            <div class="tracker-icon">
                                <i class="fas fa-arrow-down"></i>
                                <i class="fas fa-check"></i>
                                <i class="fas fa-exclamation-triangle"></i>
                            </div>
                            <div>
                                <span data-c-font-size="small">Step 06</span><br>
                                <span data-c-font-weight="bold">Skills</span>
                            </div>
                        </div>
                        <div class="tracker-item" data-tc-tracker-state="null" data-c-alignment="base(left)" data-c-margin="top(half) right(normal) bottom(half) left(normal)">
                            <div class="tracker-icon">
                                <i class="fas fa-arrow-down"></i>
                                <i class="fas fa-check"></i>
                                <i class="fas fa-exclamation-triangle"></i>
                            </div>
                            <div>
                                <span data-c-font-size="small">Step 07</span><br>
                                <span data-c-font-weight="bold">Review</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Step Body -->
            <div data-c-container="form" data-c-padding="top(triple) bottom(triple)">
                <h3 data-c-font-size="h3" data-c-font-weight="bold" data-c-margin="bottom(double)">
                    Create an Impact Statement
                </h3>
                <ul data-c-margin="bottom(double)">
                    <li>Working in the federal government offers an important opportunity to have a broad impact for Canadians.</li>
                    <li>This is your chance to highlight what makes your work valuable and interesting.</li>
                    <li>Your impact statement is the first thing that applicants will see when they click your job poster so make sure it counts!</li>
                </ul>
                <p data-c-font-weight="bold" data-c-margin="bottom(normal)">How our department makes an impact:</p>
                <!-- The p tag below is where the dynamic department text goes (I used text from an old job poster as placeholder, but the real list of data is in the issue. -->
                <p data-c-margin="bottom(double)">The Navigable Waters Act Renewal team is responsible for the implementation of the electronic system related to the Canadian Navigable Waters Act (CNWA). This work will help the Government of Canada to modernize environment and regulatory processes and introduce new processes that properly serve the public.</p>
                <form data-c-grid="gutter">
                    <div data-c-grid-item="base(1of1)" data-c-input="textarea">
                        <p data-c-font-weight="bold" data-c-margin="bottom(normal)">How our team makes an impact:</p>
                        <p data-c-margin="bottom(normal)">Describe the value your team/service/initiative brings to Canadians. It doesn’t matter if your work is direct to citizens or back office, innovative or maintenance, top priority or ongoing. Describe how it contributes to making Canada better the way you would to someone who knows nothing about your work.</p>
                        <label for="builder04TeamImpact">Team Impact Statement</label>
                        <span>Required</span>
                        <div>
                            <textarea id="builder04TeamImpact" placeholder="Try for a casual, frank, friendly tone..." required></textarea>
                        </div>
                        <span>This input has an error.</span>
                    </div>
                    <div data-c-grid-item="base(1of1)" data-c-input="textarea">
                        <p data-c-font-weight="bold" data-c-margin="bottom(normal)">How the new hire makes an impact:</p>
                        <p data-c-margin="bottom(normal)">Describe how the new hire will contribute in this role. Focus on the value they’ll bring, not on specific tasks (you’ll provide these later on). For example “In this role, you’ll contribute to…” or, “As a member of this team, you’ll be responsible for helping us…”</p>
                        <label for="builder04HireImpact">Team Impact Statement</label>
                        <span>Required</span>
                        <div>
                            <textarea id="builder04HireImpact" placeholder="Remember, don't use Government speak..." required></textarea>
                        </div>
                        <span>This input has an error.</span>
                    </div>
                    <div data-c-alignment="centre" data-c-grid-item="base(1of1)" data-c-grid-item="base(1of2)">
                        <!-- Modal trigger, same as last step. -->
                        <button data-c-button="solid(c1)" data-c-dialog-action="open" data-c-dialog-id="example-dialog-01" data-c-radius="rounded" type="button">
                            Next
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Same idea, only once on the page, anywhere inside the data-clone element. -->
        <div data-c-dialog-overlay></div>

        <!-- Preview modal, same as the last step. -->
        <div aria-describedby="example-dialog-01-description" aria-hidden="true" aria-labelledby="example-dialog-01-title" data-c-dialog data-c-dialog-id="example-dialog-01" data-c-padding="top(double) bottom(double)" role="dialog">
            <div data-c-background="white(100)" data-c-radius="rounded">
                <div data-c-background="c1(100)" data-c-border="bottom(thin, solid, black)" data-c-padding="normal">
                    <h5 data-c-colour="white" data-c-font-size="h4" id="example-dialog-01-title">Awesome Work!
                    </h5>
                </div>
                <div data-c-border="bottom(thin, solid, black)">
                    <div data-c-border="bottom(thin, solid, black)" data-c-padding="normal" id="example-dialog-01-description">
                            Here's a preview of the Impact Statement you just entered. Feel free to go back and edit things or move to the next step if you're happy with it.
                    </div>
                    <!-- This is where the modal content begins. -->
                    <div data-c-background="grey(20)" data-c-padding="normal">
                        <div class="manager-job-card" data-c-background="white(100)" data-c-padding="normal" data-c-radius="rounded">
                            <h4 data-c-border="bottom(thin, solid, black)" data-c-font-size="h4" data-c-font-weight="600" data-c-margin="bottom(normal)" data-c-padding="bottom(normal)">Impact</h4>
                            <p data-c-margin="bottom(normal)">The Navigable Waters Act Renewal team is responsible for the implementation of the electronic system related to the Canadian Navigable Waters Act (CNWA). This work will help the Government of Canada to modernize environment and regulatory processes and introduce new processes that properly serve the public.</p>
                            <p data-c-margin="bottom(normal)">Canada’s large network of navigable waters must remain open for Canadians to use. Protecting the public right of navigation is an important element of the new environmental and regulatory system in which good projects go ahead sustainably, with certainty and timely decisions, creating shared value and benefit for Canadians. The Navigable Waters Act Renewal (NWAR) team will play a key part in helping achieve this goal.</p>
                            <p>As a member of a dynamic SCRUM team you’ll be responsible for implementing a new online public registry so Canadians can access information on proposed projects in their communities. You’ll also participate in the implementation of an internal system to manage the proposed work and will collaborate with other agencies involved in the CNWA.</p>
                        </div>
                    </div>
                </div>
                <div data-c-padding="normal">
                    <div data-c-grid="gutter middle">
                        <div data-c-grid-item="base(1of2)">
                            <button data-c-button="outline(c1)" data-c-dialog-action="close" data-c-dialog-id="example-dialog-01" data-c-radius="rounded">
                                Go Back
                            </button>
                        </div>
                        <div data-c-alignment="base(right)" data-c-grid-item="base(1of2)">
                            <button data-c-button="solid(c1)" data-c-dialog-action="close" data-c-dialog-id="example-dialog-01" data-c-radius="rounded">
                                Next Step
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
