{% extends "layouts/base" %}

{% block title %}

    {{ itp.page_title }}

{% endblock %}

{% block body %}

    {# Sitewide Notice ====================================================== #}
    {% include "common/alert" %}

    {# Government of Canada Banner ========================================== #}
    {% include "common/goc" %}

    <div data-clone>
        <div data-c-background="white(100)">
            <!-- Heading (see step 00 for info) -->
            <div style="background-image: url('/images/bg_crowd.jpg');" data-c-overlay="black(80)" data-c-padding="bottom(triple)">
                <div data-c-margin="bottom(triple)">
                    {% include "common/menu" %}
                </div>
                <div data-c-container="layout">
                    <h2 data-c-colour="white" data-c-font-size="h2" data-c-font-weight="bold" data-c-margin="bottom(double)">
                        Build a Job Poster
                    </h2>
                    <nav aria-label="breadcrumb" data-c-breadcrumbs data-c-colour="white" data-c-margin="bottom(normal)">
                        <ol>
                            <li>
                                <a href="#link-to-page" title="This is the title of the page link.">
                                    Manager Portal
                                </a>
                                <i class="fa fa-caret-right"></i>
                            </li>
                            <li>
                                <a href="#link-to-page" title="This is the title of the page link.">
                                    Job Poster Builder
                                </a>
                                <i class="fa fa-caret-right"></i>
                            </li>
                            <li>
                                <a aria-current="page" href="#link-to-page" title="This is the title of the page link.">
                                    Step 05 (Tasks)
                                </a>
                                <i class="fa fa-caret-right"></i>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
            <!-- Progress Indicator (see step 00 for info) -->
            <!-- Note, I've changed the alignment to remain centred. -->
            <div class="manager-jpb-tracker" data-c-alignment="base(centre)" data-c-background="black(100)" data-c-colour="white">
                <div data-c-container="layout" data-c-padding="top(quarter) bottom(quarter)">
                    <div class="tracker manager-jpb-tracker-wrapper">
                        <div class="tracker-item" data-tc-tracker-state="complete" data-c-alignment="base(left)" data-c-margin="top(half) right(normal) bottom(half) left(normal)">
                            <div class="tracker-icon">
                                <i class="fas fa-arrow-down"></i>
                                <i class="fas fa-check"></i>
                                <i class="fas fa-exclamation-triangle"></i>
                            </div>
                            <div>
                                <span data-c-font-size="small">Step 01</span><br>
                                <span data-c-font-weight="bold">Intro</span>
                            </div>
                        </div>
                        <div class="tracker-item" data-tc-tracker-state="complete" data-c-alignment="base(left)" data-c-margin="top(half) right(normal) bottom(half) left(normal)">
                            <div class="tracker-icon">
                                <i class="fas fa-arrow-down"></i>
                                <i class="fas fa-check"></i>
                                <i class="fas fa-exclamation-triangle"></i>
                            </div>
                            <div>
                                <span data-c-font-size="small">Step 02</span><br>
                                <span data-c-font-weight="bold">Job Info</span>
                            </div>
                        </div>
                        <div class="tracker-item" data-tc-tracker-state="complete" data-c-alignment="base(left)" data-c-margin="top(half) right(normal) bottom(half) left(normal)">
                            <div class="tracker-icon">
                                <i class="fas fa-arrow-down"></i>
                                <i class="fas fa-check"></i>
                                <i class="fas fa-exclamation-triangle"></i>
                            </div>
                            <div>
                                <span data-c-font-size="small">Step 03</span><br>
                                <span data-c-font-weight="bold">Work Env.</span>
                            </div>
                        </div>
                        <div class="tracker-item" data-tc-tracker-state="complete" data-c-alignment="base(left)" data-c-margin="top(half) right(normal) bottom(half) left(normal)">
                            <div class="tracker-icon">
                                <i class="fas fa-arrow-down"></i>
                                <i class="fas fa-check"></i>
                                <i class="fas fa-exclamation-triangle"></i>
                            </div>
                            <div>
                                <span data-c-font-size="small">Step 04</span><br>
                                <span data-c-font-weight="bold">Impact</span>
                            </div>
                        </div>
                        <div class="tracker-item" data-tc-tracker-state="active" data-c-alignment="base(left)" data-c-margin="top(half) right(normal) bottom(half) left(normal)">
                            <div class="tracker-icon">
                                <i class="fas fa-arrow-down"></i>
                                <i class="fas fa-check"></i>
                                <i class="fas fa-exclamation-triangle"></i>
                            </div>
                            <div>
                                <span data-c-font-size="small">Step 05</span><br>
                                <span data-c-font-weight="bold">Tasks</span>
                            </div>
                        </div>
                        <div class="tracker-item" data-tc-tracker-state="null" data-c-alignment="base(left)" data-c-margin="top(half) right(normal) bottom(half) left(normal)">
                            <div class="tracker-icon">
                                <i class="fas fa-arrow-down"></i>
                                <i class="fas fa-check"></i>
                                <i class="fas fa-exclamation-triangle"></i>
                            </div>
                            <div>
                                <span data-c-font-size="small">Step 06</span><br>
                                <span data-c-font-weight="bold">Skills</span>
                            </div>
                        </div>
                        {# Note that a new step has been added to the tracker. #}
                        <div class="tracker-item" data-tc-tracker-state="null" data-c-alignment="base(left)" data-c-margin="top(half) right(normal) bottom(half) left(normal)">
                            <div class="tracker-icon">
                                <i class="fas fa-arrow-down"></i>
                                <i class="fas fa-check"></i>
                                <i class="fas fa-exclamation-triangle"></i>
                            </div>
                            <div>
                                <span data-c-font-size="small">Step 07</span><br>
                                <span data-c-font-weight="bold">Education</span>
                            </div>
                        </div>
                        <div class="tracker-item" data-tc-tracker-state="null" data-c-alignment="base(left)" data-c-margin="top(half) right(normal) bottom(half) left(normal)">
                            <div class="tracker-icon">
                                <i class="fas fa-arrow-down"></i>
                                <i class="fas fa-check"></i>
                                <i class="fas fa-exclamation-triangle"></i>
                            </div>
                            <div>
                                <span data-c-font-size="small">Step 08</span><br>
                                <span data-c-font-weight="bold">Review</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Step Body -->
            <div data-c-container="form" data-c-padding="top(triple) bottom(triple)">
                <h3 data-c-font-size="h3" data-c-font-weight="bold" data-c-margin="bottom(double)">
                    Add Key Tasks
                </h3>
                <ul data-c-margin="bottom(double)">
                    <li>What will your new team member spend their time on? What will they deliver?</li>
                    <li>Focus on the key tasks. You don’t need to list every detail of the job, but applicants want to know how they will be spending most of their time.</li>
                    <li>Aim to provide between four and six key tasks. (You can add as many key tasks as you want as you brainstorm here, but you can include no more than eight in the final job poster.)</li>
                    <li>Once you have finished entering key tasks, you will move on to identify the individual skills needed to accomplish them.</li>
                </ul>
                <p data-c-alignment="tl(right)">You have no tasks added.</p>
                <div data-c-margin="top(normal) bottom(double)" data-c-background="grey(20)" data-c-padding="normal" data-c-radius="rounded" data-c-border="all(thin, solid, grey)" data-c-alignment="centre">
                    You don't have any tasks added yet!
                </div>
                <form data-c-grid="gutter">
                    <div data-c-input="textarea" data-c-grid-item="base(1of1)">
                        <label for="TA2">My Story</label>
                        <span>Required</span>
                        <div>
                            <textarea id="TA2" required placeholder="e.g. One day Bruce Wayne...">I am Batman.</textarea>
                        </div>
                        <span>This input has an error.</span>
                    </div>
                    <div data-c-grid-item="base(1of1)" data-c-alignment="base(centre)">
                        <!-- Add task trigger. -->
                        <button data-c-button="solid(c1)" data-c-radius="rounded" type="button">
                            Add a Task
                        </button>
                    </div>
                    <div data-c-grid-item="base(1of1)">
                        <hr data-c-margin="top(normal) bottom(normal)">
                    </div>
                    <div data-c-alignment="centre" data-c-grid-item="base(1of1)">
                        <!-- Modal trigger, same as last step. -->
                        <button data-c-button="solid(c1)" data-c-dialog-action="open" data-c-dialog-id="example-dialog-01" data-c-radius="rounded" type="button">
                            Next
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
