{# =============================================================================

    Talent Cloud
    Manager: Home

============================================================================= #}

{% extends "layouts/base" %}

{% block title %}{{ menu.home_title }}{% endblock %}

{% block body %}

	{% include "common/goc" %}
{% include "common/alert" %}

    {% include "common/home/hero" %}

    <a id="skipLink"></a>

{% endblock %}
