{% extends "layouts/base" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    {% include "common/alert" %}

    {% include "common/goc" %}

    {% include "common/header" %}

    <a id="skipLink"></a>

    <div
        data-clone=""
        id="job-builder-details"
        data-job-id="{{jobId}}"
    >
    </div>

    <script async defer
        src="{{ mix('/js/JobDetailsPage.js') }}">
    </script>

{% endblock %}
