{% extends "layouts/base-h2" %}
{% block title %}
	{{ title }}
{% endblock %}
{% block body %}

	{% include "common/header" with { 'header': { 'title': title }, 'breadcrumbs_id': "jpb-breadcrumbs" } %}
	{% include "manager/notification" %}
	<a id="skipLink"></a>
	<div data-clone="" id="job-builder-root"></div>
{% endblock %}
{% block scripts %}
	<script async defer src="{{ asset(mix('js/JobBuilderRoot.js')) }}"></script>
{% endblock %}
