{% extends "layouts/base-h2" %}
{% block title %}
	{{ title }}
{% endblock %}
{% block body %}
	{% include "common/goc" %}
	{% include "common/alert" %}
    {% if is_internet_explorer == true and app.request.cookies.get('browser_message') == false %}
        {% include "common/h2-ie-banner" %}
        {% include "common/h2-ie-dialog" %}
    {% endif %}
	{% include "common/header" with { 'header': { 'title': title }, 'breadcrumbs_id': "jpb-breadcrumbs" } %}
	{% include "manager/notification" %}
	<a id="skipLink"></a>
	<div data-clone="" id="job-builder-root"></div>
{% endblock %}
{% block scripts %}
	<script async defer src="{{ asset(mix('js/JobBuilderRoot.js')) }}"></script>
{% endblock %}
