{% extends "layouts/base" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    {% include "common/alert" %}

    {% include "common/goc" %}

    {% include "common/header" %}

    <a id="skipLink"></a>

    <div
        data-clone=""
        id="job-builder-root"
    >
    </div>

{% endblock %}

{% block scripts %}

    <script async defer
        src="{{ mix('/js/jobBuilderRoot.js', '/js/') }}">
    </script>

{% endblock %}


