{# =============================================================================

    Talent Cloud
    Manager: Job Index

============================================================================= #}

{% extends "layouts/base" %}

{% block title %}{{ menu.job_index_title }}{% endblock %}

{% block body %}

	{% include "common/alert" %}

    {% include "common/goc" %}

    {% include "common/header" with {"header":jobs_l10n} %}

    {% if show_notification %}
    {% include "manager/notification" %}
    {% endif %}

    <a id="skipLink"></a>

    {% include "manager/job_index/layout" %}

{% endblock %}

{% block scripts %}

    <script
        src="{{ mix('/js/alerts.js') }}">
    </script>

{% endblock %}
