{% if show_demo_notification %}
	<div data-clone>
		<div class="notification-banner" data-c-background="c1(100)" data-c-padding="tb(1)">
			<div class="notification-banner__message-wrapper" data-c-container="large" data-c-align="base(center)">
				<i data-c-font-size="h4" data-c-margin="right(.5)" data-c-color="white" class="fas fa-id-badge" aria-hidden="true"></i>
				<p data-c-color="white">{{ notification.first }}
					<a data-c-font-weight="bold" href="{{ route('manager.faq.section') }}" title="{{ notification.title }}">{{ notification.link.text }}</a>.</p>
			</div>
		</div>
	</div>
{% endif %}
