{# =============================================================================

    Talent Cloud
    Manager: Profile

============================================================================= #}

<!DOCTYPE html>

<html
    lang="en">

    <head>
        <title>{{ menu.profile_title }}</title>

        {% include "common/head" %}

        {# Note that the </head> and <body> tags are located inside the common/head file due to Google Tag Manager being required on all pages. #}

    {# /head #}

    {# body #}

        {% include "common/alert" %}

        {% include "common/goc" %}

        {% include "common/header" with {"header":profile_l10n} %}

        {% include "manager/profile/header" with {'header_l10n': profile_l10n.profile_header} %}

        {% include "manager/profile/layout" with {'layout_l10n': profile_l10n.layout} %}

        {% include "common/footer" %}

        {# Scripts #}

        {% include "common/scripts" %}

    </body>

</html>
