{# =============================================================================

    Talent Cloud
    Manager: Profile

============================================================================= #}
{% extends "layouts/base" %}
{% block title %}
	{{ menu.profile_title }}
{% endblock %}
{% block body %}
	{% include "common/goc" %}
	{% include "common/alert" %}
	{% include "common/header" with {"header": profile_l10n} %}
	{% include "manager/notification" %}
	<a id="skipLink"></a>
	{# {% include "manager/profile/header" with {'header_l10n': profile_l10n.profile_header} %} #}
	{% include "manager/profile/layout" with {'layout_l10n': profile_l10n.layout} %}
{% endblock %}
