{# =============================================================================

    Talent Cloud
    Manager: Profile

============================================================================= #}

{% extends "layouts/base" %}

{% block title %}{{ menu.profile_title }}{% endblock %}

{% block body %}

	{% include "common/alert" %}

    {% include "common/goc" %}

    {% include "common/header" with {"header":profile} %}

    <a id="skipLink"></a>

    {% include "manager/profile/header" %}

    {% include "manager/profile/layout" %}

{% endblock %}
