{# =============================================================================

    Talent Cloud
    Review Applicants

============================================================================= #}

{% extends "layouts/base" %}

{% block title %}Review Applicants{% endblock %}

{% block body %}

	{% include "common/alert" %}

    {% include "common/goc" %}

    {% include "common/header" with {"header":jobs_l10n} %}

    <a id="skipLink"></a>

    <div
        id="review-applications"
        data-job="{{ job|json_encode() }}"
        data-applications="{{ applications|json_encode() }}"
    >
    </div>

    {# Static Applicant Index Mockup ======================================== #}

        <section>

        </section>

{% endblock %}
