{# =============================================================================

    Talent Cloud
    Manager: Screening Plan

============================================================================= #}

{% extends "layouts/base" %}

{% block body %}

    {# Alert #}

        {% include "common/alert" %}

    {# Government of Canada #}

        {% include "common/goc" %}

    {# Page Header #}

        {% include "common/header" with {"header":screening} %}

    {# Content #}

        <section class="screening-plan-layout">

            <div class="container--layout-xl">

                <h2 class="page-category">Generate a Screening Plan for: <span>JOB TITLE</span></h2>

                <p class="narrative-warning">Please note that all screening plans will include an assessment of the narrative evidence provided via the platform.</p>

                <h3 class="skill-category">Essential Skills</h3>

                <div class="skill-assessment-builder">

                    {% include "manager/components/skill-assessment-builder" %}

                </div>

                <h3 class="skill-category">Asset Skills</h3>

                <div class="skill-assessment-builder">

                    {% for criterion in criteria %}

                        {% if criterion.type == "asset" %}

                            {# Asset Criteria Go Here #}

                        {% endif %}

                    {% endfor %}

                    {% if criteria is empty %}

                        <p class="skill-null-state">No Asset Criteria Exist</p>

                    {% endif %}

                </div>

                <div class="generate-wrapper">

                    <button class="button--blue light-bg">Build New Screening Plan</button>

                </div>

                <h2 class="page-category">Screening Plans</h2>

                <p class="screening-plan-context">Generated screening plans will appear here.</p>

                <div class="screening-plan-list">

                    {% include "manager/components/screening-plan" %}

                </div>

            </div>

        </section>

{% endblock %}