{# =============================================================================

    Talent Cloud
    Manager: Screening Plan

============================================================================= #}

{% extends "layouts/base" %}

{% block title %}{{ screening_l10n.title }}{% endblock %}

{% block body %}

    {# Alert #}

        {% include "common/alert" %}

    {# Government of Canada #}

        {% include "common/goc" %}

    {# Page Header #}

        {% include "common/header" with {"header":screening_l10n} %}

        <a id="skipLink"></a>

    {# Assessment Plan Tool #}

    <div id="assessment-plan-container"
        data-job="{{ job|json_encode() }}" />

{% endblock %}
