{# =============================================================================

    Talent Cloud
    Manager: Screening Plan

============================================================================= #}

{% extends "layouts/base" %}

{% block body %}

    {# Alert #}

        {% include "common/alert" %}

    {# Government of Canada #}

        {% include "common/goc" %}

    {# Page Header #}

        {% include "common/header" with {"header":screening} %}

    {# Content #}

        <section class="screening-plan-layout">

            <div class="container--layout-xl">

                <h2 class="page-category">Generate a Screening Plan for: <span>JOB TITLE</span></h2>

                <p class="narrative-warning">Please note that all screening plans will include an assessment of the narrative evidence provided via the platform.</p>

                <h3 class="skill-category">Essential Skills</h3>

                <div class="skill-assessment-builder">

                    <div class="skill-assessment-builder__item flex-grid top">

                        <div class="box full">
                            <h4 class="skill-title">Front-end Development</h4>
                        </div>

                        <div class="box small-1of5">
                            <span class="skill-label">Description</span>
                        </div>

                        <div class="box small-1of5">
                            <span class="skill-label">Advanced Level</span>
                        </div>

                        <div class="box small-3of5">
                            <span class="skill-label">Assessment Types</span>
                        </div>

                        <div class="box small-1of5">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet placerat lacus, a consectetur dui. Nunc pretium mauris a interdum dignissim. Etiam sagittis, mauris ac luctus iaculis, nisl justo consectetur erat, a fringilla neque ipsum quis neque. Aliquam at felis id augue ullamcorper vestibulum et nec lorem.</p>
                        </div>

                        <div class="box small-1of5">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet placerat lacus, a consectetur dui. Nunc pretium mauris a interdum dignissim. Etiam sagittis, mauris ac luctus iaculis, nisl justo consectetur erat, a fringilla neque ipsum quis neque. Aliquam at felis id augue ullamcorper vestibulum et nec lorem.</p>
                        </div>

                        <div class="box small-3of5 flex-grid middle">
                            
                            <div class="skill-assessment-list" data-skill-id="">

                                <div class="skill-assessment">

                                    <div class="form__input-wrapper--select">

                                        <label 
                                            class="form__label" 
                                            for="">
                                            Assessment 01
                                        </label>

                                        <div class="form__select-wrapper fas fa-chevron-down">
                                            <select class="form__input">
                                                <option>Assessment Type 01</option>
                                                <option>Assessment Type 02</option>
                                                <option>Assessment Type 03</option>
                                                <option>Assessment Type 04</option>
                                                <option>Assessment Type 05</option>
                                            </select>
                                        </div>

                                    </div>

                                </div>

                            </div>

                            <button class="add-assessment-button"><i class="fa fa-plus"></i></button>

                        </div>

                    </div>

                </div>

                <h3 class="skill-category">Asset Skills</h3>

                <div class="skill-assessment-builder">

                    {% for criterion in criteria %}

                        {% if criterion.type == "asset" %}

                            {# Asset Criteria Go Here #}

                        {% endif %}

                    {% endfor %}

                    {% if criteria is empty %}

                        <p class="skill-null-state">No Asset Criteria Exist</p>

                    {% endif %}

                </div>

                <div class="generate-wrapper">

                    <button class="button--blue light-bg">Build New Screening Plan</button>

                </div>

                <h2 class="page-category">Screening Plans</h2>

                <div class="screening-plan-list">



                </div>

            </div>

        </section>

{% endblock %}