/* =============================================================================

    Authored by: Talent Cloud

    Login

============================================================================= */

.login-modal__grid {

}

.login-modal__copy {
    font-size: 16px;
    margin: 0 0 1em 0;
}

.login-modal__registration-cta {

}

.login-modal__form-grid {
    margin: 0 -1rem;

    >.box {
        padding: 0 1rem;
    }

}

.login-modal__button-grid {

    .box {
        text-align: center;

        &:first-child {

            @media #{$p-tablet} {
                text-align: left;
            }

        }

        &:last-child {

            @media #{$p-tablet} {
                text-align: right;
            }

        }

    }

}
