.manager-poster__tab-wrapper {
    padding: 5rem 0;
}

.manager-poster__title {
    color: $palette-blue;
    font-weight: 700;
    margin: 0 0 2rem 0;
}

.manager-poster__edit-form-grid {
    margin: 0 -1rem;

    >.box {
        padding: 0 1rem;
    }

}

.input-container {margin-right:2em;}