/* =============================================================================

    Authored by: Talent Cloud

    Update About Modal

============================================================================= */

.update-about__grid {

}

.update-about__form-grid {

}

.update-about__button-grid {

    .box {
        text-align: center;

        &:first-child {

            @media #{$p-tablet} {
                text-align: left;
            }

        }

        &:last-child {

            @media #{$p-tablet} {
                text-align: right;
            }

        }

    }

}