<div class="sidebar" data-c-padding="top(3)">
    <nav>
        <p data-c-font-weight="bold" data-c-font-size="h4" data-c-margin="bottom(1)">On this page:</p>
        <ul>
            {% for section in response_faq.content %}
                <li>
                    <a href="#{{ section.id }}" title="{{ section.section }}">{{ section.section }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
</div>
