{# =============================================================================
    Talent Cloud
    Sitewide Notice
============================================================================= #}
<div data-clone>
    <section data-c-alignment="base(centre)" data-c-background="white(100)" data-c-padding="top(half) bottom(half)">
        <div data-c-container="layout">
            <div data-c-grid="gutter">
                <div data-c-alignment="tp(left)" data-c-grid-item="tp(5of7)">
                    <i class="fas fa-info-circle" data-c-colour="c3"></i>
                    &nbsp;&nbsp;&nbsp;{{ alert.copy }}
                </div>
                <div data-c-alignment="tp(right)" data-c-grid-item="tp(2of7)">
                    <i class="fas fa-comment-alt" data-c-colour="c3"></i>&nbsp;&nbsp;&nbsp;
                    <a href="mailto:{{ alert.feedback_link }}" target="" title="{{ alert.feedback_link_title }}">
                        {{ alert.feedback_link_copy }}
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>
