{# =============================================================================
    Talent Cloud
    Sitewide Notice
============================================================================= #}
<div data-clone>
    <section data-c-alignment="base(centre)" data-c-background="c2(100)" data-c-padding="top(half) bottom(half)">
        <div data-c-container="full">
            <div data-c-grid="gutter">
                <div data-c-alignment="tp(left)" data-c-grid-item="tp(5of7)" data-c-color="white">
                    <i class="fas fa-info-circle" data-c-colour="white"></i>
                    &nbsp;&nbsp;&nbsp;{{ alert.copy }}
                </div>
                <div data-c-alignment="tp(right)" data-c-grid-item="tp(2of7)" data-c-color="whiet">
                    <i class="fas fa-comment-alt" data-c-colour="white"></i>&nbsp;&nbsp;&nbsp;
                    <a data-c-color="white" href="mailto:{{ alert.feedback_link }}" target="" title="{{ alert.feedback_link_title }}">
                        {{ alert.feedback_link_copy }}
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>
