<nav aria-label="breadcrumb" data-c-breadcrumbs data-c-colour="{{ font_color ?: 'white' }}">
	<ol id="{{ breadcrumbs_id }}">
		{% for key, url in breadcrumbs %}
			{% if loop.first %}
				<li>
					<a href="{{ url(url) }}"></a>
					<i class="fas fa-caret-right"></i>
				</li>
			{% elseif loop.last %}
				<li>
					<span aria-current="page"></span>
					<i class="fas fa-caret-right"></i>
				</li>
			{% else %}
				<li>
					<a href="{{ url(url) }}"></a>
					<i class="fas fa-caret-right"></i>
				</li>
			{% endif %}
		{% endfor %}
	</ol>
</nav>
