<div data-h2-system>
  <div
    data-h2-padding="b(tb, 1)"
    style="background-color: #1c51a0">
    <div data-h2-container="b(center, large)">
      <p
        data-h2-font-color="b(white)"
        data-h2-font-size="b(h4)"
        data-h2-font-weight="b(bold)">
        <i
          class="fab fa-internet-explorer"
          data-h2-margin="b(right, .5)"></i>We noticed you're using Internet Explorer.</p>
      <p
        data-h2-font-color="b(white)"
        data-h2-margin="b(top, .5) b(bottom, 1)">
        Talent Cloud is phasing out support for Internet Explorer. If you find a bug, <a href="mailto:talent.cloud-nuage.de.talents@tbs-sct.gc.ca" title="Send Talent Cloud an email about an Internet Explorer bug.">please report it here</a>.</p>
      <button
        data-h2-button="white, round, small, outline"
        data-h2-dialog-trigger="ieDialog"
        type="button">
        <span data-h2-button-label>Learn more about this decision.</span>
      </button>
      <button
        data-h2-button="white, round, small, clear"
        type="button">
        <span data-h2-button-label>Dismiss</span>
      </button>
    </div>
  </div>
</div>
