{# =============================================================================

    Talent Cloud
    Head

============================================================================= #}

{# Meta #}

    {# Charset #}

        <meta
            charset="utf-8" />

    {# Compatibility #}

        <meta
            http-equiv="X-UA-Compatible"
            content="IE=edge">

    {# Viewport #}

        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0">

    {# CRF Token #}

        <meta
            content="{{ csrf_token() }}"
            name="csrf-token">

{# Stylesheets #}

    {# App #}

    <link
        href="{{ mix('/css/app.css') }}"
        rel="stylesheet"
        type="text/css"/>

{# Google Fonts #}
{#
    NOTE: Google Fonts does not support Subresource Integrity (SRI).
    see: https://github.com/google/fonts/issues/473
#}
    <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Euphoria+Script|Open+Sans:400,400i,600,700,800"
        crossorigin="anonymous">

{# Google Analytics #}

    <!-- Global site tag (gtag.js) - Google Analytics -->

        <script
            async
            src="https://www.googletagmanager.com/gtag/js?id=UA-115747902-1">
        </script>

        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-115747902-1');
        </script>

    <!-- Google Tag Manager
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-MW8P8KB');</script>
    -->

{# Modernizr #}

    <script
        async defer
        type="text/javascript"
        src="{{ mix('/js/modernizr.js') }}">
    </script>

{# jQuery & UI #}

    <script
    	type="text/javascript"
    	src="https://code.jquery.com/jquery-3.4.1.min.js"
    	integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh"
    	crossorigin="anonymous">
    </script>

    <script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>

{# Clone JS #}

    <script
        async
        type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/clone-framework@2.2.6/dist/js/clone.min.js"
        integrity="sha384-4jLdQeaO86/Hidy14QFni2Jky1QEWGCrdC5YuOG3hHYefRFDUF1CSatTUOlcajv4"
        crossorigin="anonymous">
    </script>

{# Favicons #}

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#d03e3e">
    <meta name="msapplication-TileColor" content="#d03e3e">
    <meta name="theme-color" content="#ffffff">

    </head>

    <body>

<!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe
            src="https://www.googletagmanager.com/ns.html?id=GTM-MW8P8KB"
            height="0"
            width="0"
            style="display:none;visibility:hidden">
        </iframe>
    </noscript>
<!-- End Google Tag Manager (noscript) -->

{# Skip to Content Link #}

    <a
        class="skip-to-main-content"
        href="#skipLink"
        title="{% if appLocale == 'en' %}Click to skip to the main content.{% elseif appLocale == 'fr' %}Cliquez pour passer au contenu principal.{% endif %}">
        {% if appLocale == 'en' %}Skip to Main Content{% elseif appLocale == 'fr' %}Passer au contenu principal{% endif %}
    </a>
