{# =============================================================================

    Talent Cloud
    Header

============================================================================= #}
<header
    class="header"
    style="background-image: url('/images/bg_crowd.jpg');">

    {% include "../common/menu" %}

    {# Header Content #}

        <div
            class="header__content">

            <h2 class="heading--01">
                {{ header.title }}{% if application_step == true %}: {{ job.title }}{% endif %}
            </h2>

        </div>

</header>
