{# =============================================================================

    Talent Cloud
    Head

============================================================================= #}

{# Meta #}

    {# Charset #}

        <meta
            charset="utf-8" />

    {# Compatibility #}

        <meta
            http-equiv="X-UA-Compatible"
            content="IE=edge">

    {# Viewport #}

        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0">

    {# CRF Token #}

        <meta 
            content="{{ csrf_token() }}"
            name="csrf-token">

{# Page Title #}

    <title>{{ page.title }}</title>

{# Google Fonts #}
    
    <link 
        href="https://fonts.googleapis.com/css?family=Euphoria+Script&amp;subset=latin-ext" 
        rel="stylesheet">

{# Google Analytics #}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115747902-1"></script>
    
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-115747902-1');
        </script>

    <!-- Google Tag Manager -->
    
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-MW8P8KB');</script>

{# Modernizr #}

    <script
        src="/js/modernizr.js">
    </script>

{# jQuery & UI #}

    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

    <script
        src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        crossorigin="anonymous"></script>

{# Favicons #}

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#d03e3e">
    <meta name="msapplication-TileColor" content="#d03e3e">
    <meta name="theme-color" content="#ffffff">

{# Stylesheets #}

    {# Font Awesome #}

        <link
            crossorigin="anonymous"
            href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
            integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
            rel="stylesheet">

    {# App #}

        <link
            href="/css/app.css"
            rel="stylesheet"
            type="text/css"/>

    </head>

    <body>

        <!-- Google Tag Manager (noscript) -->
            <noscript>
                <iframe 
                    src="https://www.googletagmanager.com/ns.html?id=GTM-MW8P8KB"
                    height="0" 
                    width="0" 
                    style="display:none;visibility:hidden">
                </iframe>
            </noscript>
        <!-- End Google Tag Manager (noscript) -->
