{# =============================================================================

    Talent Cloud
    Header

============================================================================= #}
<header
    class="header"
    style="background-image: url('https://talentcloud-nuagedetalents.gccollab.ca/images/backgrounds/background.jpg');">

    {% include "../common/menu" %}

    {# Header Content #}

        <div
            class="header__content">

            <h2 class="heading--01">
                {{ header.title }}
            </h2>

        </div>

</header>
