<span>
    {% if job.close_date_time.isFuture() %}
        {% set time = job.close_date_time.diffForHumans(null, true) %}
        {{ template.time_remaining|replace({':time': time}) }}
    {% else %}
        {{ template.job_closed }}
    {% endif %}
</span>
