{# =============================================================================

    Talent Cloud
    Header

============================================================================= #}
<a
    class=""
    href="{{ language_link }}"
    title="{{ lang_menu.language_link_title }}">
    {{ lang_menu.language }}
</a>
