{# =============================================================================

    Talent Cloud
    Redux view

============================================================================= #}

{% extends "layouts/base" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    {% include "common/alert" %}

    {% include "common/goc" %}

    {% include "common/header" with { 'header': { 'title': title } } %}

    <a id="skipLink"></a>

    <div
        data-clone=""
        id="home-redux-container"
    >
    </div>

{% endblock %}
