{# =============================================================================

    Talent Cloud / Application Welcome Mat

    The purpose of this UI is to help first-time applicants better understand
    how Talent Cloud works and why applications function they way they do.

============================================================================= #}
{# Default Page Layout #}
{% extends "layouts/base-test" %}
{# HTML Page Title #}
{% block title %}
	Apply Now: Welcome
{% endblock %}
{# Page Header #}
{% block header %}
    {% include "applicant/application/application-header" with {"step": 1} %}
{% endblock %}
{# Page Contents #}
{% block body %}
    <div data-clone>
        {# Application Progress Bar #}
        {% include "applicant/application/progress-bar" with {"step": 1} %}
        <div data-c-container="medium">
            <h2 data-c-heading="h2" data-c-margin="top(3) bottom(1)">Welcome to Talent Cloud's Application Process</h2>
            <p data-c-margin="bottom(1)">Before you begin your application, we'd like to provide you with some information about what you can expect from our application process.</p>
            <p data-c-margin="bottom(1)">Talent Cloud is a skills-based hiring platform, and <span data-c-font-weight="bold">this means that we're going to ask you about your experiences in a way that differs from a traditional resume format</span>. The goal is to get a thorough understanding of the skills you have and how your past experiences have shaped them. This gives the manager reviewing your application a much stronger sense of your abilities.</p>
            <ul data-c-margin="bottom(1)">
                <li>First, we begin by asking you about your experiences, varying across academia, work, community, etc.</li>
                <li>Once we have an understanding of your history, we ask you to explain how those experiences relate to the skills needed for this position.</li>
            </ul>
            <p>During your very first application you'll be starting with a blank slate, but the great thing about Talent Cloud is that <span data-c-font-weight="bold">all of your information will be saved to your profile</span>. This allows us to automatically fill in parts of your future applications, saving you a ton of time.</p>
        </div>
        {# Application Action Buttons #}
        {% include "applicant/application/action-buttons" with {"step": 1} %}
    </div>
{% endblock %}
