{# =============================================================================

    Talent Cloud / Application Basic Information & Education Confirmation

    The purpose of this UI is to ask the applicant to agree to generic
    information about the job and to indicate that they meet the education
    criteria.

============================================================================= #}
{# Default Page Layout #}
{% extends "layouts/base-test" %}
{# HTML Page Title #}
{% block title %}
	Apply Now: My Basic Information
{% endblock %}
{# Page Header #}
{% block header %}
    {% include "applicant/application/application-header" with {"step": 2} %}
{% endblock %}
{# Page Contents #}
{% block body %}
	<div data-clone>
        {# Application Progress Bar #}
        {% include "applicant/application/progress-bar" with {"step": 2} %}
        <div data-c-container="medium">
            <h2 data-c-heading="h2" data-c-margin="top(3) bottom(1)">My Basic Information</h2>
            <form>
                <div data-c-grid="gutter(all, 1)">
                    <div data-c-input="select" data-c-grid-item="tl(1of2)">
                        <label for="cit">Which citizenship status applies to you?</label>
                        <span>Required</span>
                        <div>
                            <i class="fas fa-caret-down"></i>
                            <select required id="cit">
                                <option disabled selected>Select an option...</option>
                                <option>Option 1</option>
                                <option>Option 2</option>
                                <option>Option 3</option>
                                <option>Option 4</option>
                                <option>Option 5</option>
                            </select>
                        </div>
                        <span>This input has an error.</span>
                    </div>
                    <div data-c-input="select" data-c-grid-item="tl(1of2)">
                        <label for="vet">Are you a veteran or member of the Canadian Forces?</label>
                        <span>Required</span>
                        <div>
                            <i class="fas fa-caret-down"></i>
                            <select required id="vet">
                                <option disabled selected>Select an option...</option>
                                <option>Option 1</option>
                                <option>Option 2</option>
                                <option>Option 3</option>
                                <option>Option 4</option>
                                <option>Option 5</option>
                            </select>
                        </div>
                        <span>This input has an error.</span>
                    </div>
                </div>
                <h3 data-c-heading="h3" data-c-margin="top(2) bottom(1)" data-c-padding="bottom(1)">Language Requirements</h3>
                {# Language Check #}
                {# This text changes to indicate the language requirement for the position. #}
                <p>This position requires working knowledge of both French and English. As part of this process, your language abilities will be tested by the Public Service Commission of Canada (the proficiency requirement for this position is BBB).</p>
                <div data-c-input="checkbox(single)" data-c-margin="left(2)">
                    <span>Required</span>
                    <div>
                        <label for="langReq">
                            <input
                                id="langReq"
                                type="checkbox"
                                required/>
                            <span>I have intermediate or better reading, writing and verbal communication skills in English and French.</span>
                        </label>
                    </div>
                    <span>This input has an error.</span>
                </div>
                {# This second checkbox only appears for bilingual job ads. #}
                <div data-c-input="checkbox(single)" data-c-margin="left(2)">
                    <span>Required</span>
                    <div>
                        <label for="langTest">
                            <input
                                id="langTest"
                                type="checkbox"
                                required/>
                            <span>I understand that my second language proficiency will be tested as part of this process.</span>
                        </label>
                    </div>
                    <span>This input has an error.</span>
                </div>
                <h3 data-c-heading="h3" data-c-margin="top(2) bottom(1)" data-c-padding="bottom(1)">Contact &amp; Communication</h3>
                <div data-c-input="select">
                    <label for="lang">Which language would you prefer to complete this application in?</label>
                    <span>Required</span>
                    <div>
                        <i class="fas fa-caret-down"></i>
                        <select required id="lang">
                            <option disabled selected>Select a language...</option>
                            <option>English</option>
                            <option>French</option>
                        </select>
                    </div>
                    <span>This input has an error.</span>
                </div>
                <p data-c-margin="top(1)">Do you give Talent Cloud permission to contact you at the email address you have provided for this job application for other related jobs?</p>
                <div data-c-input="checkbox(single)" data-c-margin="left(2)">
                    <span>Required</span>
                    <div>
                        <label for="langReq">
                            <input
                                id="langReq"
                                type="checkbox"/>
                            {# Please include the user's email here. #}
                            <span>I would like Talent Cloud to contact me at [email] about related jobs.</span>
                        </label>
                    </div>
                    <span>This input has an error.</span>
                </div>
                <p data-c-margin="top(1)">Do you give Talent Cloud permission to share your application with other Government of Canada managers who may be looking for a similar set of skills?</p>
                <div data-c-input="checkbox(single)" data-c-margin="left(2)">
                    <span>Required</span>
                    <div>
                        <label for="langReq">
                            <input
                                id="langReq"
                                type="checkbox"/>
                            <span>I would like Talent Cloud to share my application with other Government of Canada managers looking for similar sets of skills.</span>
                        </label>
                    </div>
                    <span>This input has an error.</span>
                </div>
            </form>
            <h3 data-c-heading="h3" data-c-margin="top(2) bottom(1)" data-c-padding="bottom(1)">Education Requirements</h3>
            <p data-c-margin="bottom(1)">Based on the information outlined below, do you meet the minimum experience or education requirements for this position?</p>
            <div data-c-background="gray(20)" data-c-radius="rounded" data-c-padding="all(1)" data-c-margin="bottom(1)">
                {# This content is written by manager somewhere on the JPB. The stuff below is just for example purposes. #}
                <p data-c-font-weight="bold">2 Years Post-secondary</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, officiis delectus excepturi voluptate laudantium omnis nesciunt consectetur eum sapiente aliquid ipsam obcaecati expedita odio id eligendi voluptatum. Consequuntur, quibusdam voluptates.</p>
                <p data-c-margin="tb(1)">OR</p>
                <p data-c-font-weight="bold">Equivalent Experience</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe accusamus animi consequatur dolorem voluptatum earum iure doloremque, facere est asperiores, dignissimos quae architecto vero unde vitae quis excepturi! Totam, libero.</p>
            </div>
            <form>
                <div data-c-input="checkbox(single)" data-c-margin="left(2)">
                    <span>Required</span>
                    <div>
                        <label for="cA1">
                            <input
                                id="cA1"
                                type="checkbox"
                                required/>
                            <span><span data-c-font-weight="bold">I meet this requirement</span> and<span data-c-font-weight="bold">will provide more information on how</span> later during my application.</span>
                        </label>
                    </div>
                    <span>This input has an error.</span>
                </div>
            </form>
        </div>
        {# Application Action Buttons #}
        {% include "applicant/application/action-buttons" with {"step": 2} %}
    </div>
{% endblock %}
