{# =============================================================================

    Talent Cloud / Application Experience Instructions

    The purpose of this UI is to educate the applicant on the following step and
    explain why Talent Cloud asks for this information instead of a resume.

============================================================================= #}
{# Default Page Layout #}
{% extends "layouts/base-test" %}
{# HTML Page Title #}
{% block title %}
	Apply Now: Instructions for My Experience
{% endblock %}
{# Page Header #}
{% block header %}
    {% include "applicant/application/application-header" with {"step": 3} %}
{% endblock %}
{# Page Contents #}
{% block body %}
	<div data-clone>
        {# Application Progress Bar #}
        {% include "applicant/application/progress-bar" with {"step": 3} %}
        <div data-c-border="bottom(thin, solid, gray)">
            <div data-c-container="medium">
                <h2 data-c-heading="h2" data-c-margin="top(3) bottom(1)">Defining Your Experience</h2>
                <p data-c-margin="bottom(1)">The next step in your application is to tell us about the experiences you've had that make you a good fit for this job.</p>
                <p data-c-margin="bottom(1)">On Talent Cloud, you can add experiences of these types of experiences:</p>
                <ul data-c-margin="bottom(1)">
                    <li>Education Experience</li>
                    <li>Work Experience</li>
                    <li>Community Experience</li>
                    <li>Personal Experience</li>
                    <li>Awards</li>
                </ul>
                <p>The best part is that as you add these experiences, the information gets saved to your profile. The next time you go to apply to a job, you'll be able to select from the work you've done to help speed up the process.</p>
            </div>
            {# Application Action Buttons #}
            {% include "applicant/application/action-buttons" with {"step": 3} %}
        </div>
    </div>
{% endblock %}
