{# =============================================================================

    Talent Cloud / Application Skill Instructions

    The purpose of this UI is to explain to the applicant how we will use their
    experience information and ask them for further information about how they
    used the relevant skills in those experiences.

============================================================================= #}
{# Default Page Layout #}
{% extends "layouts/base-test" %}
{# HTML Page Title #}
{% block title %}
	Apply Now: Welcome
{% endblock %}
{# Page Header #}
{% block header %}
    {% include "applicant/application/application-header" with {"step": 5} %}
{% endblock %}
{# Page Contents #}
{% block body %}
	<div data-clone>
        {# Application Progress Bar #}
        {% include "applicant/application/progress-bar" with {"step": 5} %}
        <div data-c-container="medium">
            <h2 data-c-heading="h2" data-c-margin="top(3) bottom(1)">Defining Your Experience</h2>
            <p data-c-margin="bottom(1)">In a similar fashion to your resume, the next step in your application is telling us about your experiences. Unlike your resume, we want you to tell us about everything that has helped you hone your craft in relation to this job.</p>
            <p data-c-margin="bottom(1)">On Talent Cloud, you can add experiences of these types:</p>
            <ul data-c-margin="bottom(1)">
                <li>Education Experience</li>
                <li>Work Experience</li>
                <li>Community Experience</li>
                <li>Personal Experience</li>
                <li>Awards</li>
            </ul>
            <p>The best part is that as you add these experiences, the information gets saved to your profile. The next time you go to apply to a job, you'll be able to select from the same work you've done to help speed up the process.</p>
        </div>
        {# Application Action Buttons #}
        {% include "applicant/application/action-buttons" with {"step": 5} %}
    </div>
{% endblock %}
