<div class="assessment-summary__item flex-grid top {% if template == true %}template{% endif %}">

    {% for assessment_type, skills in assessment_plans[plan.id] %}
        <br/>

        <div class="box small-1of5">
            {{ assessment_type|title }}
        </div>

        <div class="box small-4of5">
            {{ skills|join(", ") }}
        </div>

    {% endfor %}
</div>
