<div class="assessment-summary__item flex-grid top {% if template == true %}template{% endif %}">

    <div class="box small-1of5">
        {{ assessment_type.name }}
    </div>

    <div class="box small-4of5">
        {{dump(assessment)}}
        {% for criterion in assessment.criteria %}
            {{ criterion.skill.skill }},
        {% endfor %}
    </div>

</div>
