<div class="screening-plan-skill box small-1of1 med-1of2 lg-1of4">

    <div class="card">

        <h5 class="skill-title">HTML</h5>

        <span class="skill-label">Description</span>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet placerat lacus, a consectetur dui. Nunc pretium mauris a interdum dignissim. Etiam sagittis, mauris ac luctus iaculis, nisl justo consectetur erat, a fringilla neque ipsum quis neque. Aliquam at felis id augue ullamcorper vestibulum et nec lorem.</p>

        <span class="skill-label">Advanced Level</span>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet placerat lacus, a consectetur dui. Nunc pretium mauris a interdum dignissim. Etiam sagittis, mauris ac luctus iaculis, nisl justo consectetur erat, a fringilla neque ipsum quis neque. Aliquam at felis id augue ullamcorper vestibulum et nec lorem.</p>

    </div>

</div>