<div class="screening-plan {% if template == true %}template{% endif %}">

    <div class="action-wrapper">

        <button
            class=""
            type="button">
            Copy
        </button>

    </div>

    <h3 class="screening-plan-title">{{ screening.interface.plan.essential_criteria_title }}</h3>

    <div class="">

        {# Get rid of these. #}

        {% include "manager/components/skill-assessment-preview" %}
        {% include "manager/components/skill-assessment-preview" %}
        {% include "manager/components/skill-assessment-preview" %}
        {% include "manager/components/skill-assessment-preview" %}

    </div>

    <h3 class="screening-plan-title">{{ screening.interface.plan.asset_criteria_title }}</h3>

    <div class="">

        {# Get rid of these. #}

        {% include "manager/components/skill-assessment-preview" %}
        {% include "manager/components/skill-assessment-preview" %}
        {% include "manager/components/skill-assessment-preview" %}
        {% include "manager/components/skill-assessment-preview" %}

    </div>

    <h3 class="screening-plan-title">{{ screening.interface.plan.plan_title }}</h3>

    <div class="">

        {# Get rid of these. #}

        {% include "manager/components/assessment-summary" %}

    </div>

</div>