<div class="screening-plan">

    <div class="action-wrapper">

        <button
            class=""
            type="button">
            Copy
        </button>

        <button 
            class="" 
            type="button">
            <i class="fas fa-trash-alt"></i>
        </button>

    </div>

    <h3 class="screening-plan-title">Screening Plan #1</h3>

    <h4 class="assessment-title">Assessment of Narrative Evidence:</h4>

    <div class="screening-plan-skill-list flex-grid">

        {% include "manager/components/screening-plan-skill" %}

        {% include "manager/components/screening-plan-skill" %}

        {% include "manager/components/screening-plan-skill" %}

        {% include "manager/components/screening-plan-skill" %}

        {% include "manager/components/screening-plan-skill" %}

    </div>

    <h4 class="assessment-title">Take-home Exam:</h4>

    <div class="screening-plan-skill-list flex-grid">

        {% include "manager/components/screening-plan-skill" %}

    </div>

</div>