<div class="skill-assessment {% if template == true %}template{% endif %}">

    <div class="form__input-wrapper--select">

        <label 
            class="form__label" 
            for="">
            Assessment 01
        </label>

        <div class="form__select-wrapper fas fa-chevron-down">
            <select class="form__input">
                <option>Assessment Type 01</option>
                <option>Assessment Type 02</option>
                <option>Assessment Type 03</option>
                <option>Assessment Type 04</option>
                <option>Assessment Type 05</option>
            </select>
        </div>

    </div>

    <button 
        class="remove-assessment-button" 
        type="button">
        Remove
    </button>

</div>