{# =============================================================================

    Talent Cloud
    Applicant: Jobs - Post: Criteria

============================================================================= #}
<a 
    aria-hidden="true"
    id="criteria">
</a>

<section 
    class="job-poster__criteria">

    <div 
        class="flex-grid">

        <div 
            class="box full">
            <h4 
                class="job-poster__content-title">
                {{ template.criteria.title }}
            </h4>
        </div>

        <div 
            class="box med-1of2">
            <h5 
                class="job-poster__content-subtitle">
                Need to Have
            </h5>
            <ul 
                class="job-poster__content-list">
                {{  }}
            </ul>
        </div>

        <div 
            class="box med-1of2">
            <h5 
                class="job-poster__content-subtitle">
                Nice to Have
            </h5>
            <ul 
                class="job-poster__content-list">
                {{  }} 
            </ul>
        </div>

    </div>

</section>