{# =============================================================================

    Talent Cloud
    HR Portal: Job Summary Page

============================================================================= #}
{% extends "layouts/base" %}
{% block body %}
	{% include "common/goc" %}
	{% include "common/alert" %}
	<section data-clone>
		<section data-c-overlay="black(90)" data-c-padding="tb(triple)" style="background-image: url('https://images.unsplash.com/photo-1556742400-b5b7c5121f99?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;=format&amp;fit=crop&amp;w=634&amp;q=80');">
			<div data-c-container="large" data-c-align="base(center) tl(left)">
				<h1 data-c-font-size="h2" data-c-color="white">Job Summary</h1>
				<div data-c-color="white" data-c-margin="top(double)">
					{% include "common/breadcrumbs" %}
				</div>
			</div>
		</section>
	</section>
{% endblock %}
