{# =============================================================================

    Talent Cloud
    Applicant: Submit an Application - Basic Information

============================================================================= #}
{% extends "layouts/base-h2" %}
{% block title %}
	{{ application_template.step_01_title }}
{% endblock %}
{% block body %}
	{% include "common/goc" %}
	{% include "common/alert" %}
    {% if is_internet_explorer == true and app.request.cookies.get('browser_message') == false %}
        {% include "common/h2-ie-banner" %}
        {% include "common/h2-ie-dialog" %}
    {% endif %}
    <div data-clone>
        {% include "applicant/application_post/common/header" %}
        <a id="skipLink"></a>
        {# Form containing all about_me editable elements #}
        <form action="{{ form_submit_action }}" method="post">
            {% include "applicant/application_post/common/tracker" %}
            {# Builds an input field for CSRF token validation #}
            {{ csrf_field() }}
            {% include "applicant/application_post/step_01/questions" %}
        </form>
    </div>
{% endblock %}
