{# =============================================================================

    Talent Cloud
    Applicant: Submit an Application - Submission Received

============================================================================= #}
{% extends "layouts/base" %}
{% block title %}
	{{ application_template.complete.step_06_title }}
{% endblock %}
{% block body %}
	{% include "common/goc" %}
	{% include "common/alert" %}
	<div data-clone>
        {% include "applicant/application_post/common/header" %}
        <a id="skipLink"></a>
        {# Page Content #}
        {% include "applicant/application_post/complete" %}
    </div>
{% endblock %}
