{# =============================================================================

    Talent Cloud
    Applicant: My Applications

============================================================================= #}

<html
    lang="en">

    <head>
        {% include "common/head" %}
    </head>

    <body>

        {% include "common/alert" %}

        {% include "common/goc" %}

        {% include "common/header" with {'header':application_index} %}

        {# include "applicant/application_index/filters" #}

        {% include "applicant/application_index/index" %}

        {% include "common/footer" %}

        {# Scripts #}

        {% include "common/scripts" %}

    </body>

</html>
