{# =============================================================================

    Talent Cloud
    Applicant: Apply - Step 05

============================================================================= #}

{% extends "layouts/base" %}

{% block title %}{{ application_template.step_05_title }}{% endblock %}

{% block body %}

	{% include "common/alert" %}

    {% include "common/goc" %}

    {% include "common/header" with {'header': {'title': ":title: :job"|replace({':title':application_template.title, ':job':job.title})}} %}

    {# Form containing all about_me editable elements #}

        <form action="{{ form_submit_action }}" method="post">

            {% include "applicant/application_post/common/tracker" %}

            {# Builds an input field for CSRF token validation #}
            {{ csrf_field() }}

            <section
                class="application__view-layout">

                {% include "applicant/application_post/step_05/signature" %}

                {% include "common/application/view/view_layout" %}

                {% include "common/application/view/view_05_actions" %}

            </section>

        </form>

{% endblock %}

