{% extends "layouts/base" %}

{% block title %}{{ [application_template.view_title, job.title]|join(': ') }}{% endblock %}

{% block body %}

	{% include "common/goc" %}
{% include "common/alert" %}

    {% include "common/header" with {'header': {'title': ":title: :job"|replace({':title':application_template.view_title, ':job':job.title})}} %}

	<a id="skipLink"></a>

    <section
		class="application__view-layout submitted">

    	{% include "common/application/view/view_layout" %}

	</section>

{% endblock %}
