{# =============================================================================

    Talent Cloud
    Applicant: Apply - Step 02

============================================================================= #}

<!DOCTYPE html>

<html
    lang="en">

    <head>
        <title>{{ application_template.step_02_title }}</title>

        {% include "common/head" %}

        {# Note that the </head> and <body> tags are located inside the common/head file due to Google Tag Manager being required on all pages. #}

    {# /head #}

    {# body #}

        {% include "common/alert" %}

        {% include "common/goc" %}

        {% include "common/header" with {'header': {'title': ":title: :job"|replace({':title':application_template.title, ':job':job.title})}} %}

        {# Form containing all about_me editable elements #}
        <form action="{{ form_submit_action }}" method="post">

            {% include "applicant/application_post/common/tracker" %}

            {# Builds an input field for CSRF token validation #}
            {{ csrf_field() }}

            {% include "applicant/application_post/step_02/experience" %}

        </form>

        {% include "common/modal" with {"page":application_template} %}

        {# Login Modals #}

        {% include "common/modal" with {"page":login_modals} %}

        {% include "common/footer" %}

        {# Scripts #}

        {% include "common/scripts" %}

    </body>

</html>
