{# =============================================================================

    Talent Cloud
    Applicant: Submit an Application - Asset Skills

============================================================================= #}
{% extends "layouts/base" %}
{% block title %}
	{{ application_template.step_04_title }}
{% endblock %}
{% block body %}
	{% include "common/goc" %}
	{% include "common/alert" %}
    <div data-clone>
        {% include "applicant/application_post/common/header" %}
        <a id="skipLink"></a>
        {% include "applicant/application_post/common/tracker-ajax" %}
        {% include "applicant/application_post/common/skill-layout" %}
        {# Modals #}
        {% include "common/modal" with {"page": application} %}
        {% include "common/modals/skills_need_help" %}
    </div>
{% endblock %}
{% block scripts %}
	<script async defer src="{{ mix('/js/SkillsWordCounter.js') }}"></script>
{% endblock %}
