{% extends "layouts/base" %}
{% block title %}
  {{ title }}
{% endblock %}
{% block body %}
  {% include "common/header" with { 'header': { 'title': title } } %}
  <a id="skipLink"></a>
  <div data-clone="" id="application-root"></div>
{% endblock %}
{% block scripts %}
  <script async defer src="{{ asset(mix('js/ApplicationRoot.js')) }}"></script>
{% endblock %}
