{# =============================================================================

    Talent Cloud
    Applicant: My Applications

============================================================================= #}
{% extends "layouts/base-h2" %}
{% block title %}
	{{ application_index.application_index_title }}
{% endblock %}
{% block body %}
	{% include "common/goc" %}
	{% include "common/alert" %}
	{% if is_internet_explorer == true and app.request.cookies.get('browser_message') == false %}
		{% include "common/h2-ie-banner" %}
		{% include "common/h2-ie-dialog" %}
	{% endif %}
	{% include "common/header" with {'header': application_index} %}
	<a id="skipLink"></a>
	{% include "applicant/application_index/index" %}
	{# Modals #}
	{% include "common.modal" with {"page": application_index} %}
{% endblock %}
