{# =============================================================================

    Talent Cloud
    Applicant: Submit an Application - Review my Application

============================================================================= #}
{% extends "layouts/base" %}
{% block title %}
	{{ application_template.step_04_title }}
{% endblock %}
{% block body %}
    {% include "common/goc" %}
	{% include "common/alert" %}
    <div data-clone>
        {% include "applicant/application_post/common/header" %}
        <a id="skipLink"></a>
        {% include "applicant/application_post/common/tracker-ajax" %}
        {% include "common/application/view/view_layout" %}
    </div>
{% endblock %}
{% block scripts %}
	<script async defer src="{{ mix('/js/SkillsWordCounter.js') }}"></script>
{% endblock %}
