{# =============================================================================

    Talent Cloud
    Applicant: Browse

============================================================================= #}

<html
    lang="en">

    <head>
        {% include "common/head" %}
    </head>

    <body>

        {% include "common/alert" %}

        {% include "common/goc" %}

        {% include "common/header" %}

        {# include "applicant/browse/filters" #}

        {% include "applicant/browse/index" %}

        {% include "common/footer" %}

        {# Scripts #}

        {% include "common/scripts" %}

    </body>

</html>
