{# =============================================================================

    Talent Cloud
    Applicant: Home

============================================================================= #}

{% extends "layouts/base" %}

{% block title %}{{ home.home_title }}{% endblock %}

{% block body %}

    {% include "common/goc" %}

	{% include "common/alert" %}

    {% include "common/home/hero" %}

    <a id="skipLink"></a>

    {% include "applicant/home/about" %}

    {% include "applicant/home/how" %}

    {% include "applicant/home/team" %}

{% endblock %}

