{# =============================================================================

    Talent Cloud
    Applicant: Home

============================================================================= #}

<html
    lang="en">

    <head>
        {% include "common/head" %}
    </head>

    <body>        
        {% include "common/alert" %}

        {% include "common/goc" %}

        {% include "common/home/hero" %}

        {% include "applicant/home/about" %}

        {% include "applicant/home/how" %}

        {% include "applicant/home/team" %}

        {% include "common/footer" %}
        
        {# Scripts #}

        {% include "common/scripts" %}

    </body>

</html>
