{# =============================================================================

    Talent Cloud
    Applicant: Job Post

============================================================================= #}

<html
    lang="en">

    <head>
        {% include "common/head" %}
    </head>

    <body>

        {% include "common/alert" %}

        {% include "common/goc" %}

        {% include "common/header" %}

        {% include "applicant/jobs/post/header" %}

        {% include "applicant/jobs/post/layout" %}

        {% include "common/footer" %}

        {# Scripts #}

            {% include "common/scripts" %}

    </body>

</html>