{# =============================================================================

    Talent Cloud
    Applicant: Job Post

============================================================================= #}

<!DOCTYPE html>

<html
    lang="en">

    <head>

        {% include "common/head" %}

        {# Note that the </head> and <body> tags are located inside the common/head file due to Google Tag Manager being required on all pages. #}

    {# /head #}

    {# body #}

        {% include "common/alert" %}

        {% include "common/goc" %}

        {% include "common/header" with {'header':job_post} %}

        {% include "applicant/job_post/header" %}

        {% include "applicant/job_post/layout" %}

        {# Login Modals #}

        {% include "common/modal" with {"page":login_modals} %}

        {% include "common/footer" %}

        {# Scripts #}

        {% include "common/scripts" %}

    </body>

</html>
