{# =============================================================================

    Talent Cloud
    Applicant: Job Post

============================================================================= #}
{% extends "layouts/base" %}
{% block title %}
	{% if (app.getLocale() == "en") %}
		{{ job_post.job_post_title|replace({':title': job.title.en, ':id': job.id}) }}
	{% else %}
		{{ job_post.job_post_title|replace({':title': job.title.fr, ':id': job.id}) }}
	{% endif %}
{% endblock %}
{% block socialMeta %}
	{% if (app.getLocale() == "en") %}
		{% set socialTitle = job_post.job_post_title|replace({':title': job.title.en, ':id': job.id}) %}
		{% set socialDescription = job.hire_impact.en ? job.hire_impact.en|nl2br : noInfo %}
	{% else %}
		{% set socialTitle = job_post.job_post_title|replace({':title': job.title.fr, ':id': job.id}) %}
		{% set socialDescription = job.hire_impact.fr ? job.hire_impact.fr|nl2br : noInfo %}
	{% endif %}
	{# Pass in images if you need custom ones! #}
	{% set socialImageOpenGraphEn = "social-card-job-en.png" %}
	{% set socialImageOpenGraphFr = "social-card-job-fr.png" %}
	{% set socialImageTwitterEn = "social-card-job-en.png" %}
	{% set socialImageTwitterFr = "social-card-job-fr.png" %}
	{% include "layouts/social" %}
{% endblock %}
{% block body %}
	{% include "common/goc" %}
	{% include "common/alert" %}
	{% include "common/header" with {'header': job_post} %}
	<a id="skipLink"></a>
	{% include "applicant/job_post/header" %}
	{% include "applicant/job_post/layout" %}
{% endblock %}
