{# =============================================================================

    Talent Cloud
    Applicant: Job Post

============================================================================= #}
{% extends "layouts/base" %}
{% block title %}
	{{ job_post.job_post_title|replace({':title': job.title, ':id': job.id}) }}
{% endblock %}
{% block socialMeta %}
	{% set socialTitle = job_post.job_post_title|replace({':title': job.title, ':id': job.id}) %}
	{% set socialDescription = job.hire_impact ? job.hire_impact|nl2br : noInfo %}
	{# Pass in images if you need custom ones! #}
	{% set socialImageOpenGraphEn = "social-card-job-en.png" %}
	{% set socialImageOpenGraphFr = "social-card-job-fr.png" %}
	{% set socialImageTwitterEn = "social-card-job-en.png" %}
	{% set socialImageTwitterFr = "social-card-job-fr.png" %}
	{% include "layouts/social" %}
{% endblock %}
{% block body %}
	{% include "common/goc" %}
	{% include "common/alert" %}
	{% include "common/header" with {'header': job_post} %}
	<a id="skipLink"></a>
	{% include "applicant/jpb_job_post/header" %}
	{% include "applicant/jpb_job_post/layout" %}
{% endblock %}
{% block scripts %}
	<script async defer src="{{ mix('/js/WorkEnvFeaturesRoot.js') }}"></script>
{% endblock %}
