<html lang="en">
    <head>
        <title>GC Talent Cloud</title>     
    </head>
    <body>
        <main>
            <p>
                {{test.firstVar}}
            </p>
            <p>
                {{test.secondVar}}
            </p>
            <p>
                {{test.thirdVar}}
            </p>
        </main>
    </body>
</html>

