{# =============================================================================

    Talent Cloud
    Applicant: Manager

============================================================================= #}

<html
    lang="en">

    <head>
        {% include "common/head" %}
    </head>

    <body>

        {% include "common/alert" %}

        {% include "common/goc" %}

        {% include "common/header" with {'header':manager_profile} %}

        {% include "applicant/manager/header" %}

        {% include "applicant/manager/questions" %}

        {# Login Modals #}

        {% include "common/modal" with {"page":login_modals} %}

        {% include "common/footer" %}

        {# Scripts #}

        {% include "common/scripts" %}

    </body>

</html>
