{# =============================================================================

    Talent Cloud
    Applicant: Manager

============================================================================= #}
{% extends "layouts/base-h2" %}
{% block title %}
	{{ manager_profile.manager_title }}
{% endblock %}
{% block body %}
	{% include "common/header" with {'header': manager_profile} %}
	<a id="skipLink"></a>
	{% include "applicant/manager/header" %}
	{% include "applicant/manager/questions" %}
{% endblock %}
