{# =============================================================================

    Talent Cloud
    Applicant Profile - Portfolio

============================================================================= #}

{% extends "layouts/base" %}

{% block title %}{{ profile.sample_section.sample_title }}{% endblock %}

{% block body %}

	{% include "common/alert" %}

    {% include "common/goc" %}

    {% include "common/header" with {"header":profile} %}

    <a id="skipLink"></a>

    {# Menu #}

        {% include "applicant/profile/menu" %}

    {# Form containing all about_me editable elements #}

        <form action="{{ form_submit_action }}" method="post">

            {# Builds an input field for CSRF token validation #}
            {{ csrf_field() }}

            {# Portfolio #}

                {% include "applicant/profile/portfolio/index" %}

        </form>

    {# Modals #}

        {% include "common/modal" with {"page":profile} %}

{% endblock %}
