{# =============================================================================

    Talent Cloud
    Applicant: Profile

============================================================================= #}
{% extends "layouts/base" %}
{% block title %}
	{{ profile.about_section.profile_title }}
{% endblock %}
{% block body %}
	{% include "common/goc" %}
	{% include "common/alert" %}
	{% include "common/header" with {"header": profile} %}
	<a id="skipLink"></a>
    <div data-clone>
        {# Form containing all about_me editable elements #}
        <form action="{{ form_submit_action }}" method="post">
            {# Builds an input field for CSRF token validation #}
            {{ csrf_field() }}
            <div data-c-border="bottom(thin, solid, gray)" data-c-padding="bottom(3)">
                <div data-c-container="large(center)">
                    <div data-c-grid="gutter(all, 2)">
                        <div data-c-grid-item="tl(1of4)">
                            {% include "applicant/profile/menu" %}
                        </div>
                        <div data-c-grid-item="tl(3of4)">
                            <div data-c-container="medium(left)">
                                {# About #}
                                {% include "applicant/profile/about/about" %}
                                {# Questions #}
                                {% include "applicant/profile/about/questions" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
	{# Modals #}
	{% include "common/modal" with {"page": profile} %}
{% endblock %}
