{# =============================================================================

    Talent Cloud
    Applicant: Profile

============================================================================= #}
{% extends "layouts/base" %}
{% block title %}
	{{ profile.about_section.profile_title }}
{% endblock %}
{% block body %}
	{% include "common/goc" %}
	{% include "common/alert" %}
	{% include "common/header" with {"header": profile} %}
	<a id="skipLink"></a>
	{# Menu #}
	{% include "applicant/profile/menu" %}
	{# Form containing all about_me editable elements #}
	<form
		action="{{ form_submit_action }}" method="post">
		{# Builds an input field for CSRF token validation #}
		{{ csrf_field() }}
		{# About #}
		{% include "applicant/profile/about/about" %}
		{# Questions #}
		{% include "applicant/profile/about/questions" %}
	</form>
	{# Modals #}
	{% include "common/modal" with {"page": profile} %}
{% endblock %}
