{# =============================================================================

    Talent Cloud
    Applicant Profile - Skills

============================================================================= #}

<!DOCTYPE html>

<html
    lang="en">

    <head>

        {% include "common/head" %}

        {# Note that the </head> and <body> tags are located inside the common/head file due to Google Tag Manager being required on all pages. #}

    {# /head #}

    {# body #}

        {% include "common/alert" %}

        {% include "common/goc" %}

        {% include "common/header" with {"header":profile} %}

        {# Menu #}

        {% include "applicant/profile/menu" %}

        {# Form containing all about_me editable elements #}
        <form action="{{ form_submit_action }}" method="post">

            {# Builds an input field for CSRF token validation #}
            {{ csrf_field() }}

            {# Skills #}
            {% include "applicant/profile/skills/index" %}

        </form>

        {# Modals #}

        {% include "common/modal" with {"page":profile} %}

        {# Login Modals #}

        {% include "common/modal" with {"page":login_modals} %}

        {# Footer #}

        {% include "common/footer" %}

        {# Scripts #}

        {% include "common/scripts" %}

    </body>

</html>
