{# =============================================================================

    Talent Cloud
    Applicant Profile - Skills

============================================================================= #}

{% extends "layouts/base" %}

{% block title %}{{ profile.reference_section.reference_title }}{% endblock %}

{% block body %}

	{% include "common/alert" %}

    {% include "common/goc" %}

    {% include "common/header" with {"header":profile} %}

    <a id="skipLink"></a>

    {# Menu #}

        {% include "applicant/profile/menu" %}

    {# Form containing all about_me editable elements #}

        {# Menu #}
        {% include "applicant/profile/menu" %}

        {# References #}
        {% include "applicant/profile/references/index" %}

        {# Modals #}
        {% include "common/modal" with {"page":profile} %}

        {# Footer #}
        {% include "common/footer" %}

        {# Scripts #}
        {% include "common/scripts" %}

    </body>

</html>
