{# =============================================================================

    Talent Cloud
    Applicant: Home

============================================================================= #}
{% extends "layouts/base-h2" %}
{% block title %}
	{{ faq.faq_title }}
{% endblock %}
{% block body %}
	{# Page Header #}
    {% include "common/header" with {"header": faq} %}
	{% if show_notification %}
		{% include "manager/notification" %}
	{% endif %}
	<a id="skipLink"></a>
	{# FAQ Sections #}
	{% include "applicant/static/credentialing_layout" %}
{% endblock %}
