{# =============================================================================

    Talent Cloud
    Applicant: Home

============================================================================= #}

{% extends "layouts/base" %}

{% block title %}{{ faq.faq_title }}{% endblock %}

{% block body %}

	{% include "common/goc" %}
{% include "common/alert" %}

    {% include "common/header" with {'header':faq} %}

    {% if show_notification %}
    {% include "manager/notification" %}
    {% endif %}

    <a id="skipLink"></a>

    {# FAQ Sections #}

        {% include "applicant/static/credentialing_layout" %}

{% endblock %}
