{# =============================================================================

    Talent Cloud
    Applicant: Home

============================================================================= #}

{% extends "layouts/base" %}

{% block title %}{{ faq.faq_title }}{% endblock %}

{% block body %}

	{% include "common/alert" %}

    {% include "common/goc" %}

    {# {% include "common/header" with {'header':faq} %} #}

    <header data-clone>
        <div data-c-overlay="black(80)" data-c-padding="tb(triple)" style="background-image: url('/images/sean-pollock.jpg');">
            <div data-c-container="large">
                <h1 data-c-color="white" data-c-font-weight="bold" data-c-font-size="h2">Talent Cloud FAQ</h1>
                <div data-c-alignment="left" data-c-margin="top(double)">
                    <nav
                        aria-label="breadcrumb"
                        data-c-breadcrumbs>
                        <ol>
                            <li>
                                <a
                                    href="/"
                                    title="This is the title of the page link.">
                                    Home</a>
                                <i class="fa fa-caret-right"></i>
                            </li>
                            <li>
                                <a
                                    href="/faq"
                                    title="This is the title of the page link.">
                                    FAQ</a>
                                <i class="fa fa-caret-right"></i>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <a id="skipLink"></a>

    {# FAQ Sections #}

        {% include "applicant/static/credentialing_layout" %}

{% endblock %}
