{# =============================================================================

    Talent Cloud
    Applicant: Browse - Filters

============================================================================= #}
<section
    class="">

    <div
        class="container--layout">

        <div
            div class="flex-grid top">

            <div
                class="box med-1of3">

            </div>

            <div
                class="box med-1of3">

            </div>

            <div
                class="box med-1of3">

            </div>

        </div>

    </div>

</section>
