/* =============================================================================

    Authored by: Talent Cloud

    Admin Dashboard

============================================================================= */

.admin-dashboard {
	padding: 6rem 0;
}

.admin-dashboard__section-title {
	margin: 0 0 4rem 0;
}

.admin-dashboard__job-poster-title {
	color: $palette-blue;
	font-weight: 700;
}

.admin-dashboard__job-poster-list {
	padding: 0;
}

.admin-dashboard__job-poster {

	hr {
		background: $palette-grey;
		border: none;
		height: 1px;
		width: 100%;
	}

}

.admin-dashboard__job-application-list {
	
}