/* =============================================================================

    Authored by: Talent Cloud

    Browse Jobs

============================================================================= */

.browse-jobs {
	background: lighten($palette-grey--light, 10%);
}

.browse-jobs__filter-wrapper {
	background-color: rgba(0, 0, 0, .8);
	background-image: url(/images/backgrounds/bg_lightning_dark.png);
	background-position: center;
	background-repeat: repeat;
	background-size: 75px;
	box-shadow: 0 0 25px rgba(0, 0, 0, 1);
	padding: 6rem 0;
	text-align: center;

	@media #{$l-tablet} {
		text-align: left;
	}

}

.browse-jobs__list-wrapper {
	margin: 0 auto;
	max-width: 125rem;
	padding: 4rem 0;
	width: 90%;

	>.flex-grid {
		margin: 0 -1rem;
	}

}

@import "../molecules/job-card";