/* Applicant Dashboard Styles */

#dashboardSection #yourApplications{
    width:95%;
    margin:0px auto;
    text-align: center;
}

#dashboardSection .dashboardJobSummary {
    font-size: 100% !important;
    border-top: 1px solid #ccc;
    font-size:1.3rem;
    line-height: 2.5rem;
    margin:0;
    text-align: left;
}

#dashboardSection .dashboardJobSummaryLast {
    font-size: 100% !important;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    font-size:1.3rem;
    line-height: 2.5rem;
    margin:0;
    text-align: left;
}

.dashBoardHiringManagerWrapper {
    width:20%;
    display:inline-block;
}

.dashboardTitleDepartmentWrapper{
    width:40%;
    display:inline-block;
    @media screen and (max-width: 1205px) {
        width: 100%;
        display: block;
        text-align: center;
    }
}

.dashboardTitleDepartmentWrapper .dashboardJobSummaryTitle{
    font-size: 100%;
    font-size: 1.5em;
    color: #000;
    text-align: left;
    display:inline;
}

.dashboardTitleDepartmentWrapper .dashboardJobSummaryDepartment{
    font-size: 100%;
    font-size: 1.5em;
    color: #000;
    display:inline;
}

#dashboardSection .dashBoardHiringManagerWrapper {
    height: 3em;
    line-height: 3em;
    background-color: #eee;
    border-radius: 1.5em;
    @media screen and (max-width: 1205px) {
        width: 25%;
        margin-left: 22rem;
        margin-bottom: .5rem;
    }
    @media screen and (max-width: 1000px) {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
    }
}

#dashboardSection .dashBoardHiringManagerWrapper .hiringManagerProfilePicSmall{
    height: 2.5em;
    line-height: 2.5em;
    width: 2.5em;
    border-radius: 1.25em;
    margin-bottom: 0.5em;
    display:inline;

}

#dashboardSection .dashBoardHiringManagerWrapper .hiringManagerWidget{
    height: 2.5em;
    line-height: 2.5em;
}

#dashboardSection .dashBoardHiringManagerWrapper .hiringManagerName{
    font-size: 100%;
    font-size: 1.25em;
    color: #333;
    display:inline;
    padding-left:1em;
    height: 2.5em;
    line-height: 2.5em;
}

#dashboardSection .dashboardJobSubmitted{
    width:40%;
    display:inline-block;
    color:#999;
    @media screen and (max-width: 1205px) {
        width: 30%;
        margin-right: 15rem;
        float: right;
    }
    @media screen and (max-width: 1000px) {
        width: 100%;
        display: block;
        float: none;
        margin-right: auto;
        margin-left: auto;
    }
}

#dashboardSection .dashboardJobStatus{
    font-size: 100%;
    font-size: 1.5em;
    margin:0;
    text-align: right;
    color:#999;
    @media screen and (max-width: 1205px) {
        text-align: left;
    }
    @media screen and (max-width: 1000px) {
        text-align: center;
        width: 100%;
    }
}
