/* JOB SUMMARY (SHORT DESCRIPTION) STYLES */

$break-small: 800px;
$normal-font: 1.5rem;
$title-font: 1.777rem;

.jobSummary{
    position: relative;
    width: 100%;
    color: #777;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    display: flex;
    justify-content: center;
    font-family: "HKGrotesk", sans-serif;
    font-size: $normal-font;
    font-weight: 700;
}

.jobSummary:nth-child(odd){
    background: #F8F8F8;
}

.jobSummaryTable{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1200px;
    @media screen and (max-width: $break-small){
        flex-direction: column;
    }
}

.hiringManagerProfilePicSmall{
    width: 7rem;
    height: 7rem;
    clip-path: circle(3.5rem at center);
    margin-bottom: 0.5rem;
    margin: auto;
    display: block;
}

.hiringManagerLabel{
    font-size: $normal-font;
    color: #333;
    width: 100%;
    text-align: center;
    margin: auto;
    display: block;
}

.hiringManagerWrapper{
    width: 20rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
}

.jobSummaryTitle{
    font-size: $title-font;
    font-weight: bold;
    color: #000;
    line-height: 2rem;
    text-align: left;
    @media screen and (max-width: $break-small){
        text-align: center;
    }
}
.jobSummarySalaryRange{
    width: 20rem;
    text-align: center;
    padding-top: .25rem;
    padding-bottom: .25rem;
    @media screen and (max-width: $break-small){
        width: 90%;
    }
}

.jobSummaryApplicants_to_date{
    padding-bottom: .5rem;
}

.jobSummaryTerm_qty{
    width: 20rem;
    text-align: center;
}

.titleDepartmentWrapper{
    width: 20rem;
    @media screen and (max-width: $break-small){
        text-align: center;
        width: 90%;
        padding-top: .25rem;
        padding-bottom: .25rem;
    }
}

.applicantsCloseDateWrapper{
    text-align: center;
    width: 20rem;
    padding-top: .25rem;
    padding-bottom: 1rem;
    @media screen and (max-width: $break-small){
        width: 90%;
    }
}

.viewJobButton{
    color: #fff!important;
    background-color: #2196F3!important;
    font-weight: normal;
    border: none;
    padding: 8px 16px;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    display: block;
    margin-right: 2rem;
    margin-left: 2rem;
    width: 15rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

/* TODO: deal with empty browseJobs page better */

#browseJobsSection{
    min-height: 90vh;
}

#noJobs{
    color:#999;
    text-align: center;
    font-size: $normal-font;
}

.jobCount{
    position:absolute;
    right:1rem;
    top:1rem;
}

.jobList{
    margin:0px auto;
    overflow:auto;
}

/* BROWSE JOBS */

#loadingJobs{
    padding: 3rem;
}
