/* HIRING MANAGER SUMMARY */

.hiringManagerSummaryWrapper {
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hiringManagerSummaryName{
    color: #333;
    width: 100%;
    text-align: center;
    margin: auto;
    display: block;
}

#hiringManagerSummaryImageWrapper {
    margin-left: 2em;
    margin-right: 2em;
}

#jobPosterHiringManagerProfilePic {
    width:150px;
    height:150px;
    border: 3px solid #FFCC33;
    border-radius: 75px;
    margin: auto;
}


#hiringManagerSummaryContentWrapper {
   flex: 1;
}

#hiringManagerSummaryButtonWrapper {
    text-align:right;
}

#jobPosterHiringManagerButton {
    margin: 0;
    padding: 0;
}

/* ADMIN PROFILE */

.createEditProfileDemoAreaEnglish{
    float: left;
}

.createEditProfileDemoAreaFrench{
    float: right;
}

.createEditProfileEnglishPane{
    float: left;
    width: 45%;
}

.createEditProfileFrenchPane{
    float: right;
    width: 45%;
    height: 100%;
}

.createEditProfileSubmitPane{
    clear: both;
}

/* VIEW PROFILE (OLD??)  */

.viewProfileContainer{
    padding: 1em 1em 1em 1em;
}

.viewProfileLeftPane{
    float: left;
    width: 45%;
    padding: 1em 1em 1em 1em;
    background-color: inherit;
}

.viewProfileRightPane{
    float: right;
    width: 45%;
    padding: 1em 1em 1em 1em;
    background-color: inherit;
}

.viewProfileSlot{
    padding: 0.5em 0em 0.5em 0em;
}

.viewProfileSlotLabel{
    font-size: 12px;
}

.viewProfileSlotContent{

}

.viewProfileSlotImg{
    float: left;
}

.viewProfileSlotValue{
    overflow: hidden;
    width: 45%;
    border-bottom: 1px solid grey;
}

.viewProfileHeightBoost{
    min-height: 200px;
}

.closeProfileButton{
    float: left;
}

/* New Public Manager Profile =============================================== */

.public-manager-profile {
    background: lighten($palette-grey--light, 10%);
}

.public-manager-profile__heading {
    background-color: rgba(0, 0, 0, .8);
    background-image: url(/images/backgrounds/bg_lightning_dark.png);
    background-position: center;
    background-repeat: repeat;
    background-size: 75px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 1);
    padding: 6rem 0;
    text-align: center;

    @media #{$l-tablet} {
        text-align: left;
    }

    >.content-container {
        position: relative;
    }

}

.public-manager-profile__heading-photo-wrapper {
    position: relative;

    @media #{$l-tablet} {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(calc(-100% + -5rem), -50%);
    }

}

.public-manager-profile__photo {
    background-color: $white;
    background-position: center;
    background-size: cover;
    border: .5rem solid $palette-blue;
    border-radius: 100%;
    height: 15rem;
    margin: 0 auto 4rem auto;
    width: 15rem;

    @media #{$l-tablet} {
        margin: 0;
    }

}

.public-manager-profile__name {
    color: $white;
    font-size: 50px;
    font-weight: 900;
    line-height: 1.2;
    margin: 0 0 1rem 0;
}

.public-manager-profile__tagline {
    color: $palette-blue;
    display: inline-block;
    font-size: 25px;
    font-weight: 400;
    margin: 0 0 1rem 0;
}

.public-manager-profile__social-wrapper {
    list-style: none;
    margin: 0 0 0 -.5rem;
    padding: 0;

    li {
        display: inline-block;
        padding: 0 .5rem;

        a {

            i {
                color: $white;
                font-size: 2rem;
                transition: color .2s ease;
            }

            &:hover {

                i {
                    color: $palette-blue;
                    transition: color .2s ease;
                }

            }

        }

    }

}

.public-manager-profile__question-wrapper {
    padding: 4rem 0;
}

.public-manager-profile__back-link {
    appearance: none;
    background: none;
    border: none;
    color: $palette-blue;
    display: block;
    font-size: 16px;
    padding: 0;
    margin: 0 0 4rem 0;
    text-decoration: underline;
    transition: color .2s ease;

    &:hover {
        color: $palette-blue--dark;
        transition: color .2s ease;

        i {
            transform: translate(-20%, 0);
            transition: transform .2s ease;
        }

    }

    &:last-child {
        margin-bottom: 0;
    }

    i {
        font-size: 12px;
        margin: 0 .5rem 0 0;
        transform: translate(0, 0);
        transition: transform .2s ease;
    }

}

.public-manager-profile__question {
    margin: 0 0 4rem 0;

    &:last-child {
        margin-bottom: 0;
    }

}

.public-manager-profile__question-title {
    border-bottom: 1px solid $black;
    color: $black;
    font-size: 35px;
    font-weight: 700;
    margin: 0 0 4rem 0;
    padding: 0 0 2rem 0;
    position: relative;
}

.public-manager-profile__question-subtitle {
    color: $palette-blue;
    font-size: 25px;
    font-weight: 700;
    margin: 0 0 2rem 0;
}

.public-manager-profile__question-answer {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
}

.public-manager-profile__decision-wrapper {

    @media #{$l-tablet} {
        transform: translate(-25%, 0);
        width: 150%;
    }

    .box:first-child {

        @media #{$l-tablet} {
            padding: 0 4rem 0 0;
        }

    }

}

.public-manager-profile__decision-support {
    background: rgba(0, 0, 0, .8);
    border-radius: 3px;
    margin: 0 0 2rem 0;
    padding: 1.5rem;

    @media #{$l-tablet} {
        margin: -4.5rem 0 0 0;
    }

    p {
        color: $white;
        font-size: 12px;
        line-height: 1.5;
        margin: 0;

        &:first-child {
            color: $palette-blue;
            margin: 0 0 .5rem 0;
        }

    }

}

.public-manager-profile__decision-answer {
    font-size: 16px;
    line-height: 1.5;
    margin: 0 0 1rem 0;

    &:last-child {
        margin-bottom: 0;
    }

    strong {
        color: $palette-blue;
    }

}