/* ALL PROFILES (COMMON TO APPLICANT, ADMIN, MANAGER) */

@import "molecules/user-profile-question";

.profileBannerFiller {
    height:18em;
}

.profileBasicInfo {
    text-align: center;
    position: relative;
    margin-top:-13.5em;
}

.profileBasicInfoTopBar {
    display: flex;
    align-items: center;
    position: relative;
    max-width: 1200px;
    margin: auto;
    margin-top: 4rem;
}

.profileSocialMediaLinks {
    list-style-type: none;
    float: right;
    margin-top: 0em;
}

.profileSocialMediaLinks li{
    display: inline;
    padding-left: 0.5em;
}

.profileSocialMediaLinks img{
    width: 1.5em;
    height: 1.5em;
}

.profileBasicInfoEdit {
    float: left;
}

.profileName {
    margin-top: .25em;
    font-size:3.5em;
    font-weight:700;
}

.managerProfileTitle{
    margin-top: .25em;
    font-size:2.5em;
    font-weight:700;
}

.profileTagLineContainer{
    background-color:#E5F8FF;
    margin-top:2em;
}

.profileSubSection {
    padding-top: 2em;
    padding-bottom: 2em;
    position: relative;
}

.profileSubSectionTitleBar {
    margin-bottom: 1em;
}

.profileSubSectionTitleBar h2{
    display: inline;
    font-weight: bold;
}

.profileSubSectionBlock {
    background-color: #EBEBEB;
    width: 90%;
    margin-bottom: 1em;
    padding: 1em 3em;
}

.manager-decisions{
    float: left;
    display: block;
}

.manager-decisions strong{
    color:#2196F3;
}

.manager-decisions-tip strong{
    color: #000;
}

.manager-decisions-tip{
    width:30%;
    float:right;
    background-color: #EBEBEB;
    padding:1.5em;
    margin-left: 4em;
    @media screen and (max-width: 1000px){
        width: 100%;
        float: left;
        margin-left: 0;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

.manager-decisions-tip p{
    font-size:1.5em;
    line-height: 1.5;
}

.manager-education{
    display:block;
    clear:both;
}

.socialMediaLink{
    margin-top:1.5em;
}

.sectionEditBtn {
    float: right;
}

.sectionEditBtn img{
    width: 1.5em;
    height: 1.5em;
}

/* New Applicant Profile ==================================================== */

.applicant-profile {
    background: lighten($palette-grey--light, 10%);
}

.applicant-profile__heading {
    background-color: rgba(0, 0, 0, .8);
    background-image: url(/images/backgrounds/bg_lightning_dark.png);
    background-position: center;
    background-repeat: repeat;
    background-size: 75px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 1);
    padding: 6rem 0;
    text-align: center;

    @media #{$l-tablet} {
        text-align: left;
    }

    >.content-container {
        position: relative;
    }

}

.applicant-profile__heading-photo-wrapper {
    position: relative;

    @media #{$l-tablet} {
        position: absolute;
        top: 50%;
        left: -5rem;
        transform: translate(-100%, -50%);
    }

}

.applicant-profile__photo {
    background-color: $white;
    background-position: center;
    background-size: cover;
    border: .5rem solid $palette-blue;
    border-radius: 100%;
    height: 15rem;
    margin: 0 auto 4rem auto;
    width: 15rem;

    @media #{$l-tablet} {
        margin: 0;
    }

}

.applicant-profile__name {
    color: $white;
    font-size: 50px;
    font-weight: 900;
    line-height: 1.2;
    margin: 0 0 1rem 0;
}

.applicant-profile__tagline {
    color: $palette-blue;
    display: inline-block;
    font-size: 25px;
    font-weight: 400;
    margin: 0 0 1rem 0;
}

.applicant-profile__social-wrapper {
    list-style: none;
    margin: 0 0 0 -.5rem;
    padding: 0;

    li {
        display: inline-block;
        padding: 0 .5rem;

        a {

            i {
                color: $white;
                font-size: 2rem;
                transition: color .2s ease;
            }

            &:hover {

                i {
                    color: $palette-blue;
                    transition: color .2s ease;
                }

            }

        }

    }

}

.applicant-profile__heading-edit-wrapper {
    position: absolute;
    top: 9rem;
    left: 15vw;
    transform: translate(0, -50%);

    @media #{$l-tablet} {
        top: 50%;
        left: auto;
        right: -5rem;
        transform: translate(100%, -50%);
    }

    a {
        color: $white;
        font-size: 25px;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0, calc(-50% - .5rem));
        transition: color .2s ease;

        &:hover {
            color: $palette-blue;
            transition: color .2s ease;
        }

    }

}

.applicant-profile__content {

}

.applicant-profile__question-wrapper {
    padding: 4rem 0;
}

.applicant-profile__question {
    margin: 0 0 4rem 0;

    &:last-child {
        margin-bottom: 0;
    }

}

.applicant-profile__question-title-wrapper {
    border-bottom: 1px solid $black;
    color: $black;
    font-size: 35px;
    font-weight: 700;
    margin: 0 0 4rem 0;
    padding: 0 5rem 2rem 0;
    position: relative;

    span {

    }

}

.applicant-profile__edit-trigger {
    color: $palette-blue;
    font-size: 25px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, calc(-50% - .5rem));
    transition: color .2s ease;

    &:hover {
        color: $palette-blue--dark;
        transition: color .2s ease;
    }

}

.profile-question__answer {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
}