/* TABS */

.tabsSteps{
    font-size: 1em;
    line-height: 2em;
    display: flex;
    color: #fff;
    //float: left;
    width: 100%;
    background:#333;
    margin-bottom: 4rem;
}

.three-step-tab {
    width: 33.333%;
    position: relative;
    color: #fff;
    font-size:1.25em;
    text-align: center;
    line-height:3em;
}

.five-step-tab{
    width: 20%;
    position: relative;
    color: #fff;
    font-size:1.25em;
    text-align: center;
    line-height:3em;
}

.tab-current {
    background-color: $palette-blue--semidark;
    //border-bottom: 5px solid #999;
}

.steppedFormLink{
    text-align: center !important;
    text-decoration:none !important;
    color:#fff !important;
    background-color: #333;
    border: 0;
    width: 100%;
}

.steppedFormLinkActive{
    text-align: center !important;
    text-decoration:none !important;
    color:#fff !important;
    background-color: $palette-blue--semidark;
    border: 0;
    width: 100%;
}

.stepGroup_createEditProfile, .stepGroup {
    position: relative;
    width:100%;
    min-height: 100%;
    bottom: 0;
    background-color: #fff;
}

.editImage {
    width: 2rem;
}
