/* END SORTED STYLES */

#jobPosterFormWrapper{
    margin-top: 10em;
}

.form-icon {
    width: 1em;
    height: 1em;
    vertical-align: top;
}

.searchWrapper{
    float:left;
}

#search{
    margin-top: 0.2em;
    vertical-align: bottom;
}

.alphaList{
    list-style: none;
    list-style-type: none;
    padding:0;
    margin:0;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

.alpha{
    border-top: 1px solid #ccc;
}

.steppedFormLink{
    text-align: center !important;
    text-decoration:none !important;
    color:#fff !important;
}

.steppedFormLinkActive{
    text-align: center !important;
    text-decoration:none !important;
    color:#fff !important;
}

.contactCard{
    border:1px solid #eee;
    box-shadow: 3px 3px 6px #999;
    width:150px;
    padding:1em 0.5em;
    height:200px;
    float:left;
    margin-right:1em;
    margin-bottom:1em;
    position:relative;
}

.contactImageWrapper{
    width:150px;
    height:130px;
    text-align:center;
}

.contactImage{
    width:100px;
    margin:0px auto;
}

.contactRow{
    padding:0.25em 0;
}

.contactActionColLeft{
    float:left;
    width:50%;
    text-align: left;
    vertical-align: bottom;
}

.contactEmailLinkImage{
    width:50px;
    vertical-align: middle;
}

.contactNoEmailLinkImage{
    opacity:0.5;
    width:50px;
    vertical-align: middle;
}

.contactPhoneLinkImage{
    width:40px;
    vertical-align: middle;
}

.contactActionColRight{
    float:right;
    width:50%;
    text-align: right;
    vertical-align: bottom;
}

.favouriteImageWrapper{
    position:absolute;
    top:0.5em;
    right:0.5em;
}

.jobPosterFavouriteImg{
    width:1.5em;
}

.editImage{
    width:3.5em;
    border-radius: 50%;
    background-color: #fff;
}

.editImageWrapper{
    position:absolute;
    top:0.5em;
    left:0.5em;
}

.formGroup{
    padding:1em;
}

.formGroupTwoColumn{
    padding:1em;
    width:50%;
    display:inline;
}

.stepNavigation{
    position: absolute;
    /* absolute: 0; */
}

.stepGroup,.jobSeekerFormStepGroup {
    position: relative;
    width:100%;
    min-height: 100%;
    bottom: 0;
    background-color: #fff;
}



.reallyShortInput{
    width:3em;
}

.shortInput{
    width:10em;
}

.mediumInput{
    width:20em;
}

.longInput{
    width:40em;
}

.validationMessage{
    color:#ff0000;
}
