/* UTILITY */
.bold {
    font-weight: bold;
}


.clear {
    clear: both;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.overFlowHidden{
    overflow:hidden;
}

.transparent{
    background:rgba(0,0,0,0.7);
}

.hidden{
    transition: all 1s ease-in-out !important;
    opacity:0;
    max-height:0;
    max-width:0;
    display:none;
    padding:0 !important;
    margin:0 !important;
    border:none !important;
    overflow:hidden;
}

.visible{
    max-height:4000px;
    max-width:4000px;
    display:static;
    opacity:1;
    transition: opacity 1s ease-in-out;
}

.half-width {
    width:50%;

}
.three-quarter-width{
    width:75%;
}

.leftPane {
    width: 45%;
    float: left;
}

.rightPane {
    width: 45%;
    float: right;
}

.singlePane {
    width: 100%;
    clear: both;
}

.blue-highlight-text {
    color: #2196F3;
}

.flexContainerVerticallyCentered {
    display: flex;
    align-items: center;
}

.flexLeftOfCenter {
    width:50%;
    float:right;
}

.flexRightOfCenter {
    width:50%;
    float:left;
}

.centered {
    text-align: center;
}

/* CONTAINERS / OVERLAYS */

#overlays{
    position:relative;
}
.pageContent{
    margin: 0 auto;
    width: 100%;
    min-height: 80vh;
    overflow:auto;

    &#profileSection,
    &#managerProfileSection,
    &#createEditProfileSection {
        overflow: visible;
    }

}

.pageBanner {
    background:rgba(0,0,0,0.7);
    min-height: 10%;
    width:100%;
    overflow:auto;
    color: #FFFFFF;
}

.pageBody {
    // background-color: white;
    width:100%;
    min-height: 80vh;
    overflow: visible;
}

.formButtonWrapper{
    float:right;
}
