{# =============================================================================

    Talent Cloud
    Applicant: Submit an Application - Thanks for Applying Header

============================================================================= #}
<div data-clone>
    <header data-c-align="base(center) tl(left)" data-c-overlay="black(70)" data-c-padding="bottom(3)" style="background-image: url('/images/bg_flag.jpg');">
        {% include "common/menu" %}
        <div data-c-container="large" data-c-padding="top(3)" data-c-align="base(center)">
            <h1 data-c-heading="h1">Thanks for Applying!</h1>
            <p data-c-color="white" data-c-margin="top(1)">You've successfully applied to: <span data-c-font-weight="bold">{{ job.title }}</span> at <span data-c-font-weight="bold">{{ job.department.name }}</span></p>
        </div>
    </header>
</div>
