// =============================================================================

    // Browse: Index

// =============================================================================
.browse__index {
    // background: $palette--white;
    padding: $section-padding;

    >div >.flex-grid {
        margin: calc(#{$unit} * -1);
    }

    .browse__index-job-null {
        text-align: center;

        span {
            @extend %paragraph;
            margin: 0;
        }

        .null-alert {
            background: rgba($palette--blue, .1);
            border: 1px solid $palette--blue;
            border-radius: 5px;
            margin: 0 0 2rem 0;
            padding: 2rem;
            text-align: left;

            h3,
            h2 {
                color: $palette--blue;
                font-family: $font--sans;
                font-size: $font-scale--h3;
                font-weight: 600;
                margin: 0 0 2rem 0;
            }

            p {
                color: $palette--blue;
                font-family: $font--sans;
                font-size: $font-scale--regular;
                font-weight: 400;
                margin: 0;
            }

            hr {
                appearance: none;
                border: none;
                border-top: 1px solid $palette--blue;
                height: 0;
                margin: 2rem 0;
            }

        }

    }

    .browse__index-job {
        cursor: pointer;
        display: flex;
        margin: 0;
        padding: $unit;
        text-decoration: none;

        &:hover,
        &:focus {
            outline: none;

            .browse__index-job-card {
                box-shadow: 0 2px 15px rgba(0, 0, 0, .5);
                transform: translate(0, 0) scale(1.025);
                transition: all .2s ease;
            }

        }

        .browse__index-job-card {
            background: $palette--white;
            border-radius: 3px;
            box-shadow: 0 2px 3px rgba(0, 0, 0, .5);
            display: flex;
            flex-direction: column;
            overflow: hidden;
            transform: translate(0, 0) scale(1);
            transition: all .2s ease;

            .browse__index-job-card-title {
                background-color: #202023;
                background-image: url("/images/bg_lightning_texture.png");

                background-position: center;
                background-repeat: repeat;
                background-size: 75px;
                padding: calc(#{$unit} * 1.5);

                h2 {
                    color: $palette--font-white;
                    display: block;
                    font-weight: 700;
                    margin: 0 0 $unit 0;
                    width: 100%;
                }

                span {
                    color: $palette--font-white;
                    display: block;
                    font-family: $font--sans;
                    font-size: $font-scale--regular;
                    font-weight: 400;
                    margin: 0;
                }

            }

            .browse__index-job-card-content {
                flex-grow: 1;
                padding: calc(#{$unit} * 1.5);

                span {
                    color: $palette--font-black;
                    display: block;
                    font-family: $font--sans;
                    font-size: $font-scale--regular;
                    font-weight: 600;
                    line-height: 1.2;
                    margin: 0 0 calc(#{$unit} /2) 0;
                }

                p {
                    color: $palette--font-black;
                    font-family: $font--sans;
                    font-size: $font-scale--regular;
                    line-height: 1.5;
                    margin: 0 0 1rem;
                    width: 90%;

                    span {
                        display: inline-block;
                        font-family: $font--sans;
                        font-weight: 400;
                        line-height: 1.5;
                    }

                }

            }

            .browse__index-job-card-metadata {
                border-top: 1px solid darken($palette--white, 30%);
                margin: calc(#{$unit} * -1) 0 0;
                padding: calc(#{$unit} * 1.5);

                .box {
                    color: $palette--font-black;
                    font-family: $font--sans;
                    font-size: $font-scale--regular;
                    padding: 0;
                    text-align: left;
                }

                span {
                    color: $palette--font-black;
                    display: block;
                    font-family: $font--sans;
                    font-size: $font-scale--regular;
                    font-weight: 600;
                    line-height: 1.2;
                    margin: 0 0 calc(#{$unit} /2) 0;
                }

                p {
                    color: $palette--font-black;
                    font-family: $font--sans;
                    font-size: $font-scale--regular;
                    line-height: 1.5;
                    margin: 0;
                    width: 90%;

                    i {
                        color: $palette--blue;
                        font-size: .707rem;
                        vertical-align: middle;

                        &.fa-calendar {
                            margin: 0 .5rem 0 0;
                        }

                        &.fa-clock {
                            margin: 0 .4rem 0 0;
                        }

                    }

                    span {
                        display: inline-block;
                        font-family: $font--sans;
                        font-weight: 400;
                        line-height: 1.5;
                    }

                }

            }

            .browse__index-job-card-cta {
                // @extend %gradient--vertical;
                background: $clone-c1;
                color: $palette--font-white;
                font-family: $font--sans;
                font-size: $font-scale--regular;
                font-weight: 600;
                padding: $unit;
                text-align: center;
                transition: all .2s ease;
                width: 100%;
            }

        }

    }

}

body[id*="Trident/7.0"] {

    .browse__index {

        .browse__index-job {
            display: block;
        }

    }

}
