// Applicant: Browse Jobs
.tc-applicant-job-list {
    a {
        display: flex !important;
        flex-direction: column;
        text-decoration: none;
        transform: translate(0, 0) scale(1);
        transition: all .2s ease;
        >div:nth-child(2) {
            flex: 1;
        }
        &:hover,
        &:focus {
            box-shadow: 0 2px 15px rgba(0, 0, 0, .5);
            transform: translate(0, 0) scale(1.025);
            transition: all .2s ease;
        }
    }
}
