{# =============================================================================

    Talent Cloud
    Applicant: Profile - Skills Index

============================================================================= #}
<section
    class="applicant-profile__portfolio">

    <div
        class="container--layout">

        {# Profile List (Soft Skills) #}

            <div
                class="profile-list">

                {# Profile List Header #}

                    <div
                        class="profile-list__header flex-grid middle">

                        <div
                            class="box med-1of2">

                            <h3>My Soft Skills</h3>

                        </div>

                        <div
                            class="box med-1of2">

                            <button
                                class="profile-list__add-element-trigger">
                                Add a Skill
                            </button>

                        </div>

                    </div>

                {# Set Locale #}

                    {% set locale = "profile" %}

                {# Profile Element Template (Sample) #}

                    {% include "common/skill" %}

                {# Profile Element List #}

                    <div 
                        class="profile-element-list">

                        {% set softSkillCounter = 0 %}

                        {% for skill in user.skills %}

                            {% if skill.type == "soft" %}

                                {% set softSkillCounter = softSkillCounter + 1 %}

                                {% include "common/skill" %}

                            {% endif %}

                        {% endfor %}

                        <div
                            class="profile-null {% if softSkillCounter == 0 %}active{% endif %}">

                            <p>You don't currently have any skills on your profile! Use the button above to add a skill.</p>

                        </div>

                    </div>

            </div>

        {# Profile List (Hard Skills) #}

            <div
                class="profile-list">

                {# Profile List Header #}

                    <div
                        class="profile-list__header flex-grid middle">

                        <div
                            class="box med-1of2">

                            <h3>My Hard Skills</h3>

                        </div>

                        <div
                            class="box med-1of2">

                            <button
                                class="profile-list__add-element-trigger">
                                Add a Skill
                            </button>

                        </div>

                    </div>

                {# Set Locale #}

                    {% set locale = "profile" %}

                {# Profile Element Template (Sample) #}

                    {% include "common/skill" %}

                {# Profile Element List #}

                    <div 
                        class="profile-element-list">

                        {% set hardSkillCounter = 0 %}

                        {% for skill in user.skills %}

                            {% if skill.type == "hard" %}

                                {% set hardSkillCounter = hardSkillCounter + 1 %}

                                {% include "common/skill" %}

                            {% endif %}

                        {% endfor %}

                        <div
                            class="profile-null {% if hardSkillCounter == 0 %}active{% endif %}">

                            <p>You don't currently have any skills on your profile! Use the button above to add a skill.</p>

                        </div>

                    </div>

            </div>

    </div>

</section>
