{# =============================================================================

    Talent Cloud
    Applicant: Profile - Skills Index

============================================================================= #}
{% include "errors/form_errors" %}
{# Profile List (Soft Skills) #}
<div data-c-grid="gutter(all, 1)" class="profile-list">
    <div data-c-grid-item="tl(1of2)" data-c-align="base(center) tl(left)">
        <h2 data-c-heading="h2">{{ profile.skills_section.soft_title }}</h2>
    </div>
    <div data-c-grid-item="tl(1of2)" data-c-align="base(center) tl(right)">
        <button id="add-soft-skill" data-c-button="outline(c1)" data-c-radius="rounded" class="profile-list__add-element-trigger" type="button" disabled>
            {{ profile.skills_section.add_soft_button_label }}
        </button>
    </div>
    <div data-c-grid-item="base(1of1)">
        {% include "applicant/profile/skills/skill_list" with {"skillType":'soft'} %}
    </div>
</div>
{# Profile List (Hard Skills) #}
<div data-c-grid="gutter(all, 1)" class="profile-list">
    <div data-c-grid-item="tl(1of2)" data-c-align="base(center) tl(left)">
        <h2 data-c-heading="h2">{{ profile.skills_section.hard_title }}</h2>
    </div>
    <div data-c-grid-item="tl(1of2)" data-c-align="base(center) tl(right)">
        <button id="add-hard-skill" data-c-button="outline(c1)" data-c-radius="rounded" class="profile-list__add-element-trigger" type="button" disabled>
            {{ profile.skills_section.add_hard_button_label }}
        </button>
    </div>
    <div data-c-grid-item="base(1of1)">
        {% include "applicant/profile/skills/skill_list" with {"skillType":'hard'} %}
    </div>
</div>
