{# =============================================================================

    Talent Cloud
    Applicant: Profile - Skills Index

============================================================================= #}
<section
    class="applicant-profile__portfolio">

    <div
        class="container--layout">

            {% include "errors/form_errors" %}

        {# Profile List (Soft Skills) #}

            <div
                class="profile-list">

                {# Profile List Header #}

                    <div
                        class="profile-list__header flex-grid middle">

                        <div
                            class="box med-1of2">

                            <h2>{{ profile.skills_section.soft_title }}</h2>

                        </div>

                        <div
                            class="box med-1of2">

                            <button
                                type="button"
                                class="profile-list__add-element-trigger">
                                {{ profile.skills_section.add_button_label }}
                            </button>

                        </div>

                    </div>

                {% include "applicant/profile/skills/skill_list" with {"skillType":'soft'} %}

            </div>

        {# Profile List (Hard Skills) #}

            <div
                class="profile-list">

                {# Profile List Header #}

                    <div
                        class="profile-list__header flex-grid middle">

                        <div
                            class="box med-1of2">

                            <h2>{{ profile.skills_section.hard_title }}</h2>

                        </div>

                        <div
                            class="box med-1of2">

                            <button
                                type="button"
                                class="profile-list__add-element-trigger">
                                {{ profile.skills_section.add_button_label }}
                            </button>

                        </div>

                    </div>

                {% include "applicant/profile/skills/skill_list" with {"skillType":'hard'} %}

            </div>

    </div>

</section>
