{# =============================================================================

    Talent Cloud
    Applicant: Profile - Portfolio Index

============================================================================= #}
<section
    class="applicant-profile__portfolio">

    <div
        class="container--layout">

        {# Profile List #}

        <div
            class="profile-list">

            {# Profile List Header #}

                <div
                    class="profile-list__header flex-grid middle">

                    <div
                        class="box med-1of2">

                        <h2>{{ profile.sample_section.section_title }}</h2>

                    </div>

                    <div
                        class="box med-1of2">

                        <button
                            class="profile-list__add-element-trigger"
                            type="button">
                            {{ profile.sample_section.add_button_label }}
                        </button>

                    </div>

                </div>

            {# Set Locale #}

                {% set locale = "profile" %}

            {# Profile Element Template (Sample) #}

                {% include "common/sample" with {"template": true} %}

            {# Profile Element List #}

                <div
                    class="profile-element-list">

                    <div
                        class="profile-null {% if applicant.work_samples|length == 0 %}active{% endif %}">

                        <p>{{ profile.sample_section.null_copy }}</p>

                    </div>

                    {% for sample in applicant.work_samples %}

                        {% include "common/sample" %}

                    {% endfor %}

                </div>

        </div>

    </div>

</section>
