<div
    data-c-accordion="accordion"
    data-c-background="white(100)"
    data-c-margin="bottom(normal)"
    data-c-border="top(thin, solid, black) right(thin, solid, black) left(thin, solid, black)">
    <button
        data-c-background="white(100)"
        aria-expanded="false"
        data-c-accordion="trigger"
        data-c-padding="right(triple)"
        tabindex="0"
        type="button">
        <div data-c-padding="top(normal) right bottom(normal) left(normal)">
            <p data-c-font-weight="bold" data-c-font-size="h5" data-c-margin="bottom(half)" data-c-colour="c2">Task 6</p>
            <p data-c-heading="h4">
                Work creatively using a broad array of traditional and social media approaches.
            </p>
            <p data-c-margin="top(half)" data-c-heading="h5" data-c-font-weight="bold">
                2 Skills Selected
            </p>
        </div>
        <span data-c-visibility="invisible">
            Click to view...
        </span>
        <i
            aria-hidden="true"
            class="fas fa-plus"
            data-c-accordion="icon--add">
        </i>
        <i
            aria-hidden="true"
            class="fas fa-minus"
            data-c-accordion="icon--remove">
        </i>
    </button>
    <div
        aria-hidden="true"
        data-c-accordion="content">
        <div>
            <div data-c-background="grey(10)" class="job-build-add-skill" data-c-padding="all(normal)">
                <div data-c-grid="gutter middle">
                    <div data-c-align="centre" data-c-grid-item="base(1of1) tp(1of6) ds(1of8)">
                    </div>
                    <div data-c-grid-item="base(1of1) tp(3of6) ds(5of8)">
                        <p data-c-font-weight="bold">Add a New Skill</p>
                    </div>
                    <div data-c-align="centre" data-c-grid-item="base(1of1) tp(1of6) ds(1of8)">
                    </div>
                    <div data-c-align="centre" data-c-grid-item="base(1of1) tp(1of6) ds(1of8)">
                        <button data-c-dialog-id="example-dialog-01" data-c-dialog-action="open">
                            <i data-c-colour="c1" class="fas fa-plus-circle"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="job-builder-skill" data-c-padding="all(normal)">
                <div data-c-grid="gutter middle">
                    <div data-c-align="centre" data-c-grid-item="base(1of1) tp(1of6) ds(1of8)">
                        <i class="fas fa-check"></i>
                    </div>
                    <div data-c-grid-item="base(1of1) tp(3of6) ds(5of8)">
                        <p data-c-font-weight="bold" data-c-margin="bottom(half)">Initiative</p>
                        <p data-c-margin="bottom(half)">Required Level: Strongly in Evidence</p>
                        <p>Defined as: Willingness to take on responsibilities and going above and beyond to take on challenges.</p>
                        <div data-c-margin="top(normal)" data-c-tag="c1" data-c-font-size="small">Also selected in 1 other task (2).</div>
                    </div>
                    <div data-c-align="centre" data-c-grid-item="base(1of1) tp(1of6) ds(1of8)">
                        <button type="button">
                            <i data-c-colour="c1" class="fas fa-edit"></i>
                        </button>
                    </div>
                    <div data-c-align="centre" data-c-grid-item="base(1of1) tp(1of6) ds(1of8)">
                        <button type="button" data-c-dialog-id="example-dialog-01" data-c-dialog-action="open">
                            <i data-c-colour="stop" class="fas fa-trash"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="job-builder-skill" data-c-padding="all(normal)">
                <div data-c-grid="gutter middle">
                    <div data-c-align="centre" data-c-grid-item="base(1of1) tp(1of6) ds(1of8)">
                        <i class="fas fa-check"></i>
                    </div>
                    <div data-c-grid-item="base(1of1) tp(3of6) ds(5of8)">
                        <p data-c-font-weight="bold" data-c-margin="bottom(half)">Social Media Savviness</p>
                        <p data-c-margin="bottom(half)">Required Level: Asset</p>
                        <p>Defined as: Ability to use social media platforms effectively to reach a desired target audience.</p>
                        <div data-c-margin="top(normal)" data-c-tag="c1" data-c-font-size="small">Also selected in 2 other tasks (Tasks 1, 4).</div>
                    </div>
                    <div data-c-align="centre" data-c-grid-item="base(1of1) tp(1of6) ds(1of8)">
                        <button type="button">
                            <i data-c-colour="c1" class="fas fa-edit"></i>
                        </button>
                    </div>
                    <div data-c-align="centre" data-c-grid-item="base(1of1) tp(1of6) ds(1of8)">
                        <button type="button" class="delete">
                            <i data-c-colour="stop" class="fas fa-trash"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
