<div
    data-c-accordion
    data-c-background="white(100)"
    data-c-margin="bottom(normal)"
    data-c-border="right(thin, solid, black) left(thin, solid, black)">
    <button
        data-c-background="white(100)"
        aria-expanded="false"
        data-c-accordion-trigger
        data-c-padding="right(triple)"
        tabindex="0"
        type="button">
        <div data-c-padding="top(normal) right bottom(normal) left(normal)">
            <p data-c-font-weight="bold" data-c-font-size="h5" data-c-margin="bottom(half)" data-c-colour="c2">Task 1</p>
            <p>
                Consult broadly and recruit executive leadership in digital and technology for federal organizations (e.g., C-Suite level positions like Chief Information Officers, Chief Digital Officers, Chief Technology Officers, and their deputies).
            </p>
            <p data-c-margin="top(half)" data-c-heading="h5" data-c-font-weight="bold">
                3 Skills Selected
            </p>
        </div>
        <span data-c-visibility="invisible">
            Click to view...
        </span>
        <i
            aria-hidden="true"
            class="fas fa-plus"
            data-c-accordion-add>
        </i>
        <i
            aria-hidden="true"
            class="fas fa-minus"
            data-c-accordion-remove>
        </i>
    </button>
    <div
        aria-hidden="true"
        data-c-accordion-content>
        <div>
            <div data-c-background="grey(10)" class="job-build-add-skill" data-c-padding="all(normal)">
                <div data-c-grid="gutter middle">
                    <div data-c-align="centre" data-c-grid-item="base(1of1) tp(1of6) ds(1of8)">
                    </div>
                    <div data-c-grid-item="base(1of1) tp(3of6) ds(5of8)">
                        <p data-c-font-weight="bold">Add a New Skill</p>
                    </div>
                    <div data-c-align="centre" data-c-grid-item="base(1of1) tp(1of6) ds(1of8)">
                    </div>
                    <div data-c-align="centre" data-c-grid-item="base(1of1) tp(1of6) ds(1of8)">
                        <button data-c-dialog-id="example-dialog-01" data-c-dialog-action="open">
                            <i data-c-colour="c1" class="fas fa-plus-circle"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="job-builder-skill" data-c-padding="all(normal)">
                <div data-c-grid="gutter middle">
                    <div data-c-align="centre" data-c-grid-item="base(1of1) tp(1of6) ds(1of8)">
                        <i class="fas fa-check"></i>
                    </div>
                    <div data-c-grid-item="base(1of1) tp(3of6) ds(5of8)">
                        <p data-c-font-weight="bold" data-c-margin="bottom(half)">Human Resources: Assessment Tools</p>
                        <p data-c-margin="bottom(half)">Required Level: Advanced</p>
                        <p>Defined as: Ability to design and administer assessment tools and resources for staffing or academic purposes (e.g. exams, interview guides, course designs, user guides)</p>
                    </div>
                    <div data-c-align="centre" data-c-grid-item="base(1of1) tp(1of6) ds(1of8)">
                        <button type="button">
                            <i data-c-colour="c1" class="fas fa-edit"></i>
                        </button>
                    </div>
                    <div data-c-align="centre" data-c-grid-item="base(1of1) tp(1of6) ds(1of8)">
                        <button type="button" class="delete">
                            <i data-c-colour="stop" class="fas fa-trash"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="job-builder-skill" data-c-padding="all(normal)">
                <div data-c-grid="gutter middle">
                    <div data-c-align="centre" data-c-grid-item="base(1of1) tp(1of6) ds(1of8)">
                        <i class="fas fa-check"></i>
                    </div>
                    <div data-c-grid-item="base(1of1) tp(3of6) ds(5of8)">
                        <p data-c-font-weight="bold" data-c-margin="bottom(half)">Judgement</p>
                        <p data-c-margin="bottom(half)">Required Level: Strongly in Evidence</p>
                        <p>Defined as: Ability to make considered decisions and come to sensible conclusions that respect the perspectives of all parties involved.</p>
                        <div data-c-margin="top(normal)" data-c-tag="c1" data-c-font-size="small">Also selected in Work Environment and 1 other task (Task 5).</div>
                    </div>
                    <div data-c-align="centre" data-c-grid-item="base(1of1) tp(1of6) ds(1of8)">
                        <button type="button">
                            <i data-c-colour="c1" class="fas fa-edit"></i>
                        </button>
                    </div>
                    <div data-c-align="centre" data-c-grid-item="base(1of1) tp(1of6) ds(1of8)">
                        <button type="button" class="delete">
                            <i data-c-colour="stop" class="fas fa-trash"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="job-builder-skill" data-c-padding="all(normal)">
                <div data-c-grid="gutter middle">
                    <div data-c-align="centre" data-c-grid-item="base(1of1) tp(1of6) ds(1of8)">
                        <i class="fas fa-check"></i>
                    </div>
                    <div data-c-grid-item="base(1of1) tp(3of6) ds(5of8)">
                        <p data-c-font-weight="bold" data-c-margin="bottom(half)">Social Media Savviness</p>
                        <p data-c-margin="bottom(half)">Required Level: Asset</p>
                        <p>Defined as: Ability to use social media platforms effectively to reach a desired target audience.</p>
                        <div data-c-margin="top(normal)" data-c-tag="c1" data-c-font-size="small">Also selected in 2 other tasks (Tasks 4, 6).</div>
                    </div>
                    <div data-c-align="centre" data-c-grid-item="base(1of1) tp(1of6) ds(1of8)">
                        <button type="button">
                            <i data-c-colour="c1" class="fas fa-edit"></i>
                        </button>
                    </div>
                    <div data-c-align="centre" data-c-grid-item="base(1of1) tp(1of6) ds(1of8)">
                        <button type="button" class="delete">
                            <i data-c-colour="stop" class="fas fa-trash"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
