<div
    data-c-accordion
    data-c-background="white(100)"
    data-c-margin="bottom(normal)"
    data-c-border="top(thin, solid, black) right(thin, solid, black) left(thin, solid, black)">
    <button
        data-c-background="white(100)"
        aria-expanded="false"
        data-c-accordion-trigger
        data-c-padding="right(triple)"
        tabindex="0"
        type="button">
        <div data-c-padding="top(normal) right bottom(normal) left(normal)">
            <p data-c-font-weight="bold" data-c-font-size="h5" data-c-margin="bottom(half)" data-c-colour="c2">Task 5</p>
            <p>
                Take a human-centered approach to recruitment by understanding users’ needs (hiring executives and candidates) to deliver exceptional user experience.
            </p>
            <p data-c-margin="top(half)" data-c-heading="h5" data-c-font-weight="bold">
                2 Skills Selected
            </p>
        </div>
        <span data-c-visibility="invisible">
            Click to view...
        </span>
        <i
            aria-hidden="true"
            class="fas fa-plus"
            data-c-accordion-add>
        </i>
        <i
            aria-hidden="true"
            class="fas fa-minus"
            data-c-accordion-remove>
        </i>
    </button>
    <div
        aria-hidden="true"
        data-c-accordion-content>
        <div>
            <div data-c-background="grey(10)" class="job-build-add-skill" data-c-padding="all(normal)">
                <div data-c-grid="gutter middle">
                    <div data-c-align="centre" data-c-grid-item="base(1of1) tp(1of6) ds(1of8)">
                    </div>
                    <div data-c-grid-item="base(1of1) tp(3of6) ds(5of8)">
                        <p data-c-font-weight="bold">Add a New Skill</p>
                    </div>
                    <div data-c-align="centre" data-c-grid-item="base(1of1) tp(1of6) ds(1of8)">
                    </div>
                    <div data-c-align="centre" data-c-grid-item="base(1of1) tp(1of6) ds(1of8)">
                        <button data-c-dialog-id="example-dialog-01" data-c-dialog-action="open">
                            <i data-c-colour="c1" class="fas fa-plus-circle"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="job-builder-skill" data-c-padding="all(normal)">
                <div data-c-grid="gutter middle">
                    <div data-c-align="centre" data-c-grid-item="base(1of1) tp(1of6) ds(1of8)">
                        <i class="fas fa-check"></i>
                    </div>
                    <div data-c-grid-item="base(1of1) tp(3of6) ds(5of8)">
                        <p data-c-font-weight="bold" data-c-margin="bottom(half)">Ability to Collaborate</p>
                        <p data-c-margin="bottom(half)">Required Level: Strongly in Evidence</p>
                        <p>Defined as: Ability to work with others to advance initiatives and build bridges within and across teams, generating mutual trust and respect.</p>
                    </div>
                    <div data-c-align="centre" data-c-grid-item="base(1of1) tp(1of6) ds(1of8)">
                        <button type="button">
                            <i data-c-colour="c1" class="fas fa-edit"></i>
                        </button>
                    </div>
                    <div data-c-align="centre" data-c-grid-item="base(1of1) tp(1of6) ds(1of8)">
                        <button type="button" class="delete">
                            <i data-c-colour="stop" class="fas fa-trash"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="job-builder-skill" data-c-padding="all(normal)">
                <div data-c-grid="gutter middle">
                    <div data-c-align="centre" data-c-grid-item="base(1of1) tp(1of6) ds(1of8)">
                        <i class="fas fa-check"></i>
                    </div>
                    <div data-c-grid-item="base(1of1) tp(3of6) ds(5of8)">
                        <p data-c-font-weight="bold" data-c-margin="bottom(half)">Judgement</p>
                        <p data-c-margin="bottom(half)">Required Level: Strongly in Evidence</p>
                        <p>Defined as: Ability to make considered decisions and come to sensible conclusions that respect the perspectives of all parties involved.</p>
                        <div data-c-margin="top(normal)" data-c-tag="c1" data-c-font-size="small">Also selected in Work Environment and 1 other task (Task 1).</div>
                    </div>
                    <div data-c-align="centre" data-c-grid-item="base(1of1) tp(1of6) ds(1of8)">
                        <button type="button">
                            <i data-c-colour="c1" class="fas fa-edit"></i>
                        </button>
                    </div>
                    <div data-c-align="centre" data-c-grid-item="base(1of1) tp(1of6) ds(1of8)">
                        <button type="button" class="delete">
                            <i data-c-colour="stop" class="fas fa-trash"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
