// =============================================================================

    // Manager: Create Job Form

// =============================================================================
.manager-jobs__create {
    background: $palette--white;

    .container--layout {
        border-bottom: 1px solid darken($palette--white, 30%);
        margin-bottom: 5rem;
    }

    .manager-jobs__create-submission-wrapper {
        padding-bottom: 5rem;

        .box:last-child {

            @media #{$p-tablet} {
                text-align: right;
            }

        }

    }

}

.manager-jobs__create-form {

    .manager-jobs__create-form-section {
        padding: 5rem 0 0 0;

        &:last-child {
            padding-bottom: 5rem;
        }

    }

    h2 {
        border-bottom: 1px solid $palette--font-black;
        color: $palette--black;
        font-family: $font--sans;
        font-size: $font-scale--h3;
        font-weight: 400;
        margin: 0 0 calc(#{$unit} * 2) 0;
        padding: 0 0 2rem 0;
    }

    h3 {
        color: $palette--black;
        font-family: $font--sans;
        font-size: $font-scale--h4;
        font-weight: 600;
        margin: 0 0 calc(#{$unit} * 2) 0;
    }

    fieldset {

        .flex-grid {
            margin: 0 -1rem;

            >.box {

                >.flex-grid {

                    >.box {
                        padding: 0 1rem;
                    }

                }

            }

        }

    }

    .manager-jobs__create-action-wrapper {
        display: block;
        margin: 3rem 0 0 0;
        text-align: center;
    }

    .manager-jobs__skill-wrapper {
        margin-bottom: 4rem;

        &:last-child {
            margin-bottom: 0;
        }

    }

    .manager-jobs__add-skill-button {
        @extend %gradient--vertical;
        background-color: $palette--black;
        border: none;
        border-radius: 5px;
        box-shadow: none;
        cursor: pointer;
        display: inline-block;
        font-family: $font--sans;
        font-size: $font-scale--regular;
        font-weight: 400;
        outline: none;
        padding: $unit calc(#{$unit} * 2);
        text-decoration: none;
        color: $palette--font-white;
        transition: none;

        &:focus,
        &:hover {
            border: 2px solid $palette--white;
            outline: none;
            padding: calc(#{$unit} - 2px) calc((#{$unit} * 2) - 2px);
            transition: none;

            &.light-bg {
                border: 2px solid $palette--black;
            }

        }

    }

}

.manager-jobs__create-task,
.manager-jobs__create-question,
.manager-jobs__create-skill {
    margin: 0 0 2rem;

    fieldset {

        legend {

            button {
                cursor: pointer;
            }

            .flex-grid {
                margin: 0;

                .box {

                    button {
                        background: none;
                        border: none;
                        color: $palette--red;
                        font-size: $font-scale--regular;
                    }

                    &:last-child {
                        text-align: right;
                    }

                }

            }

        }

    }

}
