{# =============================================================================

    Talent Cloud
    Application Template

============================================================================= #}

<!DOCTYPE html>

<html
    lang="{{ appLocale }}">

    {# Note that the </head> and <body> tags are located inside the common/head file due to Google Tag Manager being required on all pages. #}

    <head>

        {% include "common/head" %}

        <title>{% block title %}{% endblock %}</title>

    {# /head #}

    {# body #}

        {% block body %}{% endblock %}

        {# Footer #}

            {% include "common/footer" %}

        {# Scripts #}

            {% include "common/scripts" %}

        {% block scripts %}{% endblock %}

    </body>

</html>
