/* =============================================================================

    Talent Cloud
    Authentication

============================================================================= */

// Clone Rebuild
.tc-auth {
    min-height: 100vh;
    .tc-auth-wrapper {
        position: relative;
        .tc-auth-header {
            position: relative;
            h1 {
                position: relative;
                z-index: 2;
            }
        }
        .tc-auth-remember-me {
            padding-bottom: 0 !important;
            >div {
                border: none !important;
                margin: 0 !important;
                padding: 0 !important;
            }
        }
    }
}