{# =============================================================================

    Talent Cloud
    Manager - Profile Layout

============================================================================= #}
<div class="manager-profile__section-wrapper">

    <div class="container--layout">

        <div class="flex-grid">

            {# Include Sidebar #}
                {% include "manager/profile/sidebar" %}

            {# Poster Content #}

                <div class="manager-profile__content-wrapper box lg-3of4">

                    <form class="form__wrapper"
                        action="{{ route('manager.profile.update', manager.id) }}"
                        method="post">

                        {# Builds an input field for CSRF token validation #}
                        {{ csrf_field() }}

                    {# Include About Me #}

                        {% include "manager/profile/about" %}

                    {# Include My Leadership Style #}

                        {% include "manager/profile/leadership" %}

                    {# Include Our Work Environment #}

                        {% include "manager/profile/environment" %}

                    {# Include Our Team Culture #}

                        {% include "manager/profile/culture" %}

                    </form>

                </div>



        </div>

    </div>

</div>
