{# =============================================================================

    Talent Cloud
    Manager: Profile Sidebar

============================================================================= #}
<div
    class="sidebar-wrapper box lg-1of4">

    <nav
        class="sidebar">

        <h4
            class="sidebar-label">
            Profile Sections
        </h4>

        <a
            class="sidebar-link"
            href="#about"
            title="{{ job_post.basics.sidebar_title }}">
            About Me
        </a>

        <a
            class="sidebar-link"
            href="#leadership"
            title="{{ job_post.basics.sidebar_title }}">
            My Leadership Style
        </a>

        <a
            class="sidebar-link"
            href="#environment"
            title="{{ job_post.basics.sidebar_title }}">
            Our Work Environment
        </a>

        <a
            class="sidebar-link"
            href="#culture"
            title="{{ job_post.basics.sidebar_title }}">
            Our Team Culture
        </a>

        <button
            class="sidebar-button"
            title="Save all sections."
            type="submit"
            name="submit"
            value="all">
            Save All Sections
        </button>

    </nav>

</div>
