/* =============================================================================

    Authored by: Talent Cloud

    Accordions

============================================================================= */

.accordion__wrapper {
    position: relative;
    width: 100%;
}

.accordion__trigger {
    cursor: pointer;
    padding-right: 4rem;
    position: relative;
    width: 100%;

    @media #{$p-tablet} {
        padding-right: 6rem;
    }

    &.active {

        .fa-chevron-down {
            transform: translate(0, -50%) rotate(180deg);
            transition: transform .2s ease;
        }

    }

    .fa-chevron-down {
        font-size: 1.5rem;
        pointer-events: none;
        position: absolute;
        top: 50%;
        right: 1.5rem;
        transform: translate(0, -50%);
        transition: transform .2s ease;

        @media #{$p-tablet} {
            font-size: 2rem;
            right: 2rem;
        }

    }

}

.accordion__content {
    display: none;
    position: relative;
    width: 100%;

    &.active {
        display: block;
    }

}