/* =============================================================================

    Authored by: Talent Cloud

    Applicant Landing: How It Works

============================================================================= */

.applicant-landing__how-it-works {
	padding: 4rem 0;

	.content-container {
		text-align: center;
	}

	.block-container {

	}

}

.applicant-landing__how-it-works-title {
	font-size: 35px;
    margin: 0 0 6rem;
    position: relative;
    text-align: center;

    &:after {
        background: $palette-yellow--dark;
        content: " ";
        display: block;
        height: .5rem;
        position: absolute;
        left: 50%;
        bottom: -2rem;
        transform: translate(-50%, 0);
        width: 15rem;
    }

}

.applicant-landing__how-it-works-copy {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	margin: 0;
}

.applicant-landing__how-it-works-icon-section-wrapper {
	padding: 4rem 0 6rem;
	text-align: left;
}

.applicant-landing__how-it-works-icon-section-item {
	margin: 5rem 0;
	position: relative;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}

}

.applicant-landing__how-it-works-icon-wrapper {
	border: .5rem solid $palette-yellow--light;
	border-radius: 100%;
	display: inline-block;
	height: 10rem;
	margin: 0;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	width: 10rem;
	vertical-align: middle;

	@media #{$p-tablet} {
		top: 50%;
		left: 0;
		transform: translate(0, -50%);
	}

	i {
		font-size: 4rem;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

}

.applicant-landing__how-it-works-copy-wrapper {
	padding: 15rem 0 0 0;
	text-align: center;

	@media #{$p-tablet} {
		padding: 0 0 0 15rem;
		text-align: left;
	}
	
	h3 {
		font-size: 22px;
		font-weight: 700;
		line-height: 1.2;
		margin: .5rem 0 1rem 0;
	}

	p {
		font-size: 16px;
		font-weight: 400;
		line-height: 1.5;
		margin: 0;
	}

}

.applicant-landing__how-it-works-base-copy {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	margin: 0 0 2rem 0;
}

.applicant-landing__how-it-works-contact {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	margin: 0;
}