/* =============================================================================

    Authored by: Talent Cloud

    Applicant Landing: Intro

============================================================================= */

.applicant-landing__intro {
	background: lighten($palette-grey--light, 10%);
	padding: 4rem 0;
	text-align: center;
}

.applicant-landing__intro-alert-wrapper {
	background: $white;
	border: .5rem solid lighten($palette-grey--light, 10%);
	box-shadow: 0 3px 5px rgba(0, 0, 0, .35);
	margin: 0 auto;
	max-width: 70rem;
	padding: 3rem;
}

.applicant-landing__intro-alert-icon-wrapper {
	border: .5rem solid $palette-yellow--light;
	border-radius: 100%;
	display: inline-block;
	height: 10rem;
	margin: 0 0 2rem;
	position: relative;
	width: 10rem;

	i {
		font-size: 5rem;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

}

.applicant-landing__intro-alert-copy {
	font-size: 22px;
	font-weight: 700;
	line-height: 1.2;
	margin: 0;
}

.applicant-landing__intro-tagline {
	font-size: 16px;
	font-weight: 700;
	line-height: 1.5;
	margin: 4rem 0 2rem 0;
}

.applicant-landing__intro-copy {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	margin: 4rem 0 2rem 0;
}