/* =============================================================================

    Authored by: Talent Cloud

    FAQ Template: Subnav

============================================================================= */

.faq__subnav-wrapper {

	@media #{$l-tablet} {
		position: sticky;
	}

}

.faq_subnav-label {
	color: $palette-blue;
	display: block;
	font-size: 22px;
	font-weight: 700;
	margin: 4rem 0 2rem 0;

	&:first-child {
		margin-top: 0;
	}

}

.faq__subnav-item {
	color: $black !important;
	display: block;
	font-size: 16px;
	margin: 0 0 1rem 0;
	text-decoration: underline;
	transition: color .2s ease;

	&:hover {
		color: $palette-blue !important;
		text-decoration: underline;
		transition: color .2s ease;
	}

}

.faq__content-wrapper {
	
	@media #{$l-tablet} {
		padding: 0 0 0 3rem;	
	}

}