/* =============================================================================

    Authored by: Talent Cloud

    FAQ Template: Accordion

============================================================================= */

.faq__accordion-wrapper {
	margin: 0 0 4rem 0;

	&:last-child {
		margin-bottom: 0;
	}

}

.faq__accordion {
	box-shadow: 0 3px 5px rgba(0, 0, 0, .35);
	margin: 2rem 0;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}

}

.faq__accordion-trigger {
	background: $palette-blue;
	cursor: pointer;
	padding: 2rem;

	i {
		color: $white;
		display: inline-block;
		font-size: 22px;
		margin: 0 1rem 0 0;
		transition: all .2s ease;
		vertial-align: middle;
	}

	span {
		color: $white;
		font-size: 22px;
	}

	&.active {

		i {
			transform: rotate(180deg);
			transition: all .2s ease;
		}

	}

}

.faq__accordion-content {
	background: $white;
	display: none;
	padding: 2rem;

	&.active {
		display: block;
	}

	 p {
	 	font-size: 16px;
	 	line-height: 1.5;
	 	margin: 2rem 0;

	 	&:first-child {
	 		margin-top: 0;
	 	}

	 	&:last-child {
	 		margin-bottom: 0;
	 	}

	 }

}