/* =============================================================================

    Authored by: Talent Cloud

    FAQ Template: Introduction

============================================================================= */

.faq__introduction-wrapper {
	margin: 0 0 4rem 0;

	&:last-child {
		margin-bottom: 0;
	}

	p {
		font-size: 16px;
		line-height: 1.5;
	}

}