/* =============================================================================
    Authored by: Talent Cloud
    Form Styles
============================================================================= */

/* FORMS */

.form__wrapper {
    display: block;
    position: relative;
    width: 100%;

    >.flex-grid {
        margin: 0 -1rem;

        >.box {
            padding: 0 1rem 2rem 1rem;

            &:last-child {
                padding-bottom: 0;
            }

            &[class*="small-"] {
                padding: 0 1rem 1rem 1rem;
            }

            &[class*="med-"] {

                @media #{$p-tablet} {
                    padding: 0 1rem;
                }

            }

            &[class*="lg-"] {

                @media #{$l-tablet} {
                    padding: 0 1rem;
                }

            }

            >[class*="form__input-wrapper"] {
                margin: 0;
            }

        }

    }

    fieldset {
        margin: 0;
        padding: 0 0 3rem 0;
        border: 0;

        legend {
            color: $palette-blue--semidark;
            float: none;
            font-size: 18px;
            font-weight: 900;
            margin: 0;
        }

    }

    &.required {

        .form__required {

        }

    }

    [class*="form__input-wrapper"] {

        &:last-child {
            margin-bottom: 0;
        }

    }

}

    [class*="form__input-wrapper"] {
        display: block;
        position: relative;
        width: 100%;

        &[class*="float"] {
            margin: 2rem 0;

            .form__label {
                color: rgba(100, 100, 100, 1);
                font-size: 16px;
                line-height: 1;
                margin: 0;
                padding: .5rem;
                pointer-events: none;
                position: absolute;
                top: 2rem;
                left: 1.6rem;
                transition: background 0s ease .1s, font-size .2s ease, top .2s ease;
            }

            .form__input {

                &[type="text"],
                &[type="password"],
                &[type="email"],
                &[type="number"],
                &[type="url"] {
                    appearance: none;
                    border: 1px solid rgba(50, 50, 50, 1);
                    border-radius: 3px;
                    font-size: 16px;
                    line-height: 1;
                    outline: none;
                    padding: 2rem;
                    transition: border-color .2s ease;
                    width: 99%;

                    &:focus {
                        border: 1px solid $palette-blue !important;
                        transition: border-color .2s ease;
                    }

                }

            }

            .form__textarea {
                appearance: none;
                border: 1px solid rgba(50, 50, 50, 1);
                border-radius: 3px;
                font-size: 16px;
                line-height: 23px;
                max-width: 99%;
                min-height: 10rem;
                min-width: 99%;
                outline: none;
                padding: 2rem;
                transition: border-color .2s ease;
                width: 99%;

                &:focus {
                    border: 1px solid $palette-blue;
                    transition: border-color .2s ease;
                }

                &:invalid {
                    //border: 1px solid red;
                    transition: border-color .2s ease;
                }

            }

            &.active {

                .form__label {
                    background: white;
                    font-size: 12px;
                    top: -1rem;
                    transition: background 0s ease .1s, font-size .2s ease, top .2s ease;
                }

            }

            &.valid {

                &:before {
                     color: rgba(67, 197, 69, 1);
                     content: "\f00c";
                     display: block;
                     font: normal normal normal 14px/1 FontAwesome;
                     font-size: 16px;
                     position: absolute;
                     top: 50%;
                     right: 2rem;
                     text-rendering: auto;
                     transform: translate(0, -50%);
                     -webkit-font-smoothing: antialiased;
                }

                .form__input {

                    &[type="text"],
                    &[type="password"],
                    &[type="email"],
                    &[type="number"],
                    &[type="url"] {
                        border: 1px solid rgba(67, 197, 69, 1);
                        transition: border-color .2s ease;
                    }

                }

                .form__textarea {
                    border: 1px solid rgba(67, 197, 69, 1);
                    transition: border-color .2s ease;
                }

            }

            &.invalid {

                &:before {
                    color: red;
                    content: "\f06a";
                    display: block;
                    font: normal normal normal 14px/1 FontAwesome;
                    font-size: 16px;
                    position: absolute;
                    top: 50%;
                    right: 2rem;
                    text-rendering: auto;
                    transform: translate(0, -50%);
                    -webkit-font-smoothing: antialiased;
                }

                .form__input {

                    &[type="text"],
                    &[type="password"],
                    &[type="email"],
                    &[type="number"],
                    &[type="url"] {
                        border: 1px solid red;
                        transition: border-color .2s ease;
                    }

                }

                .form__textarea {
                    border: 1px solid red;
                    transition: border-color .2s ease;
                }

            }

        }

        &[class*="range"] {
            margin: 2rem 0 3rem;

            .form__label {
                color: rgba(50, 50, 50, 1);
                font-size: 16px;
                margin: 0 0 1rem 1rem;
            }

            .form__range-wrapper {
                padding: 0 1rem;
                position: relative;

                &.valid {

                    .form__range-label--end,
                    .form__range-label--start {
                        display: none;
                    }

                    &:before {
                        color: rgba(67, 197, 69, 1);
                        content: "\f00c";
                        display: block;
                        font: normal normal normal 14px/1 FontAwesome;
                        font-size: 16px;
                        position: absolute;
                        top: 50%;
                        right: 2rem;
                        text-rendering: auto;
                        transform: translate(0, -50%);
                        -webkit-font-smoothing: antialiased;
                    }

                }

                &.invalid {

                    &:before {
                        color: red;
                        content: "\f06a";
                        display: block;
                        font: normal normal normal 14px/1 FontAwesome;
                        font-size: 16px;
                        position: absolute;
                        top: 50%;
                        right: 2rem;
                        text-rendering: auto;
                        transform: translate(0, -50%);
                        -webkit-font-smoothing: antialiased;
                    }

                }

            }

            [class*="form__range-label--"] {
                position: absolute;
                top: 50%;
                transform: translate(0, -50%);
                font-size: 12px;

                &[class*="start"] {
                    left: 2rem;
                }

                &[class*="end"] {
                    right: 1rem;
                }

            }

            input[type="range"] {
                margin: 0 auto;
                width: 90%;
            }

        }

        &[class*="date"] {
            margin: 3rem 0;

            .form__label {
                background: white;
                color: rgba(100, 100, 100, 1);
                font-size: 12px;
                line-height: 1;
                margin: 0;
                padding: .5rem;
                pointer-events: none;
                position: absolute;
                top: -1rem;
                left: 1.6rem;
                transition: background 0s ease .1s, font-size .2s ease, top .2s ease;
            }

            .form__input {
                appearance: none;
                border: 1px solid rgba(50, 50, 50, 1);
                border-radius: 3px;
                font-size: 16px;
                line-height: 1;
                outline: none;
                padding: 2rem;
                transition: border-color .2s ease;
                width: 99%;

                &:focus {
                    border: 1px solid $palette-blue !important;
                    transition: border-color .2s ease;
                }

            }

            &.valid {

                &:before {
                    color: rgba(67, 197, 69, 1);
                    content: "\f00c";
                    display: block;
                    font: normal normal normal 14px/1 FontAwesome;
                    font-size: 16px;
                    position: absolute;
                    top: 50%;
                    right: 2rem;
                    text-rendering: auto;
                    transform: translate(0, -50%);
                    -webkit-font-smoothing: antialiased;
                }

                .form__input {
                    border: 1px solid rgba(67, 197, 69, 1);
                    transition: border-color .2s ease;
                }

            }

            &.invalid {

                &:before {
                    color: red;
                    content: "\f06a";
                    display: block;
                    font: normal normal normal 14px/1 FontAwesome;
                    font-size: 16px;
                    position: absolute;
                    top: 50%;
                    right: 2rem;
                    text-rendering: auto;
                    transform: translate(0, -50%);
                    -webkit-font-smoothing: antialiased;
                }

                .form__input {
                    border: 1px solid red;
                    transition: border-color .2s ease;
                }

            }

        }

        &[class*="select"] {
            margin: 3rem 0;

            .form__label {
                background: white;
                color: rgba(100, 100, 100, 1);
                font-size: 12px;
                line-height: 1;
                margin: 0;
                padding: .5rem;
                pointer-events: none;
                position: absolute;
                top: -1rem;
                left: 1.6rem;
                transition: background 0s ease .1s, font-size .2s ease, top .2s ease;
            }

            .form__select-wrapper {

                &:before {
                    color: rgba(50, 50, 50, 1);
                    content: "\f078";
                    display: block;
                    font: normal normal normal 14px/1 FontAwesome;
                    font-size: 16px;
                    pointer-events: none;
                    position: absolute;
                    top: 50%;
                    right: 2rem;
                    text-rendering: auto;
                    transform: translate(0, -50%);
                    -webkit-font-smoothing: antialiased;
                }

            }

            .form__input {
                appearance: none;
                -webkit-appearance: none;
                border: 1px solid rgba(50, 50, 50, 1);
                border-radius: 3px;
                cursor: pointer;
                font-size: 16px;
                line-height: 1.2;
                outline: none;
                padding: 2rem;
                transition: border-color .2s ease;
                width: 99%;
                background: $white;

                &:focus {
                    border: 1px solid $palette-blue !important;
                    transition: border-color .2s ease;
                }

            }

        }

        .form__radio-wrapper {
            font-size: 16px;
            margin-top: 1rem;
            vertical-align: middle;

            input {
                margin: 0 1rem 0 0;
                vertical-align: middle;
            }

        }

        .form__required {
            color: red;
            display: inline-block;
            font-size: 8px;
            margin: 0 0 0 .5rem;
            pointer-events: none;
            vertical-align: middle;
        }

    }

    .form__radio-group {
        margin: 4rem 0;
        position: relative;

        &:first-of-type {
            margin-top: 2rem;

            @media #{$p-tablet} {
                margin-top: 0;
            }

        }

        &:last-of-type {
            margin-bottom: 0;
        }

        .form__label {
            background: white;
            color: rgba(100, 100, 100, 1);
            font-size: 12px;
            line-height: 1;
            margin: 0 0 0 1.6rem;
            padding: .5rem;
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(0, -100%);
        }

    }

    .form__radio-group-label {
        cursor: pointer;
        margin: 0;
        position: relative;

        &:first-of-type {

            .form__radio-group-span {
                border-left: 1px solid $palette-grey--dark;
                border-radius: 3px 0 0 3px;
            }

        }

        &:last-of-type {

            .form__radio-group-span {
                border-radius: 0 3px 3px 0;
            }

        }

    }

    .form__radio-group-input {
        position: absolute;
        left: -1000vh;

        &:focus + .form__radio-group-span {
            border-color: $palette-blue;
        }

        &:checked + .form__radio-group-span{
            background: $palette-green;
            // border-color: $palette-grey--dark;
            color: $white;
            //font-weight: 700;
        }

    }

    .form__radio-group-span {
        background: $white;
        border-top: 1px solid $palette-grey--dark;
        border-right: 1px solid $palette-grey--dark;
        border-bottom: 1px solid $palette-grey--dark;
        border-left: none;
        color: $black;
        display: block;
        font-size: 12px;
        font-weight: 400;
        height: 100%;
        margin: 0;
        padding: 1rem;
        text-align: center;
        word-wrap: break-word;

        @media #{$p-tablet} {
            word-wrap: normal;
        }

    }

    .form__required-copy-wrapper {
        font-size: 16px;
        margin-bottom: 3rem;
    }

    .form__label--radio {
        padding-top: 2rem;
    }
