/* =============================================================================
    Authored by: Talent Cloud
    Form Styles
============================================================================= */

/* LEGACY CODE ============================================================== */

#loginForm,#registerForm{
    // margin-left: 0px !important;
    // margin-right: 0px !important;
}

#loginErrors{
    white-space: pre-wrap;
}

/* FORMS */

.form-group{
    color:#555;
}
.form-control{
    color:#555;
    background-color:#EAEAEA;
    background-image:none;
    border:none;
    border-radius:0;
}
.form-control:focus{
    border: 1px solid #999;
    outline:0;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(153,153,153,.6);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(153, 153, 153,.6)
}
.form-textbox{
    width:95%;
}
form label{
    font-size: 16px;
    line-height:20px;
}
input[type=text],input[type=password],select{
    padding:0.5em;
}
input[type=button],input[type=submit],input[type=reset]{
    padding:0.25em;
    height: 30px;
}

/* ============================================================================= */

.form__wrapper {

    >*:last-child,
    >.box:last-child >*:last-child {
        margin-bottom: 0;
    }

}

.form__label {
    display: block;
    font-size: 1.2rem;
    //font-weight: 700;
    line-height: 1;
    margin: 1rem 0;
}

input[type=text][class*="form__input--"],
input[type=email][class*="form__input--"],
input[type=password][class*="form__input--"],
input[type=date][class*="form__input--"],
input[type=url][class*="form__input--"] {
    background: lighten($palette-grey--light, 10%);
    border: none;
    color: $black !important;
    display: block;
    font-family: $font-hk;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    margin: 0 0 2rem 0;
    padding: 1rem 2rem 1rem 1rem;
    width: 100%;

    &[class*="text"] {

    }

}

.form__select-wrapper {
    display: block;
    margin: 0 0 2rem 0;
    position: relative;
    width: 100%;

    &:before {
        @include fontawesome();
        content: "\f078";
        display: block;
        position: absolute;
        top: 50%;
        right: 1.5rem;
        transform: translate(0, -50%);
    }

}

.form__select {
    appearance: none;
    background: lighten($palette-grey--light, 10%);
    border: none;
    color: $black;
    display: block;
    font-size: 1.5rem;
    line-height: 1.2;
    padding: 1rem 2rem 1rem 1rem;
    width: 100%;

    &:focus {
        border: 1px solid $palette-blue;
    }

}

.form__textarea {
    background: lighten($palette-grey--light, 10%);
    border: none;
    color: $black;
    display: block;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 0 2rem 0;
    min-height: 15rem;
    padding: 1rem;
    width: 100%;

    &:focus {
        border: 1px solid $palette-blue;
    }

}

.form__upload-label {
    position: relative;

    &:focus {
        color: white;
        background: $palette-grey--dark;
        border: 2px solid $palette-yellow--dark;
    }

}

.form__upload-button {
    position: absolute;
    left: -1000vh;
}

.form__radio-group {
    position: relative;
}

.form__radio-group-label {
    cursor: pointer;
    position: relative;

    &:first-of-type {

        .form__radio-group-span {
            border-left: 1px solid $palette-grey--dark;
        }

    }

}

.form__radio-group-input {
    position: absolute;
    left: -1000vh;

    &:focus + .form__radio-group-span {
        border-color: $palette-blue--light;
    }

    &:checked + .form__radio-group-span{
        background: $palette-blue--semidark;
        // border-color: $palette-grey--dark;
        color: $white;
        //font-weight: 700;
    }

}

.form__radio-group-span {
    background: $white;
    border-top: 1px solid $palette-grey--dark;
    border-right: 1px solid $palette-grey--dark;
    border-bottom: 1px solid $palette-grey--dark;
    border-left: none;
    color: $black;
    display: block;
    font-size: 12px;
    font-weight: 400;
    padding: 1rem;
    text-align: center;
}
