/* =============================================================================

    Authored by: Talent Cloud

    Job Poster: Content

============================================================================= */

.job-poster__content-title {
	border-bottom: 1px solid $black;
	color: $black;
	font-size: 35px;
	font-weight: 700;
	margin: 0 0 4rem 0;
	padding: 0 0 2rem 0;
}


.job-poster__content-subtitle {
	color: $palette-blue;
	font-size: 25px;
	font-weight: 700;
	margin: 0 0 2rem 0;

	&:not(:first-child) {
		margin-top: 4rem;
	}

}

.job-poster__content-label {
	color: $black;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.2;
	margin: 0;
}

.job-poster__content-copy {
	color: $black;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	margin: 0 0 2rem 0;

	&:last-child {
		margin-bottom: 0;
	}

	&.truncate {
		margin-top: 2rem;
	}

	a {
		color: $black;
		text-decoration: underline;

		&:hover {

			color: $palette-blue;
			text-decoration: underline;
			transition: color .2s ease;
		}

	}

}

.job-poster__content-list {
	margin: 0;
	padding: 0 0 0 2rem;

	li {
		font-size: 16px !important;
		line-height: 1.5 !important;

		&:last-child p {
			margin-bottom: 0 !important;
		}

		p {
			font-size: 16px;
			font-weight: 400;
			line-height: 1.5;
			margin: 0 !important;
		}

	}

}

/* Basic Information */
.job-poster__basics {
	background: rgba(0, 0, 0, .8);
	border-radius: 3px;
	margin: 0 0 4rem 0;
	padding: 3rem;
}

.job-poster__basics-title {
	color: $white;
	font-size: 30px;
	font-weight: 700;
	margin: 0 0 2rem 0;
}

.job-poster__basics-label {
	color: $palette-blue;
	display: block;
	font-size: 22px;
	font-weight: 700;
	margin: 0 0 1rem 0;
}

.job-poster__basics-content {
	color: $white;
	display: block;
	font-size: 16px;
	font-weight: 400;
	margin: 0 0 2rem 0;

	&:last-child {
		margin-bottom: 0;
	}

}

/* Impact */
.job-poster__impact {
	margin: 0 0 4rem 0;
}

/* Your Work */
.job-poster__work {
	margin: 0 0 4rem 0;
}

/* Criteria */
.job-poster__criteria {
	margin: 0 0 4rem 0;
}

/* Culture */
.job-poster__culture {
	margin: 0 0 4rem 0;

	.flex-grid {
		margin: 0 -1rem;

		.box {
			padding: 0 1rem;

			&:not(:first-child) .job-poster__content-subtitle {
				margin-top: 3rem;
			}

			p:last-child {
				margin-bottom: 2rem;
			}

		}

	}

}

.job-poster__culture-manager-profile-photo-wrapper {
	text-align: center;
}

.job-poster__culture-manager-profile-photo {
	background-color: $white;
	background-position: center;
	background-size: cover;
	border: .5rem solid $palette-blue;
	border-radius: 100%;
	display: inline-block;
	height: 12rem;
	width: 12rem;
}

.job-poster__culture-manager-name {
	color: $black;
	display: block;
	font-size: 25px;
	font-weight: 700;
	margin: 0 0 1rem 0;
}

.job-poster__culture-manager-meta {
	color: $black;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	margin: 0 0 1rem 0;
}

.job-poster__culture-manager-profile-link {
	appearance: none;
	background: none;
	border: none;
	color: $black;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	margin: 0;
	text-decoration: underline;
	transition: color .2s ease;

	&:hover {
		color: $palette-blue;
		text-decoration: underline;
		transition: color .2s ease;
	}

}

/* Need to Know */
.job-poster__know {
	margin: 0 0 4rem 0;
}

/* Apply to this Job */
.job-poster__apply {
	
}

.job-poster__apply-accommodation-wrapper {
	background: rgba(0, 0, 0, .8);
	border-radius: 3px 3px 0 0;
	padding: 3rem;

	i {
		color: $white;
		font-size: 5rem;
		text-align: center;
		width: 100%;
	}

}

.job-poster__apply-title {
	color: $white;
	font-size: 30px;
	font-weight: 700;
	margin: 0 0 2rem 0;
}

.job-poster__apply-content {
	color: $white;
	display: block;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	margin: 2rem 0;
}

.job-poster__button-wrapper {
        .job-poster__apply-button {
            display: none;
        }
        .job-poster__login-button {
            display: block;
        }
    
        &.logged-in {
            .job-poster__apply-button {
                display: block;
            }
            .job-poster__login-button {
                display: none;
            }
        }
}

.job-poster__apply-button {
	background: $palette-blue;
	border: .5rem solid $palette-blue;
	border-radius: 0 0 3px 3px;
	color: $white;
	font-size: 25px;
	font-weight: 700;
	margin: 0 !important;
	padding: 2rem 3rem;
	text-align: center;
	transition: all .2s ease;
	width: 100%;

	&:hover {
		background: $palette-blue--dark;
		border-color: $palette-blue--dark;
		transition: all .2s ease;
	}

	&:focus {
		background: $palette-grey--dark;
		border: .5rem solid $palette-yellow--light;
		transition: all .2s ease;
	}

}

.job-poster__login-button {
	background: $palette-blue;
	border: .5rem solid $palette-blue;
	border-radius: 0 0 3px 3px;
	color: $white;
	font-size: 25px;
	font-weight: 700;
	margin: 0 !important;
	padding: 2rem 3rem;
	text-align: center;
	transition: all .2s ease;
	width: 100%;

	&:hover {
		background: $palette-blue--dark;
		border-color: $palette-blue--dark;
		color: $white;
		transition: all .2s ease;
	}

	&:focus {
		background: $palette-grey--dark;
		border: .5rem solid $palette-yellow--light;
		color: $white;
		transition: all .2s ease;
	}

}