/* =============================================================================

    Authored by: Talent Cloud

    Job Poster: Heading

============================================================================= */

.job-poster__heading {
	background-color: rgba(0, 0, 0, .8);
	background-image: url(/images/backgrounds/bg_lightning_dark.png);
	background-position: center;
	background-repeat: repeat;
	background-size: 75px;
	box-shadow: 0 0 25px rgba(0, 0, 0, 1);
	padding: 6rem 0;
	text-align: center;

	@media #{$l-tablet} {
		text-align: left;
	}

}

.job-poster__heading-meta {
	color: $palette-blue;
	display: block;
	font-size: 16px;
	line-height: 1.5;
	margin: 0 0 1.5rem 0;

	span {
		color: $white;
	}

}

.job-poster__job-title {
	font-size: 50px !important;
	font-weight: 900;
	line-height: 1.2;
	margin: 0 0 1rem 0;
}

.job-poster__department {
	margin: 0;

	#jobPosterDepartment {
		color: $palette-blue;
		display: inline-block;
		font-size: 25px;
		font-weight: 400;
		margin: 0 0 1rem 0;
	}

	i {
		color: $palette-blue;
		font-size: 2rem;
		margin: 0 1rem 0 0;
		vertical-align: middle;
	}

	span {
		color: $white;
		font-size: 18px;
		font-weight: 400;
		line-height: 1.2;
		margin: 0;
		vertical-align: middle;
	}

}

.job-poster__reference-id-wrapper {

	@media #{$l-tablet} {
		text-align: right;
	}

}

.job-poster__reference-id {
	color: $white;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.2;
	margin: 0 !important;
}