/* =============================================================================

    Authored by: Talent Cloud

    Job Poster - Workplace

============================================================================= */

.job-poster__work-environment-photo-grid {
    margin: 2rem -2rem;
}

.job-poster__work-environment-photo-grid-item {
    padding: 2rem;
}

.job-poster__work-environment-photo {
    /* hiding work environment photos when not present
    background-color: $palette-grey--light; */
    background-position: center;
    background-size: cover;
    height: 45vh;
}
