/* =============================================================================

    Authored by: Talent Cloud

    Job Poster: Subnav

============================================================================= */

.job-poster__subnav-wrapper {
	display: none;

	@media #{$l-tablet} {
		display: block;
	}

}

.job-poster__subnav-sticky-wrapper {

	@media #{$l-tablet} {
		position: sticky;
		top: 4rem;
	}

}

.job-poster__subnav-job-title {
	color: $black ;
	display: block;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.2;
	margin: 0;
}

.job-poster__subnav-department {
	color: $black;
	display: block;
	font-size: 16px;
	margin: 0;
}

.job-poster_subnav-label {
	color: $palette-blue;
	display: block;
	font-size: 22px;
	font-weight: 700;
	margin: 4rem 0 2rem 0;

	&:first-child {
		margin-top: 0;
	}

}

.job-poster__subnav-item {
	color: $black !important;
	display: block;
	font-size: 16px;
	margin: 0 0 1rem 0;
	text-decoration: underline;
	transition: color .2s ease;

	&:hover {
		color: $palette-blue !important;
		text-decoration: underline;
		transition: color .2s ease;
	}

}

.job-poster__content-wrapper {
	
	@media #{$l-tablet} {
		padding: 0 0 0 3rem;	
	}

}