/* =============================================================================

    Authored by: Talent Cloud

    Browse Jobs: Job Card

============================================================================= */

.job-card {
	cursor: pointer;
	display: block;
	margin: 0;
	padding: 1rem;

	&:focus {

		.job-card__wrapper {
			box-shadow: 0 2px 15px rgba(0, 0, 0, .5);
			transform: translate(0, 0) scale(1.025);
			transition: all .2s ease;

			.job-card__view-button {
				background: $palette-blue--dark;
				transition: all .2s ease;
			}

		}

	}

}

.job-card__wrapper {
	background: $white;
	border-radius: 3px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, .5);
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: hidden;
	transform: translate(0, 0) scale(1);
	transition: all .2s ease;

	&:hover {
		box-shadow: 0 2px 15px rgba(0, 0, 0, .5);
		transform: translate(0, 0) scale(1.025);
		transition: all .2s ease;

		.job-card__view-button {
			background: $palette-blue--dark;
			transition: all .2s ease;
		}

	}

}

.job-card__title-wrapper {
	background: rgba(0, 0, 0, .8);
	padding: 2rem;
}

.job-card__title {
	color: $white;
	display: block;
	font-size: 25px;
	font-weight: 700;
	margin: 0 0 1rem 0;
	width: 100%;
}

.job-card__department {
	color: $palette-blue;
	display: block;
	font-size: 16px;
	font-weight: 400;
	margin: 0;
}

.job-card__content-wrapper {
	flex-grow: 1;
	padding: 2rem;

	span {
		color: $black;
		display: block;
		font-size: 16px;
		font-weight: 700;
		line-height: 1.2;
		margin: 0;
	}

	p {
		color: $black;
		font-size: 16px;
		line-height: 1.5;
		margin: 0 0 1rem 0;

		span {
			display: inline-block;
			font-weight: 400;
			line-height: 1.5;
		}

	}

}

.job-card__footer-wrapper {
	border-top: 1px solid $palette-grey--light;
	margin: -1rem 0 0 0;
	padding: 2rem;

	.box {
		color: $black;
		font-size: 16px;
		line-height: 1;
		padding: 0;
		text-align: left;

		@media #{$l-tablet} {
			// border-right: 1px solid $palette-grey--light;
		}

	}

}

.job-card__view-button {
	appearance: none;
	// background: none;
	background: $palette-blue;
	border: none;
	// border-top: 1px solid $palette-grey--light;
	color: $white;
	font-size: 16px;
	font-weight: 700;
	line-height: 1;
	padding: 2rem;
	text-decoration: none;
	transition: all .2s ease;
	width: 100%;

	@media #{$l-tablet} {
		// border: none;
		// border-left: 1px solid $palette-grey--light;
	}

}