/* =============================================================================

    Authored by: Talent Cloud

    Manager: Create Job Poster - Open Ended Questions

============================================================================= */

.job-poster__open-questions {
	text-align: center;
}

.job-poster__open-questions-wrapper {

}

.job-poster__open-question-section-label {
	font-size: 22px;
	font-weight: 800;
	margin: 2rem 0 0 0;
	text-align: left;
}

.job-poster__open-question {
	margin: 0 -1rem;
	text-align: left;
	width: 100%;

	.box {
		padding: 0 1rem;

		&:nth-child(2) {

			@media #{$l-tablet} {
				text-align: right;
			}

		}

	}

}

.job-poster__open-question-label {
	color: $palette-blue;
	display: block;
	font-size: 20px;
	font-weight: 800;
	margin: 2rem 0;
	text-align: left;
}

.job-poster__open-question-remove-button {
	appearance: none;
	background: none;
	border: none;
	color: $palette-blue;
	font-size: 18px;
	font-weight: 400;
	line-height: 1;
	margin: 2rem 0 0 0;
	padding: 0;
	text-decoration: underline;
	transition: color .2s ease;

	&:hover {
		color: $palette-blue--dark;
		transition: color .2s ease;
	}

}

[class^="job-poster__open-question-wrapper--"] {

	label {
		display: block;
		width: 100%;
	}

	input {
		display: block;
		width: 100%;
	}

	textarea {
		display: block;
		width: 100%;
	}

	&[class*="english"] {

	}

	&[class*="french"] {

	}

}

.job-poster__open-question-wrapper-label {
	font-size: 18px;
	font-weight: 800;
}

.job-poster__open-questions-add-button {
	margin: 4rem 0 0 0;
}