/* MANAGER-SIDE "EDIT PROFILE" FORMS*/
// .manager-edit-profile__form {
//     &.flex-grid {
//         padding: 0px 10px;
        
//         .box {
//             padding: 0px 10px;
//         }
//     }
// }

.manager-edit-profile__title {
    color: $palette-blue;
    font-weight: 700;
    margin: 4rem 0 2rem 0;
}

.manager-edit-profile__required-copy-wrapper {
    margin: 0 0 2rem 0;

    span {
        color: red;
        font-size: 16px;
    }

}

.manager-edit-profile__form {
    margin: 0 -1rem;

    >.box {
        padding: 0 1rem;
    }

}

.manager-edit-profile__divider {
    appearance: none;
    background: $palette-grey--dark;
    border: none;
    height: 1px;
    width: 100%;
}

.manager-edit-profile__workplace-image-grid {
    margin: 0 -1rem;

    >.box {
        padding: 0 1rem;
    }

}

.manager-edit-profile__workplace-image-wrapper {

    >.box:first-child {
        margin: 0 0 2rem 0;

        img {
            width: 100%;
        }

    }

    >.box:last-child {
        margin-top: auto;
    }

}

.manager-edit-profile__photo-upload-wrapper {
    display: block;
    margin: 0 0 2rem 0;
    text-align: center;
}

.manager-edit-profile__button-form {
    margin: 2rem -1rem;

    >.box {
        padding: 0 1rem;
        text-align: center;

        @media #{$p-tablet} {
            text-align: right;
        }

    }

}

.stepGroup_createEditProfile a{
    color:#333; 
}

.stepGroup_createEditProfile .tab-current{
    background: $palette-blue;
}

.stepGroup_createEditProfile .tab-current a{
    color:white;
}