/* =============================================================================

    Authored by: Talent Cloud

    Page Hero

============================================================================= */
.page-hero {
	background-image: url("/images/backgrounds/background.jpg");
	background-position: center;
	background-size: cover;
	position: relative;

	&:before {
		background: rgba(0, 0, 0, .7);
		content: " ";
		display: block;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}

}

.page-hero__navigation {
	background: rgba(0, 0, 0, .5) !important;
	position: relative;
	z-index: 15;
	
	>.flex-grid {
		justify-content: flex-end;

		>.box {

			>a {
				align-items: center;
				display: flex;
				color: $white;
				font-size: 14px;
				height: 100%;
				justify-content: center;
				padding: 2rem;
				position: relative;
				text-align: center;
				text-decoration: none;
				text-transform: uppercase;
				transition: all .2s ease;

				&:hover {
					// background: $palette-yellow--dark;
					color: $palette-yellow--dark;
					transition: all .2s ease;
				}

			}

			&.active {

				>a {

					&:before {
						background: $palette-yellow--dark;
						content: " ";
						display: block;
						height: .5rem;
						max-width: 10rem;
						position: absolute;
						left: 50%;
						bottom: 0;
						transform: translate(-50%, 0);
						width: 100%;
					}

				}

			}

		}

	}

}

.page-hero__mobile-trigger {
	background: $palette-yellow--light;
	border-radius: 3px 0 0 3px;
	box-shadow: 0 3px 5px rgba(0, 0, 0, .35);
	color: $black;
	font-size: 16px;
	font-weight: 700;
	padding: 1.5rem 2rem;
	position: fixed;
	right: 0;
	bottom: 4rem;
	z-index: 100;

	@media #{$l-tablet} {
		display: none;
	}

	i {
		margin: 0 .5rem 0 0;

		&.fa-navicon {

		}

		&.fa-times {
			display: none;
		}

	}

	&.active {

		i {

			&.fa-navicon {
				display: none;
			}

			&.fa-times {
				display: inline-block;
			}

		}

	}

}

.page-hero__navigation-menu {
	background: rgba(0, 0, 0, .9);
	display: block;
	height: 100vh;
	padding: 5rem 0 0 0;
	position: fixed;
	top: 0;
	left: 0;
	overflow: auto;
	transform: translate(-100%, 0);
	transition: transform .2s ease;
	width: 100vw;
	z-index: 50;

	@media #{$l-tablet} {
		background: none;
		display: flex;
		height: auto;
		padding: 0;
		position: relative;
		transform: translate(0, 0);
		width: 100%;
	}

	&.active {
		// display: block;
		transform: translate(0, 0);
		transition: transform .2s ease;
	}

}

@import "../atoms/landing-hero";

@import "../atoms/subpage-hero";