/* =============================================================================

    Authored by: Talent Cloud

    FAQ Template: Text

============================================================================= */

.tos__text {

	&:not(:last-child) {
		margin: 0 0 6rem 0;
	}

}

.tos__text-title {
    font-size: 18px;
	margin: 3rem 0 1rem 0;

	// &:first-of-type {
	// 	margin-top: 2rem;
	// }

}

.tos__text-copy {
	font-size: 16px;
	line-height: 1.5;
	margin: 2rem 0;

	&:last-child {
		margin-bottom: 0;
	}

}