/* =============================================================================

    Authored by: Talent Cloud

    Update Profile Form (Update Profile Modal)

============================================================================= */

.update-profile__grid {

    >.box {
        padding: 0 1rem;
    }

}

.update-profile__applicant-profile-form {
    margin: 0 -1rem;
    padding: 0;

    >.box {
        padding: 1rem;

        @media #{$p-tablet} {
            padding: 0 1rem;
        }

        a {
            display: block;
            margin: .5rem 0 1rem 0;
        }

    }

    >.box:nth-last-child(1),
    >.box:nth-last-child(2) {
        text-align: center;
    }

    >.box:nth-last-child(1) {

        @media #{$p-tablet} {
            text-align: right;
        }

    }

    >.box:nth-last-child(2) {

        @media #{$p-tablet} {
            text-align: left;
        }

    }

}

.update-profile__linkedin-label {
    // background: lighten($palette-grey--light, 10%);
    border: 1px solid lighten($palette-grey--light, 10%);
    border-right: none;
    color: $black !important;
    display: block;
    font-family: $font-hk;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
    padding: calc(1rem - 1px) 1rem calc(1rem - 1px) 1rem;
}

.update-profile__linkedin-input {
    flex: 1;
}