/* =============================================================================

    Authored by: Talent Cloud

    Update Profile Photo (Update Profile Modal)

============================================================================= */

.update-profile-photo__wrapper {
    text-align: center;

    @media #{$l-tablet} {
        padding: 0 2rem 0 0;
    }

}

.update-profile-photo__title {
    color: black;
    margin: 2rem 0;
}

/* Draggable Area =========================================================== */
.update-profile-photo__draggable-area-wrapper {
    display: block;
    height: 25vh;
    margin: 0 auto;
    position: relative;
    width: 60%;

    &:after {
        border: 5px dashed $palette-grey;
        border-radius: 3rem;
        content: " ";
        display: block;
        // height: calc(100% - 10px);
        height: 100%;
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 25;
    }

    &.active {

        &:after {
            display: none;
        }

        .update-profile-photo__draggable-area-icon,
        .update-profile-photo__draggable-area-label {
            display: none;
        }

    }

    &.error--size {

        &:after {
            border: 5px dashed rgba(255, 0, 0, .7);
        }

        .update-profile-photo__draggable-area-label {
            display: none;
        }

        .update-profile-photo__draggable-area-error--size {
            display: block;
        }

    }

    &.error--type {

        &:after {
            border: 5px dashed rgba(255, 0, 0, .7);
        }

        .update-profile-photo__draggable-area-label {
            display: none;
        }

        .update-profile-photo__draggable-area-error--type {
            display: block;
        }

    }

}

.update-profile-photo__draggable-area-block {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    /* Croppie Styles */
    .croppie-container {
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 20;

        .cr-boundary {
            border-radius: 3rem;
            // height: calc(25vh - 10px) !important;
            height: 25vh !important;
            width: 100% !important;

            .cr-viewport,
            .cr-overlay {
                // height: calc(25vh - 10px) !important;
                height: 25vh !important;
            }

            .cr-viewport {
                border: 5px dashed $palette-grey--light;
                // width: calc(25vh - 10px) !important;
                width: 25vh !important;
            }

        }

        .cr-slider-wrap {
            margin-top: 3rem;
        }

    }

}

.update-profile-photo__draggable-area {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 15;
}

.update-profile-photo__draggable-area-icon {
    height: 80%;
    opacity: .3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.update-profile-photo__draggable-area-label {
    color: $palette-grey;
    font-weight: 700;
    line-height: 1.2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    z-index: 10;
}

.update-profile-photo__draggable-area-error--size,
.update-profile-photo__draggable-area-error--type {
    color: rgba(255, 0, 0, .8);
    display: none;
    font-weight: 700;
    line-height: 1.2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    z-index: 10;
}

/* Action Area ============================================================== */
[class*="update-profile__action-wrapper"] {

    &[class*="--default-state"] {
        display: block;
        margin: 0 0 4rem 0;

        @media #{$l-tablet} {
            margin: 0 0 2rem 0;
        }

        &.hidden {
            display: none;
        }

    }

    &[class*="--upload-state"] {
        display: none;
        margin: 8rem 0 4rem 0;

        @media #{$l-tablet} {
            margin: 8rem 0 2rem 0;
        }

        &.active {
            display: block;
        }

    }

}

.update-profile__or-copy {
    display: inline-block;
    margin: 2rem 0;
    width: 100%;
}

.update-profile__choose-photo-button-label {
    position: relative;

    &:focus {
        color: white;
        background: $palette-grey--dark;
        border: 2px solid $palette-yellow--dark;
    }

}

.update-profile__choose-photo-button {
    position: absolute;
    left: -100vh;
}

.update-profile__choose-alt-photo-button-label {
    position: relative;
}

.update-profile__choose-alt-photo-button {
    position: absolute;
    left: -100vh;
}

.update-profile__cancel-button {

}
