.profile-question {
    padding-top: 2em;
    padding-bottom: 2em;
    position: relative;
}

.profile-question__title-bar {
    margin-bottom: 1em;
    
    h2 {
        display: inline;
        /* font-weight: bold; */
    }    
}

.profile-question__edit-btn {
    float: right;
    img {
        width: 1em;
        height: 1em;  
    }
}