/* =============================================================================

    Authored by: Talent Cloud

    Application Evidence

============================================================================= */

.applicant-evidence {
    background: lighten($palette-grey--light, 15%);
    padding: 6rem 0;

    hr {
        border-top: 1px solid $palette-grey--dark;
        margin: 6rem 0;
    }

}

.applicant-evidence__container {
	margin: 0 auto;
    max-width: 100rem;
    width: 90%;
}

.applicant-evidence__explanation-copy {
	margin: 0 auto;

	p {
		font-size: 16px;
		line-height: 1.5;
        margin: 0 0 4rem;
	}

    >div {
        text-align: center;

        >a {
            margin-bottom: -2rem;
        }

    }

}

/* Desktop Menu ============================================================= */

.applicant-evidence__desktop-menu-label {
    color: $palette-blue--semidark;
    display: block;
    font-size: 25px;
    font-weight: 800;
    // line-height: 1;
    margin: 0 0 2rem 0;
}

.applicant-evidence__desktop-menu {
	display: none;
	// border-top: 1px solid $palette-grey--dark;
	// border-bottom: 1px solid $palette-grey--dark;
	// border-left: 1px solid $palette-grey--dark;

	@media #{$l-tablet} {
		display: block;
        padding: 0 5rem 0 0;
        position: sticky;
        top: 4rem;
	}

}

.applicant-evidence__desktop-menu-item {
	appearance: none;
	background: none;
	border: none;
	// border-bottom: 1px solid $palette-grey--dark;
	cursor: pointer;
	display: block;
	font-size: 16px;
	line-height: 1.5;
    margin: 1rem 0;
	padding: 0;
	position: relative;
	text-align: left;
	transition: background .2s ease;
	width: 100%;

    .fa-times {
        color: $palette-red;
        display: inline-block;
    }

    .fa-check {
        color: $palette-green;
        display: none;
    }

    span {
        color: black;
        font-weight: 400;
        text-decoration: underline;
        transition: color .2s ease;
    }

	&.complete {

        .fa-times {
            display: none;
        }

        .fa-check {
            display: inline-block;
        }

	}

	&:hover,
	&:focus {

        span {
            color: $palette-blue;
            transition: color .2s ease;
        }

		// background: $palette-grey;
		// transition: background .2s ease;
	}

	&:last-child {
		// border-bottom: none;
	}

}


/* Skills =================================================================== */

.applicant-evidence__skill {
    margin: 0 0 6rem 0;

    &:last-child {
        margin-bottom: 0;
    }

}

    [class*="applicant-evidence__skill-attribute--"] {
        border-radius: 3px;
        box-shadow: 0 3px 5px rgba(0, 0, 0, .5);
        display: none;
        margin: 0 0 2rem 0;
        overflow: hidden;

        &.active {
            display: block;
        }

        &.complete {

            .accordion__trigger {

                .applicant-evidence__skill-status-block {
                    background: $palette-green;

                    i {
                        display: block;
                    }

                }

            }

        }

        &:last-child {
            margin-bottom: 0;
        }

        .accordion__trigger {
            background: rgba(255, 255, 255, 1);

            &.complete {

                .applicant-evidence__skill-status-block {
                    background: $palette-green--semidark;

                    i {
                        opacity: 1;
                        transform: translate(-50%, -50%) scale(1) rotate(359deg);
                        transition: opacity .2s ease, transform .5s ease;
                    }

                }

            }

            .applicant-evidence__skill-status-block {
                background: $palette-red;
                display: inline-block;
                height: 5rem;
                margin: 0 1rem 0 0 ;
                position: relative;
                width: 5rem;
                vertical-align: middle;

                @media #{$p-tablet} {
                    height: 7rem;
                    margin: 0 2rem 0 0 ;
                    width: 7rem;
                }

                i {
                    color: white;
                    display: block;
                    font-size: 2.5rem;
                    opacity: 0;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) scale(0.5) rotate(0deg);
                    transition: opacity .2s ease, transform .5s ease;
                }

            }

            span {
                display: inline-block;
                font-size: 16px;
                font-weight: 800;
                line-height: 1;
                margin: .5rem 0 0 0;
                vertical-align: middle;
            }

        }

        .accordion__content {
            background: rgba(255, 255, 255, 1);
            border-top: 1px solid $palette-grey--light;
            padding: 2rem;

            .applicant-evidence__skill-attribute-action-wrapper {

                .box:first-child {
                    text-align: left;
                }

                .box:last-child {
                    text-align: right;
                }

            }

        }

    }

        .applicant-evidence__skill-title {
            font-size: 30px;
            font-weight: 800;
            margin: 0 0 2rem 0;
        }

        .applicant-evidence__context-link-wrapper {
            text-align: center;

            @media #{$p-tablet} {
                text-align: right;
            }

            a {
                color: $palette-blue--semidark;
                display: block;
                font-size: 12px;
                margin: 0 0 2rem 0;
                text-decoration: underline;
            }

        }

        .applicant-evidence__skill-warning {
            color: $palette-blue;
            display: none;
            font-size: 16px;
            font-weight: 800;
            margin: 2rem 0;
            width: 100%;

            &.active {
                display: block;
            }

        }

        .applicant-evidence__skill-description {
            font-size: 16px;
            line-height: 1.3;
            margin: 2rem 0;
        }

        .applicant-evidence__skill-attribute-action-remove {
            appearance: none;
            -webkit-appearance: none;
            background: none;
            border: none;
            color: $palette-red;
            font-size: 16px;
            padding: 0;
            text-decoration: underline;
            transition: color .2s ease;

            &:hover {
                color: $palette-red--dark;
                transition: color .2s ease;
            }

        }

/* Optional Buttons ========================================================= */

[class*="applicant-evidence__optional-button--"] {
    appearance: none;
    background: none;
    border: 2px dashed $palette-grey--light;
    border-radius: 3px;
    display: block;
    margin: 0 0 2rem 0;
    outline: none;
    padding: 0 2rem 2rem 2rem;
    text-align: center;
    width: 100%;

    @media #{$p-tablet} {
        padding: 0;
        text-align: left;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &:focus {
        border-color: $palette-blue;
    }

}

    .applicant-evidence__optional-button-icon-wrapper {
        background: none;
        display: inline-block;
        height: 7rem;
        margin: 0;
        position: relative;
        width: 7rem;
        vertical-align: middle;

        i {
            color: $palette-blue;
            font-size: 2.5rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

    }

    .applicant-evidence__optional-button-copy {
        display: inline-block;
        line-height: 1;
        margin: .5rem 0 0 0;
        vertical-align: middle;

        span {
            display: block;
        }

        span:first-child {
            font-size: 16px;
            font-weight: 800;
            margin: 0 0 .5rem 0;
        }

        span:last-child {
            font-size: 12px;
            font-weight: 400;
        }

    }
