/* =============================================================================

    Authored by: Talent Cloud

    User Application - Application Preview (Evidence)

============================================================================= */

.applicant-evidence-preview {
	background: lighten($palette-grey--light, 10%);
	margin: 0 0 4rem 0;
	padding: 3rem 0;

	@media #{$l-tablet} {
		padding: 6rem 0;
	}

}

.applicant-evidence-preview__container {
	margin: 0 auto;
    max-width: 100rem;
    width: 90%;
}

.applicant-evidence-preview__explanation-copy {
	margin: 4rem auto;
}

/* Desktop Menu ============================================================= */

.applicant-evidence-preview__desktop-menu {
	display: none;
	// border-top: 1px solid $palette-grey--dark;
	// border-bottom: 1px solid $palette-grey--dark;
	// border-left: 1px solid $palette-grey--dark;

	@media #{$l-tablet} {
		display: block;
	}

}

.applicant-evidence-preview__desktop-menu-title {
	color: $palette-blue;
	display: block;
	font-size: 22px;
	font-weight: 700;
	margin: 4rem 0 1rem 0;

	&:first-child {
		margin-top: 2.5rem;
	}

	+.applicant-evidence-preview__desktop-menu-item {
		border-top: 1px solid $palette-grey--dark;
	}

}

.applicant-evidence-preview__desktop-menu-item {
	appearance: none;
	background: lighten($palette-grey--light, 10%);
	border: none;
	border-bottom: 1px solid $palette-grey--dark;
	cursor: pointer;
	display: block;
	font-size: 16px;
	line-height: 1;
	padding: 2rem 10rem 2rem 2rem;
	position: relative;
	text-align: left;
	transition: background .2s ease;
	width: 100%;

	&.active {
		background: $palette-blue !important;
		color: $white !important;

		.applicant-evidence-preview__desktop-icon-wrapper {

			i {
				color: rgba(255, 255, 255, .3);

				&.active {
					color: $white;
				}

			}

		}

	}

	&:hover {
		background: $palette-grey;
		transition: background .2s ease;
	}

	&:last-child {
		// border-bottom: none;
	}

}

/* Accordions =============================================================== */

.applicant-evidence-preview__form-wrapper {
	// border: 1px solid $palette-grey--dark;

	@media #{$l-tablet} {
		border-left: 1px solid $palette-grey--dark;
	}

}

.applicant-evidence-preview__accordion-wrapper {

	@media #{$l-tablet} {
		display: none;
	}

	&.active {

		@media #{$l-tablet} {
			display: block;
		}

	}

	&:first-child {

		.applicant-evidence-preview__accordion-trigger {
			border-top: none !important;
		}

	}

}

/* Trigger */

.applicant-evidence-preview__accordion-trigger {
	cursor: pointer;
	border-top: 1px solid $palette-grey--dark;

	@media #{$l-tablet} {
		cursor: default;
		border: none;
	}

	&.active {
		border-top: none;

		.applicant-evidence-preview__accordion-trigger-title {
			background: $palette-blue;
			color: $white;

			@media #{$l-tablet} {
				background: none;
				color: $black;
			}

		}

	}

}

.applicant-evidence-preview__accordion-trigger-title {
	// background: $palette-grey--dark;
	border: none;
	// border-bottom: 1px solid $white;
	color: $black;
	display: block;
	font-size: 26px;
	font-weight: 700;
	line-height: 1.2;
	padding: 3rem;
	position: relative;
	text-align: center;
	text-decoration: underline;
	width: 100%;

	@media #{$l-tablet} {
		// border-bottom: 1px solid $palette-grey--dark;
		padding: 3rem 12rem 3rem 3rem;
		text-align: left;
		text-decoration: none;
	}

}

/* Content */

.applicant-evidence-preview__accordion-content {
	// background: lighten($palette-grey--light, 10%);
	display: none;
	padding-top: 3rem;

	@media #{$l-tablet} {
		display: block;
		padding-top: 0;
	}

	&.active {
		display: block;
	}

}

/* Content - Required */

.applicant-evidence-preview__experience-wrapper {
	padding: 0 3rem;
}

.applicant-evidence-preview__experience-copy {
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 0;
}

.applicant-evidence-preview__divider {
	background: $palette-grey--dark;
	border: none;
	height: 1px;
	margin: 3rem 0;
	width: 100%;
}

.applicant-evidence-preview__reference-wrapper {
	// border-top: 1px solid $palette-grey--dark;
	padding: 0 3rem;
}

.applicant-evidence-preview__reference-metadata {
	font-size: 16px;
	line-height: 1.2;
	margin: 2rem 0;

}

.applicant-evidence-preview__reference-status {
	font-size: 16px;
	line-height: 1.2;
	margin: 2rem 0;

	i {

		&.fa-check-circle {
			color: $palette-blue;
		}

		&.fa-exclamation-triangle {
			color: $palette-yellow--dark;
		}

	}

}

.applicant-evidence-preview__reference-copy {
	font-size: 16px;
	line-height: 1.5;
	margin-top: 2rem;
	margin-bottom: 0;
}

.applicant-evidence-preview__reference-null {
	font-size: 16px;
	line-height: 1.5;
	margin-top: 2rem;
	margin-bottom: 0;
}

.applicant-evidence-preview__evidence-wrapper {
	// border-top: 1px solid $palette-grey--dark;
	padding: 0 3rem 3rem;
}

.applicant-evidence-preview__evidence-metadata {
	font-size: 16px;
	line-height: 1.2;
	margin: 2rem 0;

}

.applicant-evidence-preview__evidence-status {
	font-size: 16px;
	line-height: 1.2;
	margin: 2rem 0;

	i {

		&.fa-check-circle {
			color: $palette-blue;
		}

		&.fa-exclamation-triangle {
			color: $palette-yellow--dark;
		}

	}

}

.applicant-evidence-preview__evidence-copy {
	font-size: 16px;
	line-height: 1.5;
	margin: 2rem 0;
}

.applicant-evidence-preview__evidence-copy {

}

.applicant-evidence-preview__evidence-null {
	font-size: 16px;
	line-height: 1.5;
	margin-top: 2rem;
	margin-bottom: 0;
}

.applicant-evidence-preview__section-title {
	font-size: 22px;
	margin: 0 0 2rem;
	text-align: center;
	font-weight: 400;

	@media #{$l-tablet} {
		text-align: left;
	}

	i {
		color: $palette-blue;
	}

	a {
		display: block;
		font-size: 16px;
		margin: 1rem 0 0 0;
		text-decoration: underline;
		vertical-align: middle;

		@media #{$l-tablet} {
			float: right;
			margin: 0;
		}

	}

}

.attestation{
    margin-top:1em;
    
    label{
        font-weight:100;
    }
}
