/* =============================================================================

    Authored by: Talent Cloud

    Application Evidence

============================================================================= */

.applicant-evidence {

}

.applicant-evidence__container {
	margin: 0 auto;
    max-width: 100rem;
    width: 90%;
}

.applicant-evidence__explanation-copy {
	margin: 4rem auto;

	p {
		font-size: 16px;
		line-height: 1.5;
	}

}

/* Desktop Menu ============================================================= */

.applicant-evidence__desktop-menu {
	display: none;
	border-top: 1px solid $palette-grey--dark;
	border-bottom: 1px solid $palette-grey--dark;
	border-left: 1px solid $palette-grey--dark;

	@media #{$l-tablet} {
		display: block;
	}

}

.applicant-evidence__desktop-menu-item {
	appearance: none;
	background: lighten($palette-grey--light, 10%);
	border: none;
	border-bottom: 1px solid $palette-grey--dark;
	cursor: pointer;
	display: block;
	font-size: 16px;
	line-height: 1;
	padding: 2rem 10rem 2rem 2rem;
	position: relative;
	text-align: left;
	transition: background .2s ease;
	width: 100%;

	&.active {
		background: $palette-blue !important;
		color: $white !important;

		.applicant-evidence__desktop-icon-wrapper {

			i {
				color: rgba(255, 255, 255, .3);

				&.active {
					color: rgba(73, 223, 75, 1);
				}

			}

		}

	}

	&:hover,
	&:focus {
		background: $palette-grey;
		transition: background .2s ease;
	}

	&:last-child {
		// border-bottom: none;
	}

}

.applicant-evidence__desktop-icon-wrapper {
	padding: 2rem;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(0, -50%);

	i {
		color: rgba(0, 0, 0, .3);
		font-size: 14px;
		margin: 0 .2rem 0 0;

		&.active {
			color: rgba(73, 223, 75, 1);;
		}

		&:last-child {
			margin: 0;
		}

	}

}

/* Accordions =============================================================== */

.applicant-evidence__form-wrapper {
	border: 1px solid $palette-grey--dark;

}

.applicant-evidence__accordion-wrapper {

	@media #{$l-tablet} {
		display: none;
	}

	&.active {

		@media #{$l-tablet} {
			display: block;
		}

	}

}

/* Trigger */

.applicant-evidence__accordion-trigger {
	cursor: pointer;

	@media #{$l-tablet} {
		cursor: default;
	}

	&.active {

		.applicant-evidence__accordion-trigger-title {
			background: $palette-blue;

			@media #{$l-tablet} {
				background: $palette-grey--dark;
			}

		}

	}

}

.applicant-evidence__accordion-trigger-title {
	background: $palette-grey--dark;
	border: none;
	border-bottom: 1px solid $white;
	color: $white;
	display: block;
	font-size: 26px;
	font-weight: 700;
	line-height: 1;
	padding: 3rem;
	position: relative;
	text-align: center;
	width: 100%;

	@media #{$l-tablet} {
		border-bottom: 1px solid $palette-grey--dark;
		padding: 3rem 12rem 3rem 3rem;
		text-align: left;
	}

}

.applicant-evidence__accordion-trigger-icon-wrapper {
	padding: 3rem 3rem 0 3rem;

	@media #{$l-tablet} {
		padding: 3rem;
		position: absolute;
		top: 50%;
		right: 0;
		transform: translate(0, -50%);
	}

	i {
		color: rgba(255, 255, 255, .3);
		font-size: 18px;
		margin: 0 .5rem 0 0;

		&:last-child {
			margin: 0;
		}

		&.active {
			color: rgba(73, 223, 75, 1);;
		}

	}

}

/* Content */

.applicant-evidence__accordion-content {
	background: lighten($palette-grey--light, 10%);
	display: none;

	@media #{$l-tablet} {
		display: block;
	}

	&.active {
		display: block;
	}

	* {

		&[class*="form__input--"],
		&[class*="form__textarea"] {
			background: $white !important;
			border: 1px solid $palette-grey--dark !important;
		}

	}

	.form__select {
		background: $white !important;
		border: 1px solid $palette-grey--dark !important;
	}

}

/* Content - Required */

.applicant-evidence__required-wrapper {
	padding: 3rem;
}

.applicant-evidence__skill-description {
	font-size: 16px;
	line-height: 1.5;
	margin: 0 0 2rem 0;
}

.applicant-evidence__assessment-warning {
	color: $palette-blue;
	font-size: 16px;
	margin: 2.5rem 0 2rem 0;
	text-align: center;

	i {

	}

}

.applicant-evidence__section-title {
	font-size: 22px;
	margin: 0 0 2rem;
	text-align: center;

	@media #{$l-tablet} {
		text-align: left;
	}

	i {
		color: $palette-blue;
	}

	a {
		display: block;
		font-size: 16px;
		margin: 1rem 0 0 0;
		text-decoration: underline;
		vertical-align: middle;

		@media #{$l-tablet} {
			float: right;
			margin: 0;
		}

	}

}

.applicant-evidence__form-description {
	font-size: 16px;
	line-height: 1.5;
	margin: 3rem 0;
}

.applicant-evidence__expertise-wrapper {
	margin: 0 0 2rem;
}

.applicant-evidence__experience-wrapper {
	margin: 0 0 2rem;
}

.evidence__completion-wrapper {
	display: none;
	font-size: 16px;
	margin: 2.5rem 0 0 0;
	text-align: center;

	&.active {
		display: block;
	}

	i {
		color: $palette-blue;
	}

	span:first-of-type {
		display: inline-block;
		font-weight: 700;
		margin: 0 0 1rem 0;
	}

	span:last-of-type {

	}

}

/* Content - Optional */

.applicant-evidence__optional-wrapper {
	border-top: 1px solid $palette-grey--dark;
	display: none;
	padding: 3rem;

	&.active {
		display: block;
	}

	>.flex-grid {
		margin: 0 -1rem;

		>.box {
			padding: 0 1rem;
		}

	}

}

.applicant-evidence__content-divider {
	background: $black;
	border: none;
	height: 1px;
	margin: 3rem 0;
	width: 100%;
}