/* =============================================================================

    Authored by: Talent Cloud

    Application Header

============================================================================= */

.application-header__position-wrapper {
    background: rgba(255, 255, 255, .6);
    margin: 6rem 0 0 0;
    padding: 3rem 0;
    text-align: center;
}

.application-header__position-copy {
    color: $palette-grey--dark;
    display: inline-block;
    font-size: 16px;
    margin: 0 0 1rem 0;
}

.application-header__position {
    color: $black;
    font-size: 25px;
    font-weight: 600;
    margin: 0;
}