/* =============================================================================

    Authored by: Talent Cloud

    Application Skills

============================================================================= */

.skills__wrapper {
    
}

.skills__group-wrapper {

}

.skills__group-title {
    color: $palette-blue;
    font-weight: 700;
    margin: 0 0 2rem 0;
}

.skills__group-copy {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 0 0 3rem 0;
}

.skills__accordion {
    border-top: 1px solid $palette-grey;

    &:last-of-type {

        border-bottom: 1px solid $palette-grey;

    }

}

[class*="skills__accordion-trigger--"] {
    cursor: pointer;
    padding: 1rem 2rem;

    &[class*="todo"] {

        .skills__status-icon:before {
            color: $palette-yellow--dark;
            content: "\f12a";
        }

    }

    &[class*="edit"] {

        .skills__status-icon:before {
            color: $palette-blue;
            content: "\f040";
        }

    }

    &[class*="complete"] {

        .skills__status-icon:before {
            color: $palette-green;
            content: "\f00c";
        }

    }

    &.active {

        .box:last-child {
    
            i {
                transform: rotate(180deg);
                transition: transform .3s ease;
            }
    
        }

    }

    .box:last-child {
        text-align: right;

        i {
            font-size: 2rem;
            transition: transform .3s ease;
        }

    }

}

.skills__status-icon {
    font-size: 2rem;
    margin: 0 .5rem 0 0;
    text-align: center;
    vertical-align: middle;
    width: 2rem;
}

.skills__skill-title {
    font-size: 1.5rem;
    vertical-align: middle;
}

.skills__accordion-content {
    background: lighten($palette-grey--light, 10%);
    border-top: 1px solid $palette-grey;
    display: none;
    padding: 2rem;

    @media #{$p-tablet} {
        padding: 2rem 1rem;
    }

    &.active {
        display: flex;
    }

    >.box {
        padding: 0 0 2rem 0;

        @media #{$p-tablet} {
            padding: 0 1rem;
        }

        &:last-child {
            padding: 0;
            text-align: right;

            @media #{$p-tablet} {
                padding: 0 1rem;
            }

        }

    }

    .form__select-wrapper {
        border: 1px solid $palette-grey--dark;
    }

    .form__select {
        background: $white;
    }

    .form__textarea {
        background: $white;
        border: 1px solid $palette-grey--dark;
        min-height: 12.4rem;
    }

    hr {
        background: $palette-grey;
        border: none;
        height: 1px;
        width: 100%;
    }

}