/* =============================================================================

    Authored by: Talent Cloud

    User Application - Application Preview

============================================================================= */
.application-preview {
	background: $white;
}

/* Application Preview Profile */
.application-preview__profile-wrapper {
	padding: 4rem 0 0 0;
	text-align: center;
}

.application-preview__profile-image {
	background-position: center;
	background-size: cover;
	border: .5rem solid $palette-yellow--dark;
	border-radius: 100%;
	display: inline-block;
	height: 50vw;
	max-height: 20rem;
	max-width: 20rem;
	width: 50vw;
}

.application-preview__profile-name {
	font-weight: 700;
}

.application-preview__profile-tagline {

}

/* Application Preview Skills */

/* Application Preview Questions */
.application-preview__question-wrapper {
	padding: 4rem 0;
}

.application-preview__question {
	margin: 0 0 4rem 0;

	&:last-child {
		margin-bottom: 0;
	}

}

.application-preview__question-title {
	color: $palette-blue;
	font-size: 25px;
	font-weight: 400;
	line-height: 1.2;
	margin: 0 0 2rem 0;
}

.application-preview__question-answer {
	margin: 0 0 4rem 0;

	&:last-child {
		margin: 0;
	}

	p {
		font-size: 16px;
		line-height: 1.5;
		margin: 2rem 0;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}

	}

}

/* Application Preview Alert */
.application-preview__alert {
	background: $palette-blue--light;
	border-radius: 3px;
	padding: 2rem;

	>.box:first-child {
		text-align: center;
	}

}

.application-preview__alert-icon {
	color: $palette-blue--dark;
	font-size: 5rem;
}

.application-preview__alert-copy {
	color: $palette-blue--dark;
	font-size: 16px;
	line-height: 1.2;
	margin: 0;

	@media #{$l-tablet} {
		padding: 0 0 0 1rem;
	}

}

/* Application Preview Button */
.application-preview__button-wrapper {
	padding: 4rem 0;
	text-align: center;
}

@import "user-application-evidence-preview";
