/* =============================================================================

    Authored by: Talent Cloud

    Application Progress Bar

============================================================================= */

.application-progress {
    background: lighten($palette-grey--light, 10%);
    padding: 4rem 0;
    
    .flex-grid {
        margin: -1rem 0;
        position: relative;

        @media #{$p-tablet} {
            margin: 0 -2rem;
        }

        &:before {
            background: $palette-grey--dark;
            content: " ";
            display: block;
            height: 1px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 50%;
            z-index: 5;
        }

        .box {
            padding: 1rem 0;
            position: relative;
            text-align: center;
            z-index: 10;

            @media #{$p-tablet} {
                padding: 0 2rem;
            }

        }

    }

}

.application-progress__item  {

    &.inactive {

        .application-progress__icon-wrapper {
            background: $palette-grey;
        }

        .application-progress__label {
            font-size: 16px;
            font-weight: 400;
        }

    }

}

.application-progress__background-wrapper {
    background: lighten($palette-grey--light, 10%);
}

.application-progress__icon-wrapper {
    background: $palette-blue;
    border-radius: 100%;
    display: inline-block;
    height: 2.5rem;
    margin: -.5rem .5rem 0 0;
    position: relative;
    width: 2.5rem;
    vertical-align: middle;
}

.application-progress__icon {
    color: $white;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.application-progress__label {
    font-family: $font-hk;
    font-size: 16px;
    font-weight: 800;
}