/* =============================================================================

    Authored by: Talent Cloud

    Application Form

============================================================================= */

.application-form__wrapper {
    margin-top: 5rem;
    // margin-bottom: 3rem;
}

.application-form__form {

}

.application-form__label {
    color: $palette-blue;
    font-weight: 700;
    margin: 0 0 2rem 0;
}

.application-form__textarea {
    margin: 0 0 5rem 0;
}

