{# =============================================================================

    Talent Cloud
    Applicant: Jobs - Post: Extra Info

============================================================================= #}
<a
    aria-hidden="true"
    class="job-post__anchor"
    id="know">
</a>

<section
    class="job-post__know">

    <h3
        class="job-post__know-title">
        {{ job_post.know.title }}
    </h3>

    {% for item in job.extras %}

        <h5
            class="job-post__know-subtitle">
            {{ item.title }}
        </h5>

        <p
            class="job-post__know-copy">
            {{ item.copy }}
        </p>

    {% endfor %}

</section>
