{# =============================================================================

    Talent Cloud
    Applicant: Jobs - Post: Impact

============================================================================= #}
<a 
    aria-hidden="true"
    class="job-post__anchor"
    id="impact">
</a>

<section 
    class="job-poster__impact">

    <h4 
        class="job-poster__impact-title">
        {{ job_post.impact.title }}
    </h4>

    <p>{{ job.impact }}</p>
    
</section>