{# =============================================================================

    Talent Cloud
    Applicant: Jobs - Post: Impact

============================================================================= #}

<a
    aria-hidden="true"
    class="job-post__anchor"
    id="impact">
</a>

<section
    class="job-poster__impact">

    <h3
        class="job-poster__impact-title">
        {{ job_post.impact.title }}
    </h3>


    <p>
        {{handleNullState(
            job.impact,
            job.impact|nl2br,
            noInfo
        )}}
    </p>

</section>
