{# =============================================================================

    Talent Cloud
    Applicant: Jobs - Post: Impact

============================================================================= #}
<a
    aria-hidden="true"
    class="job-post__anchor"
    id="work">
</a>

<section
    class="job-poster__work">

    <h4
        class="job-poster__work-title">
        {{ job_post.work.title }}
    </h4>

    <ul>
        {% for task in job.job_poster_key_tasks %}
            <li>
                {{ task.description }}
            </li>
        {% endfor %}
    </ul>

</section>
