<div data-c-grid-item="base(1of1)">
    <span id="consent"></span>
    <h2 data-gc-section-status="complete" data-c-margin="top(triple) bottom(normal)"><i class="material-icons">error</i><i class="material-icons">warning</i><i class="material-icons">check_circle</i>Consent and Verification</h2>
    <hr data-c-margin="tb(double)">
    <div data-c-accordion-group data-c-margin="top(double) bottom(normal)">
        <div
            data-c-accordion
            data-c-background="white(100)"
            data-c-radius="rounded"
            data-c-border="all(thin, solid, c1)">
            <button
                aria-expanded="false"
                data-c-accordion-trigger
                tabindex="0"
                type="button">
                <div data-c-padding="top(normal) right bottom(normal) left(normal)">
                    <p data-c-heading="h4" data-c-font-weight="bold">
                        Consent Documentation &amp; Details
                    </p>
                    <p data-c-margin="top(quarter)" data-c-heading="h5" data-c-colour="c3">
                        Please read this information before consenting.
                    </p>
                </div>
                <span data-c-visibility="invisible">
                    Click to view...
                </span>
                <i
                    aria-hidden="true"
                    class="material-icons"
                    data-c-accordion-add
                    data-c-colour="black">
                    add_circle
                </i>
                <i
                    aria-hidden="true"
                    class="material-icons"
                    data-c-accordion-remove
                    data-c-colour="black">
                    remove_circle
                </i>
            </button>
            <div
                aria-hidden="true"
                data-c-accordion-content
                data-c-padding="right(normal) left(normal)">
                <div data-c-padding="bottom(normal)">
                    {% include "demos/reliability/templates/partials/consent-docs" %}
                </div>
            </div>
        </div>
    </div>
</div>
<div data-c-grid-item="base(1of1)">
    <div data-c-input="radio" data-c-grid-item="base(1of1)">
        <label for="RG2">Please confirm your age:</label>
        <span>Required</span>
        <div id="RG2" role="radiogroup">
            <label for="rB1" data-gc-parent-guardian-consent-trigger>
                <input id="rB1" required name="radioB" type="radio" />
                <span>I am under 18 years of age.</span>
            </label>
            <label for="rB2" data-gc-personal-consent-trigger>
                <input id="rB2" required name="radioB" type="radio" />
                <span>I am 18 years or older.</span>
            </label>
        </div>
        <span>This input has an error.</span>
    </div>
</div>
<div data-c-grid-item="base(1of1)">
    <p data-c-margin="bottom(normal)">
        By consenting below, you agree to the following:
    </p>
    <ul data-c-margin="bottom(normal)">
        <li>Verification of identity and background</li>
        <li>Verification of educational and professional credentials</li>
        <li>Verifications of personal and professional references</li>
        <li>Law enforcement inquiry (criminal record check)</li>
        <li>Financial inquiry (credit check)</li>
    </ul>
</div>
{# Personal Consent #}
<div data-gc-personal-consent data-c-input="checkbox(group)" class="hidden" data-c-grid-item="base(1of1)">
    <label>&nbsp;</label>
    <span>Required</span>
    <div>
        <label for="adultConsent">
            <input
                id="adultConsent"
                type="checkbox"
                required/>
            <span>I consent to have the tests outlined above perfomed</span>
        </label>
    </div>
    <span>This input has an error.</span>
</div>
{# Parental/Guardian Consent #}
<div data-gc-parent-guardian-consent class="hidden" data-c-grid-item="base(1of1)">
    <div data-c-grid="gutter">
        <div data-c-grid-item="base(1of1)">
            <p data-c-margin="bottom(normal)">You may give your consent only if you have reached the age of 18. As you are under 18, your parent or guardian must give consent.</p>
        </div>
        <div data-c-input="text" data-c-grid-item="tl(2of3)">
            <label for="TI2">Applicant's Name</label>
            <span>Required</span>
            <div>
                <input id="TI2" placeholder="e.g. Clark Kent" required type="text" />
            </div>
            <span>This input has an error.</span>
        </div>
        <div data-c-input="checkbox(single)" data-c-grid-item="tl(1of3)">
            <span>Required</span>
            <div>
                <label for="youthConsent">
                    <input
                        id="youthConsent"
                        type="checkbox"
                        required/>
                    <span>I, the applicant, consent.</span>
                </label>
            </div>
            <span>This input has an error.</span>
        </div>
        <div data-c-input="text" data-c-grid-item="tl(2of3)">
            <label for="TI2">Parent/Guardian's Name</label>
            <span>Required</span>
            <div>
                <input id="TI2" placeholder="e.g. Clark Kent" required type="text" />
            </div>
            <span>This input has an error.</span>
        </div>
        <div data-c-input="checkbox(single)" data-c-grid-item="tl(1of3)">
            <span>Required</span>
            <div>
                <label for="parentConsent">
                    <input
                        id="parentConsent"
                        type="checkbox"
                        required/>
                    <span>I, the parent/guardian, consent.</span>
                </label>
            </div>
            <span>This input has an error.</span>
        </div>
    </div>
</div>
