<div data-c-grid-item="base(1of1)">
    <span id="education"></span>
    <h2 data-gc-section-status="incomplete" data-c-margin="top(triple) bottom(normal)"><i class="material-icons">error</i><i class="material-icons">warning</i><i class="material-icons">check_circle</i>Educational Credentials and Professional Designations</h2>
    <hr data-c-margin="top(double)">
</div>
<div data-c-grid-item="base(1of1)">
    <h3 data-c-font-size="h4" data-c-color="c3" data-c-margin="top(double) bottom(normal)">Educational Credentials</h3>
    <p data-c-margin="bottom">Please add your educational credentials (if applicable). If you have no credentials, leave this section blank.</p>
</div>
<div data-c-grid-item="base(1of1)">
    <div data-gc-residence data-c-margin="bottom(double)">
        <div data-gc-residence-null data-c-border="all(thin, solid, gray)" data-c-background="gray(10)" data-c-radius="rounded" data-c-padding="normal" data-c-align="base(center)">
            <p>You haven't added any education yet.</p>
        </div>
    </div>
    <div data-c-align="base(right)">
        <button data-c-button="solid(c1)" data-c-radius="rounded" data-c-dialog-id="education-dialog" data-c-dialog-action="open" type="button">
            Add Education
        </button>
    </div>
</div>
<div data-c-grid-item="base(1of1)">
    <h3 data-c-font-size="h4" data-c-color="c3" data-c-margin="top(double) bottom(normal)">Professional Designations</h3>
    <p data-c-margin="bottom">Please add your professional designations (if applicable). If you have no designations, leave this section blank.</p>
</div>
<div data-c-grid-item="base(1of1)">
    <div data-gc-residence data-c-margin="bottom(double)">
        <div data-gc-residence-null data-c-border="all(thin, solid, gray)" data-c-background="gray(10)" data-c-radius="rounded" data-c-padding="normal" data-c-align="base(center)">
            <p>You haven't added any designations yet.</p>
        </div>
    </div>
    <div data-c-align="base(right)">
        <button data-c-button="solid(c1)" data-c-radius="rounded" data-c-dialog-id="designation-dialog" data-c-dialog-action="open" type="button">
            Add a Designation
        </button>
    </div>
</div>