<div data-c-grid-item="base(1of1)">
    <span id="experience"></span>
    <h2 data-gc-section-status="incomplete" data-c-margin="top(triple) bottom(normal)"><i class="material-icons">error</i><i class="material-icons">warning</i><i class="material-icons">check_circle</i>Professional Background</h2>
    <hr data-c-margin="tb(double)">
    <p data-c-margin="bottom(normal)">List all employment or periods of education within or outside Canada, including:</p>
    <ul data-c-margin="bottom(normal)">
        <li>periods of self-employment</li>
        <li>consultation for a firm, agency or foreign government</li>
        <li>periods of military service or work in law enforcement</li>
        <li>security intelligence employment and internships</li>
        <li>temporary assignments or co-op terms</li>
        <li>any employment or consultation that took place concurrently</li>
        <li>any periods of unemployment or retirement</li>
    </ul>
    <p data-c-margin="bottom(normal)">For reliability status, enhanced reliability status, site access status and site access status with additional inquiries, <span data-c-font-weight="bold">list your employment and education in the last 5 years, or from your 16th birthday</span>, beginning with your current employer or school. Ensure that there are no gaps in the dates that you provide below.</p>
    <p>Please provide information up until <span data-c-font-weight="bold">October 2014</span>. You've covered a period of <span data-c-font-weight="bold" data-c-color="stop">0</span> out of the 5 required years.</p>
</div>
<div data-c-grid-item="base(1of1)">
    <div data-gc-residence data-c-margin="bottom(double)">
        <h3 data-c-font-size="h4" data-c-color="c3" data-c-margin="top(normal) bottom(normal)">My Current Employment/Education</h3>
        <div data-gc-experience-current-null data-c-border="all(thin, solid, gray)" data-c-background="gray(10)" data-c-radius="rounded" data-c-padding="normal" data-c-align="base(center)">
            <p>You haven't added any professional experience yet.</p>
        </div>
        <h3 data-c-font-size="h4" data-c-color="c3" data-c-margin="top(double) bottom(normal)">Previous Employment/Education</h3>
        <div data-gc-experience-past-null data-c-border="all(thin, solid, gray)" data-c-background="gray(10)" data-c-radius="rounded" data-c-padding="normal" data-c-align="base(center)">
            <p>You haven't added any professional experience yet.</p>
        </div>
    </div>
    <div data-c-align="base(right)">
        <button data-c-button="solid(c1)" data-c-radius="rounded" data-c-dialog-id="experience-dialog" data-c-dialog-action="open" type="button">
            Add Experience
        </button>
    </div>
</div>