<div data-c-grid-item="base(1of1)">
    <span id="references"></span>
    <h2 data-gc-section-status="incomplete" data-c-margin="top(triple) bottom(normal)"><i class="material-icons">error</i><i class="material-icons">warning</i><i class="material-icons">check_circle</i>Personal References</h2>
    <hr data-c-margin="tb(double)">
    <p data-c-margin="bottom(normal)">Please list 2 personal references in Canada who:</p>
    <ul data-c-margin="bottom(normal)">
        <li>have known you for 3 years or longer</li>
        <li>are not your relatives</li>
        <li>are able to describe your activities outside work</li>
    </ul>
    <p data-c-margin="bottom(normal)">References will be asked about all aspects of your conduct and character.</p>
</div>
<div data-gc-residence data-c-grid-item="base(1of2)">
    <button class="reference" data-gc-residence-null data-c-border="all(thin, solid, c1)" data-c-background="c1(10)" data-c-radius="rounded" data-c-align="base(left)" type="button" title="This button is disabled for demo purposes.">
        <div data-c-padding="normal">
            <p data-c-font-weight="bold">Jimmy Olsen, Coworker</p>
            <p data-c-margin="bottom(normal)">Known for: 7 Years</p>
            <p data-c-margin="bottom(half)">Personal Details:</p>
            <hr data-c-hr="c1" data-c-margin="bottom(half)">
            <p>Day Phone: (555) 555-5555</p>
            <p>Evening Phone: (555) 555-5555</p>
            <p data-c-margin="bottom(normal)">Email: james@dailyplanet.com</p>
            <p data-c-margin="bottom(normal)">
                44 - 54 6th Avenue<br>
                Metropolis, NY, A1B 2C3<br>
                United States of America
            </p>
            <p data-c-margin="bottom(half)">Professional Details:</p>
            <hr data-c-hr="c1" data-c-margin="bottom(half)">
            <p>Not Provided</p>
        </div>
        <div data-c-border="top(thin, solid, c1)" data-c-padding="all(normal)" data-c-align="base(right)">
            <p data-c-font-style="underline">Click to Edit</p>
        </div>
    </button>
</div>
<div data-gc-residence data-c-grid-item="base(1of2)">
    <button class="reference" data-c-border="all(thin, dashed, gray)" data-c-radius="rounded" data-c-padding="normal" data-c-align="base(center)" data-c-dialog-id="reference-dialog" data-c-dialog-action="open">
        Click here to add your second reference.
    </button>
</div>