<div data-c-grid-item="base(1of1)">
    <span id="residence"></span>
    <h2 data-c-font-size="h3" data-gc-section-status="error" data-c-margin="top(triple) bottom(normal)"><i class="material-icons">error</i><i class="material-icons">warning</i><i class="material-icons">check_circle</i>Residence</h2>
    <hr data-c-margin="tb(double)">
    <p>For reliability status, enhanced reliability status, site access status and site access status with additional inquiries, <span data-c-font-weight="bold">list all (including temporary) addresses where you have lived in the last 5 years</span>, beginning with your current address. Ensure that there are no gaps in the dates that you provide below.</p>
</div>
<div data-c-grid-item="base(1of1)">
    <p data-c-margin="bottom(double)">Please provide information up until <span data-c-font-weight="bold">October 2014</span>. You've covered a period of <span data-c-font-weight="bold" data-c-color="stop">4</span> out of the 5 required years.</p>
    <div data-gc-residence data-c-margin="bottom(double)">
        <h3 data-c-font-size="h4" data-c-color="c3" data-c-margin="top(normal) bottom(normal)">My Current Address</h3>
        {# <div data-gc-residence-null data-c-border="all(thin, solid, gray)" data-c-background="gray(10)" data-c-radius="rounded" data-c-padding="normal" data-c-align="base(center)">
            <p>You haven't added any residences yet.</p>
        </div> #}
        <div data-c-border="all(thin, solid, gray)" data-c-background="gray(10)" data-c-radius="rounded">
            <div data-c-padding="normal" data-c-border="bottom(thin, solid, gray)">
                <div data-c-grid="gutter middle">
                    <div data-c-grid-item="base(1of2)">
                        <p>May 1, 2019 - Present</p>
                    </div>
                    <div data-c-grid-item="base(1of2)" data-c-align="base(right)">
                        <button title="This button is disabled for demo purposes." type="button" data-c-button="reset" data-c-font-style="underline" data-c-margin="right(normal)">Edit</button>
                        <button title="This button is disabled for demo purposes." type="button" data-c-button="reset" data-c-font-style="underline">Remove</button>
                    </div>
                </div>
            </div>
            <div data-c-padding="normal">
                <p>3 - 55 Solace Avenue</p>
                <p>Gatineau, QC, A1B 2C3</p>
                <p>Canada</p>
                <p>(555) 555-5555</p>
            </div>
        </div>
        <h3 data-c-font-size="h4" data-c-color="c3" data-c-margin="top(double) bottom(normal)">Previous Addresses</h3>
        {# <div data-gc-residence-null data-c-border="all(thin, solid, gray)" data-c-background="gray(10)" data-c-radius="rounded" data-c-padding="normal" data-c-align="base(center)">
            <p>You haven't added any residences yet.</p>
        </div> #}
        <div data-c-border="all(thin, solid, gray)" data-c-background="gray(10)" data-c-radius="rounded" data-c-margin="bottom(normal)">
            <div data-c-padding="normal" data-c-border="bottom(thin, solid, gray)">
                <div data-c-grid="gutter middle">
                    <div data-c-grid-item="base(1of2)">
                        <p>March 1, 2019 - April 30, 2019</p>
                    </div>
                    <div data-c-grid-item="base(1of2)" data-c-align="base(right)">
                        <button title="This button is disabled for demo purposes." type="button" data-c-button="reset" data-c-font-style="underline" data-c-margin="right(normal)">Edit</button>
                        <button title="This button is disabled for demo purposes." type="button" data-c-button="reset" data-c-font-style="underline">Remove</button>
                    </div>
                </div>
            </div>
            <div data-c-padding="normal">
                <p>1278 Nightly County Road</p>
                <p>Winchester, ON, A1B 2C3</p>
                <p>Canada</p>
                <p>(555) 555-5555</p>
            </div>
        </div>
        <div
            data-c-alert="error"
            data-c-radius="rounded"
            role="alert"
            data-c-margin="bottom(normal)">
            <div data-c-padding="half">
                <p
                    data-c-margin="bottom(quarter)"
                    data-c-heading="h5"
                    data-c-font-weight="bold">
                    <i
                        aria-hidden="true"
                        class="material-icons">
                        report_problem
                    </i>
                    There seems to be a gap here.
                </p>
                <p>
                    We've noticed a gap in your dates (February 1, 2019 to March 1, 2019). Please ensure that there are no gaps in your residence before submitting this form.
                </p>
            </div>
        </div>
        <div data-c-border="all(thin, solid, gray)" data-c-background="gray(10)" data-c-radius="rounded" data-c-margin="bottom(normal)">
            <div data-c-padding="normal" data-c-border="bottom(thin, solid, gray)">
                <div data-c-grid="gutter middle">
                    <div data-c-grid-item="base(1of2)">
                        <p>March 4, 2015 - February 1, 2019</p>
                    </div>
                    <div data-c-grid-item="base(1of2)" data-c-align="base(right)">
                        <button title="This button is disabled for demo purposes." type="button" data-c-button="reset" data-c-font-style="underline" data-c-margin="right(normal)">Edit</button>
                        <button title="This button is disabled for demo purposes." type="button" data-c-button="reset" data-c-font-style="underline">Remove</button>
                    </div>
                </div>
            </div>
            <div data-c-padding="normal">
                <p>45B - 20 Franklink Crescent</p>
                <p>Ottawa, ON, A1B 2C3</p>
                <p>Canada</p>
                <p>(555) 555-5555</p>
            </div>
        </div>
    </div>
    <div data-c-align="base(right)">
        <button data-c-button="solid(c1)" data-c-radius="rounded" data-c-dialog-id="residence-dialog" data-c-dialog-action="open" type="button">
            Add a Residence
        </button>
    </div>
    <p data-c-margin="top(double) bottom(normal)">Finally, please explain in the textarea below any of the following. Provide sufficient context (dates, city or town, country) so that your explanation can be properly understood.</p>
    <ul data-c-margin="bottom(normal)">
        <li>any and all residences that have overlapping dates</li>
        <li>any periods of time outside of Canada</li>
        <li>any periods of time when you had no associated address</li>
    </ul>
    <div data-c-input="textarea">
        <label for="TA2">Supplementary Details</label>
        <span>Required</span>
        <div>
            <textarea id="TA2" placeholder="I spent some time outside Canada during the following dates..."></textarea>
        </div>
        <span>This input has an error.</span>
    </div>
</div>