<div data-c-grid-item="base(1of1)">
    <span id="summary"></span>
    <h2 data-c-margin="top(triple) bottom(normal)">Summary &amp; Submission</h2>
    <hr data-c-margin="tb(double)">
    <p data-c-margin="bottom(normal)">Please ensure that all information is correctly entered. If there are errors outlined anywhere in the form above, you will not be able to submit. To certify the information that you have provided, please agree below and click submit.</p>
</div>
<div data-c-input="checkbox(group)" data-c-grid-item="base(1of1)">
    <label>&nbsp;</label>
    <span>Required</span>
    <div>
        <label for="finalConsent">
            <input
                id="finalConsent"
                type="checkbox"
                required/>
            <span>I hereby certify that the information that I have provided in this document is true and correct to the best of my knowledge.</span>
        </label>
    </div>
    <span>This input has an error.</span>
</div>
<div data-c-grid-item="base(1of1)" data-c-align="base(right)">
    <button data-c-button="solid(go)" data-c-radius="rounded" data-c-dialog-id="record-dialog" data-c-dialog-action="open" type="button">
        Submit my Form
    </button>
</div>