<hr data-c-hr="thin(c2)" data-c-margin="bottom(normal)">
<p data-c-margin="bottom(normal)">This form is to be used to apply for a security screening status or clearance.</p>
<p data-c-margin="bottom(normal)">Please read the following information carefully and complete only the sections required for the required type of status or clearance as indicated on page 4 of this application form.</p>

<p data-c-font-weight="bold" data-c-margin="bottom(normal)">Notice on collecting information and privacy</p>
<p data-c-margin="bottom(normal)">The Government of Canada uses this form to collect personal information so that it can conduct security screening verifications, inquiries and assessments.</p>
<p data-c-margin="bottom(normal)">The personal information is collected:</p>
<ul data-c-margin="bottom(normal)">
    <li>under the authority of subsection 7(1) of the Financial Administration Act</li>
    <li>in accordance with the Government of Canada’s Policy on Government Security and Standard on Security Screening</li>
    <li>in accordance with the provisions of the Privacy Act</li>
</ul>
<p data-c-margin="bottom(normal)">Personal information is protected under the provisions of the Privacy Act.</p>
<p data-c-margin="bottom(normal)">Security screening may also be necessary for individuals who are not employees of the government. Such individuals may require security screening when the government decides that there is a need to share or provide access to sensitive or classified information, assets or facilities. Such access may be provided through arrangements such as, but not limited to, the following:</p>
<ul data-c-margin="bottom(normal)">
    <li>contracts</li>
    <li>assignments</li>
    <li>information-sharing agreements</li>
    <li>volunteering</li>
</ul>
<p data-c-margin="bottom(normal)">If you refuse to provide the necessary information, the security screening process will be cancelled. An incomplete form will not be processed and will be returned to you.</p>

<p data-c-font-weight="bold" data-c-margin="bottom(normal)">Modifying an existing status or clearance</p>
<p data-c-margin="bottom(normal)">The information collected may also be used to update, upgrade, transfer or review for cause your security status or security clearance. The information will be disclosed to the Royal Canadian Mounted Police (RCMP) and to the Canadian Security Intelligence Service (CSIS) as necessary so that, in accordance with the Standard on Security Screening and/or the mandated responsibilities of the RCMP and CSIS, they can conduct security screening inquiries, verifications and assessments.</p>

<p data-c-font-weight="bold" data-c-margin="bottom(normal)">Disclosure of other information</p>
<p data-c-margin="bottom(normal)">The information collected may also be disclosed to:</p>
<ul data-c-margin="bottom(normal)">
    <li>other entities outside the federal government, such as credit bureaus</li>
    <li>government institutions (for example, when an individual temporarily or permanently transfers to a position in another government institution)</li>
    <li>law enforcement agencies</li>
</ul>
<p data-c-margin="bottom(normal)">The personal information collected for security screening is described in Standard Personal Information Bank (PIB) PSU 917 (Personnel Security Screening), which is used by most government institutions. Personal information for Canadian industry personnel is described in Public Services and Procurement Canada (PSPC) PIB PWGSC PPU 015 (Industry Personnel Clearance and Reliability Records). The information collected and retained by CSIS for security screening is described in CSIS PPU 005 and SIS PPE 815.</p>

<p data-c-font-weight="bold" data-c-margin="bottom(normal)">Collection of additional information</p>
<p data-c-margin="bottom(normal)">The Government of Canada may need to collect additional personal information during the security screening process to conduct inquiries, verifications and assessments. Additional information may be collected:</p>
<ul data-c-margin="bottom(normal)">
    <li>to resolve doubt</li>
    <li>when there is a lack of sufficient Canadian residency to verify identity or biographical information</li>
</ul>
<p data-c-margin="bottom(normal)">Such additional personal information may be obtained from:</p>
<ul data-c-margin="bottom(normal)">
    <li>you (the applicant)</li>
    <li>foreign governments</li>
    <li>non-government entities</li>
</ul>
<p data-c-margin="bottom(normal)">The additional information may include, but not be limited to, the following:</p>
<ul data-c-margin="bottom(normal)">
    <li>your facial image</li>
    <li>letters of reference or other evidence to validate time spent abroad</li>
    <li>copies of academic credentials, professional designations and/or letters of reference</li>
    <li>information related to your identity, including your citizenship and criminal records (such as criminal record checks from foreign law enforcement organizations)</li>
</ul>

<p data-c-font-weight="bold" data-c-margin="bottom(normal)">Access to personal information under the Privacy Act</p>
<p data-c-margin="bottom(normal)">You may exercise your rights under the Privacy Act to access, correct or update your personal information. Consult Information about programs and information holdings (formerly known as Info Source) for:</p>
<ul data-c-margin="bottom(normal)">
    <li>a detailed description of the personal information banks</li>
    <li>instructions on how to make a formal request for your personal information</li>
</ul>

<p data-c-font-weight="bold" data-c-margin="bottom(normal)">Decisions about status or clearance</p>
<p data-c-margin="bottom(normal)">The information collected on this form and the results of the security screening process will be used to support one of the following decisions about your reliability status or security clearance:</p>
<ul data-c-margin="bottom(normal)">
    <li>grant or maintain the status or clearance</li>
    <li>grant or maintain the status or clearance with a waiver</li>
    <li>deny the status or clearance</li>
    <li>revoke the status or clearance</li>
</ul>
<p data-c-margin="bottom(normal)">The decision will be recorded under “Record of decision” in section A of this form. For all applicants, except contractors, this decision will be made by the institution concerned. For contractors, the decision may be made by one of the following:</p>
<ul data-c-margin="bottom(normal)">
    <li>the institution concerned when it is the contracting authority</li>
    <li>PSPC, in consultation with the institution concerned, in either of the following circumstances:
        <ul>
            <li>when PSPC is the contracting authority</li>
            <li>when PSPC is providing security screening services to government institutions within the context of contracting</li>
        </ul>
    </li>
</ul>
<p data-c-margin="bottom(normal)">Institutions that are not part of the Government of Canada do not have the authority to grant, deny, revoke, suspend or downgrade for cause a Government of Canada security screening status or clearance.</p>

<p data-c-font-weight="bold" data-c-margin="bottom(normal)">Information provided must be complete, adequate and accurate</p>
<p data-c-margin="bottom(normal)">To make a security screening decision, the Government of Canada needs to have adequate and complete information. Therefore, you must:</p>
<ul data-c-margin="bottom(normal)">
    <li>fully disclose the information and documentation requested in the security screening application and consent form</li>
    <li>certify that the information and documentation are complete and accurate to the best of your knowledge and belief</li>
</ul>
<p data-c-margin="bottom(normal)">The Government of Canada will take all reasonable measures to ensure that the personal information used for decision-making is as accurate, up to date and complete as possible. Such measures could involve one or more of the following:</p>
<ul data-c-margin="bottom(normal)">
    <li>collecting the information from you or validating it directly with you</li>
    <li>using technology to identify errors and discrepancies</li>
    <li>collecting or validating the information indirectly, which may involve matching the personal information that you provided against authoritative records, including, but not limited to, the following:
        <ul>
            <li>those that pertain to your birth, immigration status and citizenship</li>
            <li>your permits and licences</li>
            <li>your credit report and criminal record from a jurisdictional or public authority</li>
        </ul>
    </li>
</ul>
 
<p data-c-font-weight="bold" data-c-margin="bottom(normal)">Applicant’s declaration of understanding</p>
<p data-c-margin="bottom(normal)">I understand that if I provide misleading information, my security screening application may be denied or the security screening process may be cancelled.</p>
<p data-c-margin="bottom(normal)">I understand that if it is determined that I provided incorrect information or withheld information on this application form, my reliability status and/or security clearance may be denied or a review for cause of my reliability status and/or security clearance may be initiated. A denial or review for cause may result in:</p>
<ul data-c-margin="bottom(normal)">
    <li>my not being considered for appointment to a position in the Government of Canada</li>
    <li>the termination of my employment</li>
    <li>the termination of my contract</li>
    <li>other measures in accordance with relevant legislation, policies or arrangements</li>
</ul>
<p data-c-margin="bottom(normal)">I understand that, in all cases, I must be officially granted the required type and level of security screening before I can be:</p>
<ul data-c-margin="bottom(normal)">
    <li>assigned to a position</li>
    <li>assigned duties</li>
    <li>granted access to sensitive information, assets or facilities</li>
</ul>
<p data-c-margin="bottom(normal)">I understand that:</p>
<ul data-c-margin="bottom(normal)">
    <li>my security screening file will be retained for at least 2 years after my departure from the federal public service</li>
    <li>if my security screening is denied or revoked, my security screening file will be retained for at least 10 years after my departure from the federal public service</li>
</ul>

<p data-c-font-weight="bold" data-c-margin="bottom(normal)">Applicant’s declaration of consent</p>
<p data-c-margin="bottom(normal)">I affirm that:</p>
<ul data-c-margin="bottom(normal)">
    <li>I have fully disclosed the information and documentation requested in this security screening application and consent form</li>
    <li>this form is complete, truthful and accurate to the best of my knowledge and belief</li>
</ul>
<p data-c-margin="bottom(normal)">I consent to the use and disclosure of the personal information that has been collected in this form, and any additional information that may be collected during the security screening process, for the purposes of obtaining, revoking, updating, upgrading or reviewing for cause a reliability status and/or security clearance pursuant to the Policy on Government Security and the Standard on Security Screening.</p>
<p data-c-margin="bottom(normal)">In order to enable an assessment of my trustworthiness, my reliability, my loyalty to Canada and my reliability as it relates to my loyalty, with regard to any information and documentation provided by me in support of this security screening application, I consent to the use of this personal information by and its disclosure to:</p>
<ul data-c-margin="bottom(normal)">
    <li>any authorized Government of Canada security screening official</li>
    <li>the RCMP, law enforcement agencies and police forces</li>
    <li>CSIS</li>
    <li>other entities, such as credit bureaus, that are internal or external to the federal government</li>
</ul>
<p data-c-margin="bottom(normal)">Without limiting the generality of the foregoing, my consent includes such personal information as my:</p>
<ul data-c-margin="bottom(normal)">
    <li>name</li>
    <li>date of birth</li>
    <li>immigration and citizenship status in Canada</li>
    <li>residential history</li>
    <li>employment history</li>
    <li>educational credentials or professional designations</li>
    <li>fingerprints and facial image for identification purposes (as applicable)</li>
</ul>
<p data-c-margin="bottom(normal)">Information about my spouse and any former spouses, relatives, roommates and cohabitants may also be shared with the RCMP, CSIS, or other law enforcement agencies and police forces when necessary to assess my reliability, my loyalty to Canada and my reliability as it relates to my loyalty.</p>
<p data-c-margin="bottom(normal)">For the purpose of the security screening process, including any update, upgrade or investigation related to my security screening, I authorize any and all persons or organizations, including public, non-public, para-public, private or governmental institutions that have information about me, to release such information to the Government of Canada upon request. Information may be collected from sources such as:</p>
<ul data-c-margin="bottom(normal)">
    <li>a previous employer or identified referee</li>
    <li>educational institution(s) that I have attended</li>
    <li>professional organizations that I belong to</li>
    <li>credit reporting agencies</li>
</ul>
<p data-c-margin="bottom(normal)">I further authorize law enforcement agencies or police forces to check and release to the Government of Canada or the RCMP any other information about me contained in any accessible records and databases under their control as described in the Standard on Security Screening. This information may include my:</p>
<ul data-c-margin="bottom(normal)">
    <li>criminal history</li>
    <li>charges</li>
    <li>court orders</li>
</ul>
<p data-c-margin="bottom(normal)">I understand that this consent also authorizes law enforcement agencies and/or police forces to release to the Government of Canada or the RCMP any information about me or my associations to enable an assessment of my trustworthiness and reliability. I therefore give the RCMP permission to release to the Government of Canada, in whole or in part, the information it has collected about me in relation to the security screening level that this position requires.</p>
<p data-c-margin="bottom(normal)">This consent also applies if I permanently separate as an employee of the Government of Canada and subsequently register as a supplier or private sector contractor with PSPC within the retention period identified in PIB PSU 917 (Personnel Security Screening).</p>
<p data-c-margin="bottom(normal)">This consent will remain valid for conducting verifications, inquiries, assessments and investigations, including any subsequent verifications that are required as part of an update, upgrade or review for cause, until one of the following applies:</p>
<ul>
    <li>I no longer require reliability status, security clearance, site access status or site access clearance</li>
    <li>I am no longer an employee of the Government of Canada</li>
    <li>the arrangement that requires me to have access to sensitive information is no longer in effect</li>
    <li>I revoke my consent to an authorized institutional security screening official using the appropriate electronic or written means</li>
</ul>