<div data-c-grid="gutter">
    <div data-c-input="text" data-c-grid-item="ds(1of3)">
        <label for="TI2">Institution</label>
        <span>Required</span>
        <div>
            <input id="TI2" placeholder="e.g. Department of Finance" required type="text" />
        </div>
        <span>This input has an error.</span>
    </div>
    <div data-c-input="number" data-c-grid-item="ds(1of3)">
        <label for="NUM2">Year</label>
        <span>Required</span>
        <div>
            <input id="NUM2" placeholder="e.g. 2019" required type="number" />
        </div>
        <span>This input has an error.</span>
    </div>
    <div data-c-input="text" data-c-grid-item="ds(1of3)">
        <label for="TI2">Level of Security Screening</label>
        <span>Required</span>
        <div>
            <input id="TI2" placeholder="e.g. Secret" required type="text" />
        </div>
        <span>This input has an error.</span>
    </div>
    <div data-c-grid-item="base(1of1)" data-c-align="base(center) tl(right)">
        <a href="" title="This button is disabled for demo purposes." disabled data-c-button="outline(gray)" data-c-radius="rounded" data-c-margin="bottom(normal)">Add Another Institution</a>
    </div>
</div>